<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>

            <main class="o-page__content">
                <this-header :user="jury"></this-header>
                <div class="container">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="result"> 
                                <div class="c-alert c-alert--danger" v-show="message != '' && isError" style="margin-bottom: 20px;">
                                    <span class="c-alert__icon">
                                        <i class="feather icon-slash"></i>
                                    </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Error!</h4>
                                        <p>{{message}}</p>
                                    </div>
                                </div>
                                <div class="c-alert c-alert--success" v-show="message != '' && isSuccess" style="margin-bottom: 20px;">
                                    <span class="c-alert__icon">
                                        <i class="feather icon-check"></i>
                                    </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Success!</h4>
                                        <p>{{message}}</p>
                                    </div>
                                </div>
                            </div>

                            <div class="c-alert c-alert--info u-mb-medium">
                                <h5 class="center">New Assistent:</h5>
                                <form class="pdt-15" v-on:submit="SubmitProfile">
                                    <div class="row">
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Surname</label>
                                                <input class="c-input" type="text" v-model="newassistent.title" placeholder="Enter surname" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Email</label>
                                                <input class="c-input" type="text" v-model="newassistent.email" placeholder="Enter email" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Name</label>
                                                <input class="c-input" type="text" v-model="newassistent.name" placeholder="Enter name" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Surname</label>
                                                <input class="c-input" type="text" v-model="newassistent.surname" placeholder="Enter surname" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Phone</label>
                                                <input class="c-input" type="text" v-model="newassistent.phone" placeholder="Enter phone" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">New password:</label>
                                                <input class="c-input" type="password" v-model="newassistent.password" placeholder="Enter phone" required>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-25">
                                            <div class="c-field">
                                                <button class="c-btn c-btn--fullwidth c-btn--outline" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="c-card">
                                <div class="u-text-center">
                                    <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                        <img class="c-avatar__img" :src="baseUrl + jury.image" alt="Avatar">
                                    </div>

                                    <h5>{{jury.name}} {{jury.surname}}</h5>
                                    <p>{{jury.bio}}</p>
                                    <p class="u-mb-small u-text-large">@{{jury.jury_id}}</p>
                                </div>
                                <span class="c-text--subtitle">Email Address</span>
                                <p class="u-mb-small u-text-large">{{jury.email}}</p>

                                <span class="c-text--subtitle">Phone NUMBER</span>
                                <p class="u-mb-small u-text-large">{{jury.phone}}</p>
                            </div>

                            <div class="c-card">
                                <span class="c-text--subtitle">Assistents</span>
                                <br>    
                                <ul>
                                    <li v-if="assistents.length == 0">
                                        <h5>No assistents found!</h5>
                                    </li>
                                    <li v-for="assist in assistents">
                                        <h5>{{assist.name + ' ' + assist.surname}}</h5>
                                        <p class="u-mb-small u-text-large nopadding nomargin">{{assist.email}}</p>
                                        <a class="nopadding nomargin" v-on:click="viewAssistent(assist.jury_id)">Details</a>&nbsp;&nbsp;&nbsp;
                                        <a class="nopadding nomargin" v-on:click="removeAssistent(assist.jury_id)">Remove</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'

    import ViewAssistent from './../../components/users/ViewAssistent.vue'

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},
                assistents: [],

                newassistent: {
                    title : "",
                    email : "",
                    name : "",
                    surname : "",
                    phone : "",
                    password: "",
                    category : 0
                },
                categoryid : 0,

                isError : false,
                isSuccess : false,
                message : "",
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-assistent')
                    .then(response => {
                        this.$data.jury = response.body.jury

                        if(response.body.jury.is_assistant == 1){
                            location.replace( this.baseUrl + '/jury');
                        }
                        this.$data.assistents = response.body.assistents 
                        this.$data.categoryid = response.body.category_id
                        this.$data.newassistent.title = response.body.jury.title
                        this.$data.newassistent.category = response.body.category_id

                    })
            },
            SubmitProfile: function(e){
                e.preventDefault();
                
                this.$http.post('juries', {
                    'jury' : this.$data.newassistent,
                    'way': 'jury'
                }).then(response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success == true) {
                            this.$data.assistents = response.body.assistents
                            this.$data.newassistent = {
                                title : "",
                                email : "",
                                name : "",
                                surname : "",
                                phone : "",
                                password: "",
                                category : this.$data.category_id
                            }
                        }
                    }, error => {
                        console.log(error.body)
                        this.$data.isError = error.body.error
                        this.$data.isSuccess = error.body.success
                        this.$data.message = error.body.message
                    });  
            },
            removeAssistent: function (params) {
                this.$http.delete('juries/'+ params)
                    .then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        this.$data.assistents = response.body.assistents
                    }, error => {
                        this.$data.isError = error.body.error
                        this.$data.isSuccess = error.body.success
                        this.$data.message = error.body.message
                    });  
            },
            viewAssistent:function (params) {
                this.$modal.show(ViewAssistent, {assistant: params}, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
    .pdt-25{
        padding-top : 25px;
    }

    .nopadding{
        padding : 0px !important;
        min-height : 0px !important;
    } 
    .nomargin{
        margin : 0px !important;
        min-height : 0px !important;
    }
</style>
