<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>
            <main class="o-page__content">
                <this-header :user="jury"></this-header>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 u-text-center u-ml-auto u-mr-auto">
                            <h2>Conversations</h2>
                            <br>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6" v-for="conv in allconversationsopened">
                            <div class="c-card">
                                <span class="c-icon c-icon--success u-mb-small">
                                    <i class="feather icon-users"></i>
                                </span>
                                <span class="c-badge c-badge--small c-badge--info" style="float:right;" v-if="conv.conv_state">Closed</span>
                                <span class="c-badge c-badge--small c-badge--success" style="float:right;" v-if="!conv.conv_state">Open</span>
                                <small class="text-muted" style="float:right;padding-right:15px;margin-top:2px;">{{conv.newdate}}</small>
                                <h4 class="c-card__title">{{conv.conv_title}}</h4>
                                <p style="max-height:120px;height:110px;">{{conv.conv_content.length > 250 ? conv.conv_content.slice(0, 250) + '...': conv.conv_content}}</p>
                                <a href="javascript:void(0)" v-on:click="ViewConv(conv.conv_code)" class="text-primary mr-1">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6" v-for="conv in allconversationsclosed">
                            <div class="c-card">
                                <span class="c-icon c-icon--success u-mb-small">
                                    <i class="feather icon-users"></i>
                                </span>
                                <span class="c-badge c-badge--small c-badge--info" style="float:right;" v-if="conv.conv_state">Closed</span>
                                <span class="c-badge c-badge--small c-badge--success" style="float:right;" v-if="!conv.conv_state">Open</span>
                                <small class="text-muted" style="float:right;padding-right:15px;margin-top:2px;">{{conv.newdate}}</small>
                                <h4 class="c-card__title">{{conv.conv_title}}</h4>
                                <p style="max-height:120px;height:110px;">{{conv.conv_content.length > 250 ? conv.conv_content.slice(0, 250) + '...': conv.conv_content}}</p>
                                <a href="javascript:void(0)" v-on:click="ViewConv(conv.conv_code)" class="text-primary mr-1">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    
    import ViewConversation from './../../components/dashboard/ViewConversation.vue'

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},
                navconversations : [],
                notifications : [],

                allconversationsclosed : [],
                allconversationsopened : []
                
            }
        },
        methods:{
            setup : function () {
                this.$http.get('conversations')
                    .then(response => {
                        console.log(response.body)
                        this.$data.jury = response.body.jury
                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications

                        this.$data.allconversationsclosed = response.body.allconversationsclosed
                        this.$data.allconversationsopened = response.body.allconversationsopened
                    }, error =>{
                        console.log(error.body)
                    });  
            },
            ViewConv : function (code) {
                this.$modal.show(ViewConversation, {
                    conversation : code
                }, {
                    height: 'auto',
                    pivotY : 0.2,
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
        },
        created() {
            this.setup()            
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
    .pdb{
        padding-bottom: 25px;
    }
    .pdr{
        margin-right:10px;
    }
</style>