<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>
            <main class="o-page__content">
                <this-header :user="jury" :notifications="notifications"></this-header>
                
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 u-text-center u-ml-auto u-mr-auto">
                            <h1>FAQ</h1>
                            <p class="u-mb-large u-h4">How, Why and When?</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 u-ml-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>

                        <div class="col-md-5 u-mr-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 u-ml-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>

                        <div class="col-md-5 u-mr-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 u-ml-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>

                        <div class="col-md-5 u-mr-auto">
                            <h4 class="u-mb-xsmall">Have more questions?</h4>
                            <p class="u-text-large u-mb-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id laborum obcaecati omnis optio! Eaque placeat autem quas molestias temporibus. Aliquid repellat dolorem eaque recusandae debitis deserunt odit tempora hic, iusto!</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},

                notifications : [],
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-profile')
                    .then(response => {
                        this.$data.jury = response.body.jury

                        this.$data.notifications = response.body.notifications
                    })
            }
        },
        created() {
            this.setup()            
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
</style>