<template>
  <div id="app">
    <div class="o-page">
      <this-side :user="jury"></this-side>
      <main class="o-page__content">
        <this-header :user="jury"></this-header>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="c-card">
                <a
                  v-if="jury.is_assistant == 0"
                  class="float-right"
                  href="javascript:void(0)"
                  @click="openconfig"
                >Edit Configure Judgment system</a>
                <span class="c-text--subtitle text-center">Category</span>
                <h4>{{category}}</h4>

                <p>Here displays all accepted projects</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="c-card">
                <dx-data-grid
                  :data-source="projects"
                  :remote-operations="false"
                  :allow-column-reordering="true"
                  :row-alternation-enabled="true"
                  :show-borders="true"
                  :focused-row-enabled="true"
                  @focused-row-changing="onFocusedRowChanging"
                  @focused-row-changed="onFocusedRowChanged"
                  @content-ready="onContentReady"
                  key-expr="t_team_id"
                >
                  <dx-column data-field="project.p_title" caption="Title"/>
                  <dx-column data-field="project.category" data-type="string" caption="Category"/>
                  <dx-column data-field="counter" caption="Students Here"/>
                  <dx-column
                    data-field="supervisor.supervisor"
                    data-type="string"
                    caption="Supervisor"
                  />
                  <dx-column
                    data-field="supervisor.countryname"
                    data-type="string"
                    caption="Country"
                  />

                  <dx-search-panel :visible="true" :highlight-case-sensitive="true"/>
                  <dx-paging :page-size="10"/>
                  <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                  <dx-summary>
                    <dx-total-item column="counter" summary-type="sum"/>
                    <dx-total-item column="project.p_title" summary-type="count"/>
                  </dx-summary>
                </dx-data-grid>

                <nav class="c-tabs" style="margin-top:20px;" v-show="showit">
                  <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                    <a
                      class="c-tabs__link active show"
                      id="nav-home-tab"
                      data-toggle="tab"
                      href="#nav-home"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                    >Project Details</a>
                    <a
                      class="c-tabs__link"
                      id="nav-profile-tab"
                      data-toggle="tab"
                      href="#nav-profile"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                    >Students</a>
                    <a
                      class="c-tabs__link"
                      id="nav-contact-tab"
                      data-toggle="tab"
                      href="#nav-contact"
                      role="tab"
                      aria-controls="nav-contact"
                      aria-selected="false"
                    >Supervisor</a>
                    <a
                      class="c-tabs__link"
                      id="nav-contact-tab"
                      data-toggle="tab"
                      href="#nav-judgementing"
                      role="tab"
                      aria-controls="nav-judgementing"
                      aria-selected="false"
                    >Judgment</a>
                  </div>
                  <div class="c-tabs__content tab-content" id="nav-tabContent">
                    <div
                      class="c-tabs__pane active show"
                      id="nav-home"
                      role="tabpanel"
                      aria-labelledby="nav-home-tab"
                    >
                      <h4>Project Details</h4>
                      <span class="c-text--subtitle">Project Title:</span>
                      <h5>{{projectdetails.p_title}}</h5>
                      <br>
                      <span class="c-text--subtitle">Project Details:</span>
                      <div class="row">
                        <div class="col-sm-12">
                          <p style="white-space: pre-line;">{{projectdetails.p_description}}</p>
                        </div>
                      </div>
                      <br>
                      <span class="c-text--subtitle">Project File:</span>
                      <br>
                      <a target="_blank" :href="projectdetails.p_file">Download</a>
                      <br>
                      <br>
                      <hr>
                      <br>
                      <ul>
                        <li v-for="ii in projectdetailslinks">
                          <span class="c-text--subtitle">{{ii.label}}</span>
                          <h5 v-if="checkifurl(ii.value)">
                            <a :href="ii.value">{{ii.value}}</a>
                          </h5>
                          <h5 v-else>{{ii.value}}</h5>
                          <br>
                        </li>
                      </ul>
                    </div>
                    <div
                      class="c-tabs__pane"
                      id="nav-profile"
                      role="tabpanel"
                      aria-labelledby="nav-profile-tab"
                    >
                      <h4>Students</h4>
                      <div class="row">
                        <div
                          :class="'col-md-' + 12/projectstudents.length"
                          v-for="student in projectstudents"
                        >
                          <p style="white-space: pre-line;">
                            <h3 v-if="student.hereboy"><strong style="color:green;">Student is here!</strong></h3>
                            <h3 v-else><strong style="color:red;">Student does not come!</strong></h3>
                            <br>
                            <strong>SID:</strong>
                            {{student.s_student_id}}
                            <br>
                            <strong>Fullname:</strong>
                            {{student.s_en_name}} {{student.s_en_surname}} {{student.s_en_lastname}} 
                            <br>
                            <strong>Country:</strong>
                            {{student.name}}
                            <br>
                            <strong>Region:</strong>
                            {{student.s_region}}
                            <br>
                            <strong>City:</strong>
                            {{student.s_city}}
                            <br>
                            <strong>School:</strong>
                            {{student.s_school}}
                            <br>
                            <strong>Grade:</strong>
                            {{student.s_grade}} grade
                          </p>
                        </div>
                      </div>
                    </div>
                    <div
                      class="c-tabs__pane"
                      id="nav-contact"
                      role="tabpanel"
                      aria-labelledby="nav-contact-tab"
                    >
                      <h4>Supervisor</h4>

                      <p style="white-space: pre-line;">
                        <strong>SID:</strong>
                        {{projectsuper.user_id}}
                        <strong>Fullname:</strong>
                        {{projectsuper.supervisor}}
                        <strong>Bio</strong>

                        : {{projectsuper.bio}}
                        <strong>Country:</strong>
                        {{projectsuper.countryname}}
                        <strong>Region:</strong>
                        {{projectsuper.region}}
                        <strong>City:</strong>
                        {{projectsuper.city}}
                      </p>
                    </div>

                    <div
                      class="c-tabs__pane"
                      id="nav-judgementing"
                      role="tabpanel"
                      aria-labelledby="nav-judgementing-tab"
                    >
                      <h4>Judgment</h4><br>
                      <button @click="openjudger(projectdetails.p_project_id, counter)" class="c-btn c-btn--info">Open</button>  
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import Asider from "./../menu/Aside.vue";
import Header from "./../menu/Header.vue";

import ViewConfig from "./../../components/dashboard/ViewConfig";
import ViewJudge from "./../../components/dashboard/ViewJudge";

import {
  DxDataGrid,
  DxColumn,
  DxGrouping,
  DxGroupPanel,
  DxPager,
  DxPaging,
  DxSearchPanel,
  DxSummary,
  DxTotalItem,
  DxExport
} from "devextreme-vue/data-grid";

import DataSource from "devextreme/data/data_source";
import "devextreme/data/odata/store";
let collapsed = false;
export default {
  components: {
    "this-side": Asider,
    "this-header": Header,

    DxDataGrid,
    DxColumn,
    DxGrouping,
    DxGroupPanel,
    DxPager,
    DxPaging,
    DxSearchPanel,
    DxSummary,
    DxTotalItem,
    DxExport
  },
  data() {
    return {
      jury: {},
      projects: [],
      category: "",
      categoryid: null,
      showit: false,

      projectsuper: "{}",
      projectstudents: [],
      projectdetails: {},
      projectdetailslinks: null,

      pageSizes: [10, 25, 50, 100],
      onContentReady: function(e) {
        if (!collapsed) {
          e.component.expandRow(["EnviroCare"]);
          collapsed = true;
        }
      }
    };
  },
  methods: {
    setup: function() {
      this.$http.get("judgement").then(
        response => {
          this.jury = response.body.jury;
          this.projects = response.body.projects;
          this.category = response.body.category.category;
          this.categoryid = response.body.category.id;
        },
        error => {
          console.log(error.body);
        }
      );
    },
    showconfigs() {},
    onFocusedRowChanging(e) {
      var pageSize = e.component.pageSize(),
        pageIndex = e.component.pageIndex(),
        isLoading = e.component.getController("data").isLoading();

      if (!isLoading) {
        if (e.event.key && e.prevRowIndex === e.newRowIndex) {
          if (e.newRowIndex === pageSize - 1) {
            e.component.pageIndex(pageIndex + 1).done(function() {
              e.component.option("focusedRowIndex", 0);
            });
          } else if (e.newRowIndex === 0) {
            e.component.pageIndex(pageIndex - 1).done(function() {
              e.component.option("focusedRowIndex", pageSize - 1);
            });
          }
        }
      }
    },
    customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                        options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                        if(options.gridCell.column.dataField === 'Employee') {
                            options.font.bold = true;
                    }
                        if(options.gridCell.column.dataField === 'SaleAmount') {
                            options.backgroundColor = '#FFBB00';
                            options.font.color = '#000000';
                        }
                    }
                }
            },
    onFocusedRowChanged: function(e) {
      var data = e.row.data;
      this.showit = true;

      this.projectsuper = e.row.data.supervisor;
      this.projectstudents = data.students;
      this.projectdetails = data.project;
      this.projectdetailslinks = JSON.parse(data.project.p_addins);

      this.focusedRowKey = e.component.option("focusedRowKey");
    },
    checkifurl: function(str) {
      var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
      if (!regex.test(str)) {
        return false;
      } else {
        return true;
      }
    },
    onTaskIdChanged(e) {
      if (e.event && e.value > 0) {
        this.focusedRowKey = e.value;
      }
    },
    openjudger(id, counter){
      this.$modal.show(
        ViewJudge,
        {
          projectid: id,
          count : counter
        },
        {
          height: "110%",
          width: "100%",
          clickToClose: true,
          scrollable: true
        },
        {
          "before-close": event => {
            this.setup();
          }
        }
      );
    },
    openconfig() {
      this.$modal.show(
        ViewConfig,
        {
          category: this.category,
          categoryid: this.categoryid
        },
        {
          height: "auto",
          width: "70%",
          clickToClose: true,
          scrollable: true
        },
        {
          "before-close": event => {
            this.setup();
          }
        }
      );
    }
  },
  created() {
    this.setup();
  }
};
</script>
<style scoped>
@import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css");
@import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css");
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}

.task-info {
  font-family: Segoe UI;
  min-height: 200px;
  display: flex;
  flex-wrap: nowrap;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  align-items: baseline;
  justify-content: space-between;
}
#taskSubject {
  line-height: 29px;
  font-size: 18px;
  font-weight: bold;
}
#taskDetails {
  line-height: 22px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}
.progress {
  display: flex;
  flex-direction: column;
  white-space: pre;
  min-width: 105px;
}
.info {
  margin-right: 40px;
}
#taskProgress {
  line-height: 42px;
  font-size: 40px;
  font-weight: bold;
}

.options {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
  position: relative;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
}

.option > .dx-numberbox {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.option > span {
  margin-right: 10px;
}
</style>