<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>
            <main class="o-page__content">
                <this-header :user="jury" :notifications="notifications"></this-header>
                <this-container :user="jury" :projects="projects" :marks="marks"></this-container>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/dashboard/Container.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},
                category : "",
                projects : [] ,
                marks: [],

                notifications : []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-main')
                    .then(response => {
                        this.$data.jury = response.body.jury
                        this.$data.category = response.body.jury.category
                        this.$data.marks = response.body.marks
                        this.$data.projects = response.body.projects

                        this.$data.notifications = response.body.notifications

                        console.log(response.body);
                        
                    })

                
            }
        },
        created() {
            this.setup()
            $( document ).ready(function() {
                $('#dropdownMenuToggle2').click();
            });
        }
    }
</script>
