<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>
            <main class="o-page__content">
                <this-header :user="jury"></this-header>
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 u-text-center u-ml-auto u-mr-auto">
                            <h2>Notifications</h2>
                            <br>
                        </div>
                        <div class="col-12 u-text-center">
                            <h4 class="u-mb-small">{{notifications.length > 0 ? "All notifications" : "Nothing is found!"}}</h4>
                        </div>
                    </div>
                    
                    <div class="col-md-12 pdt-15">
                        <div class="row">
                            <div class="col-md-6" v-for="note in notifications">
                                <div :class="note.is_important ? 'c-alert c-alert--info alert u-mb-medium': 'c-alert alert u-mb-medium'">

                                    <div class="c-card__title">
                                        <h4 class="c-card__title">{{note.n_title}}</h4>
                                        <p :id="'note'+ note.id">
                                            {{note.n_content}}
                                            <br><br>
                                            <ul>
                                                <li v-for="f in files" >
                                                    <span v-if="f.n_notification_id == note.id">Attached file: <a :href="baseUrl + f.link" target="_blank">{{f.file}}</a></span>
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},
                notifications : [],
                files : []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('notifications')
                    .then(response => {
                        console.log(response.body)
                        this.$data.jury = response.body.jury
                        this.$data.notifications = response.body.notifications
                        this.$data.files = response.body.files
                    }, error =>{
                        console.log(error.body)
                    });  
            }
        },
        created() {
            this.setup()            
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
    .pdb{
        padding-bottom: 25px;
    }
    .pdr{
        margin-right:10px;
    }
</style>