<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>
            <main class="o-page__content">
                <this-header :user="jury" :notifications="notifications"></this-header>
                <keep-alive>
                    <this-container :jury="jury" @changeAdmin="changeAdmin" :categoryconfigs="categoryconfigs" :categoryid="categoryid" :activities="activities"></this-container>
                </keep-alive>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/profile/Container.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury : {},

                robotics: [],
                cprogramming: [],
                cgraphicsart: [],
                hardcontrol: [],
                shortmovie: [],
                droneracing: [],
                mathproject: [],

                categoryconfigs : [],
                categoryid : 0,

                notifications : [],
                activities : []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-profile')
                    .then(response => {
                        this.$data.jury = response.body.jury
                        this.$data.categoryid = response.body.category_id

                        this.$data.notifications = response.body.notifications
                        this.$data.activities = response.body.activities
                        this.categorySetup(response.body.category_id) 
                    })

                /*this.$http.get('get-categories')
                    .then(response => {
                        this.$data.robotics = response.body.robotics
                        this.$data.cprogramming = response.body.cprogramming
                        this.$data.cgraphicsart = response.body.cgraphicsart
                        this.$data.hardcontrol = response.body.hardcontrol
                        this.$data.shortmovie = response.body.shortmovie
                        this.$data.droneracing = response.body.droneracing
                        this.$data.mathproject = response.body.mathproject
                    })*/

                
            },
            changeAdmin : function(newadmin){
                this.$data.jury = newadmin
            },
            categorySetup: function(id){
                switch(id){
                    case 1:
                        this.$data.categoryconfigs = this.$data.robotics
                        break;
                    case 2:
                        this.$data.categoryconfigs = this.$data.cprogramming
                        break;
                    case 3:
                        this.$data.categoryconfigs = this.$data.cgraphicsart
                        break;
                    case 4:
                        this.$data.categoryconfigs = this.$data.hardcontrol
                        break;
                    case 5:
                        this.$data.categoryconfigs = this.$data.shortmovie
                        break;
                    case 6:
                        this.$data.categoryconfigs = this.$data.droneracing
                        break;
                    case 7:
                        this.$data.categoryconfigs = this.$data.mathproject
                        break;
                }
            }
        },
        created() {
            this.setup()            
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
</style>