<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>

            <main class="o-page__content">
                <this-header :user="jury"></this-header>
                <div class="container">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="result" v-if="project.mark == 3">
                                <div class="c-alert c-alert--success">
                                    <span class="c-alert__icon">
                                        <i class="feather icon-check"></i>
                                    </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Project is accepted!</h4>
                                        <p>If you want to cancel, please open conversation and report there!</p>
                                    </div>
                                </div>
                            </div>
                            <nav class="c-tabs"> 
                                <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                                    <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Project Details</a>
                                    <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Download</a>
                                    <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Additional Informations</a>
                                </div>
                                <div class="c-tabs__content tab-content" id="nav-tabContent">
                                    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <span class="c-text--subtitle">Project Title:</span>
                                        <h5>{{project.p_title}}</h5>
                                        <br>
                                        <span class="c-text--subtitle">Project Details:</span>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p style="white-space: pre-line;">{{project.p_description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <span class="c-text--subtitle">Project File:</span>
                                        <br>
                                        <div class="col-md-4 u-mb-xsmall" style="padding-left:0px;">
                                            <a target="_blank" :href="baseUrl + project.p_file" class="c-btn c-btn--fullwidth c-btn--outline">Download</a>
                                        </div>
                                    </div>
                                    <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <ul>
                                            <li v-for="ii in project.p_addins">
                                                <span class="c-text--subtitle">{{ii.label}}</span>
                                                <h5 v-if="checkifurl(ii.value)">
                                                    <a :href="ii.value">{{ii.value}}</a>
                                                </h5>
                                                <h5 v-else>
                                                    {{ii.value}}
                                                </h5>
                                                <br>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="c-card">
                                <h4>Comments</h4>
                                <p class="u-mb-medium">Comments about project (You can receive messages from this user! )<br>[Green dots are your messages]<br>
                                    <span style="color:red">You message will be sent by email (so it is not deleteable please, be careful while writing)</span>
                                </p>

                                <div class="c-feed">
                                    <div :class="mess.role == 2 ? 'c-feed__item': 'c-feed__item c-feed__item--success'" v-for="mess in messages">
                                        <div class="c-feed__item-content">
                                        <h6 class="u-text-small">{{ mess.role != 2 ? 'You' : supervisor.name + ' ' + supervisor.surname}}</h6><span style="font-size:12px;">{{mess.created_at}}</span>
                                            <p style="white-space: pre-line;">{{mess.message}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-card">
                                <h6 class="center">Add Comments <br><span v-if="jury.is_assistant != 0" style="color:red;">Assistants cannot send messages!</span></h6>
                                <form @submit="submitMessage">
                                    <div class="row">
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">In details:</label>
                                                <textarea v-model="messagee" class="c-input" type="text" rows="5" placeholder="Details:" :disabled="jury.is_assistant != 0"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <button class="c-btn c-btn--fullwidth c-btn--outline" type="submit" :disabled="jury.is_assistant != 0">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                        <div class="col-md-5">
                            <div class="c-card">
                                <div class="u-text-center">
                                    <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                        <img class="c-avatar__img" :src="supervisor.image" alt="Avatar">
                                    </div>
                                    <h4>Supervisor</h4>
                                    <h5>{{supervisor.name}} {{supervisor.surname}}</h5>
                                    <p>{{supervisor.bio}}</p>
                                </div>

                                <span class="c-divider u-mv-small" style="margin-bottom:25px;"></span>
                                <div class="row u-text-center">
                                    <div class="col-md-12 col-sm-12">
                                        <span class="c-text--subtitle">Email Address</span>
                                        <p class="u-mb-small u-text-large">{{supervisor.email}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="c-card">
                                <h4>Students</h4>
                                <span class="c-divider u-mv-small" style="margin-bottom:25px;"></span>
                                <ul>
                                    <li v-for="student in students">
                                        <h4>{{student.s_en_name}} {{student.s_en_surname}} {{student.s_en_lastname}}</h4>
                                        <p class="u-mb-small u-text-large">{{student.s_country}} {{ ' | ' + student.s_school}} {{ ' | ' + student.s_grade + " - grade"}}</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="result">
                                <div class="c-alert c-alert--danger" v-show="message != '' && isError">
                                    <span class="c-alert__icon">
                                        <i class="feather icon-slash"></i>
                                    </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Error!</h4>
                                        <p>{{message}}</p>
                                    </div>
                                </div>
                                <div class="c-alert c-alert--success" v-show="message != '' && isSuccess">
                                    <span class="c-alert__icon">
                                        <i class="feather icon-check"></i>
                                    </span>

                                    <div class="c-alert__content">
                                        <h4 class="c-alert__title">Success!</h4>
                                        <p>{{message}}</p>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="c-alert c-alert--info u-mb-medium" v-if="project.mark != 3">
                                <h4 class="center">Jury Mark:</h4>
                                <span class="c-divider u-mv-small" style="margin-bottom:25px;"></span>
                                <form class="pdt-15" v-on:submit="markit">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="c-field">
                                                <label class="c-field__label">Mark:</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="c-field">
                                                <div class="c-choice c-choice--radio">
                                                    <input class="c-choice__input" v-model="mark.mark" value="1" id="rejected" name="radios" type="radio">
                                                    <label class="c-choice__label" for="rejected">Rejected</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="c-field">
                                                <div class="c-choice c-choice--radio">
                                                    <input class="c-choice__input" v-model="mark.mark" value="2" id="middle" name="radios" type="radio">
                                                    <label class="c-choice__label" for="middle">50/50</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="c-field">
                                                <div class="c-choice c-choice--radio">
                                                    <input class="c-choice__input" v-model="mark.mark" value="3" id="accepted" name="radios" type="radio">
                                                    <label class="c-choice__label" for="accepted">Accepted</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Why?</label>
                                                <textarea class="c-input" type="text" rows="5" v-model="mark.comment" placeholder="Details:" required></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <button class="c-btn c-btn--fullwidth c-btn--outline" type="submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="c-card" v-show="!jury.is_assistant">
                                <h4>Assistants Comments</h4>
                                <span class="c-divider u-mv-small" style="margin-bottom:25px;"></span>
                                <ul>
                                    <li v-for="comment in comments">
                                        <span class="c-badge c-badge--small c-badge--info" style="float:right;" v-show="comment.mark == 0">Not Checked</span>
                                        <span class="c-badge c-badge--small c-badge--danger" style="float:right;" v-show="comment.mark == 1">Rejected</span>
                                        <span class="c-badge c-badge--small c-badge--fancy" style="float:right;" v-show="comment.mark == 2">50/50</span>
                                        <span class="c-badge c-badge--small c-badge--success" style="float:right;" v-show="comment.mark == 3">Accepted</span>
                                        <h5>{{comment.name}} {{comment.surname}}</h5>
                                        <p class="u-mb-small u-text-large">{{comment.comment}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                
                jury:{},
                category : {},

                supervisor:{},
                project:{},
                team : {},
                students: [],
                
                mark : {
                    mark : 0,
                    comment: ""
                },
                comments : [],

                isError : false,
                isSuccess : false,
                message : "",

                messages: [],
                messagee: ''
            }
        },
        methods:{
            setup : function () {
                this.$http.get('projects/'+ this.$route.params.projectID)
                    .then(response => {
                        this.$data.jury = response.body.jury
                        this.$data.category = response.body.category

                        this.$data.supervisor = response.body.supervisor
                        this.$data.project = response.body.project
                        this.$data.project.p_addins = JSON.parse(response.body.project.p_addins) 
                        this.$data.team = response.body.team
                        this.$data.students = response.body.students

                        this.$data.comments = response.body.marks
                        this.$data.messages = response.body.messages
                    });


                this.$http.get('messages/' + this.$route.params.projectID)
                    .then(response => {
                        this.messages = response.body.messages
                        this.message = ''
                        console.log(response.body)
                    },
                    error =>{
                        console.log(error.body)
                    })
            },
            checkifurl : function(str) {
                var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
                if(!regex.test(str)) {
                    return false;
                } else {
                    return true;
                }
            },
            markit : function (e) {
                e.preventDefault();
                if(this.jury.is_assistant){
                    this.$http.put('teams/'+ this.$route.params.projectID, {
                        mark : this.$data.mark,
                            action : 'assistant'
                        })
                        .then(response => {
                            console.log(response.body)
                            this.$data.isError = response.body.error
                            this.$data.isSuccess = response.body.success
                            this.$data.message = response.body.message
                            }, error => {
                                console.log(error.body)
                                this.$data.isError = response.body.error
                                this.$data.isSuccess = response.body.success
                                this.$data.message = response.body.message
                                });
                }else{
                    this.$http.put('teams/'+ this.$route.params.projectID, {
                        mark : this.$data.mark,
                            action : 'mark'
                    })
                    .then(response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    }, error => {
                        console.log(error.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                        
                    });
                }
                
            },
            submitMessage: function(e) {
                e.preventDefault();
                this.$http.post('messages', {'message': this.messagee, 'id': this.$route.params.projectID, 'role' : 1})
                    .then(response => {
                        this.messages = response.body.messages
                        this.messagee= ''
                    },
                    error =>{
                        console.log(error.body)
                    })
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .c-alert {
        margin-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
    .nomargin{
        margin: 0px !important;
    }
</style>