<template>
  <div id="app">
    <div class="o-page">
      <this-side :user="jury"></this-side>
      <main class="o-page__content">
        <this-header :user="jury"></this-header>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="c-card">
                <h4>Results</h4>
                <p>Here displays all results</p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="c-card">
                <div class="col-md-12">
                  Show results: &nbsp;&nbsp;&nbsp;&nbsp;
                  <button :class="showit == 1 ? 'c-btn c-btn--info u-mb-xsmall' : 'c-btn c-btn--secondary u-mb-xsmall'" @click="showit = 1">Rating</button>
                  <!--<button :class="showit == 2 ? 'c-btn c-btn--info u-mb-xsmall' : 'c-btn c-btn--secondary u-mb-xsmall'" @click="showit = 2">By Projects</button>-->
                  
                  <div class="col-md-12" v-if="showit == 1">
                    <h3>Ratings</h3>
                    <dx-data-grid id="gridContainer" :data-source="students" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="studentid">
                      <dx-selection mode="single"/>
                      <dx-filter-row :visible="true"/>
                      <dx-group-panel :visible="false"/>
                      <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                      <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>

                      <dx-column data-field="student" caption="Full name of the participant"/>
                      <dx-column data-field="project" caption="Название проекта / Project Title"/>

                      <dx-column data-field="tourone" caption="I Tour"/>
                      <dx-column data-field="tourtwo" caption="II Tour"/>
                      
                      <dx-column :width="100" data-field="avg" caption="Sum of Tours" alignment="center" cell-template="toursums" />
                      <dx-column :width="100" data-field="avg" caption="Average of Tours" alignment="center" cell-template="touravg" />
                      
                      <dx-column data-field="avg" caption="Team Average"/>
                      
                      <dx-column data-field="firsttourappeal" caption="I - Tour Appael Points" alignment="center" />
                      <dx-column data-field="secondtourappeal" caption="II - Tour Appael Points" alignment="center" />
                      
                      <dx-column :width="100" data-field="sumappeal" caption="Appael (Sum of Tours)" alignment="center"/>
                      <dx-column :width="100" data-field="avgappeal" caption="Appael (Average of Tours)" alignment="center"/>
                  
                      <get-sum-of-tours slot="toursums" slot-scope="details" :details="details.data"/>
                      <get-avg-of-tours slot="touravg" slot-scope="details" :details="details.data"/>
                      
                      <dx-summary>
                          <dx-total-item column="project" summary-type="count"/>
                      </dx-summary>

                    </dx-data-grid>

                  </div>
                  <div class="col-md-12" v-if="showit == 2">
                    <h3>By Projects</h3>
                    <dx-data-grid id="sdvgridContainer" :data-source="students" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="studentid">
                      <dx-selection mode="single"/>
                      <dx-filter-row :visible="true"/>
                      <dx-group-panel :visible="false"/>
                      <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                      <dx-column data-field="student" caption="Full name of the participant"/>
                      <dx-column data-field="project" caption="Название проекта / Project Title"/>
                      <dx-column data-field="tourone" caption="Tour I"/>
                      <dx-column data-field="tourtwo" caption="Tour II"/>
                      <dx-column data-field="avg" caption="Team average"/>

                      <dx-column :group-index="0" data-field="project" caption="Project: "/>
                      <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                      <dx-summary>
                          <dx-total-item column="project" summary-type="count"/>
                      </dx-summary>
                    </dx-data-grid>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</template>

<script>
import Asider from "./../menu/Aside.vue";
import Header from "./../menu/Header.vue";

import Getsums from './../Getsums';
import Getavgs from './../Getavgs';

import {DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

export default {
  components: {
    "this-side": Asider,
    "this-header": Header,
    "get-sum-of-tours": Getsums,
    "get-avg-of-tours": Getavgs,
    DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxSummary, DxTotalItem
  },
  data() {
    return {
      jury: {},
      showit: 1,
      students: [],
    };
  },
  methods: {
    setup: function() {
      this.$http.get("get-point").then(
        response => {
          this.jury = response.body.jury;
          this.students = response.body.students;
          console.log(response.body);
          
        },
        error => {
          console.log(error.body);
        }
      );
    },
    customizeExcelCell(options) {
      if(options.gridCell.rowType === 'data') {
          if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
          options.font.color = '#AAAAAA';
          }
          if(options.gridCell.data.SaleAmount > 15000) {
          if(options.gridCell.column.dataField === 'Employee') {
              options.font.bold = true;
          }
          if(options.gridCell.column.dataField === 'SaleAmount') {
              options.backgroundColor = '#FFBB00';
              options.font.color = '#000000';
          }
          }
      }
    }
  },
  created() {
    this.setup();
  }
};
</script>
<style scoped>
@import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css");
@import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css");
.float-right {
  float: right;
}
.text-center {
  text-align: center;
}
.container{
  max-width: 100%;
}
</style>