<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="jury"></this-side>

            <main class="o-page__content">
                <this-header :user="jury" :notifications="notifications"></this-header>
                <div class="container">

                    <div class="row">
                        <div class="col-md-12 pd-25">
                            <h4>{{param}} projects</h4>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="c-table-responsive@wide">
                                <table class="c-table">
                                    <thead class="c-table__head">
                                        <tr class="c-table__row">
                                            <th class="c-table__cell c-table__cell--head">Project name</th>
                                            <th class="c-table__cell c-table__cell--head">Category</th>
                                            <th class="c-table__cell c-table__cell--head" v-if="jury.is_assistant">My Score</th>
                                            <th class="c-table__cell c-table__cell--head" v-if="!jury.is_assistant">Assistants Score</th>
                                            <th class="c-table__cell c-table__cell--head">Project State</th>
                                            <th class="c-table__cell c-table__cell--head">Date</th>
                                            <th class="c-table__cell c-table__cell--head">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="c-table__row" v-for="project in projects">
                                            <td class="c-table__cell">
                                                <h6>{{project.p_title}}</h6>
                                                <p>{{project.name}} {{project.surname}}</p>
                                            </td>
                                            <td class="c-table__cell">{{project.category}}</td>
                                            <th class="c-table__cell" v-if="jury.is_assistant">
                                                <div v-for="mark in marks">
                                                    <span class="c-badge c-badge--small c-badge--danger" v-if="project.teamid == mark.team_id && mark.mark == 1 && mark.assistant == jury.id">Rejected</span>
                                                    <span class="c-badge c-badge--small c-badge--fancy" v-else-if="project.teamid == mark.team_id && mark.mark == 2">50/50</span>
                                                    <span class="c-badge c-badge--small c-badge--success" v-else-if="project.teamid == mark.team_id && mark.mark == 3">Accepted</span>
                                                    <span class="c-badge c-badge--small c-badge--info" v-else>Not Checked</span>
                                                </div>
                                            </th>
                                            <th class="c-table__cell" v-if="!jury.is_assistant">
                                                <div v-for="mark in marks">
                                                    <span class="c-badge c-badge--small c-badge--danger" v-if="project.teamid == mark.team_id && mark.mark == 1">Rejected</span>
                                                    <span class="c-badge c-badge--small c-badge--fancy" v-else-if="project.teamid == mark.team_id && mark.mark == 2">50/50</span>
                                                    <span class="c-badge c-badge--small c-badge--success" v-else-if="project.teamid == mark.team_id && mark.mark == 3">Accepted</span>
                                                    <span class="c-badge c-badge--small c-badge--info" v-else>Not Checked</span>
                                                </div>
                                            </th>
                                            <td class="c-table__cell">
                                                <span class="c-badge c-badge--small c-badge--info" v-show="project.t_project_mark == 0">Not Checked</span>
                                                <span class="c-badge c-badge--small c-badge--danger" v-show="project.t_project_mark == 1">Rejected</span>
                                                <span class="c-badge c-badge--small c-badge--fancy" v-show="project.t_project_mark == 2">50/50</span>
                                                <span class="c-badge c-badge--small c-badge--success" v-show="project.t_project_mark == 3">Accepted</span>
                                            </td>
                                            <td class="c-table__cell">{{project.created_at.split(" ")[0] }}</td>
                                            <td class="c-table__cell">
                                                <router-link :to="'/mark/' + project.t_team_id"><a class="c-btn c-btn--info">Mark</a></router-link>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                jury:{},
                projects: [],
                category : {},
                param : "",
                marks: [],

                notifications : [],
            }
        },
        methods:{
            setup : function () {
                this.$http.post('get-projects', { parameter : this.$route.params.option })
                    .then(response => {
                        this.$data.jury = response.body.jury
                        this.$data.category = response.body.category
                        this.$data.projects = response.body.projects
                        this.$data.param = response.body.parameter
                        this.$data.marks = response.body.marks

                        this.$data.notifications = response.body.notifications
                    });
            },
            imageuploader:function(){

            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
    .pd-25{
        padding:25px;
        padding-bottom:10px;
    }
</style>
