<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="admin"></this-side>
            <main class="o-page__content">
                <this-header :user="admin"></this-header>
                <keep-alive>
                    <this-container :admin="admin"></this-container>
                </keep-alive>
                
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/users/Container.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {}
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-profile')
                    .then(response => {
                        this.$data.admin = response.body.admin
                    })

                switch(this.$route.params.role) {
                    case 'users':
                    
                        break;
                    case 'students':

                        break;
                    case 'students':

                        break;
                    case 'students':

                        break;
                    case 'students':

                        break;
                }
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
</style>