<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="mod"></this-side>
            <main class="o-page__content">
                <this-header :user="mod" :notifications="notifications"></this-header>
                <div class="container">
                    <div class="row u-pv-large">
                        <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
                            <h1>Daryn list</h1>
                        </div>
                    </div>
                    <div class="row u-mb-xlarge">
                        <div class="col-md-12">
                            <div class="c-card u-justify-between u-flex-wrap">
                                <!--<dx-data-grid id="grid-container" :show-borders="true" :data-source="dataSource" key-expr="s_student_id" @selection-changed="selectionChanged" @content-ready="contentReady">
                                    <dx-selection mode="single"/>
                                    <dx-search-panel
                                        :visible="true"
                                        :width="240"
                                        placeholder="Search..."
                                    />
                                    <dx-column :width="150" data-field="s_student_id" caption="Student ID"/>
                                    <dx-column :width="400" data-field="fullname" caption="Fullname"/>
                                    <dx-column :width="300" data-field="supervisor" caption="Supervisor"/>
                                    <dx-column :width="200" data-field="daryn" caption="Daryn state"/>
                                    <dx-master-detail :enabled="false" template="detailTemplate"/>
                                    <div slot="detailTemplate" slot-scope="employee">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="employee-info">
                                                    <p class="employee-notes">
                                                        Personal Info: <br>
                                                        <strong>Fullname(En): </strong>{{ employee.data.s_en_surname + ' ' + employee.data.s_en_name  + ' ' +   employee.data.s_en_lastname }}<br>
                                                        <strong>Fullname(Ru/Kz): </strong>{{ employee.data.s_ru_surname + ' ' + employee.data.s_ru_name  + ' ' +   employee.data.s_ru_lastname }}<br>
                                                        <strong>Birth Date: </strong>{{ employee.data.s_birthdate }}<br>
                                                        <strong>Gender: </strong>{{ employee.data.s_gender ? 'Male': 'Female' }}<br>
                                                        <strong>Passport: </strong>{{ employee.data.s_passport }}<br>
                                                        <strong>Phone number: </strong>{{ employee.data.s_phone }}<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="employee-info">
                                                    <p class="employee-notes">
                                                        Address Info: <br>
                                                        <strong>Country: </strong> Kazakhstan<br>
                                                        <strong>Region(Ru/Kz): </strong>{{ employee.data.ru + ' / ' + employee.data.kz}}<br>
                                                        <strong>Birth Date: </strong>{{ employee.data.s_birthdate }}<br>
                                                        <strong>Zip: </strong>{{ employee.data.s_zip}}<br>
                                                        <strong>City: </strong>{{ employee.data.s_city }}<br>
                                                        <strong>School: </strong>{{ employee.data.s_school }}<br>
                                                        <strong>Grade: </strong>{{ employee.data.s_grade }}<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="c-btn c-btn--success u-mb-small" @click="approvment(1, employee.data.s_student_id)" v-if="!employee.data.s_daryn">Approve</button>
                                                <button class="c-btn c-btn--info u-mb-small" @click="approvment(0, employee.data.s_student_id)" v-if="employee.data.s_daryn">Not Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                </dx-data-grid>
                                <download-excel :data="json_data" name="daryn list.xls" style="cursor: pointer;">
                                    Download Data
                                </download-excel>
                                -->
                                <div id="descContainer">Өте керемет жасалынған! Шеттегі иконка экзелгешығарады! </div>
                                <dx-data-grid id="gridContainer" :data-source="orders" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="iin">
                                    <dx-selection mode="single"/>
                                    <dx-filter-row :visible="true"/>
                                    <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                    <dx-group-panel :visible="false"/>
                                    <dx-state-storing :enabled="true" type="localStorage" storage-key="storage"/>
                                    <dx-pager :show-page-size-selector="true" :allowed-page-sizes="[40, 50, 60]"/>
                                    <dx-column data-field="iin" caption="ИИН участника / Participant's ID "/>
                                    <dx-column data-field="fio" caption="Ф.И.O."/>
                                    <dx-column data-field="fullname" caption="Full name of the participant"/>
                                    <dx-column data-field="superemail" caption="Supervisor's email"/>
                                    <dx-column data-field="project" caption="Название проекта / Project Title"/>
                                    <dx-column data-field="category" caption="Секция/Section"/>
                                    <dx-column data-field="projectstate" caption="Project State"/>
                                    <dx-column data-field="darynstate" caption="Daryn State"/>
                                    <dx-column data-field="city" caption="Қала"/>
                                    <dx-column data-field="school" caption="Мектеп"/>
                                    <dx-column data-field="grade" caption="Класс / Grade"/>
                                    <dx-column data-field="phone" caption="Phone"/>
                                    <dx-column :group-index="0" data-field="region" caption="Облыс"/>
                                    <dx-column data-field="gender" caption="Gender"/>
                                    <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                    <dx-master-detail :enabled="true" template="masterDetailTemplate"/>
                                    <div slot="masterDetailTemplate" slot-scope="employee">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="employee-info">
                                                    <p class="employee-notes">
                                                        Personal Info: <br>
                                                        <strong>Fullname(En): </strong>{{ employee.data.fio }}<br>
                                                        <strong>Fullname(Ru/Kz): </strong>{{ employee.data.fullname }}<br>
                                                        <strong>ИИН участника / Participant's ID: </strong>{{ employee.data.iin }}<br>
                                                        <strong>Название проекта: </strong>{{ employee.data.project }}<br>
                                                        <strong>Секция/Section: </strong>{{ employee.data.category }}<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="employee-info">
                                                    <p class="employee-notes">
                                                        Address Info: <br>
                                                        <strong>Country: </strong> Kazakhstan <br>
                                                        <strong>Region(Ru/Kz): </strong>{{ employee.data.region }}<br>
                                                        <strong>City: </strong>{{ employee.data.city}}<br>
                                                        <strong>School: </strong>{{ employee.data.school }}<br>
                                                        <strong>Grade: </strong>{{ employee.data.grade }}<br>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="margin-top:25px;">
                                                Daryn State: 
                                                <span v-if="employee.data.daryn == 0">Pending</span>
                                                <span v-if="employee.data.daryn == 1">Not Approved</span>
                                                <span v-if="employee.data.daryn == 2">Approved</span><br><br>

                                                <button class="c-btn c-btn--success u-mb-small" v-if="employee.data.daryn == 0 || employee.data.daryn == 1" @click="approvment(2, employee.data.id)">Approve</button>
                                                <button class="c-btn c-btn--info u-mb-small" v-if="employee.data.daryn == 0 || employee.data.daryn == 2" @click="approvment(1, employee.data.id)">Not Approve</button>
                                            </div>
                                        </div>
                                    </div>
                                    <dx-summary>
                                        <dx-total-item column="gender" summary-type="count"/>
                                    </dx-summary>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/dashboard/Container.vue'
    import JsonExcel from 'vue-json-excel'

    import {DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

    import service from './data.js';

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container,
            'downloadExcel': JsonExcel,

            DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary
            
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                mod : {},
                notifications : [],
                dataSource: [],
                json_data: [],

                orders: []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-daryn')
                    .then(response => {
                        this.mod = response.body.mod
                        this.dataSource = response.body.students
                        this.json_data = response.body.export
                        this.orders = response.body.export
                        
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            contentReady(e) {
                if (!e.component.getSelectedRowKeys().length)
                { 
                    e.component.selectRowsByIndexes(0); 
                }
            },
            selectionChanged(e) {
                e.component.collapseAll(-1);
                e.component.expandRow(e.currentSelectedRowKeys[0]);
            },

            approvment: function(app, id){                
                this.$http.post('set-approve', {
                    id: id,
                    approve: app
                })
                .then(response => {
                    this.orders = response.body.export
                }, error => {
                    console.log(error.body);
                })
            },
            onRefreshClick() {
                window.location.reload();
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                    if(options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if(options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                    }
                }
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    #grid-container {
        height: 600px;
    }

    #grid-container .dx-datagrid-content tr.dx-data-row {
        cursor: pointer;
    }
</style>
