<template>
  <div>
    <dx-data-grid :data-source="JSON.parse(details)" :show-borders="true" :column-auto-width="true">
      <dx-column data-field="supervisorstudent" caption="Supervisor/Student/Guest"/>
      <dx-column data-field="invoce"/>
      <dx-column data-field="project"/>
      <dx-column data-field="option"/>
      <dx-column data-field="amount"/>
    </dx-data-grid>
  </div>
</template>
<script>
import { DxDataGrid, DxColumn } from 'devextreme-vue/data-grid';

export default {
  components: { DxDataGrid, DxColumn },
  props: ['details'],
  data() {
    return {
      
    }
  },
  methods: {

  }
};
</script>
<style>

</style>
