<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="mod"></this-side>
            <main class="o-page__content">
                <this-header :user="mod" :notifications="notifications"></this-header>
                <div class="container">
                    <div class="row u-pv-large">
                        <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
                            <h1>Logs</h1>
                        </div>
                    </div>
                    <div class="row u-mb-xlarge">
                        <div class="col-md-12">
                            <div class="c-card u-justify-between u-flex-wrap">
                                
                                <dx-data-grid id="gridContainer" :data-source="orders" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="lid">
                                    <dx-selection mode="single"/>
                                    <dx-filter-row :visible="true"/>
                                    <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                    <dx-group-panel :visible="false"/>
                                    <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                    
                                    <dx-column data-field="lid" caption="Action ID"/>
                                    <dx-column data-field="user" caption="Full name"/>
                                    <dx-column data-field="role" caption="Role"/>
                                    <dx-column data-field="action" caption="Action"/>
                                    <dx-column data-field="tracedby" caption="Controller"/>
                                    <dx-column data-field="dateof" date-type="datetime" caption="Tracked at"/>
                                    
                                    <dx-summary>
                                        <dx-total-item column="gender" summary-type="count"/>
                                    </dx-summary>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/dashboard/Container.vue'
    import JsonExcel from 'vue-json-excel'

    import {DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

    import service from './data.js';

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container,
            'downloadExcel': JsonExcel,

            DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary
            
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                mod : {},
                notifications : [],
                dataSource: [],
                orders: []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('logs')
                    .then(response => {
                        this.mod = response.body.mod
                        this.orders = response.body.logs
                        
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            contentReady(e) {
                if (!e.component.getSelectedRowKeys().length)
                { 
                    e.component.selectRowsByIndexes(0); 
                }
            },
            selectionChanged(e) {
                e.component.collapseAll(-1);
                e.component.expandRow(e.currentSelectedRowKeys[0]);
            },
            onRefreshClick() {
                window.location.reload();
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                    if(options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if(options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                    }
                }
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    #grid-container {
        height: 600px;
    }

    #grid-container .dx-datagrid-content tr.dx-data-row {
        cursor: pointer;
    }
</style>
