<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="mod"></this-side>
            <main class="o-page__content">
                <this-header :user="mod" :notifications="notifications"></this-header>
                    <div class="container">
                        <div class="row u-pv-large">
                            <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
                                <h1>Moderators</h1>
                            </div>
                        </div>
                        <div class="row u-mb-xlarge">
                        <div class="col-lg-4">
                            <div class="c-plan">
                            <span class="c-plan__icon c-icon c-icon--info c-icon--large">
                                <i class="feather icon-book"></i>
                            </span>

                            <h3 class="c-plan__title">Daryn</h3>
                            <div class="c-plan__price"><span class="c-plan__duration">Check list</span></div>

                            <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="daryn">Check</a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="c-plan">
                            <span class="c-plan__icon c-icon c-icon--success c-icon--large">
                                <i class="feather icon-percent"></i>
                            </span>

                            <h3 class="c-plan__title">Payments</h3>
                            <div class="c-plan__price"><span class="c-plan__duration">Check list</span></div>

                            <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="payments">Check</a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="c-plan">
                            <span class="c-plan__icon c-icon c-icon--fancy c-icon--large">
                                <i class="feather icon-user-check"></i>
                            </span>

                            <h3 class="c-plan__title">Transport / Food Logs</h3>
                            <div class="c-plan__price"><span class="c-plan__duration">Check logs</span></div>

                            <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="logs">Check</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import Container from './../../components/dashboard/Container.vue'
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,
            'this-container' : Container
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                mod : {},
                notifications : []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-main')
                    .then(response => {
                        this.mod = response.body.mod
                    })
            }
        },
        created() {
            this.setup()
        }
    }
</script>
