<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="mod"></this-side>
            <main class="o-page__content">
                <this-header :user="mod" :notifications="notifications"></this-header>
                <div class="container">
                    <div class="row u-pv-large">
                        <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
                            <h1>Payments</h1>
                        </div>
                        <div class="col-md-12 u-ml-auto" style="margin-top:50px;">
                            <div class="c-card">
                                <dx-data-grid id="grid-container" :show-borders="true" :data-source="payments"  key-expr="payment_id">
                                    <dx-column :width="270" data-field="payment_id" caption="Payment ID" />
                                    <dx-column data-field="supervisor" caption="Supervisor"/>
                                    <dx-column data-field="email"/>
                                    <dx-column :width="170" data-field="amount"/>
                                    <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                                    <dx-master-detail :enabled="true" template="masterDetailTemplate" />
                                    <div slot="masterDetailTemplate" slot-scope="employee" >
                                        <detail-template :details="employee.data.payment_details" />
                                    </div>
                                    <dx-column :group-index="0" data-field="supervisor" />
                                    <dx-group-panel :visible="true"/>
                                    <dx-grouping :auto-expand-all="autoExpandAll"/>
                                    <dx-paging :page-size="30"/>
                                    <dx-search-panel :visible="true"/>

                                    <dx-summary>
                                        <dx-total-item column="amount" summary-type="sum"/>
                                    </dx-summary>
                                </dx-data-grid>
                                <br>

                                <h5>Off-line(payments from bank) </h5>
                                <br><br>
                                <dx-data-grid id="grid-container" :show-borders="true" :data-source="offline"  key-expr="i_code">
                                    <dx-column :width="150" data-field="i_code" caption="Payment ID" />
                                    <dx-column data-field="supervisor" caption="Supervisor"/>
                                    <dx-column :width="100" data-field="i_amount" caption="Amount"/>
                                    <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                                    <dx-master-detail :enabled="true" template="masterDetailTemplate2" />
                                    <div slot="masterDetailTemplate2" slot-scope="employee">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <p style="white-space:pre">
                                                    Fullname: {{employee.data.i_fullname}}
                                                    Partisipant as a: {{employee.data.i_role}}
                                                    Project: {{employee.data.i_project}}
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <p style="white-space:pre">
                                                    Method: {{employee.data.i_method}}
                                                    Amoumt: {{employee.data.i_amount}}
                                                    Receipt: <a target="_blank" :href="employee.data.i_file">download</a>
                                                    Comment: {{employee.data.i_comment}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <dx-column :group-index="0" data-field="supervisor" />
                                    <dx-group-panel :visible="true"/>
                                    <dx-grouping :auto-expand-all="true"/>
                                    <dx-paging :page-size="30"/>
                                    <dx-search-panel :visible="true"/>

                                    <dx-summary>
                                        <dx-total-item column="amount" summary-type="sum"/>
                                    </dx-summary>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import ViewDetails from './../../components/dashboard/ViewDetails.vue'
    import { DxDataGrid, DxColumn, DxGrouping, DxGroupPanel, DxSearchPanel, DxPaging, DxSummary, DxTotalItem, DxMasterDetail } from 'devextreme-vue/data-grid';
    import { employees } from './data.js';

    import DetailTemplate from './DetailTemplate.vue';
    
    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,

            DxDataGrid,
            DxColumn,
            DxGroupPanel,
            DxGrouping,
            DxPaging,
            DxSearchPanel,
            DxDataGrid,
            DxSummary,
            DxTotalItem,
            DxMasterDetail,
            
            DetailTemplate
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                mod : {},
                notifications : [],
                payments: [],
                offline: [],

                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true,
                employees
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-payments')
                    .then(response => {
                        this.mod = response.body.mod
                        this.payments = response.body.payments
                        this.offline = response.body.offline
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            onSelectionChanged({ selectedRowsData }) {
                const data = selectedRowsData[0];
                
                this.$modal.show(ViewDetails, {
                    teamid : data.tid
                }, {
                    height: '100%',
                    width: '100%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            customizeDate(data) {
                return 'Students(Counted):  ' + data.value
            },
            customizeDateProjects(data) {
                return 'Projects(Counted):  ' + data.value 
            },
            customizeDateSupervisors(data){
                return 'Supervisors:  ' + this.supers.length
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    #employee-info .employee-photo {
        height: 100px;
        float: left;
        padding: 20px;
    }
    #employee-info .employee-notes {
        padding-top: 20px;
        text-align: justify;
    }
    .dark #employee-info .employee-notes {
        color: rgb(181, 181, 181);
    }
</style>
