<template>
    <div id="app">
        <div class="o-page">
            <this-side :user="mod"></this-side>
            <main class="o-page__content">
                <this-header :user="mod" :notifications="notifications"></this-header>
                <div class="container">
                    <div class="row u-pv-large">
                        <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
                            <h1>Post Register</h1>
                        </div>
                        <div class="col-md-12 u-ml-auto" style="margin-top:50px;">
                            <div class="c-card">
                                <dx-data-grid :data-source="projects" :selection="{ mode: 'single' }" :show-borders="true" :hover-state-enabled="true" key-expr="tid" @selection-changed="onSelectionChanged" >
                                    <dx-column :width="300" data-field="supervisor" caption="Supervisor" />
                                    <dx-column  data-field="email" caption="Email" />
                                    <dx-column data-field="country" caption="Country" />
                                    <dx-column data-field="students" caption="Students(Counted)" />
                                    <dx-column data-field="title" caption="Project title"/>
                                    <dx-column :group-index="0" data-field="country" />

                                    <dx-group-panel :visible="true"/>
                                    <dx-grouping :auto-expand-all="autoExpandAll"/>
                                    <dx-paging :page-size="30"/>
                                    <dx-search-panel :visible="true"/>
                                    <dx-summary>
                                        <dx-total-item :customize-text="customizeDateSupervisors" column="supervisor" summary-type="count"/>
                                        <dx-total-item :customize-text="customizeDateProjects" column="title" summary-type="count"/>
                                        <dx-total-item :customize-text="customizeDate" column="students" summary-type="sum"/>
                                    </dx-summary>
                                </dx-data-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
    import Asider from './../menu/Aside.vue'
    import Header from './../menu/Header.vue'
    import ViewDetails from './../../components/dashboard/ViewDetails.vue'
    import { DxDataGrid, DxColumn, DxGrouping, DxGroupPanel, DxSearchPanel, DxPaging, DxSummary, DxTotalItem } from 'devextreme-vue/data-grid';
    import { employees } from './data.js';

    export default {
        components:{
            'this-side' : Asider,
            'this-header' : Header,

            DxDataGrid,
            DxColumn,
            DxGroupPanel,
            DxGrouping,
            DxPaging,
            DxSearchPanel,
            DxDataGrid,
            DxSummary,
            DxTotalItem
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                mod : {},
                notifications : [],
                projects: [],
                supers: [],

                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true,
                employees
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-registers')
                    .then(response => {
                        this.mod = response.body.mod
                        this.projects = response.body.projects
                        this.supers = response.body.supers
                        
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            onSelectionChanged({ selectedRowsData }) {
                const data = selectedRowsData[0];
                
                this.$modal.show(ViewDetails, {
                    teamid : data.tid
                }, {
                    height: 'auto',
                    width: '100%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            customizeDate(data) {
                return 'Students(Counted):  ' + data.value
            },
            customizeDateProjects(data) {
                return 'Projects(Counted):  ' + data.value 
            },
            customizeDateSupervisors(data){
                return 'Supervisors:  ' + this.supers.length
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    #employee-info .employee-photo {
        height: 100px;
        float: left;
        padding: 20px;
    }
    #employee-info .employee-notes {
        padding-top: 20px;
        text-align: justify;
    }
    .dark #employee-info .employee-notes {
        color: rgb(181, 181, 181);
    }
</style>
