<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        <site-activities :activities="activities" :activitiesimportant="activitiesimportant"></site-activities>
                    </div>

                </div> 

            </div>

        </div>

    </div>
</template>

<script>

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'
    import Activities from './../../components/widgets/Activities.vue'
    import Overview from './../../components/dashboard/Overview.vue'
    import Categories from './../../components/dashboard/Categories.vue'
    
    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
            'site-overview' : Overview,
            'site-activities' : Activities,
            'site-categories' : Categories
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                activities : [],
                activitiesimportant : [],
                navconversations : [],
                notifications : []

            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-activities')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.activities = response.body.activities
                        this.$data.activitiesimportant = response.body.important

                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications
                    });
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
</style>
