<template>
    <div id="app">
        
        <div class="accountbg" :style="'background: url(\'' + baseUrl + '/general/images/steppe.jpg\');background-size: cover;'"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5 pdt70">
                            <h2 class="text-uppercase text-center pb-4">
                                <a :href="baseUrl" class="text-success">
                                    <span><img :src="baseUrl + '/2025/logo.png'" alt="" height="50"></span>
                                </a>
                            </h2>

                            <div class="text-center">
                                <h1 class="text-error">404</h1>
                                <h4 class="text-uppercase text-danger mt-3">Page Not Found</h4>
                                <p class="text-muted mt-3">It's looking like you may have taken a wrong turn. Don't worry... it
                                    happens to the best of us. Here's a
                                    little tip that might help you get back on track.</p>

                                <a class="btn btn-md btn-block btn-custom waves-effect waves-light mt-3" :href="baseUrl + '/admin'"> Return Home</a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main
            }
        }
    }
</script>
<style>
    .pdt70{
        padding-top: 70px !important;
    }
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
</style>
