<template>
    <div id="app">
        <div class="container">
            <div class="row">

                <div class="col-md-7">
                    <div class="result">
                        <div class="c-alert c-alert--danger" v-show="message != '' && isError">
                            <span class="c-alert__icon">
                                <i class="feather icon-slash"></i>
                            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">Error!</h4>
                                <p>{{message}}</p>
                            </div>
                        </div>
                        <div class="c-alert c-alert--success" v-show="message != '' && isSuccess">
                            <span class="c-alert__icon">
                                <i class="feather icon-check"></i>
                            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">Success!</h4>
                                <p>{{message}}</p>
                            </div>
                        </div>
                    </div>
                    <nav class="c-tabs"> 
                        <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                            <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Activity</a>
                            <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Edit profile</a>
                            <a class="c-tabs__link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false">Edit password</a>
                            <a class="c-tabs__link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Notes</a>
                        </div>
                        <div class="c-tabs__content tab-content" id="nav-tabContent">
                            <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <div class="c-feed">
                                    <div class="c-feed__item">
                                        <div class="c-feed__item-content">
                                        <h6 class="u-text-small">Add new  method</h6>
                                        <p>Added method</p>
                                        </div>
                                        <p class="u-text-xsmall">just now</p>
                                    </div>
                                </div>
                            </div>

                            <div class="c-tabs__pane" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                                <h5 class="center">Password settings</h5>
                                <form v-on:submit="SubmitPassword">
                                    <div class="row">
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Old Password:</label>
                                                <input class="c-input" type="password" v-model="newpassword.oldpass">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">New Password:</label>
                                                <input class="c-input" type="password" v-model="newpassword.newpass">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Repeat password:</label>
                                                <input class="c-input" type="password" v-model="newpassword.repass">
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Send new password to my mail:</label>
                                                <label class="c-switch u-mr-medium">
                                                    <input class="c-switch__input" id="switch2" value="Yes" v-model="newpassword.yesno" v-on:change="yesno()" type="checkbox" checked>
                                                    <span class="c-switch__label">{{!newpassword.yesno[0] ? "No" : newpassword.yesno[0]}}</span>
                                                </label>
                                            </div>
                                        </div>-->
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <button class="c-btn c-btn--fullwidth c-btn--outline" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <h5 class="center">Admin settings</h5>
                                <form v-on:submit="SubmitProfile">
                                    <div class="row">
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Email</label>
                                                <input class="c-input" type="text" v-model="admin.email" placeholder="Enter your email" disabled>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Name</label>
                                                <input class="c-input" type="text" v-model="admin.name" placeholder="Enter your name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Surname</label>
                                                <input class="c-input" type="text" v-model="admin.surname" placeholder="Enter your surname">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Phone</label>
                                                <input class="c-input" type="text" v-model="admin.phone"  placeholder="Enter your phone" >
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Image</label>
                                                <input class="c-input" type="file" @change="imageuploader" placeholder="Enter your image" >
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <label class="c-field__label">Bio</label>
                                                <textarea class="c-input" type="text" v-model="admin.bio" placeholder="Enter your Bio"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 pdt-15">
                                            <div class="c-field">
                                                <button class="c-btn c-btn--fullwidth c-btn--outline" type="submit">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                
                            </div>
                        </div>
                    </nav>
                    
                </div>

                <div class="col-md-5">
                    <div class="c-card">
                        <div class="u-text-center">
                            <div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
                                <img class="c-avatar__img" :src="baseUrl + admin.image" alt="Avatar">
                            </div>

                            <h5>{{admin.name}} {{admin.surname}}</h5>
                            <p>{{admin.bio}}</p>
                            <p class="u-mb-small u-text-large">@{{admin.admin_id}}</p>
                        </div>

                        <span class="c-divider u-mv-small" style="margin-bottom:25px;"></span>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <span class="c-text--subtitle">Email Address</span>
                                <p class="u-mb-small u-text-large">{{admin.email}}</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <span class="c-text--subtitle">Phone NUMBER</span>
                                <p class="u-mb-small u-text-large">{{admin.phone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        props: ['admin'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                
                image:{
                    isSelected : false,
                    file : "",
                    ext : "" ,
                    filename : ""
                },

                newpassword:{
                    oldpass : "",
                    newpass : "",
                    repass : "",
                    yesno: []
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            setup : function () {

            },
            imageuploader : function(e){
                var fileTypes = ['png','jpeg','jpg'];
                if(e.target.files[0].size > 2097152){
                    alert("File is too big!");
                }else{
                    if (e.target.files && e.target.files[0]) {
                        var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                        this.$data.image.isSelected = true
                        this.$data.image.filename = "File name: " + e.target.files[0].name
                        this.$data.image.ext = extension

                        if (isSuccess) { 
                            var fileUploader = new FileReader()
                            fileUploader.readAsDataURL(e.target.files[0])
                            fileUploader.onload = (e) => {
                                this.$data.image.file = e.target.result
                            }
                        }
                        else { 
                            alert('Select another file!')
                            this.$data.image.isSelected = false
                            this.$data.image.file = ""
                            this.$data.image.filename = ""
                            this.$data.image.ext = ""
                        }
                    }
                }                
            },
            SubmitProfile: function(e){
                e.preventDefault();
                
                this.$http.put('profile/' + this.admin.admin_id, {
                        'admin' : this.admin,
                        'image' : this.$data.image,
                        'action' : 'pi'
                    }).then(response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        this.$emit('changeAdmin', response.body.admin)
                    }, error => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });  
            },
            SubmitPassword: function(e){
                e.preventDefault();
                
                if(this.$data.newpassword.newpass == this.$data.newpassword.repass){
                    this.$http.put('profile/' + this.admin.admin_id, {
                        'password' : {
                            'old-password' : this.$data.newpassword.oldpass,
                            'new-password' : this.$data.newpassword.newpass,
                            'send' : this.$data.newpassword.yesno.length
                        },
                        'action' : 'pass'
                    }).then(response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        this.$data.newpassword ={
                            oldpass : "",
                            newpass : "",
                            repass : ""
                        }
                    }, error => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });  

                }else{
                    alert('New password not match with repeated password!')
                }
            },
            yesno : function(){

            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .c-alert{
        margin-bottom:15px;
    }
    .c-alert__title{
        margin-bottom : 0px;
    }
</style>
