<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        <div class="row" v-for="category in categories">
                            <div class="col-md-12 col-sm-12 text-center" v-if="category.short == $route.params.category">
                                <h2 class="mt-0 mb-3 ml-0">{{category.category}}</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="mt-0 mb-3 ml-0" v-if="$route.params.category == 'all'">All Projects</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div v-if="projects.length == 0">
                                <h4 class="mt-0 mb-0 ml-0 color-danger">Nothing found</h4>
                            </div>
                            <div class="col-md-6 col-sm-12" v-else v-for="project in projects">
                                <div class="card-box project-box">

                                    <div class="project-members ml-2 mt-3 mr-2">
                                        <router-link :to="'/user/supervisor/' + project.supervisor.user_id" data-toggle="tooltip" data-placement="top" title="" :data-original-title="project.supervisor.name + ' ' + project.supervisor.surname" tag="a">
                                            <img :src="baseUrl + project.supervisor.image" class="rounded-circle thumb-sm" :alt="project.supervisor.name + ' ' + project.supervisor.surname" />
                                        </router-link>

                                        <label class="mr-3">{{project.supervisor.name + ' ' + project.supervisor.surname}}</label>
                                    </div>

                                    <h4 class="mt-0 mb-0 ml-2 mr-2">
                                        <router-link :to="'/project/' + project.category.short + '/' + project.t_team_id">
                                            {{project.project.p_title}}
                                        </router-link>
                                    </h4>
                                    <p class="text-muted ml-2 mr-2 text-uppercase mb-3 font-13">{{project.category.category}}</p>
                                    <p class="text-muted ml-2 mr-2 font-13">
                                        {{project.project.p_description.length > 250 ? project.project.p_description.slice(0, 250) + '...': project.project.p_description}}
                                        <br>
                                        <router-link :to="'/project/' + project.category.short + '/' + project.t_team_id" class="font-600 text-muted"> View more </router-link>
                                    </p>

                                    <label class="ml-2"  v-if="project.state == 'Not checked'">Project State: <span class="text-warning">{{ project.state }}</span></label>
                                    <div class="progress mb-1 mr-2 ml-2" style="height: 7px;" v-if="project.state == 'Not checked'">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%;"></div>
                                    </div>

                                    <label class="ml-2"  v-if="project.state == 'Rejected'">Project State: <span class="text-danger">{{ project.state }}</span></label>
                                    <div class="progress mb-1 mr-2 ml-2" style="height: 7px;" v-if="project.state == 'Rejected'">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>

                                    <label class="ml-2"  v-if="project.state == '50/50'">Project State: <span class="text-custom">{{ project.state }}</span></label>
                                    <div class="progress mb-1 mr-2 ml-2" style="height: 7px;" v-if="project.state == '50/50'">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                    </div>

                                    <label class="ml-2"  v-if="project.state == 'Accepted'">Project State: <span class="text-success">{{ project.state }}</span></label>
                                    <div class="progress mb-1 mr-2 ml-2" style="height: 7px;" v-if="project.state == 'Accepted'">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [],

                projects : [],
                categories : [],

                isError : false,
                isSuccess : false,
                message : "",
            }
        },
        watch:{
            $route (to, from){
                this.$data.projects = []
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-projects/' + this.$route.params.category)
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.projects = response.body.projects
                        this.$data.categories = response.body.categories
                    });
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
</style>
