<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-8">
                                <div class="card-box task-detail ribbon-box">
                                    <div class="ribbon ribbon-primary float-right">{{project.p_category}}</div>

                                    <div class="media mt-0 m-b-30">
                                        <img class="d-flex mr-3 rounded-circle" alt="64x64" :src="baseUrl + supervisor.image" style="width: 48px; height: 48px;">
                                        <div class="media-body">
                                            <h5 class="media-heading mb-0 mt-3">{{ supervisor.name + ' ' +  supervisor.surname}}</h5>
                                        </div>
                                    </div>

                                    <div>
                                        <p><span :style="{ color: supervisor.is_email_activated ? 'green': 'red' }">Email</span>: <a :href="`mailto:${supervisor.email}`">{{ supervisor.email }}</a></p>
                                        <p><span :style="{ color: supervisor.is_phone_activated ? 'green': 'red' }">Phone</span>: <a :href="`tel:${supervisor.phone}`">{{ supervisor.phone }}</a></p>
                                    </div>

                                    <span class="nomargin">
                                        <strong class="font-20">{{project.p_title}}</strong>
                                        <span class="badge badge-warning font-14" v-if="team.t_project_mark == 0">Not checked</span>
                                        <span class="badge badge-danger font-14" v-if="team.t_project_mark == 1">Rejected</span>
                                        <span class="badge badge-info font-14" v-if="team.t_project_mark == 2">50/50</span>
                                        <span class="badge badge-success font-14" v-if="team.t_project_mark == 3">Accepted</span>
                                    </span>

                                    <p class="m-b-20"> {{project.created_at}} </p>
                                    <p class="text-muted" style="white-space: pre-line;">
                                        {{project.p_description}}
                                    </p>

                                    <div class="clearfix"></div>

                                    <div class="assign-team mt-4">
                                        <h5 class="m-b-5">Students</h5>
                                        <div class="nomargin nopadding" v-for="(student , index) in students">
                                            <a href="javascript:void(0)" class="nomargin nopadding" v-on:click="StudentDetail(student.s_student_id)">
                                                <span class="font-18">{{index+1}}. {{student.s_en_surname + ' ' + student.s_en_name + ' ' + student.s_en_lastname}}</span>
                                            </a><br>
                                        </div>
                                    </div>

                                    <div class="attached-files mt-4">
                                        <h5 class="">Attached </h5>
                                        <div class="nomargin nopadding">
                                            <span class="font-14">Download: </span>
                                            <a :href="baseUrl + project.p_file" class="nomargin nopadding" target="_blank">
                                                <span class="font-14">Link to Download</span>
                                            </a>
                                        </div>
                                    </div>
                                    
                                    <div class="assign-team mt-4">
                                        <h5 class="m-b-5">Category additionals</h5>
                                        <div class="mb-1 nopadding ml-2" v-for="(add, index) in additionals">
                                            <strong><span class="font-14">{{add.label}}: </span></strong>
                                            <span class="font-14" v-if="!checkifurl(add.value)">{{add.value}}</span>
                                            <a v-else :href="add.value" class="nomargin nopadding" target="_blank">
                                                <span class="font-14">{{add.value}}</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="card-box">
                                    <h4 class="header-title">Mark and Comments ({{marks.length}})</h4>
                                    <div>

                                        <div class="media mb-20 m-t-20" v-if="team.t_project_mark != 0">
                                            <div class="media-body" >
                                                <span class="nomargin">
                                                    <strong class="font-20">Jury Mark</strong>
                                                    <span class="badge badge-warning font-10" v-if="team.t_project_mark == 0">Not checked</span>
                                                    <span class="badge badge-danger font-10" v-if="team.t_project_mark == 1">Rejected</span>
                                                    <span class="badge badge-info font-10" v-if="team.t_project_mark == 2">50/50</span>
                                                    <span class="badge badge-success font-10" v-if="team.t_project_mark == 3">Accepted</span>
                                                </span>
                                                <p class="font-13 text-muted mb-0">
                                                    {{team.t_project_mark_comment}}
                                                </p>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="media nomargin" v-else>
                                            <div class="media-body" >
                                                <p class="font-13 text-muted mb-0">
                                                    Jury doesn't marked the project, yet!
                                                </p>
                                            </div>
                                            <hr>
                                        </div>

                                        <hr>
                                        <div class="media m-b-20" v-if="marks.length > 0" v-for="mark in marks">
                                            
                                            <div class="media-body">
                                                <div class="d-flex mb-2">
                                                    <img class="media-object rounded-circle thumb-sm" :alt="mark.name + ' ' + mark.surname" :src="baseUrl + mark.image">
                                                    <h6 class="mt-2 ml-2">{{mark.name + ' ' + mark.surname}}</h6>
                                                </div>
                                                
                                                <p class="font-13 mb-0">
                                                   <strong>Comment: </strong> <span class="text-muted">{{mark.comment}}</span> 
                                                </p>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [],

                project : {},
                team : {},
                additionals : [],
                supervisor: {},
                students: [],
                marks : [],

                isError : false,
                isSuccess : false,
                message : "",
            }
        },
        watch:{
            $route (to, from){
                switch (this.$route.params.category) {
                    case 'rbt': this.setup(); break;
                    case 'cpg': this.setup(); break;
                    case 'cga': this.setup(); break;
                    case 'hcs': this.setup(); break;
                    case 'smv': this.setup(); break;
                    case 'drc': this.setup(); break;
                    case 'mpr': this.setup(); break;
                
                    default:
                        this.$router.push('/')
                        break;
                }
                
                
            }
        },
        methods:{
            setup : function () {
                this.$http.get('projects/' + this.$route.params.projectID)
                    .then(response => {

                        if(response.body.notfound){
                            this.$router.push('/projects/' + this.$route.params.category)
                        }

                        this.$data.admin = response.body.admin
                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.project = response.body.project
                        this.$data.additionals = response.body.additionals    
                        this.$data.team = response.body.team                        
                        this.$data.supervisor = response.body.supervisor
                        this.$data.students = response.body.students 
                        
                        this.$data.marks = response.body.marks 
                    });
            },
            StudentDetail : function (id) {
                alert(id);
            },
            checkifurl : function(str) {
                var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
                if(!regex.test(str)) {
                    return false;
                } else {
                    return true;
                }
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
        margin-top: 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
    .font-20{
        font-size: 20px !important;
    }
</style>
