<template>
    <div id="app">
        <div class="o-page">
            <div class="c-card" style="margin-bottom:0px;">
                <span class="c-text--subtitle">Assistent Details</span>
                <br>    
                <ul>
                    <li>
                        <h5>Name and surname: {{juries.name}} {{juries.surname}}</h5>
                        <h6>Email: <strong>{{juries.email}}</strong></h6>
                        <h6>Password: <strong>{{juries.pass}}</strong></h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['assistant'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                juries:{}
            }
        },
        methods:{
            setup : function () {
                this.$http.get('juries/'+ this.assistant)
                    .then(response => {
                        this.$data.juries = response.body.jury
                        console.log(response.body.jury)
                    })
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
</style>