<template>
    <div id="app">
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <h3 class="">Site configuration</h3>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding-top:40px">
                            <div class="col-6">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Settings</h4>
                                    <p class="text-muted m-b-30 font-14">
                                        Setup Supervisors settings. 
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisor registration:</label>
                                                        <div class="col-2">
                                                            <toggle-button :value="UserConfig.user_register == 1 ? true : false" @change="ValueChanged('user_register', $event.value)" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors enable edit profile</label>
                                                        <div class="col-2">
                                                            <toggle-button  @change="ValueChanged('user_profile_edit', $event.value)" :value="UserConfig.user_profile_edit == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors project registration:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_project_register', $event.value)" :value="UserConfig.user_project_register == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors project edit:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_project_edit', $event.value)" :value="UserConfig.user_project_edit == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors project delete:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_project_delete', $event.value)" :value="UserConfig.user_project_delete == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors student registration:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_student_register', $event.value)" :value="UserConfig.user_student_register == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors student edit:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_student_edit', $event.value)" :value="UserConfig.user_student_edit == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors student delete:</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_student_delete', $event.value)" :value="UserConfig.user_student_delete == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-10 col-form-label">Supervisors enable open conversations</label>
                                                        <div class="col-2">
                                                            <toggle-button @change="ValueChanged('user_conversation_open', $event.value)" :value="UserConfig.user_conversation_open == 1 ? true : false" color="#82C7EB" :sync="true" :labels="true" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [], 

                UserConfig : {}
            }
        },
        watch:{
            $route (to, from){
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('setting')
                    .then(response => {
                        this.$data.admin = response.body.admin
                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.UserConfig = response.body.config
                    });
            },
            ValueChanged : function(param, value) {
                this.$http.put('setting/1', {'param' : param, 'value': value})
                    .then(response => {
                        if(response.body.success){
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    });
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
</style>
