<template>
    <div id="app">
        <div class="o-page__sidebar js-page-sidebar">
            <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <a href="#"><img :src="baseUrl + '/2025/logo.png'" width="80%" style="padding-top: 20px;" alt="Neat"></a>
            </div>

            <div class="c-sidebar__body">
                <span class="c-sidebar__title">Dashboard</span>
                <ul class="c-sidebar__list">
                    <li>
                        <router-link to="/">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-home"></i>Main Dashboard
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/profile">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-user"></i>Profile
                            </span>
                        </router-link>
                    </li>
                   
                    <li class="c-sidebar__item has-submenu">
                        <a class="c-sidebar__link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="sidebar-submenu">
                            <i class="c-sidebar__icon feather icon-users"></i> Users
                        </a>

                        <div>
                            <ul class="c-sidebar__list collapse" id="users">
                                <li>
                                    <router-link to="/u/view/users" class="c-sidebar__link">
                                        Supervisors
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/u/view/students" class="c-sidebar__link">
                                        Students
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/u/view/admins" class="c-sidebar__link">
                                        Admins
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/u/view/juries" class="c-sidebar__link">
                                        Juries
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/u/view/moderators" class="c-sidebar__link">
                                        Moderator
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="c-sidebar__item has-submenu" style="padding-top:10px;">
                        <a class="c-sidebar__link" data-toggle="collapse" href="#register" aria-expanded="false" aria-controls="sidebar-submenu">
                            <i class="c-sidebar__icon feather icon-user-plus"></i> Register
                        </a>

                        <div>
                            <ul class="c-sidebar__list collapse" id="register">
                                <li>
                                    <a :href="baseUrl + '/u/create/user'" class="c-sidebar__link">
                                        New User
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/u/create/admin'" class="c-sidebar__link">
                                        New Admin
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/u/create/jury'" class="c-sidebar__link">
                                        New Jury
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/u/create/moderator'" class="c-sidebar__link">
                                        New Moderator
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/u/create/volonteer'" class="c-sidebar__link">
                                        Volunteer
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="c-sidebar__item has-submenu" style="padding-top:10px;">
                        <a class="c-sidebar__link" data-toggle="collapse" href="#projects" aria-expanded="false" aria-controls="sidebar-submenu">
                            <i class="c-sidebar__icon feather icon-star"></i> Projects
                        </a>

                        <div>
                            <ul class="c-sidebar__list collapse" id="projects">
                                <li>
                                    <router-link to="/p/view">
                                        <span class="c-sidebar__link">All</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/rob">
                                        <span class="c-sidebar__link">Robotics</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/cprog">
                                        <span class="c-sidebar__link">Computer Programming</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/cgart">
                                        <span class="c-sidebar__link">Computer Graphics and Art</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/hcsystems">
                                        <span class="c-sidebar__link">Hardware Control Systems</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/smovie">
                                        <span class="c-sidebar__link">Short Movie</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/dracing">
                                        <span class="c-sidebar__link">Drone Racing</span>
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/p/view/math">
                                        <span class="c-sidebar__link">Mathematics Project</span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <router-link to="/notifications">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-bell"></i>Notifications
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/conversations">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-bookmark"></i>Conversations
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/activities">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-bell"></i>Activities
                            </span>
                        </router-link>
                    </li>
                </ul>

                <span class="c-sidebar__title">General</span>
                <ul class="c-sidebar__list">
                    <li>
                        <router-link to="/online">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-play-circle"></i>Online
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/export">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-file-text"></i>Export Data
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/config">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-edit-2"></i>Site Configuration
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/docs">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-book"></i>Documentation
                            </span>
                        </router-link>
                    </li>
                </ul>
            </div>
            
            <router-link to="/logout" class="c-sidebar__footer">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </router-link>
            </aside>
        </div>
    </div>    
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>

</style>
