<template>
    <div id="app">
        <header class="c-navbar u-mb-medium">
            <button class="c-sidebar-toggle js-sidebar-toggle">
                <i class="feather icon-align-left"></i>
            </button>

            <h2 class="c-navbar__title"> {{ $route.meta.title.split(" | ")[0]}} | {{user.name + ' ' + user.surname}}</h2>
            
            <a class="c-btn c-btn--info mgr-15" :href="baseUrl + '/admin/online'" v-if="$route.path == '/'">Online</a>
            <a class="c-btn c-btn--info mgr-15" :href="baseUrl + '/admin/notifications'" v-if="$route.path == '/'">New Notification</a>
            <div class="c-dropdown dropdown u-mr-small">
                <div class="c-notification dropdown-toggle" id="dropdownMenuToggle1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="c-notification__icon feather icon-message-circle"></i>
                </div>

                <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle1">
                    <span class="c-dropdown__menu-header">
                        Conversations
                    </span>
                    <div v-for="conv in conversations">
                        <router-link :to="'/conversation/' + conv.conv_code" class="c-dropdown__item dropdown-item" tag="a">
                            <div class="o-media">
                                <div class="o-media__body">
                                    <p style="color:black;">{{conv.conv_title}}</p>
                                    <p style="font-size:12px;">{{conv.conv_content.length > 150 ? conv.conv_content.slice(0,150) + ' ...': n.conv_content}}</p>
                                </div>
                            </div>
                        </router-link>
                    </div>
                
                    <router-link to="/conversations" class="c-dropdown__menu-footer" tag="a">
                        All Conversations
                    </router-link>
                </div>
            </div>
            <div class="c-dropdown dropdown u-mr-medium">
                <div class="c-notification has-indicator dropdown-toggle" id="dropdownMenuToggle2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <i class="c-notification__icon feather icon-bell"></i>
                </div>

                <div class="c-dropdown__menu c-dropdown__menu--large has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggle2">
                    <span class="c-dropdown__menu-header">
                        Notifications
                    </span>
                    
                    <a class="c-dropdown__item dropdown-item" :href="baseUrl + '/jury/notification'" v-for="n in notifications">
                        <div class="o-media">
                            <div class="o-media__body">
                                <p style="color:black;">{{n.n_title}}</p>
                                <p style="font-size:12px;">{{n.n_content.length > 150 ? n.n_content.slice(0,150) + ' ...': n.n_content}}</p>
                            </div>
                        </div>
                    </a>

                    <router-link to="/notification" class="c-dropdown__menu-footer" tag="a">
                        All Notifications
                    </router-link>
                </div>
            </div>

            <div class="c-dropdown dropdown">
                <div class="c-avatar c-avatar--xsmall dropdown-toggle" id="dropdownMenuAvatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                    <img class="c-avatar__img" :src="user.image" :alt="user.name + ' ' + user.surname">
                </div>

                <div class="c-dropdown__menu has-arrow dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuAvatar">
                    <router-link to="/profile" class="c-dropdown__item dropdown-item" tag="a">
                        Profile
                    </router-link>
                    <router-link to="/activities" class="c-dropdown__item dropdown-item" tag="a">
                        View Activities
                    </router-link>
                    <router-link to="/logout" tag="a" class="c-dropdown__item dropdown-item">
                        Logout 
                    </router-link>
                </div>
            </div>
        </header>
    </div>    
</template>

<script>
    export default {
        props: ['user', 'conversations', 'notifications'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>
    .mgr-15{
        margin-right:15px;
    }
    .fontsmaller{
        font-size: 12px;
        padding-right:10px;
        color: #252529;
    }
</style>
