<template>
    <div id="app">

        <div class="left side-menu">

            <div class="slimscroll-menu" id="remove-scroll">

                <div class="topbar-left">
                    <a :href="baseUrl" class="logo">
                        <span>
                            <img :src="baseUrl + '/2025/logo.png'" alt="" height="30">
                        </span>
                        <i>
                            <img src="logo.jpg" alt="" height="30">
                        </i>
                    </a>
                </div>

                <div class="user-box"></div>

                <div id="sidebar-menu">

                    <ul class="metismenu" id="side-menu">

                        <li class="menu-title">Navigation</li>

                        <li>
                            <router-link to="/" tag="a">
                                <i class="fi-air-play"></i><span> Dashboard </span>
                            </router-link>
                        </li>
                        
                        <li>
                            <router-link to="/account" tag="a">
                                <i class="fi-head"></i><span> My Account </span>
                            </router-link>
                        </li>

                        <li>
                            <a href="javascript: void(0);">
                                <i class="fi-star"></i><span> Users </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li :class="$route.path == '/users/supervisors' ? 'active' : ''">
                                    <router-link to="/users/supervisors">
                                        <span> Supervisors </span> 
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/users/students' ? 'active' : ''">
                                    <router-link to="/users/students">
                                        <span> Students </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/users/admins' ? 'active' : ''">
                                    <router-link to="/users/admins">
                                        <span> Admins </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/users/juries' ? 'active' : ''">
                                    <router-link to="/users/juries">
                                        <span> Juries </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/users/moderators' ? 'active' : ''">
                                    <router-link to="/users/moderators">
                                        <span> Moderator </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/volunteer' ? 'active' : ''">
                                    <router-link to="/volunteer">
                                        <span> Volunteer </span>
                                    </router-link>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);">
                                <i class="fi-folder"></i><span> Projects </span> <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li :class="$route.path == '/projects/all' ? 'active' : ''">
                                    <router-link to="/projects/all">
                                        <span> All </span> 
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/rbt' ? 'active' : ''">
                                    <router-link to="/projects/rbt">
                                        <span> Robotics </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/cpg' ? 'active' : ''">
                                    <router-link to="/projects/cpg">
                                        <span> Computer Programming </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/cga' ? 'active' : ''">
                                    <router-link to="/projects/cga">
                                        <span> Computer Graphics and Art </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/hcs' ? 'active' : ''">
                                    <router-link to="/projects/hcs">
                                        <span> Hardware Control Systems </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/smv' ? 'active' : ''">
                                    <router-link to="/projects/smv">
                                        <span> Short Movie </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/drc' ? 'active' : ''">
                                    <router-link to="/projects/drc">
                                        <span> Drone Racing </span>
                                    </router-link>
                                </li>
                                <li :class="$route.path == '/projects/mpr' ? 'active' : ''">
                                    <router-link to="/projects/mpr">
                                        <span> Mathematics Project </span>
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                        <!--
                        <li :class="$route.path == '/finalists/projects' ? 'active' : ''">
                            <router-link to="/finalists/projects">
                                <i class="fi-book"></i><span> Finalists </span>
                            </router-link>
                        </li>
                        -->
                        <li>
                            <router-link to="/notifications" tag="a">
                                <i class="fi-bell"></i><span> Notifications </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/conversations" tag="a">
                                <i class="fi-speech-bubble"></i><span> Conversations </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/activities" tag="a">
                                <i class="fi-clock"></i><span> Activities </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/points" tag="a">
                                <i class="fi-monitor"></i><span> Jury Points </span>
                            </router-link>
                        </li>
                        <li class="menu-title">General</li>

                       <!-- <li>
                            <router-link to="/online" tag="a">
                                <i class="fi-play"></i><span> Online </span>
                            </router-link>
                        </li> -->
                        <li>
                            <router-link to="/payments" tag="a">
                                <i class="fi-tag"></i><span> Payments </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/logs" tag="a">
                                <i class="fi-clipboard"></i><span> Logs </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/export" tag="a">
                                <i class="fi-outbox"></i><span> Export Data </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/setting" tag="a">
                                <i class="fi-toggle"></i><span> Site Configurations </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/documentation" tag="a">
                                <i class="fi-paper"></i><span> Documentation </span>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/faqs" tag="a">
                                <i class="fi-umbrella"></i><span> FAQs </span>
                            </router-link>
                        </li>
                        
                    </ul>

                </div>

                <div class="clearfix"></div>

            </div>
        </div>

    </div>    
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        },
        created() {
            
            $( document ).ready(function() {
                'use strict';

                function initSlimscrollMenu() {

                    $('.slimscroll-menu').slimscroll({
                        height: 'auto',
                        position: 'right',
                        size: "8px",
                        color: '#9ea5ab',
                        wheelStep: 5
                    });
                }

                function initSlimscroll() {
                    $('.slimscroll').slimscroll({
                        height: 'auto',
                        position: 'right',
                        size: "8px",
                        color: '#9ea5ab'
                    });
                }

                function initMetisMenu() {
                    //metis menu
                    $("#side-menu").metisMenu();
                }

                function initLeftMenuCollapse() {
                    // Left menu collapse
                    $('.button-menu-mobile').on('click', function (event) {
                        event.preventDefault();
                        $("body").toggleClass("enlarged");
                        initSlimscrollMenu();
                    });
                }

                function initEnlarge() {
                    if ($(window).width() < 1025) {
                        $('body').addClass('enlarged');
                    } else {
                        if ($('body').data('keep-enlarged') != true)
                            $('body').removeClass('enlarged');
                    }
                }

                function initActiveMenu() {
                    // === following js will activate the menu in left side bar based on url ====
                    $("#sidebar-menu a").each(function () {
                        if (this.href == window.location.href) {
                            $(this).addClass("active");
                            $(this).parent().addClass("active"); // add active to li of the current link
                            $(this).parent().parent().addClass("in");
                            $(this).parent().parent().prev().addClass("active"); // add active class to an anchor
                            $(this).parent().parent().parent().addClass("active");
                            $(this).parent().parent().parent().parent().addClass("in"); // add active to li of the current link
                            $(this).parent().parent().parent().parent().parent().addClass("active");
                        }
                    });
                }

                function init() {
                    initSlimscrollMenu();
                    initSlimscroll();
                    initMetisMenu();
                    initLeftMenuCollapse();
                    initEnlarge();
                    initActiveMenu();
                }

                init();

            });

        },
    }
</script>
<style>
    .mgr-15{
        margin-right:15px;
    }
    .fontsmaller{
        font-size: 12px;
        padding-right:10px;
        color: #252529;
    }
    .user-box {
        padding: 50px 25px 25px 25px;
    }
</style>
