<template>
    <div id="app">
        
        <div class="topbar">

            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <!--<li class="hide-phone app-search">
                        <form>
                            <input type="text" placeholder="Search..." class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>-->

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <i class="fi-bell noti-icon"></i>
                            <span class="badge badge-danger badge-pill noti-icon-badge">{{notifications.length}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            <div class="slimscroll" style="max-height: 230px;" v-for="n in notifications">
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <div class="notify-icon bg-info"><i class="mdi mdi-bell"></i></div>
                                    <p class="notify-details">
                                        <strong>{{n.n_title.length > 100 ? n.n_title.slice(0,100) + ' ...': n.n_title}}</strong><br>
                                        <span style="font-size:12px;">{{n.n_content.length > 150 ? n.n_content.slice(0,150) + ' ...': n.n_content}}</span> 
                                        <small class="text-muted">{{n.newdate}}</small>
                                    </p>
                                </a>
                            </div>

                            <router-link to="/notifications" class="dropdown-item text-center text-primary notify-item notify-all" tag="a">
                                View all <i class="fi-arrow-right"></i>
                            </router-link>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <i class="fi-speech-bubble noti-icon"></i>
                            <span class="badge badge-custom badge-pill noti-icon-badge">{{conversations.length}}+</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                            <div class="dropdown-item noti-title">
                                <h5 class="m-0"><span class="float-right"></span>Conversations</h5>
                            </div>
                            
                            <div class="slimscroll" style="max-height: 230px;" v-for="conv in conversations">
                                
                                <router-link :to="'/conversations/' + conv.conv_code" class="dropdown-item notify-item" tag="a" data-toggle="tooltip" data-placement="left" :title="conv.conv_cat_title">
                                    <div class="notify-icon"><img :src="conv.image" class="img-fluid rounded-circle" alt="" /> </div>
                                    <p class="notify-details">{{conv.actioner}}</p>
                                    <p class="text-muted font-13 mb-0 user-msg">
                                        {{conv.conv_title.length > 100 ? conv.conv_title.slice(0,100) + ' ...': conv.conv_title}}<br>
                                        <small class="text-muted">{{conv.newdate}}</small>
                                    </p>
                                </router-link>

                            </div>

                            <router-link to="/conversations" class="dropdown-item text-center text-primary notify-item notify-all" tag="a">
                                View all <i class="fi-arrow-right"></i>
                            </router-link>

                        </div>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img :src="user.image" alt="user" class="rounded-circle"> <span class="ml-1">{{user.name + ' ' + user.surname}} <i class="mdi mdi-chevron-down"></i> </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">
                            
                            <router-link to="/account" tag="a" class="dropdown-item notify-item">
                                <i class="fi-head"></i> <span>My Account</span>
                            </router-link>

                            <router-link to="/setting" tag="a" class="dropdown-item notify-item">
                                <i class="fi-cog"></i> <span>Settings</span>
                            </router-link>

                            <a target="_blank" href="mailto:kurmangazykongratbayev@outlook.com" class="dropdown-item notify-item">
                                <i class="fi-help"></i> <span>Support</span>
                            </a>

                            <router-link to="/logout" tag="a" class="dropdown-item notify-item">
                                <i class="fi-power"></i> <span>Logout</span>
                            </router-link>

                        </div>
                    </li>

                </ul>

                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left disable-btn">
                            <i class="dripicons-menu"></i>
                        </button>
                    </li>
                    <li>
                        <div class="page-title-box">
                            <h4 class="page-title">{{ $route.meta.title.split(" | ")[0]}} </h4>
                            <ol class="breadcrumb">
                                <li :class="$route.path == '/' ? 'breadcrumb-item': 'breadcrumb-item active'"> 
                                    {{ $route.path == '/' ? 'Welcome to Infomatrix Administrator panel!': 'Dashboard'}} 
                                </li>
                                <li class="breadcrumb-item " v-if="$route.path != '/'"> 
                                    {{$route.meta.title.split(" | ")[0]}} 
                                </li>
                            </ol>
                        </div>
                    </li>

                </ul>

            </nav>

        </div>

    </div>    
</template>

<script>
    export default {
        props: ['user', 'conversations', 'notifications'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>
    .mgr-15{
        margin-right:15px;
    }
    .fontsmaller{
        font-size: 12px;
        padding-right:10px;
        color: #252529;
    }
</style>
