<template>
    <div id="app">
        <this-header :user="user" :notes="notes" :paynemt="paying"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section class="bg--secondary space--sm conversation nomargin">
                <div class="container thatcontainer">
                    <div class="row">
                        <div class="col-md-12" v-if="false">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="col-sm-12" v-if="user.country == 110">
                                    <a style="float:right;margin-left:15px;color:white;" v-if="paying" class="btn btn--primary-1" href="/user/payments">Payments</a>
                                    <a style="float:right;" class="btn" href="javascript:void(0)" @click="showhere">Hide list</a>
                                    <h2 class="nomargin">
                                        Infomatrix-Asia 2020 - Online
                                    </h2>
                                    
                                    <table class="border--round nomargin" v-if="showit" style="margin-top: 30px !important;">
                                        <thead>
                                            <tr>
                                                <th>Project name</th>
                                                <th>Supervisor</th>
                                                <th>Participants</th>
                                                <th>Infomatrox Jury approvals</th>
                                                <th>Approvals by daryn</th>
                                                <!--<th>Payment status</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="project in statuses" v-if="project.students.length > 0" style="border-bottom: 1px solid black;">
                                                <td style="vertical-align: middle;">{{project.title}}</td>
                                                <td style="vertical-align: middle;">{{project.sname + ' ' + project.ssurname}}</td>
                                                <td style="vertical-align: middle;">
                                                    <div v-for="sss in project.students" style="padding-bottom:20px;">
                                                        {{sss.name + ' ' + sss.surname}}
                                                    </div>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <span class="label" v-if="project.mark == 0 || project.mark == 2" style="position:unset;background:#f39c12;">pending</span>
                                                    <span class="label" v-if="project.mark == 1" style="position:unset;">Rejected</span>
                                                    <span class="label" v-if="project.mark == 3" style="position:unset;background:#2ecc71;">accepted</span>
                                                </td>
                                                <td>
                                                    <div v-for="sss in project.students" style="padding-bottom:20px;">
                                                        {{sss.name + ' ' + sss.surname}} 
                                                        <span v-if="sss.daryn == 2" style="font-size:10px;color:green;">Approved</span>
                                                        <span v-if="sss.daryn == 0" style="font-size:14px;color:orange;">Pending</span>
                                                        <span v-if="sss.daryn == 1" style="font-size:10px;color:red;">Not Approved</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br>
                                    <hr>
                                    <span class="h3"> Results:</span>
                                    <br>

                                    <table class="border--round">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Student</th>
                                                <th>Project</th>
                                                <th>I</th>
                                                <th>II</th>
                                                <th>Team Average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(s, index) in students" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ s.student }}</td>
                                                <td>{{ s.project }}</td>
                                                <td>{{ s.tourone }}</td>
                                                <td>{{ s.tourtwo }}</td>
                                                <td>{{ s.avg }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div class="col-sm-12" v-if="user.country != 110">
                                     <a style="float:right;" class="btn" href="javascript:void(0)" @click="showhere">Show list</a>
                                    <h2 class="nomargin">
                                        Infomatrix-Asia 2020 - Online
                                    </h2>
                                    
                                    <table class="border--round nomargin" v-if="showit" style="margin-top:30px;">
                                        <thead>
                                            <tr>
                                                <th>Project name</th>
                                                <th>Supervisor</th>
                                                <th>Participants</th>
                                                <th>Infomatrox Jury approvals</th>
                                                <!--<th>Payment status</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="project in statuses" v-if="project.students.length > 0" style="border-bottom: 1px solid black;">
                                                <td style="vertical-align: middle;">{{project.title}}</td>
                                                <td style="vertical-align: middle;">{{project.sname + ' ' + project.ssurname}}</td>
                                                <td style="vertical-align: middle;">
                                                    <div v-for="sss in project.students" style="padding-bottom:20px;">
                                                        {{sss.name + ' ' + sss.surname}}
                                                    </div>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                    <span class="label" v-if="project.mark == 0 || project.mark == 2" style="position:unset;background:#f39c12;">pending</span>
                                                    <span class="label" v-if="project.mark == 1" style="position:unset;">Rejected</span>
                                                    <span class="label" v-if="project.mark == 3" style="position:unset;background:#2ecc71;">accepted</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <br>
                                    <hr>
                                    <span class="h3"> Results:</span>
                                    <br>

                                    <table class="border--round">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Student</th>
                                                <th>Project</th>
                                                <th>I</th>
                                                <th>II</th>
                                                <th>Team Average</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(s, index) in students" :key="index">
                                                <td>{{ index + 1 }}</td>
                                                <td>{{ s.student }}</td>
                                                <td>{{ s.project }}</td>
                                                <td>{{ s.tourone }}</td>
                                                <td>{{ s.tourtwo }}</td>
                                                <td>{{ s.avg }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="col-sm-12">
                                    <span class="h3">
                                        <span class="color--primary">Hi, {{user.name}},</span> it is your userpanel. Here you can upload your projects and manage. Also, you recieve messages (inbox*) from juries or administrator.
                                    </span>
                                    <!--
                                    <div class="modal-instance block">
                                        <div class="video-play-icon video-play-icon--sm bg--primary modal-trigger" data-modal-index="5"></div>
                                        <span>
                                            <strong>Watch "How to upload your project *correctly."</strong>&nbsp;&nbsp;&nbsp;104 Seconds
                                        </span>
                                        <div class="modal-container">
                                            <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                                <iframe src="https://www.youtube.com/embed/v48orMA8Yfk?autoplay=0" allowfullscreen="allowfullscreen"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    -->
                                </div>
                                <hr>
                                <div class="col-sm-12">
                                    <project-component></project-component>
                                </div>
                                <div class="col-sm-12">
                                    <invoices v-if="false"></invoices>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div v-if="user.is_email_activated === 0">
                                <div class="feature feature--featured feature-5 boxed boxed--md boxed--border">
                                    <h5 style="padding-top: 25px;">Activate your email!</h5>
                                    <span class="label">Important</span>
                                    <p style="min-height: 0px;" class="nomargin">
                                        Please check your email and activate the link we sent! Email and Phone must be registered, otherwise your project can not be seen to juries!
                                    </p>
                                    <a :href="baseUrl + '/user/setting'">Go to settings</a>
                                </div>
                            </div>
                            <div v-else-if="user.is_phone_activated === 0">
                                <div class="feature feature--featured feature-5 boxed boxed--md boxed--border">
                                    <h5 style="padding-top: 25px;">Phone number is not registered!</h5>
                                    <span class="label">Important</span>
                                    <p style="min-height: 0px;" class="nomargin">
                                        Please, submit your phone number, otherwise your projects can not been seen to juries!
                                    </p>
                                    <a :href="baseUrl + '/user/setting'">Go to settings</a>
                                </div>
                            </div>
                            <div v-if="answers > 0" style="padding-top:20px;padding-bottom:20px;">
                                <div class="feature feature-1 boxed boxed--md boxed--border bg--primary-2">
                                    <h5 style="padding-top:10px; font-size:16px;line-height:16px;padding-bottom:10px;">You recieved reply from your conversations</h5>
                                    <p style="min-height: 0px; font-size:14px; line-height:16px;" class="nomargin">
                                        You have reply from administrators for your request, earlier opened conversation!
                                    </p>
                                    <a :href="baseUrl + '/user/inbox'" style="font-size:16px;">Read</a>
                                </div>
                            </div>
                            <div v-if="false">
                                <div class="feature feature--featured feature-5 boxed boxed--md boxed--border" style="margin-top:20px;margin-bottom:20px;">
                                    <h5 style="padding-top: 25px;">If you do payments by bank, please provide your cash voucher (КВИТАНЦИЯ) here below</h5>
                                    <span class="label">Important</span>
                                    <a class="btn text-center btn--primary-1" style="color:white;margin-top:20px;" href="javascript:void(0)" @click="uploadKvitancia">Upload here</a>
                                </div>
                            </div>
                            <div class="boxed boxed--lg boxed--border" style="margin-top:20px;margin-bottom:20px;display:none;">
                                <div class="sidebar__widget">
                                    <h5 class="nomargin">Download Rules:</h5>
                                    <h6 class="nomargin"><span class="color--primary-1">(Click to link to download rules)</span></h6>
                                    <a :href="baseUrl + '/general/files/rules/Infomatrix Asia.pdf'" target="_blank">
                                        Infomatrix Asia 2020 (General rule)
                                    </a><br>
                                    <a style="display:none;" target="_blank" :href="baseUrl + '/general/files/Payment.pdf'">
                                        Payments
                                    </a>
                                    <!--<ul class="tag-cloud">
                                        <li v-for="catrules in categoriesRules">
                                            <a :href="baseUrl + catrules.rulelink" target="_blank" style="font-size:16px;">{{catrules.name}}</a>
                                        </li>
                                    </ul>-->
                                </div>
                            </div>
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <img alt="avatar" :src="baseUrl + user.image" class="image--sm avatar img-circle"  />
                                    <br>
                                    <span class="h5">{{user.name + ' ' + user.surname}}</span>
                                    <span>{{user.email}}</span>
                                    <br>
                                    <router-link tag="a" to="/setting">
                                        Account Settings
                                    </router-link>
                                </div>
                                <hr>
                                <div class="text-block">
                                    Links:
                                    <ul class="menu-vertical">
                                        <li>
                                            <a :href="baseUrl + '/user/upload'" class="h5">Upload project</a>
                                        </li>
                                        <li>
                                            <a :href="baseUrl + '/user/manage'" class="h5">My project(s)</a>
                                        </li>
                                        <li>
                                            <a :href="baseUrl + '/user/manage'" class="h5">My student(s)</a>
                                        </li>
                                        <li>
                                            <a :href="baseUrl + '/#categories'" class="h5">Categories</a>
                                        </li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>
</template>

<script>
    import Header from './../menu/Header.vue'
    import Footer from './../menu/Footer.vue'
    import Projects from './../../components/dashboard/Projects.vue'
    import invoices from './../../components/dashboard/Invoices.vue'
    import rules from './../../../config/uploader.json'

    import ViewDetails from './../../components/dashboard/UploadKvetancia.vue'

    export default {
        components:{
            'this-header' : Header,
            'this-footer' : Footer,
            'project-component' : Projects,
            'invoices': invoices
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                user : {},
                config : {},
                categoriesRules : {},

                notes : 0,
                answers : 0,

                statuses: [],
                showit: true,
                paying: false,

                students: []
            }
        },
        watch:{
            $route (to, from){
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-panel')
                    .then(response => {
                        this.$data.user = response.body.user
                        this.$data.notes = response.body.status
                        this.$data.answers = response.body.answers

                        this.$data.config = response.body.config
                    });

                this.$http.get("get-point").then(
                    response => {
                        this.students = response.body.students
                        console.log(response.body);
                    },
                    error => {
                        console.log(error.body);
                    }
                );

                /*this.$http.get('get-projects-status')
                    .then(response => {
                        this.$data.statuses = response.body.projects

                        for (var i in response.body.projects) {
                            for(var j in response.body.projects[i].students)
                                //console.log(response.body.projects[i].students[j]);
                                
                                if (response.body.projects[i].students[j].daryn == 2) {
                                    this.paying = true
                                }
                        }
                        //console.log(response.body.students);
                        
                    },
                    error =>{
                        console.log(error.body);
                        
                    });*/
            },
            showhere: function(){
                this.showit = !this.showit
            },
            uploadKvitancia: function(){
                this.$modal.show(ViewDetails, {

                }, {
                    height: 'auto',
                    width: '100%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                    }
                })
            }
        },
        created() {
            this.setup()
            this.categoriesRules = rules.categories
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }
</style>
