<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section class="bg--secondary space--sm conversation nomargin">
                <div class="container thatcontainer">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="col-sm-12">
                                    <span class="h2 inline-block">Here, you can manage</span>
                                	<span class="h2 inline-block typed-text typed-text--cursor color--primary" data-typed-strings="your projects, your students, it means that you can edit, view or delete!"></span>
                                </div>
                                <hr>
                                <div class="col-sm-12">
                                    <project-component></project-component>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="article__title text-center">
                                    <h2 class="nomargin">My Students</h2>
                                    <span>Here will be displayed your all students</span>
                                    <div v-if="students.length === 0" class="nomargin">
                                        <span class="nomargin h4 color--primary-1">
                                            No Student(s) found!
                                        </span>
                                    </div>
                                    <div v-show='false'>
                                        <br>
                                        <div class="col-sm-12 text-center">
                                            <div class="modal-instance block">
                                                <a class="btn modal-trigger btn--primary-1" href="javascript:void(0)" v-on:click="resetresponses" style="display:inline-block; width:25%;">
                                                    <span class="btn__text">
                                                        Add New Student
                                                    </span>
                                                </a>
                                                <div class="modal-container">
                                                    <div class="modal-content">
                                                        <section class="unpad ">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <div class="col-sm-8 col-md-offset-2 col-sm-offset-3 col-xs-12">
                                                                        <div class="boxed boxed--lg bg--white text-center feature">
                                                                            <div class="modal-close modal-close-cross"></div>
                                                                            <h2 class="nomargin">Register new Student</h2>
                                                                            <br>
                                                                            <form v-on:submit="submitStudent">
                                                                                <div class="col-sm-12">
                                                                                    <h4 class="color--primary-1">1. Student Address Inforation:</h4>
                                                                                    <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                                                                    <div class="col-sm-12 text-left">
                                                                                        <label for="scountry" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Country: </label>
                                                                                        <div class="input-select">
                                                                                            <select id="scountry" name="scountry" v-model="newstudent.country" required=""> 
                                                                                                <option v-for="country in countries" :value="country.id">
                                                                                                    {{ country.name }}
                                                                                                </option>  
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div v-if="newstudent.country === 110" class="col-sm-12 text-left">
                                                                                        <label><strong class="color--primary-1">*</strong> Region:</label>
                                                                                        <div class="input-select">
                                                                                            <select id="region" name="region" v-model="newstudent.region" required=""> 
                                                                                                <option v-for="region in regions" :value="region.en">
                                                                                                    {{ region.en }}
                                                                                                </option>  
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div v-else class="col-sm-12 col-md-12 text-left">
                                                                                        <label><strong class="color--primary-1">*</strong> Region:</label>
                                                                                        <input type="text" name="location" v-model="newstudent.region" placeholder="Enter your region name..."/>
                                                                                    </div>

                                                                                    <div class="col-sm-6 text-left">
                                                                                        <label for="stonecity" style="cursor: pointer;"><strong class="color--primary-1">*</strong> City:</label>
                                                                                        <input type="text" 
                                                                                            name="stonecity" 
                                                                                            placeholder="City" 
                                                                                            class="validate-required" 
                                                                                            required="" 
                                                                                            v-model="newstudent.city"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-left">
                                                                                        <label for="szip" style="cursor: pointer;"><strong class="color--primary-1">*</strong> ZIP code (<a href="https://www.mapdevelopers.com/what-is-my-zip-code.php" target="_blank">Find my Zip code</a>):</label>
                                                                                        <input type="text" 
                                                                                            name="szip" 
                                                                                            placeholder="ZIP code" 
                                                                                            class="validate-required"
                                                                                            v-model="newstudent.zip"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-left" >
                                                                                        <label for="stoneschool" style="cursor: pointer;"><strong class="color--primary-1">*</strong> School:</label>
                                                                                        <input type="text" 
                                                                                            name="stoneschool" 
                                                                                            placeholder="School" 
                                                                                            class="validate-required" 
                                                                                            required=""  
                                                                                            v-model="newstudent.school"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-left" style="padding-right: 15px !important;" >
                                                                                        <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Grade:</label>
                                                                                        <div class="input-select">
                                                                                            <select name="sgender" v-model="newstudent.grade">
                                                                                                <option value="5"> 5 </option>
                                                                                                <option value="6"> 6 </option>
                                                                                                <option value="7"> 7 </option>
                                                                                                <option value="8"> 8 </option>
                                                                                                <option value="9"> 9 </option>
                                                                                                <option value="10"> 10 </option>
                                                                                                <option value="11"> 11 </option>
                                                                                                <option value="12"> 12 </option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div class="col-sm-12">
                                                                                    <br>
                                                                                    <h4 class="color--primary-1">2. Student Personal Inforation:</h4>
                                                                                    <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                                                                    <div class="col-sm-12 text-left">
                                                                                        <label for="senname" style="cursor: pointer;">
                                                                                            In Latin alphabets as in the passport:
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="senname" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> First name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="senname"  
                                                                                            class="validate-required" 
                                                                                            required=""
                                                                                            v-model="newstudent.ensurname"
                                                                                                />
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="senmname" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> Last name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="senmname" 
                                                                                            class="validate-required" 
                                                                                            required=""
                                                                                            v-model="newstudent.enname"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="senlname" style="cursor: pointer;">
                                                                                            Middle name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="senlname"  
                                                                                            class="validate-required" 
                                                                                            v-model="newstudent.enlastname"
                                                                                            />
                                                                                    </div>
                                                                                    <div v-if="newstudent.country === 110">
                                                                                    <div class="col-sm-12 text-left">
                                                                                        <label for="senname" style="cursor: pointer;">
                                                                                            In Cyrillic alphabets as in the passport:
                                                                                        </label>
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="sruname" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> First name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="sruname"  
                                                                                            class="validate-required" 
                                                                                            pattern="[\u0400-\u04ff]{2,}"
                                                                                            required=""
                                                                                            v-model="newstudent.rusurname"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="srumname" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> Last name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="srumname" 
                                                                                            class="validate-required" 
                                                                                            pattern="[\u0400-\u04ff]{2,}"
                                                                                            required=""
                                                                                            v-model="newstudent.runame"
                                                                                            />
                                                                                    </div>
                                                                                    <div class="col-sm-4 text-left">
                                                                                        <label for="srulname" style="cursor: pointer;">
                                                                                            Middle name:
                                                                                        </label>
                                                                                        <input type="text" 
                                                                                            name="srulname"  
                                                                                            class="validate-required" 
                                                                                            pattern="[\u0400-\u04ff]{2,}"
                                                                                            v-model="newstudent.rulastname"
                                                                                            />
                                                                                    </div>
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-left" style="padding-top:5px;">
                                                                                        <label for="sbirth" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Birth date:</label>
                                                                                        <input type="date" 
                                                                                            name="sbirth" 
                                                                                            placeholder="Choose a date" 
                                                                                            min="1995-01-01" 
                                                                                            max="2017-12-31" 
                                                                                            v-model="newstudent.birthdate"
                                                                                            required />
                                                                                    </div>
                                                                                    <div class="col-sm-6 text-left" style="padding-top:5px;">
                                                                                        <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Gender:</label>
                                                                                        <div class="input-select">
                                                                                            <select name="sgender" v-model="newstudent.gender">
                                                                                                <option value="1"> Male </option>
                                                                                                <option value="2">Female</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-sm-12 text-left" style="padding-top:5px;">
                                                                                        <label for="sinn" style="cursor: pointer;"><strong class="color--primary-1">*</strong> {{newstudent.country === 110 ? "Individual identification number (INN)/(ИИН)/(ЖСН): ": "Student Passport number: "}}</label>
                                                                                        <input type="number" 
                                                                                            name="sinn" 
                                                                                            placeholder="Individual identification number" class="validate-required" 
                                                                                            required=""
                                                                                            v-model="newstudent.passport"
                                                                                            />
                                                                                    </div>
                                                                                    <div v-if="newstudent.country === 110"  class="col-sm-11 text-left" style="padding-top:5px;">
                                                                                        <label for="stelephone" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> Telephone (in the form 7 xxx xxx xxxx):
                                                                                        </label>
                                                                                        <input type="tel" 
                                                                                                pattern="[0-9]{1}\s[0-9]{3}\s[0-9]{3}\s[0-9]{4}" 
                                                                                                id="stelephone" 
                                                                                                name="stelephone" 
                                                                                                placeholder="Ex: 7 700 700 7070" 
                                                                                                class="validate-required" 
                                                                                                required=""
                                                                                                style="width:100%;"
                                                                                                v-model="newstudent.phone"
                                                                                                /><span class="validity"></span>
                                                                                    </div>
                                                                                    <div v-else class="col-sm-12 col-md-12 text-left">
                                                                                        <label for="stelephone" style="cursor: pointer;">
                                                                                            <strong class="color--primary-1">*</strong> Telephone:
                                                                                        </label>
                                                                                        <input type="tel"  
                                                                                                name="stelephone" 
                                                                                                placeholder="Student Phone-number" 
                                                                                                class="validate-required" 
                                                                                                required=""
                                                                                                v-model="newstudent.phone"
                                                                                                />
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div class="col-sm-12 text-center">
                                                                                    <span class="h4 nomargin" style="color:green;">{{stusuccess}}</span>
                                                                                    <span class="h4 nomargin" style="color:red;">{{stuerror}}</span>
                                                                                </div>
                                                                                <div class="col-sm-12 text-left">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-6">
                                                                                            <button class="btn btn--primary-3 modal-close" href="javascript:void(0)" style="width: 100%;">
                                                                                                <span class="btn__text">Cancel</span>
                                                                                            </button>
                                                                                        </div>
                                                                                        <div class="col-sm-6">
                                                                                            <button type="submit" class="btn btn--primary-3" style="color: black;">Save</button>
                                                                                        </div><br>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12" style="padding-top: 50px;">
                                    <table class="border--round table--alternate-column">
                                        <thead>
                                            <tr>
                                                <th>#Student Code</th>
                                                <th>Fullname</th>
                                                <th>Country</th>
                                                <th>Region/City</th>
                                                <th>School/Grade</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="student in students">
                                                <th>{{student.s_student_id}}</th>
                                                <th>{{student.s_en_name +' '+ student.s_en_surname +' '+ student.s_en_lastname}}</th>
                                                <th>{{student.s_country_name}}</th>
                                                <th>{{student.s_region +' / '+ student.s_city}}</th>
                                                <th>{{student.s_school +' / '+ student.s_grade + ' grade'}}</th>
                                                <th>
                                                    <a :href="baseUrl + '/user/students/' + student.s_student_id" v-if='UserConfig.user_student_edit == 1'>Edit</a>  
                                                    {{UserConfig.user_student_delete == 1 ? ' / ' : ''}}
                                                    <a :href="baseUrl + '/user/students/' + student.s_student_id" v-if='UserConfig.user_student_delete == 1'>Delete</a>
                                                </th>
                                            </tr>												
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>    
</template>

<script>
    import Header from './../menu/Header.vue'
    import Footer from './../menu/Footer.vue'
    import Projects from './../../components/dashboard/Projects.vue'

    export default {
        components:{
            'this-header' : Header,
            'this-footer' : Footer,
            'project-component' : Projects,
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                projects: [],
                students: [],
                teams: [],
                user:{},
                
                countries:[],
                regions:[],

                newstudent:{
                    enname : "",
                    ensurname : "",
                    enlastname : "",
                    
                    runame : "",
                    rusurname : "",
                    rulastname : "",

                    birthdate : "",
                    gender : 1,
                    passport : "",
                    phone : "",
                    country : 1,
                    region : "",
                    city : "",
                    zip : "",
                    school : "",
                    grade : 11 
                },

                stuerror : "",
                stusuccess : "",

                teamcounter : 1,
                notes : 0,

                UserConfig : {},
            }
        },
        methods:{
            setup : function(){
                this.$http.get('get-manage')
                    .then(response => {
                        this.$data.user =  response.body.user
                        this.$data.students = response.body.students
                        this.$data.teams = response.body.teams

                        this.$data.countries = response.body.countries
                        this.$data.regions = response.body.regions
                        this.$data.notes = response.body.status

                        this.$data.newstudent.country = response.body.user.country

                        this.$data.UserConfig = response.body.config
                    }, error =>{

                    })
            },
            submitStudent : function(e) {
                e.preventDefault();
                this.$http.post('set-students', this.$data.newstudent)
                    .then(response => {
                        this.$data.stuerror = response.body.error
                        this.$data.stusuccess = response.body.success

                        if (response.body.success != null) {
                            this.formResetter()
                        }
                    })

                this.getstudents();
            },
            getstudents : function(){
                this.$http.get('get-students')
                    .then(response => {
                        this.$data.students = response.body.students
                    })
            },
            resetresponses : function(){
                this.$data.stuerror = "";
                this.$data.stusuccess = "";
            },
            formResetter : function(){
                this.$data.newstudent = {
                    enname : "",
                    ensurname : "",
                    enlastname : "",
                    
                    runame : "",
                    rusurname : "",
                    rulastname : "",

                    birthdate : "",
                    gender : 1,
                    passport : "",
                    phone : "",
                    country : this.$data.user.country,
                    region : "",
                    city : "",
                    zip : "",
                    school : "",
                    grade : 11 
                };
                return;
            },
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }

    input:invalid+span:after {
        position: absolute; content: '✖';
        padding-left: 5px;
        font-size: 25px;
        color: #8b0000;
        padding-top: 15px;
    }

    input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
        font-size: 25px;
        color: #009000;
        padding-top: 15px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
</style>