<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <br>
                                    <img alt="avatar" class="avatar image--sm img-circle" :src="baseUrl + user.image" />
                                    <span class="h5">{{ user.name + ' '+ user.surname}}</span>
                                    <span>{{user.email}}</span>
                                    <span class="label">#{{user.user_id}}</span>
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#" class="h4" v-on:click="changer(1, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-notification;hidden">Notifications</a>
                                        </li>
                                        <li>
                                            <a href="#" class="h4" v-on:click="changer(2, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-conversations;hidden">All conversation({{conversations.length}})</a>
                                        </li>
                                        <li>
                                            <a href="#" class="h4" v-on:click="changer(3, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-newconversation;hidden">New conversation</a>
                                        </li>
                                        <li>
                                            <router-link tag="a" to="/setting" class="h4">
                                                Account settings
                                            </router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div v-show="showthis === 1" id="account-notification" class="account-tab">
                                <div class="conversation__head boxed boxed--lg bg--primary">
                                    <h2 class="nomargin">Notifications</h2>
                                </div>
                                <div class="conversation__reply boxed boxed--border">
                                    <div class="row">
                                        <div class="col-sm-12" v-if="notifications.length == 0">
                                            <span class="h5"> No Notification yet!</span>
                                        </div>
                                        <div class="col-sm-12 nomargin" v-for="notes in notifications" style="padding-top:15px;">
                                            <div v-bind:class=" notes.is_important ? 'feature feature--featured feature-1 boxed boxed--lg boxed--border nomargin' : 'feature feature-1 boxed boxed--lg boxed--border nomargin' " >
                                                <i class="icon icon-Information icon--sm" style="padding-bottom: 15px;"></i>
                                                <div class="feature__body">
                                                    <span class="h6 nomargin">{{notes.created_at.split(" ")[0]}}</span>
                                                    <h4 class="nomargin">{{notes.n_title}}</h4>
                                                    <p style="white-space: pre-line;max-width: 100%">
                                                       {{notes.n_content}}
                                                    </p>
                                                    <ul>
                                                        <li v-for="f in notifications_files" >
                                                            
                                                        <span v-if="f.n_notification_id == notes.id"><strong>Attached file:</strong> <a :href="baseUrl + f.link" target="_blank"> {{f.file}} </a></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="showthis === 2" id="account-conversations" class="account-tab">
                                <div class="conversation__head boxed boxed--lg bg--primary">
                                    <h3 class="nomargin">Conversations</h3>
                                    <span style="color:white;" class="h6">{{deleteconv}}</span>
                                </div>
                                <div class="conversation__reply boxed boxed--border">
                                    <div class="row">
                                        <div class="col-sm-12 nomargin" v-for="conversation in conversations" style="padding-top:15px;">
                                            <div class="feature feature-1 boxed boxed--lg boxed--border nomargin" >
                                                <div class="feature__body">
                                                    <span class="h6 nomargin">{{conversation.created_at.split(" ")[0]}}</span>
                                                    <span v-bind:class="conversation.conv_state == 0 ? 'label thisgreen' : 'label'">{{conversation.conv_state == 0 ? 'Conversation is opened (waiting for answer)' : 'Conversation is closed'}}</span>
                                                    <h3 class="nomargin">{{conversation.conv_title}}</h3>
                                                    <p class="conv-content">
                                                       {{conversation.conv_content}}
                                                    </p>
                                                    
                                                    <span style="font-size:1em;">Replies: <strong class="color--primary-1">{{conversation.answer}} {{conversation.answer == 1 || conversation.answer == 0 ? 'reply': 'replies'}}</strong></span> / <a :href="baseUrl + '/user/conversation/' + conversation.conv_code" class="h5" style="font-size:1em;" >Open conversation</a>
                                                    / 
                                                    <a href="javscript:void(0)" class="h5" v-on:click="deleteconvs(conversation.id, $event)">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="showthis === 3" id="account-newconversation" class="account-tab">
                                <div class="conversation__head boxed boxed--lg bg--primary">
                                    <h3 class="nomargin">New conversation</h3>
                                </div>
                                <div class="conversation__reply boxed boxed--border">
                                    <div class="row">
                                        <div class="col-sm-12 nomargin" style="padding-top:15px;">
                                            <form id="newconver" v-on:submit="newconversubmit('newconver', $event)">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <label>Question:</label>
                                                        <input type="text" name="title" v-model="newconversation.question" placeholder="Your question ..." required />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <label>Category:</label>
                                                        <div class="input-select">
                                                            <select id="region" v-model="newconversation.category" name="region" required=""> 
                                                                <option v-for="(value, index) in conversationcategories" :value="value.id">
                                                                    {{ value.conv_cat_title }}
                                                                </option>  
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <label>Describe your question(in details):</label>
                                                        <textarea rows="4" name="reply" v-model="newconversation.content"  placeholder="Type details here" required></textarea>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <button type="submit" id="newconversationerror" class="btn">Send</button>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8" style="padding-top:7px;">
                                                        <span style="color:green;" class="h6" v-if="newconversationanwser != ''">{{newconversationanwser}}</span>
                                                        <span style="color:red;" class="h6" v-if="newconversationerror != ''">{{newconversationerror}}</span>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>   
</template>

<script>
    import Header from './../../view/menu/Header.vue'
    import Footer from './../../view/menu/Footer.vue'

    export default {
        components: {
            'this-header' : Header,
            'this-footer' : Footer
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                user:{},
                notifications:[],
                notifications_files:[],
                
                conversationcategories : [], 
                conversations : [], 
                newconversation: {
                    question: "",
                    category: 1,
                    content: "",
                },

                newconversationanwser: "",
                newconversationerror : "",
                deleteconv : "",
                showthis : 1,

                notes : 0,
                answers : [],
                UserConfig : {}
            }
        },
        methods:{
            setup(){
                this.$http.get('get-inbox')
                    .then(response => {
                        console.log(response.body)
                        this.$data.user = response.body.user
                        this.$data.notifications = response.body.notifications
                        this.$data.notifications_files = response.body.files

                        this.$data.conversations = response.body.conversations
                        this.$data.conversationcategories = response.body.conversationcategories

                        this.$data.notes = response.body.status
                        this.$data.answers = response.body.answers
                        this.$data.UserConfig = response.body.config

                        if(response.body.config.user_conversation_open == 0){
                            document.getElementById('newconversationerror').disabled = true
                            this.$data.newconversationerror = "The administrator has disabled opening a conversation!"
                        }
                    }, error => {
                        console.log(error.body)
                    });  
                
                this.$http.post('read-all').then(response => {
                        this.$data.notes = response.body.status
                    });  
                
            },
            changer: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()
                this.$data.showthis = message
            },
            newconversubmit: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()

                this.$http.post('conversations', {
                    'conversations' : this.$data.newconversation, 
                    'set': message 
                    })
                    .then(response => {
                        this.$data.newconversationanwser = response.body.newconanwser
                        if(response.body.newconanwser == 'Your request is successfully sent!'){
                            this.$data.conversations = response.body.conversations
                            this.$data.newconversation = {
                                question: "",
                                category: 1,
                                content: "",
                            }
                        }
                    })
            },
            deleteconvs: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()

                this.$http.delete('conversations/'+ message)
                    .then(response => {
                        this.$data.deleteconv = response.body.deleteconv
                        if(response.body.deleteconv != null){
                            location.reload()
                        }
                        
                    })
            }
        },
        beforeMount(){
            this.setup()
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .thisgreen{
        background-color : green !important;
    }
    .conv-content{
        overflow: hidden;
        height: 5.5em;
        margin-bottom: 15px !important;
    }
</style>