<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <article>
                                <h3><strong>Payments</strong></h3>
                                <p class="lead">
                                    In The list Payments, you can select whom you want to do payments for. Note that if student not approved by daryn cannot be selected. You can select Participation fee and accompdation if you want to live in our dormitory (Dormitory details <a target="_blank" href="/accommodation">here</a>, also includes transportation)  or select only Participation fee, in this case we do not provide living place. Also if you have guest who wants to visit, please, add as a guest so let us known about them! After selection will be list for invoice, automatically calculation of invoice. Then, click button "CHECKOUT" to make payments!
                                </p>
                                <div class="boxed bg--secondary boxed--lg boxed--border">
                                    <p class="lead">
                                        Payments requirements you can learn here in section "Terms". You can use credit cards to provide payments! payment information will be updated as soon as posible after proving payments! 
                                        <a target="_blank" href="/terms">Terms</a>
                                    </p>
                                    <div class="modal-instance block">
                                        <p class="lead">
                                            <a class="modal-trigger nodecoration" href="javascript:void(0)" data-modal-index="10">
                                                <span class="btn__text">
                                                    Bank account
                                                </span>
                                            </a>
                                        </p>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <section class="imageblock feature-large bg--white border--round ">
                                                    <div class="imageblock__content col-md-5 col-sm-3 pos-left">
                                                        <div class="background-image-holder">
                                                            <img alt="image" :src="baseUrl + '/general/images/subcover.jpg'" />
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-5 col-md-push-6 col-sm-7 col-sm-push-4">
                                                                <h1>Requisites</h1>
                                                                <p class="lead">
                                                                    Учреждение "Университет имени Сулеймана Демиреля"<br>
                                                                    БИН 960240000550<br>

                                                                    Банковские реквизиты в тенге:<br>
                                                                    KZ646017131000023955 в АО НАРОДНЫЙ БАНК КАЗАХСТАНА<br>
                                                                    БИК HSBKKZKX<br>
                                                                    КБЕ 18 <br>
                                                                    КНП 859 <br> <br>

                                                                    Назначение платежа: <span style="color:red;"> (Один из вариантов)</span>  <br>
                                                                    A) - Infomatrix 2025, ФИО,  Участие <br>
                                                                    B) - Infomatrix 2025, ФИО, Участие и Проживание <br>
                                                                    C) - Infomatrix 2025, ФИО, Проживание <br>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="row">                        
                        <div class="col-sm-12">
                            <a class="btn btn--primary-3 type--uppercase" href="javascript:void(0)" style="float:right;margin-left:15px;" @click="editdelete">
                                <span class="btn__text">Delete</span>
                            </a>
                            <a class="btn btn--primary-2 type--uppercase" href="javascript:void(0)" style="float:right;" @click="addParentofGuest">
                                <span class="btn__text">Add Parent / Guest</span>
                            </a>
                            
                            <h3>Payments:</h3>
                            <table class="border--round">
                                <thead>
                                    <tr>
                                        <th>Select/Unselect</th>
                                        <th>Supervisor/Student</th>
                                        <th>Project name</th>
                                        <th>Project status</th>
                                        <th>Payment status</th>
                                        <th>Daryn status (Important)</th>
                                        <th>Select payment for</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20% !important; -webkit-appearance: checkbox !important;" v-model="forpayment" :value="supervisor.payment_unique" name="" v-if="supervisor.payment_status == 0" :disabled="supervisor.payment_option == ' '? true : false" /> 
                                        </td>
                                        <td>{{supervisor.name + ' ' + supervisor.surname}} (Supervisor)</td>
                                        <td></td>
                                        <td>Passed</td>
                                        <td><span class="label" :style="supervisor.payment_status == 0 ? 'position: initial;': 'position: initial;background:green;'">{{supervisor.payment_status == 0 ? 'Not paid': 'Paid'}}</span> </td>
                                        <td></td>
                                        <td>
                                            <div class="input-select" v-if="supervisor.payment_status == 0">
                                                <select v-model="supervisor.payment_option">
                                                    <option selected="" value="Participation fee and accompdation">Participation fee and accompdation</option>
                                                    <option value="Participation fee">Participation fee</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr v-for="payment in guests">
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20% !important; -webkit-appearance: checkbox !important;" v-model="forpayment" :value="payment.payment_unique" name="" v-if="payment.payment_status == 0" :disabled="payment.payment_option == ' '? true : false" />
                                        </td>
                                        <td>{{payment.name + ' ' + payment.surname}} (Guest)
                                             <a v-if="editdeletetrue && payment.payment_status != 1" href="javascript:void(0)" @click="deleteGuest(payment.guest_id)">delete</a>
                                        </td>
                                        <td></td>
                                        <td>As a guest</td>
                                        <td><span class="label" :style="payment.payment_status == 0 ? 'position: initial;': 'position: initial;background:green;'">{{payment.payment_status == 0 ? 'Not paid': 'Paid'}}</span> </td>
                                        <td></td>
                                        <td>
                                            <div class="input-select" v-if="payment.payment_status == 0">
                                                <select v-model="payment.payment_option">
                                                    <option selected="" value="Participation fee and accompdation">Participation fee and accompdation</option>
                                                    <option value="Participation fee">Participation fee</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr v-for="payment in students">
                                        <td class="text-center">
                                            <input type="checkbox" style="width:20% !important; -webkit-appearance: checkbox !important;" v-model="forpayment" :value="payment.payment_unique" name="" v-if="payment.payment_status == 0" :disabled="payment.payment_option == ' '? true : false" />
                                        </td>
                                        <td>{{payment.name + ' ' + payment.surname}}</td>
                                        <td>{{payment.title}}</td>
                                        <td>Passed</td>
                                        <td><span class="label" :style="payment.payment_status == 0 ? 'position: initial;': 'position: initial;background:green;'">{{payment.payment_status == 0 ? 'Not paid': 'Paid'}}</span> </td>
                                        <td>
                                            <span class="label" v-if="payment.daryn == 2" style="background:green;position: initial;">Approved</span>
                                            <span class="label" v-if="payment.daryn == 0" style="position: initial;">Pending</span>
                                            <span class="label" v-if="payment.daryn == 1" style="position: initial;">Not Approved</span> 
                                        </td>
                                        <td>
                                            <div class="input-select" v-if="payment.payment_status == 0">
                                                <select v-model="payment.payment_option" :disabled="payment.daryn == 2 ? false : true">
                                                    <option selected="" value="Participation fee and accompdation">Participation fee and accompdation</option>
                                                    <option value="Participation fee">Participation fee</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt--2">
                        <div class="col-sm-12">
                            <h3>Pending:</h3>
                            <a class="btn btn--primary-1 type--uppercase" href="javascript:void(0)" style="float:right;margin-left:15px;" @click="clearlist">
                                <span class="btn__text">Clear list</span>
                            </a>
                        </div>
                        <div class="col-sm-12">
                            <div class="boxed boxed--border cart-total" style="margin-top: 20px;">
                                <table class="border--round" id="forpaymenttable">
                                    <thead>
                                        <tr>
                                            <th>Supervisor/Student</th>
                                            <th>Payment invoce</th>
                                            <th>Project name</th>
                                            <th>Payment option</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="pay in forpayment">
                                            <td class="payer">{{getname(pay)}}</td>
                                            <td class="invoice">{{pay}}</td>
                                            <td class="invoice">{{getProject(pay)}}</td>
                                            <td class="option">{{getoption(pay)}}</td>
                                            <td class="amount">{{getamout(pay)}} ₸</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr />
                                <div>
                                    <div class="col-xs-6">
                                        <span class="h2">Total:</span>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <span class="h2 nomargin"><span id="totalamount">{{calctotal()}} </span>₸</span>
                                        <span id="useremail" style="visibility: hidden;">{{user.email}} </span>
                                        <span id="invoice" style="visibility: hidden;">{{makeid()}} </span>
                                        <span id="userisssd" style="visibility: hidden;">{{ user.id }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-md-offset-10 col-sm-3 col-sm-offset-9 text-right text-center-xs">
                            <a id="paybill" class="btn btn--primary type--uppercase" href="javascript:void(0)">
                                <span class="btn__text">Checkout</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>    
</template>

<script>
    import LoadingCheckbox from 'vue-loading-checkbox'
    import 'vue-loading-checkbox/dist/LoadingCheckbox.css'

    import Header from './../menu/Header.vue'
    import Footer from './../menu/Footer.vue'
    import Projects from './../../components/dashboard/Projects.vue'

    import AddGuest from './../../components/payment/addGuest.vue'

    import ToCheckout from './../../components/payment/ToPayment.vue'
    export default {
        components:{
            'this-header' : Header,
            'this-footer' : Footer,
            'loading-checkbox': LoadingCheckbox 
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                user:{},
                payments : [],
                stuerror : "",
                stusuccess : "",

                supervisor: {},
                students: [],
                guests: [],

                forpayment: [],

                checked: false,
                loading: false,
                notes : 0,

                total: 0,
                editdeletetrue: false
            }
        },
        watch: {
            
        },
        methods:{
            setup : function(){
                this.$http.get('get-payment-projects')
                    .then(response => {
                        this.$data.user =  response.body.user
                        this.$data.notes = response.body.status,
                        this.$data.students = response.body.students
                        this.$data.supervisor = response.body.supervisor
                        this.$data.guests = response.body.guests
                    }, error =>{
                        console.log(error.body)
                    });
            },
            refreshguest(){
                this.$http.get('get-payment-guests')
                    .then(response => {
                        this.$data.guests = response.body.guests
                    }, error =>{
                        console.log(error.body)
                    });
            },
            checkifcontains: function (params) {
                this.forpayment.forEach(el => {
                    if(params == el){
                        return true;
                    }
                });

                return false;
            },
            editdelete: function(){
                if(this.editdeletetrue){
                    this.editdeletetrue = false
                }else{
                    this.editdeletetrue = true
                }
            },
            toggleStatus() {
                this.loading = true
                setTimeout(() => {
                    this.loading = false
                    this.checked = !this.checked
                }, 100)
            },
            getname(invoce){
               var tpof = invoce.substring(0,4);
               switch (tpof) {
                    case 'pmsp':
                       return this.supervisor.name + ' ' + this.supervisor.surname + ' (Supervisor)';
                       break;
                    case 'pmst':
                        var name;
                        this.students.forEach(el => {
                            if(el.payment_unique == invoce){
                                name =  el.name + ' ' + el.surname + ' (Student)';
                            }
                        });
                        return name;
                        break;
                    case 'pmgs':
                        var name;
                        this.guests.forEach(el => {
                            if(el.payment_unique == invoce){
                                name =  el.name + ' ' + el.surname + ' (Guest)';
                            }
                        });
                        return name;
                        break;
               }
            },
            getoption(invoce){
               var tpof = invoce.substring(0,4);
               switch (tpof) {
                    case 'pmsp':
                       return this.supervisor.payment_option;
                       break;
                    case 'pmst':
                        var name;
                        this.students.forEach(el => {
                            if(el.payment_unique == invoce){
                                name =  el.payment_option;
                            }
                        });
                        return name;
                        break;
                    case 'pmgs':
                        var name;
                        this.guests.forEach(el => {
                            if(el.payment_unique == invoce){
                                name =  el.payment_option;
                            }
                        });
                        return name;
                        break;
               }
            },
            getamout(invoce){
               var tpof = invoce.substring(0,4);
               switch (tpof) {
                    case 'pmsp':
                       var amount  = this.supervisor.payment_option == 'Participation fee' ? 10000 : 34600;
                       var calc = this.total + amount
                       return amount
                       break;
                    case 'pmst':
                        var amount;
                        this.students.forEach(el => {
                            if(el.payment_unique == invoce){
                                amount =  el.payment_option == 'Participation fee' ? 39400 : 64000;
                            }
                        });
                        return amount;
                        break;
                    case 'pmgs':
                        var amount;
                        this.guests.forEach(el => {
                            if(el.payment_unique == invoce){
                                amount =  el.payment_option == 'Participation fee' ? 10000 : 34600;
                            }
                        });
                        return amount;
                        break;
               }
            },
            getProject(invoce){
               var tpof = invoce.substring(0,4);
               switch (tpof) {
                    case 'pmsp':
                       return 'as a Supervisor'
                       break;
                    case 'pmst':
                        var project = '';
                        this.students.forEach(el => {
                            if(el.payment_unique == invoce){
                                project = el.title + 'id: [' + el.projectid + ']'
                            }
                        });
                        return project;
                        break;
                    case 'pmgs':
                       return 'as a Guest'
                       break;
               }
            },
            calctotal(){
                var total = 0;
                this.forpayment.forEach(invoce => {
                    var tpof = invoce.substring(0,4);
                    switch (tpof) {
                        case 'pmsp':
                            total += this.supervisor.payment_option == 'Participation fee' ? 10000 : 34600;
                            break;
                        case 'pmst':
                            this.students.forEach(el => {
                                if(el.payment_unique == invoce){
                                    total += el.payment_option == 'Participation fee' ? 39400 : 64000;
                                }
                            });
                            break;
                        case 'pmgs':
                            this.guests.forEach(el => {
                                if(el.payment_unique == invoce){
                                    total += el.payment_option == 'Participation fee' ? 10000 : 34600;
                                }
                            });
                            break;
                    }
                });

                return total;
            },
            addParentofGuest: function(){
                this.$modal.show(AddGuest, {
                    country: this.user.country
                }, 
                {
                    height: 'auto',
                    pivotY : 0.2,
                    clickToClose : true,
                    scrollable : true,
                    width: 1000
                }, {
                    'before-close': (event) => { 
                        this.setup()
                        this.forpayment = []
                    }
                })
            },
            makeid : function () {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 10; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            },
            deleteGuest: function(id){

                this.$http.post('get-payment-guests', {id: id})
                    .then(response => {
                        this.$data.guests = response.body.guests
                        console.log(response.body);
                        
                    }, error =>{
                        console.log(error.body)
                    });
            },
            generate: function(){
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 10; i++)
                    text += possible.charAt(Math.floor(Math.random() * possible.length));

                return text;
            },
            clearlist: function(){
                this.forpayment = []
            }
        },
        created() {
            this.setup()
            $( document ).ready(function() {

                $('#paybill').click(function () {
                    var widget = new cp.CloudPayments();

                    // options 
                    var email = $("#useremail").text();
                    var invoceid = $("#invoice").text();

                    var table = [];
                    var tbl = document.getElementById("forpaymenttable");

                    if (tbl != null) {
                        for (var i = 0; i < tbl.rows.length; i++) {
                            table.push({
                                'supervisorstudent': tbl.rows[i].cells[0].innerHTML,
                                'invoce': tbl.rows[i].cells[1].innerHTML,
                                'project': tbl.rows[i].cells[2].innerHTML,
                                'option': tbl.rows[i].cells[3].innerHTML,
                                'amount': tbl.rows[i].cells[4].innerHTML,
                            });
                        }

                    }

                    table.shift()
                    var options = {
                        publicId: 'pk_83145ab7542166bac74134067b6a1',
                        description: 'Оплата в infomatrix.asia',
                        amount: parseInt($("#totalamount").text(), 10), //сумма
                        currency: 'KZT',
                        invoiceId: invoceid, //номер заказа 
                        accountId: email, //плательщик
                        data: table
                    }
                    
                    widget.charge(options,
                        function (options) { // success
                        $.ajax({
                            url: '/user/add-to-payments',
                            type: 'POST',
                            dataType: 'jsonp',
                            data: {
                                details: JSON.stringify(table),
                                email: email,
                                userid: parseInt($("#userisssd").text(), 10),
                                invoce: invoceid,
                                amount: parseInt($("#totalamount").text(), 10),
                                '_token' : Infomatrix.csrfToken
                            },
                            error: function(data) {
                                //console.log(data);
                            },
                            success: function(data) {
                               // console.log(data);
                            },
                        });
                        alert('Payment accepted! We will check the payments and the "payment status" (if everything is OK) automatically turns into "PAID"');
                    },
                        function (reason, options) { // fail
                        alert(reason)
                        //alert('Refresh this page and repeat this action, if it continues, write infomatrix@bil.edu.kz! One of the reasons may be Internet connection!');
                    });
                });
            });
        },
        mounted: function () {
            var instance = this;

            console.log(this);

        }
    }
</script>
<style>

</style>