<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <br>
                                    <img alt="avatar" class="avatar image--sm img-circle" :src="baseUrl + user.image" />
                                    <span class="h5">{{ user.name + ' '+ user.surname}}</span>
                                    <span>{{user.email}}</span>
                                    <span class="label">#{{user.user_id}}</span>
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#" v-on:click="changer(1, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-profile;hidden">Profile</a>
                                        </li>
                                        <li>
                                            <a href="#" v-on:click="changer(7, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-image;hidden">Change Image</a>
                                        </li>
                                        <li>
                                            <a href="#" v-on:click="changer(2, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-address;hidden">Address</a>
                                        </li>
                                        <li>
                                            <a href="#" v-on:click="changer(3, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-telephone;hidden">Telephone</a>
                                        </li>
                                        <!--<li>
                                            <a href="#" v-on:click="changer(4, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-notifications;hidden">Email Notifications</a>
                                        </li>-->
                                        <li>
                                            <a href="#" v-on:click="changer(5, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">Password</a>
                                        </li>
                                        <!--<li>
                                            <a href="#" v-on:click="changer(6, $event)" data-toggle-class=".account-tab:not(.hidden);hidden|#account-delete;hidden">Delete Account</a>
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div v-show="showthis === 1" id="account-profile" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Profile</h4>
                                    <form id="profile" v-on:submit="profilesubmit('profile', $event)">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Name:</label>
                                                <input type="text" name="name" v-model="usertochange.name" required="" maxlength="25" />
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Surname:</label>
                                                <input type="text" name="display-name" v-model="usertochange.surname" maxlength="25"  required="" />
                                            </div>
                                            <div class="col-sm-12">
                                                <label>Email Address:</label>
                                                <input type="email" name="email" v-model="usertochange.email" disabled=""  required=""/>
                                            </div>
                                            <div class="col-sm-12">
                                                <label>Bio:</label>
                                                <textarea rows="4" name="bio" v-model="usertochange.bio" maxlength="255" required="" placeholder="Say something about yourself..."></textarea>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Profile</button>
                                            </div>
                                            <div class="col-md-9 col-sm-8" style="padding-top:7px;">
                                                <span :class="!'/success/'.match(profileanswer) ? 'h6 red': 'h6 green'">{{profileanswer}}</span>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div v-show="showthis === 7" id="account-image" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Change image</h4>
                                    <form id="image" v-on:submit="profilesubmit('image', $event)">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                <label>Image:</label>
                                                <input 
                                                    type="file"
                                                    id="files"
                                                    name="thisisfile" 
                                                    class="validate-required hidden"
                                                    accept=".png, .jpeg, .jpg"
                                                    required=""
                                                    @change="fileChanged" />
                                                <label class="block" for="files">
                                                    <div class="feature feature-7 boxed text-center imagebg" data-overlay="6">
                                                        <div class="background-image-holder">
                                                            <img alt="background" src="https://www.ppihotline.co.uk/wp-content/uploads/2017/02/placeholder-image.jpg" />
                                                        </div>
                                                        <h4 class="pos-vertical-center">{{ !isSelected ? "Upload your image here (click here)" : image.filename}}</h4>
                                                        <h4 class="pos-vertical-center nomargin" style="padding-bottom: 30px;">{{ !isSelected ? "" : "CLICK HERE to choose another file"}}</h4>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button type="submit" class="btn btn--primary type--uppercase" id="saveimage" disabled>Save Image</button>
                                            </div>
                                            <div class="col-md-9 col-sm-8" style="padding-top:7px;">
                                                <span :class="'/successfully/'.match(imageanswer) ? 'h6 green': 'h6 red'">{{imageanswer}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div v-show="showthis === 2" id="account-address" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Address</h4>
                                    <form id="address" v-on:submit="profilesubmit('address', $event)">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <label>Country:</label>
                                                <div class="input-select">
                                                    <select id="country" name="country" v-model="usertochange.country" required=""> 
                                                        <option v-for="country in countries" :value="country.id">
                                                            {{ country.name }}
                                                        </option>  
                                                    </select>
                                                </div>
                                            </div>
                                            <div v-if="user.country === 110" class="col-sm-12 col-md-12">
                                                <label>Region:</label>
                                                <div class="input-select">
                                                    <select id="region" name="region" v-model="usertochange.region" required=""> 
                                                        <option v-for="region in regions" :value="region.id">
                                                            {{ region.en }}
                                                        </option>  
                                                    </select>
                                                </div>
                                            </div>
                                            <div v-else class="col-sm-12 col-md-12">
                                                <label>Region:</label>
                                                <input type="text" name="location" v-model="usertochange.region" placeholder="Enter your region name..."/>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label>City:</label>
                                                <input type="text" name="city" v-model="usertochange.city" placeholder="Enter your city name..." />
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label>Zip code (<a href="https://www.mapdevelopers.com/what-is-my-zip-code.php" target="_blank">Find my Zip code</a>):</label>
                                                <input type="number" name="location" v-model="usertochange.zip" placeholder="Enter your region zipcode..." />
                                            </div>
                                            <div class="col-sm-12 col-md-12">
                                                <label>School:</label>
                                                <input type="text" name="city" v-model="usertochange.school" placeholder="Enter your school name..." />
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Address</button>
                                            </div>
                                            <div class="col-md-9 col-sm-8" style="padding-top:7px;">
                                                <span :class="!'/success/'.match(addressanswer) ? 'h6 red': 'h6 green'">{{addressanswer}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div v-show="showthis === 3" id="account-telephone" class="account-tab">
                                <div class="boxed boxed--lg boxed--border" style="height:400px;">
                                    <h4>Telephone</h4>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <label>Telephone:</label>
                                            <input type="text" @onInput="onInput" name="telephone" v-model="user.phone" placeholder="Enter your telephone number..." />
                                        </div>
                                        <div class="col-md-3 col-sm-4" style="padding-top:20px;" >
                                            <a href="javascript:void(0)" v-on:click="submitPhoneNumber('phone')" class="btn btn--primary type--uppercase"><span class="btn__text">Save Telephone</span></a>
                                        </div>
                                        <div class="col-md-9 col-sm-8" style="padding-top:7px;">
                                            <span :class="!'/success/'.match(phoneanswer) ? 'h6 green': 'h6 red'" style="padding: 20px 0px 0px 30px;">{{phoneanswer}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="showthis === 4" id="account-notifications" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Notifications</h4>
                                    <form id="notificationss" v-on:submit="profilesubmit('notifications', $event)">
                                        <div class="row">
                                            <div class="boxed bg--secondary boxed--border">
                                                <div class="col-xs-4 text-center">
                                                    <div class="input-radio">
                                                        <label>Never</label>
                                                        <div class="inner"></div>
                                                        <input type="radio" name="frequency" v-model="usertochange.email_notification_state" class="validate-required" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <div class="input-radio checked">
                                                        <label>Weekly</label>
                                                        <div class="inner"></div>
                                                        <input type="radio" name="frequency" v-model="usertochange.email_notification_state" class="validate-required" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-4 text-center">
                                                    <div class="input-radio">
                                                        <label>Monthly</label>
                                                        <div class="inner"></div>
                                                        <input type="radio" name="frequency" v-model="usertochange.email_notification_state" class="validate-required" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-5">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Preferences</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div v-show="showthis === 5" id="account-password" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Password</h4>
                                    <p>Passwords must be at least 6 characters in length.</p>
                                    <form id="passwordd" v-on:submit="profilesubmit('password', $event)">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label>Old Password:</label>
                                                <input type="password" v-model="passwords.old_password" name="old-password" required />
                                            </div>
                                            <div class="col-sm-6">
                                                <label>New Password:</label>
                                                <input type="password" v-model="passwords.new_password" name="new-password" required />
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Retype New Password:</label>
                                                <input type="password" v-model="passwords.re_password" name="new-password-confirm" required />
                                            </div>
                                            <div class="col-md-3 col-sm-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                            </div>
                                            <div class="col-md-9 col-sm-8" style="padding-top:7px;">
                                                <span :class="passwordanswer != 'Password successfully changed!' ? 'h6 red': 'h6 green'">{{passwordanswer}}</span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div v-show="showthis === 6" id="account-delete" class="account-tab">
                                <div class="boxed boxed--lg boxed--border">
                                    <h4>Delete Account</h4>
                                    <p>Permanently remove your account using the button below. Warning, this action is permanent.</p>
                                    <form id="deleteit" v-on:submit="profilesubmit('delete', $event)">
                                        <button type="submit" class="btn bg--error type--uppercase">Delete Account</button>
                                        <div class="col-md-12 col-sm-8 text-center" style="padding-top:7px;">
                                            <span class="h4 color--primary-1">{{deleteaccount}}</span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>    
</template>

<script>
    import Header from './../menu/Header.vue'
    import Footer from './../menu/Footer.vue'
    import swal from "sweetalert2"

    export default {
        components: {
            'this-header' : Header,
            'this-footer' : Footer
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
        
                user:{},
                countries:[],
                regions:[],

                showthis : 1,

                usertochange: {},
                
                passwords :{
                    old_password : "",
                    new_password : "",
                    re_password : "",
                },

                profileanswer : "",
                addressanswer : "",
                phoneanswer : "",
                emailanswer : "",
                passwordanswer : "",
                deleteaccount : "",
                imageanswer : "",

                isSelected : false,
                image : {
                    file : "",
                    ext : "" ,
                    filename : ""
                },

                notes : 0,
                UserConfig : {},
                phone: '',
                isValid : false
            }
        },
        methods:{
            onInput({ number, isValid, country }) {
                this.$data.isValid = isValid
            },
            submitPhoneNumber : function(message){
                this.$http.put('supervisor/' + this.$data.user.user_id, {'user' :this.$data.user, 'set': message, "password" : this.$data.passwords, 'image' : this.$data.image })
                    .then(response => {
                        console.log(response.body)
                        this.$data.profileanswer = response.body.profile
                        this.$data.addressanswer = response.body.address
                        this.$data.phoneanswer = response.body.phone
                        this.$data.emailanswer = response.body.email
                        this.$data.passwordanswer = response.body.password
                        this.$data.deleteaccount = response.body.deleteaccount
                        this.$data.imageanswer = response.body.image

                        if(this.$data.imageanswer == 'Image successfully changed!'){
                            location.reload()
                        }
                        if(this.$data.passwordanswer == "Password successfully changed!"){
                            this.$data.passwords.old_password = ""
                            this.$data.passwords.new_password = ""
                            this.$data.passwords.re_password = ""
                        }

                        if(response.body.phone){
                            swal(
                                {
                                    title: 'Phone number changed!',
                                    text: "Successfully updated phone number",
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }

                    }, error =>{
                        swal(
                            {
                                title: 'Not Valid Phone number!',
                                text: "Please, enter valid phone number!",
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                        console.log(error.body)
                    })
            },
            setup : function () {
                this.$http.get('get-setting')
                    .then(response => {
                       this.$data.user = response.body.user
                       this.$data.countries = response.body.countries
                       this.$data.regions = response.body.regions

                       this.$data.usertochange = response.body.user
                       this.$data.notes = response.body.status

                       this.$data.UserConfig = response.body.config

                       if(response.body.config.user_profile_edit == 0){
                            var x = document.getElementsByClassName("profilesetting");
                            var i;
                            for (i = 0; i < x.length; i++) {
                                x[i].style.disabled = true;
                            }
                            this.$data.newconversationerror = "Conversation is disabled by Administrator!"
                        }
                    });
            },
            changer: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()
                this.$data.showthis = message
            },
            fileChanged : function(e){
                var fileTypes = ['png','jpeg','jpg'];
                if (e.target.files && e.target.files[0]) {
                    var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                        isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                    this.$data.isSelected = true
                    this.$data.image.filename = "File name: " + e.target.files[0].name
                    this.$data.image.ext = extension

                    if (isSuccess) { 
                        var fileUploader = new FileReader()
                        fileUploader.readAsDataURL(e.target.files[0])
                        fileUploader.onload = (e) => {
                            this.$data.image.file = e.target.result
                        }

                        document.getElementById("saveimage").disabled = false;    
                    }
                    else { 
                        alert('Select another file!')
                        this.$data.isSelected = false
                        this.$data.image.file = ""
                        this.$data.image.ext = ""
                    }
                }              
            },
            profilesubmit: function (message, event) {
                // now we have access to the native event
                if (event) event.preventDefault()

                this.$http.put('supervisor/' + this.$data.user.user_id, {'user' :this.$data.user, 'set': message, "password" : this.$data.passwords, 'image' : this.$data.image })
                    .then(response => {
                        console.log(response.body)
                        this.$data.profileanswer = response.body.profile
                        this.$data.addressanswer = response.body.address
                        this.$data.phoneanswer = response.body.phone
                        this.$data.emailanswer = response.body.email
                        this.$data.passwordanswer = response.body.password
                        this.$data.deleteaccount = response.body.deleteaccount
                        this.$data.imageanswer = response.body.image

                        if(this.$data.imageanswer == 'Image successfully changed!'){
                            location.reload()
                        }
                        if(this.$data.passwordanswer == "Password successfully changed!"){
                            this.$data.passwords.old_password = ""
                            this.$data.passwords.new_password = ""
                            this.$data.passwords.re_password = ""
                        }
                    }, error =>{
                        console.log(error.body)
                    })
            }
        },
        created() {
            this.setup()
        },
        beforeMount(){
            
        },
        mounted() {
           
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .red{
        color: red !important;
    }
    .green{
        color: green !important;
    }
</style>