<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container">
            <hello-component 
                v-show="step == 0" 
                :userIAM="user"
                :config="config"
                :UserConfig="UserConfig"
                @next="next"></hello-component>

            <team-component 
                v-show="step == 1" 
                :uploaderName="uploader.name"
                @teamSubmission="teamSubmission"></team-component>
            
            <student-component 
                v-show="step == 2" 
                :teamname="uploader.name"
                @next="next"
                @previous="previous"
                @studentSubmission="studentSubmission"></student-component>

            <project-component 
                v-show="step == 3" 
                :teamname="uploader.name"
                :categories="categories"
                :config="config"
                @projectSubmission="projectSubmission"
                @previous="previous"></project-component>

            <section v-show="step == 4">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="cta">
                                <h2>{{project.success}}</h2>
                                <p class="lead">
                                    {{config.complete}}
                                </p>
                                <a class="btn btn--primary bg--facebook type--uppercase" :href="baseUrl + '/user/'">
                                    <span class="btn__text">
                                        Back to Userpanel
                                    </span>
                                </a>
                                <a class="btn btn--primary type--uppercase" :href="baseUrl + '/user/manage'">
                                    <span class="btn__text">
                                        Go to Manager
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-show="everythingok" style="padding-top:60px;">
                        <div class="col-sm-8 col-md-7">
                            <h4>Details:</h4>
                            <h3>{{project.pname}}</h3>
                            <p>
                               {{project.description}}
                            </p>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <div class="text-block">
                                <h5>Team:</h5>
                                <p>
                                    Name : {{ uploader.name }}
                                </p>
                            </div>
                            <div class="text-block">
                                <h5>Students</h5>
                                <ul class="bullets">
                                    <li v-for="(item, index) in students" :key="index">
                                        {{item.fullname}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</template>

<script>
    import Header from './../menu/Header.vue'
    
    import Hello from './../../components/upload/Hello.vue'
    import Team from './../../components/upload/Team.vue'
    import Student from './../../components/upload/Student.vue'
    import Project from './../../components/upload/Project.vue'

    import config from './../../../config/uploader.json'
    import swal from "sweetalert2"

    export default {
        components:{
            'this-header' : Header,

            'hello-component' : Hello,
            'team-component'  : Team,
            'student-component' : Student,
            'project-component' : Project
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                user : {},
                categories: [],
                UserConfig : {},

                step : 0,
                uploader : {
                    name : "",
                },

                students : [],
                project : {},

                config : config,

                report: "",
                everythingok : false,

                notes : 0
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-upload')
                    .then(response => {
                        console.log(response.body.user);
                        console.log(this.$data.user);
                        
                       this.$data.user = response.body.user

                       this.$data.categories = response.body.categories
                       this.$data.notes = response.body.status

                       this.$data.UserConfig = response.body.UserConfig

                       if(response.body.user.is_email_activated == 0){
                            swal({
                                title: 'Warning',
                            text: 'Please, activate your account. To activate you should go to your mail (gmail.com, mail.ru, yahoo.com etc.) Activate the link we send!',
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonText: 'Got it!',
                            cancelButtonText: 'No, keep it'
                            }).then((result) => {
                                if (result.value) {
                                    location.replace(this.baseUrl + '/user');
                                } else if (result.dismiss === Swal.DismissReason.cancel) {
                                    location.replace(this.baseUrl + '/user');
                                }
                            })
                       }
                    });
            },

            next : function() {
                this.$data.step = this.$data.step + 1;

                if (this.$data.step == 4) {
                   this.$http.post('set-team', {
                            'team-name' : this.$data.uploader.name,
                            students : this.$data.students,
                            project : this.$data.project
                        })
                        .then(response => {
                            this.$data.everythingok = true
                            this.$data.report = response.body.report
                        });
                }
            },
            previous : function(){
                this.$data.step = this.$data.step - 1;
            },

            teamSubmission : function(name){
                this.$data.uploader.name = name;
                this.next()
            },
            studentSubmission : function(students){
                this.$data.students = students;
                this.next()
            },
            projectSubmission : function(project){
                this.$data.project = project;
                this.next()
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .main-container{
        padding-top: 4em;
    }
</style>
