<template>
    <div id="app">
        <div class="o-page">
        </div>
    </div>
</template>

<script>
    export default {
        components:{
        },
        data(){
            return {
                baseUrl : Infomatrix.main
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-profile')
                    .then(response => {
                        console.log('asc')
                    })
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .c-alert {
        padding-bottom: 20px;
    }
    .pdt-15{
        padding-top : 15px;
    }
    .center{
        text-align: center !important;
    }
</style>