<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">Finalists</h4>
                                    <br>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-12 text-sm-center form-inline">
                                                <div class="form-group mr-2">
                                                    <select id="demo-foo-filter-status" class="custom-select">
                                                        <option value="">Show all</option>
                                                        <option value="Accepted">Accepted</option>
                                                        <option value="50/50">50/50</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input id="demo-foo-search" type="text" placeholder="Search" class="form-control" autocomplete="on">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table id="demo-foo-filtering" class="table table-striped table-bordered toggle-circle m-b-0" data-page-size="7">
                                        <thead>
                                        <tr>
                                            <th data-toggle="true">Project title</th>
                                            <th>Category</th>
                                            <th>Supervisor</th>
                                            <th>Action</th>
                                            <th data-hide="phone, tablet">Student 1</th>
                                            <th data-hide="phone, tablet">Student 2</th>
                                            <th data-hide="phone, tablet">Student 3</th>
                                            <th data-hide="phone, tablet">State</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                            <tr v-for="project in projects">
                                                <td><a target="_blank" :href="baseUrl + '/admin/project/' + project.short + '/' + project.tid"> {{project.title}}</a></td>
                                                <td>{{project.category}}</td>
                                                <td>{{project.sname + ' ' + project.ssurname}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-warning waves-light waves-effect">Setting</button>
                                                    <button type="button" class="btn btn-primary waves-light waves-effect">Finalist</button>
                                                    <button type="button" class="btn btn-danger waves-light waves-effect">Remove</button>
                                                </td>

                                                <td>{{project.s1_name == null ? '' : project.s1_name }} {{ project.s1_surname == null ?'' : project.s1_surname }} {{ project.s1_lastname == null ?'' : project.s1_lastname}} <a href="#">details</a></td>
                                                <td>{{project.s2_name == null ?' - ' : project.s2_name }} {{ project.s2_surname == null ? '' : project.s2_surname }} {{ project.s2_lastname == null ? '' : project.s2_lastname}} <a v-if="project.s2_name != null" href="#">details</a></td>
                                                <td>{{project.s3_name == null ?' - ' : project.s3_name }} {{ project.s3_surname == null ? '' : project.s3_surname }} {{ project.s3_lastname == null ? '' : project.s3_lastname}} <a v-if="project.s3_name != null" href="#">details</a></td>
                                                
                                                <td>
                                                    <span v-if="project.state == 0" class="badge label-table badge-warning">{{statetostring(project.state)}}</span>
                                                    <span v-if="project.state == 1" class="badge label-table badge-danger">{{statetostring(project.state)}}</span>
                                                    <span v-if="project.state == 2" class="badge label-table badge-info">{{statetostring(project.state)}}</span>
                                                    <span v-if="project.state == 3" class="badge label-table badge-success">{{statetostring(project.state)}}</span>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tfoot>
                                        <tr class="active">
                                            <td colspan="5">
                                                <div class="text-right">
                                                    <ul class="pagination pagination-split justify-content-end footable-pagination m-t-10 m-b-0"></ul>
                                                </div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            Not checked projects by juries: <strong>{{notchecked}}</strong> (<a href="#">Warn them!</a>)
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [],

                projects : [],
                notchecked : 0,

                isError : false,
                isSuccess : false,
                message : "",
            }
        },
        watch:{
            $route (to, from){
                this.$data.projects = []
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('finalists')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.projects = response.body.projects
                        this.$data.notchecked = response.body.notchecked
                    });
            },
            statetostring : function (params) {
                switch (params) {
                    case 1:
                        return 'Rejected';
                        break;
                    case 2:
                        return '50/50';
                        break;
                    case 3:
                        return 'Accepted';
                        break;
                    case 0:
                        return 'Not checked';
                        break;
                }
            }
        },
        created() {
            this.setup()            
        },
        mounted() {
            $(window).on('load', function() {

                // Filtering
                // -----------------------------------------------------------------
                var filtering = $('#demo-foo-filtering');
                filtering.footable().on('footable_filtering', function (e) {
                    var selected = $('#demo-foo-filter-status').find(':selected').val();
                    e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
                    e.clear = !e.filter;
                });
                
                $('#demo-foo-filter-status').change(function (e) {
                    e.preventDefault();
                    filtering.trigger('footable_filter', {filter: $(this).val()});
                });

                // Search input
                $('#demo-foo-search').on('input', function (e) {
                    e.preventDefault();
                    filtering.trigger('footable_filter', {filter: $(this).val()});
                });
            });
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
</style>
