<template>
  <div>
    <dx-data-grid :data-source="JSON.parse(details)" :show-borders="true" :column-auto-width="true">
      <dx-column data-field="supervisorstudent" caption="Supervisor/Student/Guest"/>
      <dx-column data-field="invoce"/>
      <dx-column data-field="project"/>
      <dx-column data-field="option"/>
      <dx-column data-field="amount"/>
      <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
    </dx-data-grid>
  </div>
</template>
<script>
import { DxDataGrid, DxColumn, DxExport } from 'devextreme-vue/data-grid';

export default {
  components: { DxDataGrid, DxColumn, DxExport },
  props: ['details'],
  data() {
    return {
      
    }
  },
  methods: {
    customizeExcelCell(options) {
        if(options.gridCell.rowType === 'data') {
            if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
            options.font.color = '#AAAAAA';
            }
            if(options.gridCell.data.SaleAmount > 15000) {
            if(options.gridCell.column.dataField === 'Employee') {
                options.font.bold = true;
            }
            if(options.gridCell.column.dataField === 'SaleAmount') {
                options.backgroundColor = '#FFBB00';
                options.font.color = '#000000';
            }
            }
        }
    }
  }
};
</script>
<style>

</style>
