<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0 m-b-30">Payments</h4>
                                    
                                    <dx-data-grid id="grid-container" :show-borders="true" :data-source="payments"  key-expr="payment_id">
                                        <dx-column :width="270" data-field="payment_id" caption="Payment ID" />
                                        <dx-column data-field="supervisor" caption="Supervisor"/>
                                        <dx-column data-field="email"/>
                                        <dx-column :width="170" data-field="amount"/>
                                        <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                                        <dx-master-detail :enabled="true" template="masterDetailTemplate" />
                                        <div slot="masterDetailTemplate" slot-scope="employee" >
                                            <detail-template :details="employee.data.payment_details" />
                                        </div>
                                        <dx-column :group-index="0" data-field="supervisor" />
                                        <dx-group-panel :visible="true"/>
                                        <dx-grouping :auto-expand-all="autoExpandAll"/>
                                        <dx-paging :page-size="30"/>
                                        <dx-search-panel :visible="true"/>

                                        <dx-summary>
                                            <dx-total-item column="amount" summary-type="sum"/>
                                        </dx-summary>
                                        <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                    </dx-data-grid>

                                    <br>

                                <h5>Off-line(payments from bank) </h5>
                                <br><br>
                                <dx-data-grid id="grid-container" :show-borders="true" :data-source="offline"  key-expr="i_code">
                                    <dx-column :width="150" data-field="i_code" caption="Payment ID" />
                                    <dx-column data-field="supervisor" caption="Supervisor"/>
                                    <dx-column :width="300" data-field="i_amount" caption="Amount"/>
                                    <dx-column :width="400" data-field="i_comment" caption="Comment"/>
                                    <dx-column :width="100" data-type="date" data-field="created_at" caption="Paid AT"/>

                                    <dx-master-detail :enabled="true" template="masterDetailTemplate2" />
                                        <div slot="masterDetailTemplate2" slot-scope="employee">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <p style="white-space:pre">
                                                        Fullname: {{employee.data.i_fullname}}
                                                        Partisipant as a: {{employee.data.i_role}}
                                                        Project: {{employee.data.i_project}}
                                                    </p>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <p style="white-space:pre">
                                                        Method: {{employee.data.i_method}}
                                                        Amoumt: {{employee.data.i_amount}}
                                                        Receipt: <a target="_blank" :href="employee.data.i_file">download</a>
                                                        Comment: {{employee.data.i_comment}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <dx-column :group-index="0" data-field="supervisor" />
                                        <dx-group-panel :visible="true"/>
                                        <dx-grouping :auto-expand-all="true"/>
                                        <dx-paging :page-size="30"/>
                                        <dx-search-panel :visible="true"/>
                                        <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                        <dx-summary>
                                            <dx-total-item column="i_amount" summary-type="sum"/>
                                            <dx-total-item column="i_code" summary-type="count"/>
                                        </dx-summary>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"
    
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import {DxDataGrid, DxSelection, DxFilterRow,DxGrouping, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel,
    
    DxSummary, DxPaging,
            DxTotalItem } from 'devextreme-vue/data-grid';

    import DetailTemplate from './DetailTemplate.vue';

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,

            DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxGrouping,  DxStateStoring, DxPager, DxColumn, DxExport, DxSearchPanel,
            DxSummary,
            DxTotalItem,
            DxMasterDetail,

            DetailTemplate,
            DxPaging
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],
                activities : [],

                payments : [],
                offline: [],

                isError : false,
                isSuccess : false,
                message : "",

                active: 1,

                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true
            }
        },
        watch:{
            $route (to, from){
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-payments')
                    .then(response => {
                        this.admin = response.body.mod
                        this.payments = response.body.payments
                        this.offline = response.body.offline
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                    if(options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if(options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                    }
                }
            },
            onSelectionChanged({ selectedRowsData }) {
                const data = selectedRowsData[0];
                
                this.$modal.show(ViewDetails, {
                    teamid : data.tid
                }, {
                    height: '100%',
                    width: '100%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            customizeDate(data) {
                return 'Students(Counted):  ' + data.value
            },
            customizeDateProjects(data) {
                return 'Projects(Counted):  ' + data.value 
            },
            customizeDateSupervisors(data){
                return 'Supervisors:  ' + this.supers.length
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    @import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.common.css');
    @import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.light.css');

    #grid-container {
        height: 600px;
    }

    #grid-container .dx-datagrid-content tr.dx-data-row {
        cursor: pointer;
    }
</style>
