<template>
    <div id="app">
        <div class="c-404">
            <div class="c-404__content">
                <h1 class="c-404__title">404</h1>
                <p class="c-404__des">Sorry, but we couldn’t find the page you are looking for!</p>

                <router-link class="c-404__link" tag="a" to="/">
                    <i class="feather icon-arrow-left"></i> Retrun to Homepage
                </router-link>
            </div>

            <span class="c-404__shape1"></span>
            <span class="c-404__shape2"></span>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return { 
                
            }
        },
    }
</script>
<style>
    .c-404 {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .c-404__des{
        font-size:21px;
    }
</style>
