<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="row" style="margin-bottom: 25px;">
                                        <div class="col-md-3">
                                            <label>Project name:</label>
                                            <input class="form-control" v-model="filters.name.value"/>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Filter by Supervisor:</label>
                                            <input class="form-control" v-model="filters.supervisor.value"/>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Filter by Category:</label>
                                            <input class="form-control" v-model="filters.category.value"/>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Filter by Country:</label>
                                            <input class="form-control" v-model="filters.country.value"/>
                                        </div>
                                    </div>
                                    
                                    <v-table :data="projects" :filters="filters" class="table table-striped">
                                        <thead slot="head">
                                            <th>#</th>
                                            <th>Project name</th>
                                            <th>Project state</th>
                                            <th>Project category</th>
                                            <th>Supervisor</th>
                                            <th>Country</th>
                                            <th>First student</th>
                                            <th>Second student</th>
                                            <th>Third student</th>
                                            
                                        </thead>
                                        <tbody slot="body" slot-scope="{displayData}">
                                            <tr v-for="(user,index) in displayData" :key="user.user_id">
                                                <td>{{index + 1}}</td>
                                                <td>{{ user.title }}</td>
                                                <td>
                                                    <span v-if="user.mark == 0" style="font-size:12px;padding: 2px 6px 2px 6px" class="btn btn-secondary btn-rounded waves-light waves-effect">Not Checked</span>
                                                    <span v-if="user.mark == 1" style="font-size:12px;padding: 2px 6px 2px 6px" class="btn btn-danfer btn-rounded waves-light waves-effect">Rejected</span>
                                                    <span v-if="user.mark == 2" style="font-size:12px;padding: 2px 6px 2px 6px" class="btn btn-warn btn-rounded waves-light waves-effect">50/50</span>
                                                    <span v-if="user.mark == 3" style="font-size:12px;padding: 2px 6px 2px 6px" class="btn btn-success btn-rounded waves-light waves-effect">Accepted</span>
                                                </td>
                                                <td>{{user.category}} </td>
                                                <td>{{user.sname + ' ' + user.ssurname}} </td>
                                                <td>{{ user.country }}</td>
                                                
                                                <td> {{user.s1_name}} {{user.s1_surname}} {{user.s1_lastname}} <span v-if="user.country == 'Kazakhstan'" :class="user.s1_daryn != 0 ? 'btn-success': 'btn-danger' + ' btn btn-rounded waves-light waves-effect'" style="font-size:8px;padding: 0 4px 2px 4px">{{user.s1_daryn != 0 ? 'in': 'out'}}</span></td>
                                                <td> {{user.s2_name}} {{user.s2_surname}} {{user.s2_lastname}} <span v-if="user.country == 'Kazakhstan' && user.s2_name != null" :class="user.s2_daryn != 0 ? 'btn-success btn btn-rounded waves-light waves-effect' : 'btn btn-rounded waves-light waves-effect btn-danger'" style="font-size:8px;padding: 0 4px 2px 4px">{{user.s2_daryn != 0 ? 'in': 'out'}}</span></td>
                                                <td> {{user.s3_name}} {{user.s3_surname}} {{user.s3_lastname}} <span v-if="user.country == 'Kazakhstan' && user.s3_name != null" :class="user.s3_daryn != 0 ? 'btn-success' : 'btn-danger' + ' btn btn-rounded waves-light waves-effect'" style="font-size:8px;padding: 0 4px 2px 4px">{{user.s3_daryn != 0 ? 'in': 'out'}}</span></td>
                                            </tr>
                                        </tbody>
                                    </v-table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"
    
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],
                activities : [],

                projects : [],
                stats: {},

                isError : false,
                isSuccess : false,
                message : "",

                filters: {
                    name: { value: '', keys: ['title'] },
                    supervisor: { value: '', keys: ['sname', 'ssurname' ] },
                    country: { value: '', keys: ['country'] },
                    category: { value: '', keys: ['category'] }
                }
            }
        },
        watch:{
            $route (to, from){
            }
        },
        methods:{
            setup : function () {
                this.$http.get('online')
                    .then(response => {
                        this.$data.admin = response.body.admin
                        this.$data.projects = response.body.projects
                    },
                    error => {
                        console.log(error.body)
                    });
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>

</style>
