<template>
  <div class="row">
    <div class="col-md-12 text-center mg-t-30">
      <button type="button" @click="setmedal(1)" class="btn gold waves-light waves-effect" style="background-color:#FFDF00;">Gold</button>
      <button type="button" @click="setmedal(2)" class="btn silver waves-light waves-effect" style="background-color: #D3D3D3;">Silver</button>
      <button type="button" @click="setmedal(3)" class="btn bronse waves-light waves-effect" style="background-color: #cd7f32;">Bronze</button>
      <button v-if="student.medal != 0" @click="setmedal(0)" type="button" class="btn btn-danger waves-light waves-effect">Remove</button>
    </div>
  </div>
</template>

<script>
import swal from "sweetalert2"

export default {
  props: ["student"],
  data() {
    return {
      isdisabled: false,
      message: "",
    };
  },
  methods: {
    setmedal(md){
      this.$http.post("medals", { student: this.student.studentid, medal : md, category: this.student.categoryid}).then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            swal(
              {
                  title: 'Success!',
                  text: response.body.message,
                  type: 'success',
                  confirmButtonClass: 'btn btn-confirm mt-2'
              }
            )
            this.$emit('close')
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },
  }
};
</script>
<style scoped>
  .mg-t-30{
    margin-top: 50px;
    margin-bottom: 50px;
  }
</style>
