<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card m-b-30 card-body">
                                    <h5 class="card-title">Jury Points</h5>

                                    <dx-data-grid id="gridContainer" :data-source="students" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="studentid">
                                        <dx-selection mode="single"/>
                                        <dx-filter-row :visible="true"/>
                                        <dx-group-panel :visible="false"/>
                                        <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                        <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>

                                        <dx-column data-field="student" caption="Full name of the participant"/>
                                        <dx-column data-field="project" caption="Название проекта / Project Title"/>

                                        <dx-column :width="40" data-field="medal" alignment="center" caption="Medal" cell-template="showmedals" />
                                        <medalsof slot="showmedals" slot-scope="details" :details="details.data"/>

                                        <dx-column data-field="category" caption="Category"/>
                                        <dx-column data-field="country" caption="Country"/>

                                        <dx-column data-field="tourone" caption="I Tour"/>
                                        <dx-column data-field="tourtwo" caption="II Tour"/>
                                        
                                        <dx-column :width="100" data-field="avg" caption="Sum of Tours" alignment="center" cell-template="toursums" />
                                        <dx-column :width="100" data-field="avg" caption="Average of Tours" alignment="center" cell-template="touravg" />
                                        
                                        <dx-column data-field="avg" caption="Team Average"/>

                                        <dx-column data-field="firsttourappeal" caption="I - Tour Appael Points" alignment="center" />
                                        <dx-column data-field="secondtourappeal" caption="II - Tour Appael Points" alignment="center" />
                                        
                                        <dx-column :width="100" data-field="sumappeal" caption="Appael (Sum of Tours)" alignment="center"/>
                                        <dx-column :width="100" data-field="avgappeal" caption="Appael (Average of Tours)" alignment="center"/>
                                        
                                        <dx-column :width="100" data-field="avg" caption="Action" alignment="center" cell-template="medals"/>
                                        <medals slot="medals" slot-scope="details" :details="details.data"/>

                                        <get-sum-of-tours slot="toursums" slot-scope="details" :details="details.data"/>
                                        <get-avg-of-tours slot="touravg" slot-scope="details" :details="details.data"/>
                                        <get-sum-of-tours-appeal slot="toursumappeal" slot-scope="details" :details="details.data"/>
                                        <get-avg-of-tours-appeal slot="touravgappeal" slot-scope="details" :details="details.data"/>

                                        <dx-column :group-index="0" data-field="category" />
                                        <dx-summary>
                                            <dx-total-item column="project" summary-type="count"/>
                                        </dx-summary>
                                    </dx-data-grid>

                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'
    import Getsums from './Getsums';
    import Getavgs from './Getavgs';

    import Medals from './SetMedal';
    import ShowMedals from './ShowMedals';

    import GetApealsums from './GetApealsums';
    import GetApealavgs from './GetApealavgs';

    import {DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
            "get-sum-of-tours": Getsums,
            "get-avg-of-tours": Getavgs,

            "get-sum-of-tours-appeal": GetApealsums,
            "get-avg-of-tours-appeal": GetApealavgs,
            
            'medals': Medals,
            'medalsof' : ShowMedals,

            DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxSummary, DxTotalItem
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                activities : [],
                activitiesimportant : [],
                navconversations : [],
                notifications : [],
                students : []

            }
        },
        methods:{
            setup: function() {
                this.$http.get("get-point").then(
                    response => {
                        this.admin = response.body.admin;
                        this.students = response.body.students;
                        console.log(response.body);
                    
                    },
                    error => {
                        console.log(error.body);
                    }
                );
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                        options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                        if(options.gridCell.column.dataField === 'Employee') {
                            options.font.bold = true;
                    }
                        if(options.gridCell.column.dataField === 'SaleAmount') {
                            options.backgroundColor = '#FFBB00';
                            options.font.color = '#000000';
                        }
                    }
                }
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    @import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css");
    @import url("https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css");

    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
</style>
