<template>
    <span>
        <i v-if="details.medal == 1" class="fa fa-star" style="color:#FFDF00;"></i>
        <i v-if="details.medal == 2" class="fa fa-star" style="color: #D3D3D3;"></i>
        <i v-if="details.medal == 3" class="fa fa-star" style="color: #cd7f32;"></i>
        <i v-if="details.medal == 0" class="fa fa-star" style="color: white;"></i>
    </span>
</template>
<script>
export default {
    props: ['details'],
}
</script>
<style scoped>

</style>


