<template>
    <div id="app">
        <div class="o-page__sidebar js-page-sidebar">
            <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <a href="#"><img :src="baseUrl + '/2025/logo.png'" width="80%" style="padding-top: 20px;" alt="Neat"></a>
            </div>

            <div class="c-sidebar__body">
                <span class="c-sidebar__title">Dashboard</span>
                <ul class="c-sidebar__list">
                    <li>
                        <router-link to="/">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-home"></i>Main Dashboard
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/profile">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-user"></i>Profile
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/assistent" v-if="!user.is_assistant">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-users"></i>Assistent
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/judge">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-command"></i> Judgment System
                            </span>
                        </router-link>
                    </li>
                    
                    <li>
                        <router-link to="/appeal">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-command"></i> Appeal
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/results">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-command"></i> Results
                            </span>
                        </router-link>
                    </li>
                    <!--
                    <li class="c-sidebar__item has-submenu">
                        <a class="c-sidebar__link" data-toggle="collapse" href="#sidebar-submenu" aria-expanded="false" aria-controls="sidebar-submenu">
                            <i class="c-sidebar__icon feather icon-flag"></i>Projects
                        </a>

                        <div>
                            <ul class="c-sidebar__list collapse" id="sidebar-submenu">
                                <li>
                                    <a :href="baseUrl + '/jury/show/all'" class="c-sidebar__link">
                                        All Projects
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/jury/show/rejected'" class="c-sidebar__link">
                                        Rejected Projects
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/jury/show/middle'" class="c-sidebar__link">
                                        50/50 Projects
                                    </a>
                                </li>
                                <li>
                                    <a :href="baseUrl + '/jury/show/accepted'" class="c-sidebar__link">
                                        Accepted Projects
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>-->
                </ul>

                <span class="c-sidebar__title">General</span>
                <ul class="c-sidebar__list">
                    <li>
                        <router-link to="/notification">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-mic"></i>Notifications
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/conversations">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-bookmark"></i>All Conversations
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/export" v-if="!user.is_assistant">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-file-text"></i>Export Data
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/faqs">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-info"></i>FAQ
                            </span>
                        </router-link>
                    </li>
                </ul>
            </div>
            
            <router-link to="/logout" class="c-sidebar__footer">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </router-link>
            </aside>
        </div>
    </div>    
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>

</style>
