<template>
    <div id="app">
        <div class="row nopadding" v-if="user_role == 'jury'">
            <div class="col-md-12 col-sm-12">
                <div class="card-box" style="margin-bottom: 0px;">
                    <h4 class="mb-3 mt-2 header-title text-center">Account Setting</h4>
                    <ul class="nav nav-tabs text-center">
                        <li class="nav-item">
                            <a href="javascript:void(0)" data-toggle="tab" aria-expanded="false" v-on:click="changeTab(0)" :class="thetab == 0 ? ' nav-link active' : 'nav-link'">
                                <i class="fi-head mr-2"></i> Personal info
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" data-toggle="tab" aria-expanded="true" v-on:click="changeTab(1)" :class="thetab == 1 ? ' nav-link active' : 'nav-link'">
                                <i class="fi-image mr-2"></i> Image
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" data-toggle="tab" aria-expanded="false" v-on:click="changeTab(2)" :class="thetab == 2 ? ' nav-link active' : 'nav-link'">
                                <i class="fi-lock mr-2"></i> Password
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div :class="thetab == 0 ? 'tab-pane show active' : 'tab-pane'">
                        
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">
                                        <form class="form-horizontal" v-on:submit="SubmitProfile">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Name</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter name" v-model="jury.name" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Surname</label>
                                                <div class="col-10">
                                                    <input type="text" class="form-control" placeholder="Enter surname" v-model="jury.surname" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Bio</label>
                                                <div class="col-10">
                                                    <textarea type="text" class="form-control" placeholder="Bio" rows="5"  v-model="jury.bio"></textarea>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group row mt-3">
                                                <label class="col-2 col-form-label" for="example-email">Email</label>
                                                <div class="col-10">
                                                    <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email"  v-model="jury.email" required disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Phone</label>
                                                <div class="col-10">
                                                    <input type="text" placeholder="+7 (999) 999-9999" id="jury" data-mask="+9 (999) 999-9999" class="form-control" v-model="jury.phone" required>
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <div>
                                                    <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                        Submit
                                                    </button>
                                                    <a @click="$emit('close')" class="btn btn-light waves-effect m-l-5">
                                                        Cancel
                                                    </a>
                                                    <button type="reset" id="clearall" class="btn btn-light waves-effect m-l-5">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                        <div :class="thetab == 1 ? 'tab-pane show active' : 'tab-pane'">
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">
                                        <form class="form-horizontal" v-on:submit="SubmitImage">
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Image</label>
                                                <div class="col-10">
                                                    <input type="file" class="form-control" @change="imageuploader" placeholder="Enter your image" >
                                                </div>
                                            </div>
                                            <div class="form-group mt-3">
                                                <div>
                                                    <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                        Submit
                                                    </button>
                                                    <a @click="$emit('close')" class="btn btn-light waves-effect m-l-5">
                                                        Cancel
                                                    </a>
                                                    <button type="reset" class="btn btn-light waves-effect m-l-5">
                                                        Clear
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div :class="thetab == 2 ? 'tab-pane show active' : 'tab-pane'">
                            <form class="form-horizontal" v-on:submit="SubmitPassword">
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Old password</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" placeholder="Enter old password" v-model="newpassword.old_password" required>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">New password</label>
                                    <div class="col-9">
                                        <input type="password" class="form-control" placeholder="Enter new password" v-model="newpassword.new_password" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">Confirm password</label>
                                    <div class="col-9">
                                        <input placeholder="Confirm password" class="form-control" type="password" v-model="newpassword.confirm_password">
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <div>
                                        <button type="submit" class="btn btn-custom waves-effect waves-light">
                                            Submit
                                        </button>
                                        <a @click="$emit('close')" class="btn btn-light waves-effect m-l-5">
                                            Cancel
                                        </a>
                                        <button type="reset" class="btn btn-light waves-effect m-l-5">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    export default {
        props: ['user_role', 'user_id'],
        data(){
            return {
                baseUrl : Infomatrix.main,

                jury : {},
                image:{
                    isSelected : false,
                    file : "",
                    ext : "" ,
                    filename : ""
                },

                newpassword:{
                    old_password : "",
                    new_password : "",
                    confirm_password : ""
                },

                thetab : 0,
            }
        },
        methods:{
            imageuploader : function(e){
                var fileTypes = ['png','jpeg','jpg'];
                if(e.target.files[0].size > 2097152){
                    alert("File is too big!");
                }else{
                    if (e.target.files && e.target.files[0]) {
                        var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                        this.$data.image.isSelected = true
                        this.$data.image.filename = "File name: " + e.target.files[0].name
                        this.$data.image.ext = extension

                        if (isSuccess) { 
                            var fileUploader = new FileReader()
                            fileUploader.readAsDataURL(e.target.files[0])
                            fileUploader.onload = (e) => {
                                this.$data.image.file = e.target.result
                            }
                        }
                        else { 
                            alert('Select another file!')
                            this.$data.image.isSelected = false
                            this.$data.image.file = ""
                            this.$data.image.filename = ""
                            this.$data.image.ext = ""
                        }
                    }
                }                
            },
            setup : function(){
                switch (this.user_role) {
                    case 'jury':
                        this.$http.get('juries/' + this.user_id)
                            .then(response => {
                                console.log(response.body)
                                this.$data.jury = response.body.jury
                        });  
                        break;
                }
            },
            SubmitProfile : function(e){
                e.preventDefault();

                this.$data.jury.phone = document.getElementById("jury").value

                this.$http.put('juries/' + this.user_id, {'way' : 'profile', 'jury' : this.$data.jury})
                    .then(response => {
                        console.log(response.body)

                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to Administrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            },
            SubmitImage : function(e){
                e.preventDefault();

                this.$http.put('juries/' + this.user_id, {'way' : 'image', 'jury' : this.$data.jury, 'image' : this.$data.image})
                    .then(response => {

                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to Administrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            },
            SubmitPassword : function (e) {
                e.preventDefault();
                this.$http.put('juries/' + this.user_id, {'way' : 'password', 'jury' : this.$data.jury, 'password' : this.$data.newpassword})
                    .then(response => {
                        console.log(response.body)
                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        console.log(error.body)
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to juryistrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            },
            changeTab: function(id){
                this.thetab = id
            }
        },
        created() {
            this.setup();
        },
    }
</script>
<style>
    
</style>
