<template>
        <div id="app">
            
        <div class="main-container">
            <section class="height-100 text-center">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h2>Recover your account</h2>
                            <p class="lead">
                                Enter your email address to send a new password. Otherwise no mail will send from our server.
                            </p>
                            <form method="POST" action="" accept-charset="UTF-8">
                                <div class="col-xs-12">
                                    <input type="email" name="email" placeholder="Email Address" required="">
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Recover my Account</button>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <span class="type--fine-print-create">Don't have account?
                                        <router-link to="/register">Create new</router-link> or <router-link to="/login">Back to Login page.</router-link>
                                    </span>
                                </div>                                
                            </form>
                            <div id="notificationhere"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>    
</template>

<script>
    export default {
        data(){
            return { 

            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style type="text/css">
    .form-error{
        left: 50% !important;
        bottom: auto !important;
    }
</style>
