<template>
    <div id="app">
        <div class="o-page o-page--center">
            <div class="o-page__card">
                <div class="c-card c-card--center">
                    <span class="c-icon c-icon--large u-mb-small">
                        <img :src="baseUrl + '/logo.jpg'">
                    </span>

                    <h4 class="u-mb-medium">Welcome Back Admin :)</h4>
                    <form id="logmein" @submit="login">
                        <div class="c-field">
                            <label class="c-field__label">Email Address</label>
                            <input class="c-input u-mb-small" type="email" placeholder="e.g. adam@sandler.com" v-model="user.email" required>
                        </div>
                        
                        <div class="c-field">
                            <label class="c-field__label">Password</label>
                            <input class="c-input u-mb-small" type="password"  placeholder="Numbers, Pharagraphs Only" v-model="user.password" required>
                        </div>

                        <button class="c-btn c-btn--fullwidth c-btn--info" type="submit">Login</button>
                    </form>
                </div>
                <div class="result">
                    <div class="c-alert c-alert--danger" v-show="message != '' && isError">
                        <span class="c-alert__icon">
                            <i class="feather icon-slash"></i>
                        </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Error!</h4>
                            <p>{{message}}</p>
                        </div>
                    </div>
                    <div class="c-alert c-alert--success" v-show="message != '' && isSuccess">
                        <span class="c-alert__icon">
                            <i class="feather icon-check"></i>
                        </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Success!</h4>
                            <p>{{message}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>    
</template>

<script>
    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main,

                user : {
                    email : "",
                    password : ""
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            login : function(e){
                e.preventDefault();

                this.$http.post('login',this.$data.user)
                    .then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now(), response.body.token_type) 
                            location.reload()
                        }
                        
                    }, response => {
                        // error callback
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });
            }
        }
    }
</script>
<style>
    .c-alert{
        padding: 20px 15px 15px 30px !important;
    }
    .c-alert__title{
        margin-bottom: 0px !important;
    }
</style>
