<template>
<div class="col-md-12">
  <h4 class="u-mb-small">Last Action</h4>
  <div class="c-card">
    <div class="u-block u-mb-xsmall">
      <label class="c-switch u-mr-small">
        <input class="c-switch__input" v-model="config.isparticipant" type="checkbox" checked="">
        <span class="c-switch__label"> Participation</span>
      </label>
    </div>
    <div class="u-block u-mb-xsmall">
      <label class="c-switch u-mr-medium">
        <input class="c-switch__input" v-model="config.isparticipant" type="checkbox">
        <span class="c-switch__label">Food</span>
      </label>
    </div>
    <div class="u-block u-mb-xsmall">
      <label class="c-switch u-mr-medium">
        <input class="c-switch__input" v-model="config.isdormotry" type="checkbox" :disabled="!config.isparticipant">
        <span class="c-switch__label">Dormitory</span>
      </label>
    </div>
    <div class="u-block u-mb-xsmall">
      <label class="c-switch u-mr-medium">
        <input class="c-switch__input" v-model="config.isgift" type="checkbox" :disabled="!config.isparticipant">
        <span class="c-switch__label">Gift</span>
      </label>
    </div>
    <button class="c-btn c-btn--info u-mb-xsmall text-cemter" style="width:200px;" @click="saveit" :disabled="disableit"> Save </button>
  </div>
</div>
</template>

<script>
export default {
  props: ["supervisorid"],
  data() {
    return {
      disableit: false,
      message: "",
      student: {},
      config: {
        isparticipant: false,
        isdormotry: false,
        isgift: false,
        supervisorid: ''
      }
    };
  },
  methods: {
    setup: function() {
      this.$http.get("supervisors/" + this.supervisorid).then(
        response => {
          this.student = response.body.user

          if (response.body.user != null) {
            this.config = {
              isparticipant: response.body.user.is_food,
              isdormotry: response.body.user.is_transport,
              isgift: response.body.user.is_gift,
              supervisorid: response.body.user.user_id
            }
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },
    saveit: function () {
      this.disableit= true

      if (this.student == null) {
        this.$http.post("supervisors", this.config).then(
          response => {
            this.disableit = false
            swal({
              title: "Success!",
              text: response.body.message,
              type: "success",
              confirmButtonClass: "btn btn-confirm mt-2"
            });
            this.$emit('close')
          },
          error => {
            console.log(error.body);
          }
        );
      }else{
        this.$http.put("supervisors/" + this.supervisorid, this.config).then(
          response => {
            this.disableit= false
            swal({
              title: "Success!",
              text: response.body.message,
              type: "success",
              confirmButtonClass: "btn btn-confirm mt-2"
            });
            this.$emit('close')
          },
          error => {
            console.log(error.body);
          }
        );
      }
    }
  },
  created() {
    this.setup();
    this.config.supervisorid = this.supervisorid
  }
};
</script>
<style>
</style>
