<template>
  <form @submit="submitGuest">
    <div class="container u-mb-large u-mt-large">
      <div class="row">
        <div class="col-xl-12">
          <h2> Register Guest</h2>
          <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
        </div>
        <div class="col-xl-6">
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Name <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="name" v-model="guest.name" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Surname <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="surname" v-model="guest.surname" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Email Address<strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="email" v-model="guest.email" type="text" required="">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label" >Passport<strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="passport" v-model="guest.passport" type="text" required="">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Phone Number<strong class="color--primary-1">*</strong></label>
            <vue-tel-input v-model="guest.phone" @onInput="onInput" :preferredCountries="['kz']"></vue-tel-input>
          </div>
          <div class="u-block u-mb-xsmall" v-if="false">
            <label class="c-switch u-mr-medium">
              <input class="c-switch__input" name="supervisor" v-model="guest.mode" type="checkbox" required="">
              <span class="c-switch__label">as Supervisor<strong class="color--primary-1">*</strong></span>
            </label>
          </div>
        </div>

        <div class="col-xl-6">

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Country<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="country" class="c-select__input" v-model="guest.country" required="">
                <option v-for="country in countries" :value="country.id">
                    {{ country.name }}
                </option>
              </select>
            </div>
          </div>

          <div v-if="guest.country === 110" class="c-field u-mb-medium">
            <label class="c-field__label">Region<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="region" v-model="guest.region" class="c-select__input" required="">
                <option v-for="region in regions" :value="region.en">
                    {{ region.en }}
                </option>
              </select>
            </div>
          </div>
          <div v-else class="c-field u-mb-medium">
            <label class="c-field__label" >Region<strong class="color--primary-1">*</strong></label>
            <input name="region" class="c-input" type="text"  v-model="guest.region" required="">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label" >Address<strong class="color--primary-1">*</strong></label>
            <input name="address" class="c-input" type="text"  v-model="guest.address" required="">
          </div>
        </div>

        <div class="col-xl-4">
          <button type="submit" class="c-btn c-btn--info c-btn--fullwidth" :disabled="disableit">Add</button>
        </div>
        <div class="col-xl-4">
          <button @click="$emit('close')" class="c-btn c-btn--danger c-btn--fullwidth c-btn--outline">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>

    export default {
        components: {
        },
        props:[
          'country', 'supervisorid'
        ],
        data(){
            return { 
              disableit: false,
              guest:{
                name: '',
                surname: '',

                passport: '',
                phone: '',
                email:'',
                country: '',
                region: '',
                city: '' ,
                address: '' ,
                mode: false,
                superid: ''         
              },
              countries:[],
              regions:[],
            }
        },
        methods: {
          setup(){
              this.$http.get('get-upload-students')
                  .then(response => {
                      this.$data.countries = response.body.countries
                      this.$data.regions = response.body.regions
                  });
          },
          submitGuest: function(e){
            e.preventDefault();
            console.log(this.guest);
            this.disableit = true
            this.$http.post('guests', this.$data.guest)
              .then(response => {
                if (response.body.success) {
                  this.disableit = false
                  alert(response.body.message)
                  this.$emit('close')
                }else{
                  alert(response.body.message)
                  this.disableit = false
                }
              },
              error =>{
                console.log(error.body)
              });
          },
          onInput({ number, isValid, country }) {
            console.log(number, isValid, country);
          },
        },
        mounted: function () {
        },
        created() {
          this.setup()
          this.guest.country = this.country
          this.guest.superid = this.supervisorid
        }
    }
</script>
<style >

</style>