<template>
  <form @submit="submitGuest">
    <div class="container u-mb-large u-mt-large">
      <div class="row">
        <div class="col-xl-12">
          <h2> Register Student</h2>
          <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
        </div>
        <div class="col-xl-6">
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Name <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="name" v-model="newstudent.enname" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Surname <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="surname" v-model="newstudent.ensurname" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Lastname <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="surname" v-model="newstudent.enlastname" type="text">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Birthdate <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="surname" v-model="newstudent.birthdate" type="date" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Gender<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="country" class="c-select__input"  v-model="newstudent.gender" required="">
                <option value="1">Male </option> 
                <option value="2">Female</option>
              </select>
            </div>
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label" >Passport<strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="passport" v-model="newstudent.passport" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Phone Number<strong class="color--primary-1">*</strong></label>
            <vue-tel-input v-model="newstudent.phone" :preferredCountries="['kz']"></vue-tel-input>
          </div>
        </div>

        <div class="col-xl-6">

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Country<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="country" class="c-select__input" v-model="newstudent.country" required="">
                <option v-for="country in countries" :value="country.id">
                    {{ country.name }}
                </option>
              </select>
            </div>
          </div>

          <div v-if="newstudent.country === 110" class="c-field u-mb-medium">
            <label class="c-field__label">Region<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="region" v-model="newstudent.region" class="c-select__input" required="">
                <option v-for="region in regions" :value="region.en">
                    {{ region.en }}
                </option>
              </select>
            </div>
          </div>
          <div v-else class="c-field u-mb-medium">
            <label class="c-field__label" >Region<strong class="color--primary-1">*</strong></label>
            <input name="region" class="c-input" type="text"  v-model="newstudent.region" required="">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">City <strong class="color--primary-1">*</strong></label>
            <input class="c-input" name="surname" v-model="newstudent.city" type="text" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label" >School<strong class="color--primary-1">*</strong></label>
            <input name="address" class="c-input" type="text" v-model="newstudent.school" required="">
          </div>

          <div class="c-field u-mb-medium">
            <label class="c-field__label">Grade<strong class="color--primary-1">*</strong></label>
            <div class="c-select">
              <select name="region" v-model="newstudent.grade" class="c-select__input" required="">
                <option value="5"> 5 </option> 
                <option value="6"> 6 </option> 
                <option value="7"> 7 </option> 
                <option value="8"> 8 </option> 
                <option value="9"> 9 </option> 
                <option value="10"> 10 </option> 
                <option value="11"> 11 </option> 
                <option value="12"> 12 </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-xl-4">
          <button type="submit" class="c-btn c-btn--info c-btn--fullwidth" :disabled="disableit">Add</button>
        </div>
        <div class="col-xl-4">
          <button @click="$emit('close')" class="c-btn c-btn--danger c-btn--fullwidth c-btn--outline">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</template>

<script>

    export default {
        components: {
        },
        props:[
          'supervisorid', 'teamid', 'countryid'
        ],
        data(){
            return { 
              disableit: false,
              newstudent:{
                  enname : "",
                  ensurname : "",
                  enlastname : "",
                  
                  runame : "",
                  rusurname : "",
                  rulastname : "",

                  birthdate : "",
                  gender : 1,
                  passport : "",
                  phone : "",
                  country : 1,
                  region : "",
                  city : "",
                  zip : "0000000",
                  school : "",
                  grade : 11,
                  teamid: '',
                  supervisor: ''
              },
              
              countries:[],
              regions:[],
            }
        },
        methods: {
          setup(){
              this.$http.get('get-upload-students')
                  .then(response => {
                      this.$data.countries = response.body.countries
                      this.$data.regions = response.body.regions
                  });
          },
          submitGuest: function(e){
            e.preventDefault();
            this.disableit = true

            this.$http.post('addsudenttoteam', this.$data.newstudent)
              .then(response => {
                if (response.body.success) {
                  swal(
                      {
                          title: 'Success!',
                          text: response.body.message,
                          type: 'success',
                          confirmButtonClass: 'btn btn-confirm mt-2'
                      }
                  )
                  this.disableit = false
                  this.$emit('close')
                }else{
                  swal(
                      {
                          title: 'Warning!',
                          text: response.body.message,
                          type: 'error',
                          confirmButtonClass: 'btn btn-confirm mt-2'
                      }
                  )
                  this.disableit = false
                }
              },
              error =>{
                console.log(error.body)
              });
          },
          onInput({ number, isValid, country }) {
            //console.log(number, isValid, country);
          },
        },
        created() {
          this.setup()
          this.newstudent.teamid = this.teamid
          this.newstudent.supervisor = this.supervisorid
          this.newstudent.country = this.countryid
        }
    }
</script>
<style >

</style>