<template>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-5 u-text-center u-ml-auto u-mr-auto">
                    <h2>Dashboard</h2>
                    <br>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-4">
                    <div class="c-state-card c-state-card--info">
                        <h4 class="c-state-card__title">All projects</h4>
                        <span class="c-state-card__number">{{projects.length}} project(s)</span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="c-state-card c-state-card--info">
                        <h4 class="c-state-card__title">Conversations</h4>
                        <span class="c-state-card__number">{{projects.length}} conversation(s)</span>
                    </div>
                </div>
            </div>-->

            <div class="row">
                <div class="col-12">
                    <div class="c-table-responsive@wide">
                        <table class="c-table">
                            <thead class="c-table__head">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Project name</th>
                                    <th class="c-table__cell c-table__cell--head">Category</th>
                                    <th class="c-table__cell c-table__cell--head" v-if="user.is_assistant">My Score</th>
                                    <th class="c-table__cell c-table__cell--head" v-if="!user.is_assistant">Assistants Score</th>
                                    <th class="c-table__cell c-table__cell--head">Project State</th>
                                    <th class="c-table__cell c-table__cell--head">Date</th>
                                    <th class="c-table__cell c-table__cell--head">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="c-table__row" v-for="project in projects">
                                    <td class="c-table__cell">
                                        <h6>{{project.p_title}}</h6>
                                        <p>{{project.name}} {{project.surname}}</p>
                                    </td>
                                    <td class="c-table__cell">{{project.category}}</td>
                                    <th class="c-table__cell" v-if="user.is_assistant">
                                        <div v-for="mark in marks">
                                            <span class="c-badge c-badge--small c-badge--danger" v-if="project.teamid == mark.team_id && mark.mark == 1 && mark.assistant == user.id">Rejected</span>
                                            <span class="c-badge c-badge--small c-badge--fancy" v-else-if="project.teamid == mark.team_id && mark.mark == 2 && mark.assistant == user.id">50/50</span>
                                            <span class="c-badge c-badge--small c-badge--success" v-else-if="project.teamid == mark.team_id && mark.mark == 3 && mark.assistant == user.id">Accepted</span>
                                            <span class="c-badge c-badge--small c-badge--info" v-else>Not Checked</span>
                                        </div>
                                    </th>
                                    <th class="c-table__cell" v-if="!user.is_assistant">
                                        <div v-for="mark in marks">
                                            <span class="c-badge c-badge--small c-badge--danger" v-if="project.teamid == mark.team_id && mark.mark == 1">Rejected</span>
                                            <span class="c-badge c-badge--small c-badge--fancy" v-else-if="project.teamid == mark.team_id && mark.mark == 2">50/50</span>
                                            <span class="c-badge c-badge--small c-badge--success" v-else-if="project.teamid == mark.team_id && mark.mark == 3">Accepted</span>
                                            <span class="c-badge c-badge--small c-badge--info" v-else>Not Checked</span>
                                        </div>
                                    </th>
                                    <td class="c-table__cell">
                                        <span class="c-badge c-badge--small c-badge--info" v-show="project.t_project_mark == 0">Not Checked</span>
                                        <span class="c-badge c-badge--small c-badge--danger" v-show="project.t_project_mark == 1">Rejected</span>
                                        <span class="c-badge c-badge--small c-badge--fancy" v-show="project.t_project_mark == 2">50/50</span>
                                        <span class="c-badge c-badge--small c-badge--success" v-show="project.t_project_mark == 3">Accepted</span>
                                    </td>
                                    <td class="c-table__cell">{{project.created_at.split(" ")[0] }}</td>
                                    <td class="c-table__cell">
                                        <router-link :to="'/mark/' + project.t_team_id" class="c-btn">Mark</router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    
    export default {
        props: ['user','projects','category', 'marks'],
        data(){
            return {
                baseUrl : Infomatrix.main
            }
        },
        methods:{
            setup : function () {

            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .nomargin{
        margin : 0px !imprtant;
    }
    .nopadding{
        padding: 0px !imprtant;
    }
</style>
