<template>
<nav class="c-tabs" style="margin-bottom: 0px;"> 
  <div class="c-tabs__content tab-content" id="nav-tabContent">
    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <div class="col-xl-12">
          <h3>Edit Student</h3>
        </div>
        <div class="col-xl-6">
          <h5>Text in Latin(English)</h5>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Name</label>
            <input class="c-input" type="text" v-model="editedstudent.name">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Surname</label>
            <input class="c-input" type="text" v-model="editedstudent.surname">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Lastname</label>
            <input class="c-input" type="text" v-model="editedstudent.lastname">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Passport</label>
            <input class="c-input" type="text" v-model="editedstudent.passport">
          </div>
        </div>
        
        <div class="col-xl-6" v-if="student.s_country == 110">
          <h5>Text in Cyrillic(Russian/Kazakh)</h5>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Name</label>
            <input class="c-input" type="text" v-model="editedstudent.runame">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Surname</label>
            <input class="c-input" type="text" v-model="editedstudent.rusurname">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Lastname</label>
            <input class="c-input" type="text" v-model="editedstudent.rulastname">
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-7 col-xl-2 u-mr-auto u-mb-xsmall">
          <button class="c-btn c-btn--info c-btn--fullwidth" @click="savestudent" :disabled="disableit">Save Student</button>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import swal from "sweetalert2"

export default {
  props: ["studentid"],
  data() {
    return {
      disableit: false,
      message: "",
      student: {},
      editedstudent: {
        sid: 0,
        name: null,
        surname: null,
        lastname: null,
        passport: null,
        runame: null,
        rusurname: null,
        rulastname: null,
      }
    };
  },
  methods: {
    setup: function() {
      this.$http.get("student/" + this.studentid).then(
        response => {
          this.student = response.body.student

          this.editedstudent.sid = this.studentid
          this.editedstudent.name = response.body.student.s_en_name
          this.editedstudent.surname = response.body.student.s_en_surname
          this.editedstudent.lastname = response.body.student.s_en_lastname
          this.editedstudent.passport = response.body.student.s_passport

          this.editedstudent.runame = response.body.student.s_ru_name
          this.editedstudent.rusurname = response.body.student.s_ru_surname
          this.editedstudent.rulastname = response.body.student.s_ru_lastname
        },
        error => {
          console.log(error.body);
        }
      );
    },
    savestudent(){
      this.disableit = true
      this.$http.put("student/" + this.studentid, this.editedstudent).then(
        response => {
          if(response.body.success){
            swal(
                {
                    title: 'Success!',
                    text: response.body.message,
                    type: 'success',
                    confirmButtonClass: 'btn btn-confirm mt-2'
                }
            )
            this.$emit('close')
          }
        },
        error => {
          console.log(error.body);
        }
      );
    }
  },
  created() {
    this.setup();
  }
};
</script>
<style>
</style>
