<template>
<nav class="c-tabs" style="margin-bottom: 0px;"> 
  <div class="c-tabs__content tab-content" id="nav-tabContent">
    <div class="c-tabs__pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <div class="col-xl-12">
          <h3>Edit Supervisor</h3>
        </div>
        <div class="col-xl-6">
          <h5>Text in Latin(English)</h5>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Name</label>
            <input class="c-input" type="text" v-model="editedsuper.name">
          </div>
          <div class="c-field u-mb-medium">
            <label class="c-field__label">Surname</label>
            <input class="c-input" type="text" v-model="editedsuper.surname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-7 col-xl-2 u-mr-auto u-mb-xsmall">
          <button class="c-btn c-btn--info c-btn--fullwidth" @click="savestudent" :disabled="disableit">Save Supervisor</button>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import swal from "sweetalert2"

export default {
  props: ["supervisorid"],
  data() {
    return {
      disableit: false,
      message: "",
      super: {},
      editedsuper: {
        sid: 0,
        name: null,
        surname: null
      }
    };
  },
  methods: {
    setup: function() {
      this.$http.get("supervisor/" + this.supervisorid).then(
        response => {
          this.super = response.body.super

          this.editedsuper.name = response.body.super.name
          this.editedsuper.surname = response.body.super.surname
        },
        error => {
          console.log(error.body);
        }
      );
    },
    savestudent(){
      this.disableit = true
      this.$http.put("supervisor/" + this.supervisorid, this.editedsuper).then(
        response => {
          if(response.body.success){
            swal(
                {
                    title: 'Success!',
                    text: response.body.message,
                    type: 'success',
                    confirmButtonClass: 'btn btn-confirm mt-2'
                }
            )
            this.$emit('close')
          }
        },
        error => {
          console.log(error.body);
        }
      );
    }
  },
  created() {
    this.setup();
    this.editedsuper.sid = this.supervisorid
  }
};
</script>
<style>
</style>
