<template>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="c-invoice">

            <div class="c-invoice__wrapper">
                <div class="c-invoice__header">
                    <h4 class="c-invoice__title">
                        Project title: {{project.p_title}}<span class="c-invoice__date">{{project.category}}</span>
                    </h4>

                    <div class="c-invoice__brand">
                        <span class="c-icon c-icon--large c-icon--info" style="color:white;font-weight: bold;cursor:pointer;" @click="$emit('close')">
                            X
                        </span>
                    </div>
                </div>

                <div class="c-invoice__body">
                    <div class="c-invoice__table">
                        <h5 style="margin-bottom: 15px;">Supervisor</h5>
                        <button class="c-btn u-mb-xsmall float-right" @click="editstudentsuper(supervisor.user_id)"> Edit supervisor</button>
                        <table class="c-table">
                            <thead class="c-table__head c-table__head--slim">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Full aname</th>
                                    <th class="c-table__cell c-table__cell--head">Email</th>
                                    <th class="c-table__cell c-table__cell--head">Country</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Invoice</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Status</th>
                                    <th class="c-table__cell c-table__cell--head">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="c-table__row">
                                    <td class="c-table__cell">{{supervisor.name}} {{supervisor.surname}}</td>
                                    <td class="c-table__cell">{{supervisor.email}}</td>
                                    <td class="c-table__cell">{{supervisor.countryname}}</td>
                                    <td class="c-table__cell">{{supervisor.payment_unique}}</td>
                                    <td class="c-table__cell" :style="supervisor.payment_status == 0 ? 'color:red;': 'color:green;'">{{supervisor.payment_status == 0 ? 'Not Paid': 'Paid'}}</td>

                                    <td class="c-table__cell"> 
                                        <button class="c-btn c-btn--info u-mb-xsmall text-cemter" @click="opensubmittersupervisor(supervisor.user_id)">Open</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="c-invoice__terms">
                            Check payment Invoice in the table PAYMENTS!
                        </div>
                    </div>
                </div>

                <div class="c-invoice__body">
                    <div class="c-invoice__table">
                        <button class="c-btn c-btn--primary u-mb-xsmall float-right" style="margin-left:10px;" @click="addstudent(supervisor.user_id, teamid, supervisor.country)" v-if="students.length < 3 && supervisor.country != 110"> Add Student</button>
                        <button class="c-btn u-mb-xsmall float-right" @click="editstudents = !editstudents"> {{editstudents ? 'Close Editing ': 'Edit' }} Students</button>
                        <h5 style="margin-bottom: 15px;">Students</h5>
                        <table class="c-table">
                            <thead class="c-table__head c-table__head--slim">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Full aname</th>
                                    <th class="c-table__cell c-table__cell--head">Passport</th>
                                    <th class="c-table__cell c-table__cell--head">Phone</th>
                                    <th class="c-table__cell c-table__cell--head">Gender</th>
                                    <th class="c-table__cell c-table__cell--head">Country</th>
                                    <th class="c-table__cell c-table__cell--head">Daryn</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Invoice</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Status</th>
                                    <th class="c-table__cell c-table__cell--head">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="c-table__row" v-for="student in students">
                                    <td class="c-table__cell" style="white-space:pre-line;">{{student.s_en_name}} {{student.s_en_surname}} {{student.s_en_lastname}} <a v-if="editstudents" href="javascript:void(0)" @click="editstudent(student.s_student_id)">Edit</a></td>
                                    <td class="c-table__cell">{{student.s_passport}}</td>
                                    <td class="c-table__cell">{{student.s_phone}}</td>
                                    <th class="c-table__cell">{{student.s_gender == 1 ? 'Male': 'Female'}}</th>
                                    <td class="c-table__cell">{{student.name}}</td>

                                    <td class="c-table__cell" v-if="student.s_country == 110">{{student.s_daryn}}</td>
                                    <td class="c-table__cell" v-else> </td>
                                    <td class="c-table__cell">{{student.payment_unique}}</td>
                                    <td class="c-table__cell" :style="student.payment_status == 0 ? 'color:red;': 'color:green;'">{{student.payment_status == 0 ? 'Not Paid': 'Paid'}}</td>

                                    <td class="c-table__cell">
                                        <button class="c-btn c-btn--info u-mb-xsmall text-cemter" @click="opensubmitter(student.s_student_id)">Open</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="c-invoice__terms">
                            Check payment Invoice in the table PAYMENTS!
                        </div>
                    </div>
                </div>
                
                <div class="c-invoice__body">
                    <div class="c-invoice__table">
                        <button class="c-btn c-btn--primary u-mb-xsmall float-right" @click="addNewGuest(supervisor.user_id)"> Add Guest</button>
                        <h5 style="margin-bottom: 15px;">Guests</h5>
                        <table class="c-table">
                            <thead class="c-table__head c-table__head--slim">
                                <tr class="c-table__row">
                                    <th class="c-table__cell c-table__cell--head">Full aname</th>
                                    <th class="c-table__cell c-table__cell--head">Passport</th>
                                    <th class="c-table__cell c-table__cell--head">Phone</th>
                                    <th class="c-table__cell c-table__cell--head">Country</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Invoice</th>
                                    <th class="c-table__cell c-table__cell--head">Payment Status</th>
                                    <th class="c-table__cell c-table__cell--head">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="c-table__row" v-for="guest in guests">
                                    <td class="c-table__cell" style="white-space:pre-line;">{{guest.nname}} {{guest.surname}} </td>
                                    <td class="c-table__cell">{{guest.passport}}</td>
                                    <td class="c-table__cell">{{guest.phone}}</td>
                                    <td class="c-table__cell">{{guest.countryname}}</td>
                                    <td class="c-table__cell">{{guest.payment_unique}}</td>
                                    <td class="c-table__cell" :style="guest.payment_status == 0 ? 'color:red;': 'color:green;'">{{guest.payment_status == 0 ? 'Not Paid': 'Paid'}}</td>

                                    <td class="c-table__cell">
                                        <button class="c-btn c-btn--info u-mb-xsmall text-cemter" @click="opensubmitterguest(guest.guesting)">Open</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="c-invoice__terms">
                            Check payment Invoice in the table PAYMENTS!
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <h5 class="text-center">Payment Details &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="c-btn c-btn--primary u-mb-xsmall" style="margin-top:5px;" @click="uploadinvoice(supervisor.user_id)"> Upload invoice</button>
                    </h5>
                    
                </div>
                <div class="c-invoice__note">

                    <div class="row">
                        <div class="col-md-12">
                        <dx-data-grid id="grid-container" :show-borders="true" :data-source="payments"  key-expr="payment_id">
                            <dx-column :width="270" data-field="payment_id" caption="Payment ID" />
                            <dx-column data-field="supervisor" caption="Supervisor"/>
                            <dx-column data-field="email"/>
                            <dx-column :width="170" data-field="amount"/>
                            <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                            <dx-master-detail :enabled="true" template="masterDetailTemplate" />
                            <div slot="masterDetailTemplate" slot-scope="employee" >
                                <detail-template :details="employee.data.payment_details" />
                            </div>
                            <dx-column :group-index="0" data-field="supervisor" />
                            <dx-group-panel :visible="true"/>
                            <dx-grouping :auto-expand-all="autoExpandAll"/>
                            <dx-paging :page-size="30"/>
                            <dx-search-panel :visible="true"/>

                            <dx-summary>
                                <dx-total-item column="amount" summary-type="sum"/>
                            </dx-summary>
                        </dx-data-grid>
                    </div>
                    <br><br><br>
                    <div class="col-md-12">
                        <span class="h5">Off-line(payments from bank) </span>
                        <dx-data-grid id="grid-container" :show-borders="true" :data-source="offline"  key-expr="i_code">
                            <dx-column :width="150" data-field="i_code" caption="Payment ID" />
                            <dx-column data-field="supervisor" caption="Supervisor"/>
                            <dx-column :width="100" data-field="i_amount" caption="Amount"/>
                            <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                            <dx-master-detail :enabled="true" template="masterDetailTemplate2" />
                            <div slot="masterDetailTemplate2" slot-scope="employee">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <p style="white-space:pre">
                                            Fullname: {{employee.data.i_fullname}}
                                            Partisipant as a: {{employee.data.i_role}}
                                            Project: {{employee.data.i_project}}
                                        </p>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <p style="white-space:pre">
                                            Method: {{employee.data.i_method}}
                                            Amoumt: {{employee.data.i_amount}}
                                            Receipt: <a target="_blank" :href="employee.data.i_file">download</a>
                                            Comment: {{employee.data.i_comment}}
                                        </p>
                                    </div>
                                    <a href="javascript:void(0)" @click="deleteinvoice(employee.data.i_code)">Delete</a>
                                </div>
                            </div>
                            <dx-column :group-index="0" data-field="supervisor" />
                            <dx-group-panel :visible="true"/>
                            <dx-grouping :auto-expand-all="true"/>
                            <dx-paging :page-size="30"/>
                            <dx-search-panel :visible="true"/>

                            <dx-summary>
                                <dx-total-item column="amount" summary-type="sum"/>
                            </dx-summary>
                        </dx-data-grid>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="c-invoice__footer">
                <span>Infomatrix 2025</span>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { DxDataGrid, DxColumn, DxGrouping, DxGroupPanel, DxSearchPanel, DxPaging, DxSummary, DxTotalItem, DxMasterDetail } from 'devextreme-vue/data-grid';
    import DetailTemplate from './../../view/dashboard/DetailTemplate.vue';

    import EditStudent from './EditStudent';
    import EditSupervisor from './EditSupervisor';

    import Actionmaker from './Actionmaker';
    import ActionmakerSupervisor from './ActionmakerSupervisor.vue'
    import UploadKvet from './UploadKvetancia.vue'
    import addGuestVue from './addGuest.vue';
    import ActionmakerGuestVue from './ActionmakerGuest.vue';

    import addingStudent from './addingStudent.vue';
    
    export default {
        props: ['teamid'],
        components:{
            DxDataGrid,
            DxColumn,
            DxGroupPanel,
            DxGrouping,
            DxPaging,
            DxSearchPanel,
            DxDataGrid,
            DxSummary,
            DxTotalItem,
            DxMasterDetail,
            
            DetailTemplate
        },
        data(){
            return {
               project: {},
               supervisor: {},
               team: {},

               students: [],
               payments: [],
               offline: [],
               guests: [],

                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true,

                editstudents: false
            }
        },
        methods:{
            setup : function () {
                this.$http.get('getdetails/' + this.teamid)
                .then(response => {
                    this.project = response.body.project
                    this.supervisor = response.body.supervisor
                    this.team = response.body.team

                    this.students = response.body.students
                    this.payments = response.body.payments
                    this.guests = response.body.guests
                }, error => {
                    console.log(error.body);
                    
                })
            },
            editstudentsuper(id) {
                this.$modal.show(EditSupervisor, {
                    supervisorid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            editstudent(id){
                this.$modal.show(EditStudent, {
                    studentid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            opensubmitter: function(id){
                this.$modal.show(Actionmaker, {
                    studentid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            opensubmittersupervisor: function(id){
                this.$modal.show(ActionmakerSupervisor, {
                    supervisorid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            opensubmitterguest: function(id){
                this.$modal.show(ActionmakerGuestVue, {
                    guestid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            uploadinvoice: function(id){
                this.$modal.show(UploadKvet, {
                    supervisorid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            addstudent: function (supervisor, teamid, country) {
                this.$modal.show(addingStudent, {
                    supervisorid : supervisor,
                    teamid: teamid,
                    countryid : country
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            deletethis: function(id){
                swal(
                    {
                        title: 'Warning!',
                        text: 'Do you realy want to delete?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true,
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    }
                ).then((result) => {
                    console.log(result);
                    
                    if (result != null) {
                        this.$http.delete('invoice/' + id)
                            .then(
                                response => {
                                    console.log(response.body)
                                    if(response.body.error){
                                        swal(
                                            {
                                                title: 'Warning!',
                                                text: response.body.msg,
                                                type: 'error',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                    }
                                    if(response.body.success){
                                        swal(
                                            {
                                                title: 'Success!',
                                                text: response.body.msg,
                                                type: 'success',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                        this.offline = response.body.offline
                                    }
                                }, error =>{
                                    console.log(error.body);
                                    
                                    swal(
                                        {
                                            title: 'Warning!',
                                            text: error.body,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                        )
                    } else {
                        swal(
                            {
                                title: 'Back!',
                                text: "You action canceled",
                                type: 'success',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }
                })
            },
            getpayments : function() {
                this.$http.get('invoiceget/' + this.teamid)
                    .then(response => {
                        console.log(response.body);
                        
                        this.payments = response.body.payments
                        this.offline = response.body.offline
                    })
            },
            addNewGuest: function (id) {
                this.$modal.show(addGuestVue, {
                    supervisorid : id
                }, {
                    height: 'auto',
                    width: '60%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            deleteinvoice: function(id){
                swal(
                    {
                        title: 'Warning!',
                        text: 'Do you realy want to delete?',
                        type: 'warning',
                        buttons: ["Oh no!", "Aww yes!"],
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    }
                ).then((result) => {
                    if (result) {
                        this.$http.delete('invoice/' + id)
                            .then(
                                response => {
                                    //console.log(response.body)
                                    this.setup()
                                    if(response.body.error){
                                        swal(
                                            {
                                                title: 'Warning!',
                                                text: response.body.msg,
                                                type: 'error',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                    }
                                    if(response.body.success){
                                        swal(
                                            {
                                                title: 'Success!',
                                                text: response.body.msg,
                                                type: 'success',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                    }
                                }, error =>{
                                    console.log(error.body);
                                    
                                    swal(
                                        {
                                            title: 'Warning!',
                                            text: error.body,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                        )
                    } else {
                        swal(
                            {
                                title: 'Back!',
                                text: "You action canceled",
                                type: 'success',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }
                })
            }
        },
        created() {
            this.setup()
            this.getpayments()
        }
    }
</script>
<style scoped>
    .text-cemter{
        text-align: center;
    }
    .float-right{
        float: right;
    }
</style>