<template>
    <div id="app">
    </div>    
</template>

<script>
    export default {
        created() {
             this.$auth.destroyToken()
            location.reload()
        }
    }
</script>
