<template>
        <div id="app">
            <a id="start"></a>
        <div class="nav-container ">
            <nav class="bar bar-toggle bar--transparent bar--absolute bg--dark thisistransparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="bar__module" style="padding-top: 7px;">
                                <a href="" >
                                    <img class="logo logo-dark" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                    <img class="logo logo-light" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>      
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100">
                <div class="imageblock__content col-md-5 col-sm-4 pos-left hidden-xs">
                    <div class="background-image-holder">
                        <img alt="image" v-bind:src="this.baseUrl+'/general/images/register-cover.jpg'" />
                    </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <h2>Create an InfoMatrix account</h2>
                            <p class="lead">Welcome new user &mdash; Infomatrix team. 
                                <a :href="this.baseUrl + '/user/login'">Back to Login page.</a>
                            </p>
                            <form id="userRegister" v-on:submit="register">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="text" name="name" v-model="user.name" placeholder="First name" required="" />
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" name="surname" v-model="user.surname" placeholder="Last name" required="" />
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="input-select">
                                            <select id="country" name="country" v-model="user.country" required=""> 
                                                <option v-for="country in countries" :value="country.id">
                                                    {{ country.name }}
                                                </option>  
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 text-left">
                                          <input type="email" name="email" v-model="user.email" placeholder="Email Address" required="" />
                                    </div>
                                    <div class="col-xs-12">
                                          <input type="password" name="password" v-model="user.password" placeholder="Password" required="" />
                                    </div>
                                    <div class="col-xs-12">
                                          <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                          <label><span class="color--primary-1 nomargin">Note:</span> Enter a valid email to send activation code!</label>
                                    </div>
                                </div>
                            </form>
                            <div id="log">
                                <p class="alert text-center " 
                                     v-bind:class="{ 'form-error' : isError, 'form-success':  isAuth}">{{errorText}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>    
</template>

<script>
    import axios from 'axios';

    export default {
        data(){
            return { 
                page_title : 'Register | INFOMATRIX-ASIA 2025',
                page_image : Infomatrix.main + '/general/images/login-cover.jpg',

                baseUrl: Infomatrix.main,
                apiUrl: Infomatrix.main + '/api/user',
                countries : [],
                categories : [],
                regions : [],

                user : {
                    name : "",
                    surname : "",
                    country : 1,
                    email : "",
                    password : "",
                },

                errorText : "",
                isAuth : false,
                isError : false,
            }
        },
        methods:{
            register(){
                event.preventDefault();
                this.errorText = ""
                this.isAuth = false
                this.isError = false
                
                this.$http.post(this.apiUrl + '/register', this.user)
                    .then(response => {
                        console.log(response)

                        if (response.body.error == null) {
                            this.errorText = "Successfully registerd!"
                            this.isAuth = true

                            this.$auth.setToken( response.body.access_token, response.body.expires_in + Date.now(), response.body.token_type)
                            this.$router.push("/")
                        }else{
                            this.errorText = response.body.error
                            this.isError = true 
                        }
                    })
            },
            getDetails: function () {
                axios.get(this.baseUrl + '/api/details')
                    .then((response)  =>  {
                        this.countries = JSON.parse(JSON.stringify(response.data.countries));
                        this.categories = JSON.parse(JSON.stringify(response.data.categories));
                        this.regions = JSON.parse(JSON.stringify(response.data.regions));
                    }, (error)  =>  {
                        alert('Load error #111');
                    })
            },
        },
        beforeMount(){
            this.getDetails();
        },
        mounted() {

        }
    }
</script>
