<template>
  <nav class="c-tabs" style="margin-bottom:0px;">
    <div class="c-tabs__content tab-content" id="nav-tabContent">
      <div class="c-tabs__pane active show">
        <div class="row">
          <form id="seria" @submit="submitpoints">
            <div class="col-xl-12">
              <div class="c-field u-mb-small" v-for="(criteria, index) in criterias" :key="index">
                <label class="c-field__label">{{criteria.jctitle}} | Max point: {{ criteria.jcmax }}</label>
                <input class="c-input" type="number" :name="criteria.sid" :min="criteria.jcmin" :max="criteria.jcmax" required>
              </div>
              <div class="c-field u-mb-small">
                <label class="c-field__label">Comment:</label>
                <textarea class="c-input" rows="3" name="comment" type="text" required></textarea>
              </div>
              <div class="c-note u-mb-small">
                <span class="c-note__icon">
                  <i class="feather icon-info"></i>
                </span>
                <p>They are official points of the tour. Please import correctly. Points may appaer in Final documentations</p>
              </div>
              <button type="submit" class="c-btn c-btn--info" style="width:100%;" :disabled="isdisabled">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </nav>
</template>

<script>
import swal from "sweetalert2"

export default {
  props: ["studentid", 'projectid', 'criterias'],
  data() {
    return {
      isdisabled: false,
      message: ""
    };
  },
  methods: {
    setup: function() {
      /*this.$http.get("tours").then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            this.tours = response.body.tours;
            this.criterias = response.body.criteria;
          }
        },
        error => {
          console.log(error.body);
        }
      );*/
    },
    submitpoints(w){
      w.preventDefault();
      this.isdisabled = true
      const r = this.formSerialize(document.querySelector('form'));
      console.log(r);
      this.$http.post("points", {datas: r}).then(
        response => {
          console.log(response.body);
          if(response.body.success){
            swal(
                {
                    title: 'Success!',
                    text: response.body.message,
                    type: 'success',
                    confirmButtonClass: 'btn btn-confirm mt-2'
                }
            )
            this.isdisabled = false
            this.$emit('close')
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },

    formSerialize(formElement) {
      const values = {};
      const inputs = formElement.elements;

      for (let i = 0; i < inputs.length; i++) {
        values[inputs[i].name] = inputs[i].value;
      }

      values['student'] = this.studentid
      values['project'] = this.projectid
      delete values[""];

      return values;
    }
  },
  created() {
    this.setup();
  }
};
</script>
<style>
</style>
