<template>
  <nav class="c-tabs" style="margin-bottom:0px;">
    <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
      <a
        class="c-tabs__link active show"
        id="nav-tour-tab"
        data-toggle="tab"
        href="#nav-tour"
        role="tab"
        aria-controls="nav-tour"
        aria-selected="true"
      >
        <span class="c-tabs__link-icon">
          <i class="feather icon-settings"></i>
        </span>Tour
      </a>
      <a
        class="c-tabs__link"
        id="nav-criteria-tab"
        data-toggle="tab"
        href="#nav-criteria"
        role="tab"
        aria-controls="nav-criteria"
        aria-selected="false"
      >
        <span class="c-tabs__link-icon">
          <i class="feather icon-sliders"></i>
        </span>Сriteria
      </a>
      <a
        class="c-tabs__link u-hidden-down@tablet"
        id="nav-config-tab"
        data-toggle="tab"
        href="#nav-config"
        role="tab"
        aria-controls="nav-config"
        aria-selected="false"
        v-show="false"
      >
        <span class="c-tabs__link-icon">
          <i class="feather icon-credit-card"></i>
        </span>Billing Methods
      </a>
    </div>
    <div class="c-tabs__content tab-content" id="nav-tabContent">
      <div
        class="c-tabs__pane active show"
        id="nav-tour"
        role="tabpanel"
        aria-labelledby="nav-tour-tab"
      >
        <div class="row">
          <div class="col-xl-4">
            <div class="c-field u-mb-small">
              <label class="c-field__label">Category</label>
              <input class="c-input" :value="category" type="text" disabled>
            </div>
            <div class="c-field u-mb-small">
              <label class="c-field__label">Tour Title</label>
              <input class="c-input" v-model="tour.name" type="text">
            </div>
            <div class="c-note u-mb-small">
              <span class="c-note__icon">
                <i class="feather icon-info"></i>
              </span>
              <p>It is official title of the tour. Please compose correctly. TITLE may appaer in Final documentations</p>
            </div>
            <div class="c-field u-mb-small">
              <div class="c-choice c-choice--checkbox">
                <input
                  class="c-choice__input"
                  v-model="tour.isfirst"
                  id="checkbox1"
                  type="checkbox"
                >
                <label class="c-choice__label" for="checkbox1">It is first tour</label>
              </div>
            </div>
            <div class="c-field u-mb-small">
              <button
                class="c-btn c-btn--info c-btn--fullwidth"
                @click="storetour"
                :disabled="disabling"
              >Create tour</button>
              <br><br>
              <span v-show="message != ''" style="color:red; font-size:14px;">{{message}}</span>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="row">
              <span class="c-text--subtitle">Tours:</span>
              <div class="col-md-12" v-for="(t, index) in tours" v-show="tours.length != 0">
                <h6>
                  {{ index + 1 }}) {{t.jttitle}}
                  <a
                    href="javascript:void(0)"
                    @click="deletetour(t.id)"
                  >delete</a>
                </h6>
              </div>
              <div class="col-md-12" v-show="tours.length == 0">
                <h4>No tours found!</h4>
              </div>
            </div>
          </div>
        </div>

        <span class="c-divider u-mv-medium"></span>

        <div class="row">
          <div class="col-12 col-sm-7 col-xl-2 u-mr-auto u-mb-xsmall">
            <button @click="$emit('close')" class="c-btn c-btn--info c-btn--fullwidth">Close</button>
          </div>
        </div>
      </div>

      <div
        class="c-tabs__pane"
        id="nav-criteria"
        role="tabpanel"
        aria-labelledby="nav-criteria-tab"
      >
        <div class="row">
          <div class="col-xl-4">
            <div class="c-field u-mb-small">
              <label class="c-field__label">Category</label>
              <input class="c-input" :value="category" type="text" disabled>
            </div>
            <div class="c-field u-mb-small">
              <label class="c-field__label">Select Tour</label>
              <select class="c-select__input" v-model="criteria.tour">
                <option :value="t.id" v-for="t in tours">{{t.jttitle}}</option>
              </select>
            </div>
            <div class="c-field u-mb-small">
              <label class="c-field__label">Criteria Title</label>
              <input class="c-input" v-model="criteria.name" type="text">
            </div>

            <div class="c-note u-mb-small">
              <span class="c-note__icon">
                <i class="feather icon-info"></i>
              </span>
              <p>It is official title of the Criteria. Please compose correctly. TITLE may appaer in Final documentations</p>
            </div>

            <div class="c-field u-mb-small">
              <label class="c-field__label">Criteria MIN POINT</label>
              <input class="c-input" v-model="criteria.min" type="number">
            </div>

            <div class="c-field u-mb-small">
              <label class="c-field__label">Criteria MAX POINT</label>
              <input class="c-input" v-model="criteria.max" type="number">
            </div>

            <div class="c-field u-mb-small">
              <button
                class="c-btn c-btn--info c-btn--fullwidth"
                @click="storecriteria"
                :disabled="disabling2"
              >Create criteria</button>
            </div>
            <span v-show="message != ''" style="color:red; font-size:14px;">{{message}}</span>
          </div>

          <div class="col-xl-8">
            <div class="row">
              <span class="c-text--subtitle">Criterias:</span>
              <br>
              <table class="c-table" v-show="criterias.length != 0">
                <thead class="c-table__head">
                  <tr class="c-table__row">
                    <th class="c-table__cell c-table__cell--head">#</th>
                    <th class="c-table__cell c-table__cell--head">Title</th>
                    <th class="c-table__cell c-table__cell--head">Tour</th>
                    <th class="c-table__cell c-table__cell--head">Min</th>
                    <th class="c-table__cell c-table__cell--head">Max</th>
                    <th class="c-table__cell c-table__cell--head">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="c-table__row" v-for="(t, index) in criterias">
                    <td class="c-table__cell">{{ index + 1 }}</td>
                    <td class="c-table__cell">{{t.jctitle}}</td>
                    <td class="c-table__cell">{{t.jttitle}}</td>
                    <td class="c-table__cell">{{t.jcmin}}</td>
                    <td class="c-table__cell">{{t.jcmax}}</td>
                    <td class="c-table__cell">
                      <a href="javascript:void(0)" @click="deletecriteria(t.sid)"> delete </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-12" v-show="criterias.length == 0">
                <h4>No tours found!</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="c-tabs__pane"
        id="nav-config"
        role="tabpanel"
        aria-labelledby="nav-config-tab"
      >optio, laborum enim ipsum dolorum, voluptatem ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo reicienoptio, laborum enim ipsum dolorum, voluptatem ducimus quam fuga, vero atque, error laboriosam odio provident eveniet nemo reicien</div>
    </div>
  </nav>
</template>

<script>
export default {
  props: ["category", "categoryid"],
  data() {
    return {
      showit: 1,
      disabling: false,
      disabling2: false,
      tour: {
        category: null,
        name: "",
        isfirst: false
      },
      tours: [],

      criterias: [],
      criteria: {
        name: "",
        tour: null,
        min: 0,
        max: 0
      },
      message: ""
    };
  },
  methods: {
    setup: function() {
      this.$http.get("tours").then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            this.tours = response.body.tours;
            this.criterias = response.body.criteria;
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },
    storetour: function() {
      this.disabling = true;
      this.$http.post("tours", this.tour).then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            this.disabling = false;
            this.tours = response.body.tours;
          }
          if (response.body.error) {
            this.disabling = false;
            this.message = response.body.message;
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },
    storecriteria: function() {
      this.disabling = true;
      this.message = "";

      this.$http.post("criteria", this.criteria).then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            this.disabling2 = false;
            this.criterias = response.body.criteria;
          }
          if (response.body.error) {
            this.disabling = false;
            this.message = response.body.message;
          }
        },
        error => {
          console.log(error.body);
        }
      );
    },

    deletetour: function(id) {
      this.$http.delete("tours/" + id).then(
        response => {
          if (response.body.success) {
            this.tours = response.body.tours;
          }
        },
        error => {
          console.log(error.body);
          this.message = "Can not delete first delete all criterias!"
        }
      );
    },
    deletecriteria: function(id) {
      this.$http.delete("criteria/" + id).then(
        response => {
          if (response.body.success) {
            this.criterias = response.body.criteria;
          }
        },
        error => {
          console.log(error.body);
        }
      );
    }
  },
  created() {
    this.setup();
    this.tour.category = this.categoryid;
  }
};
</script>
<style>
</style>
