<template>
  <nav class="c-tabs" style="margin-bottom:0px;">
    <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
      <a
        :class="showing == tour.id ? 'c-tabs__link active show' : 'c-tabs__link'"
        @click="showing = tour.id"
        v-for="tour in tours"
      >{{tour.jttitle}}</a>
    </div>
    <div class="c-tabs__content tab-content" id="nav-tabContent">
      <div
        :class="showing == tour.id ? 'c-tabs__pane active show' : 'c-tabs__pane'"
        class
        v-show="showing == tour.id"
        v-for="(tour, tourindex) in tours" :key="tourindex"
      >
        <div class="row">
          <div class="col-md-12">
             <h5>Project: {{project.p_title}}</h5><br>
              <table class="c-table">
                <thead class="c-table__head">
                  <tr class="c-table__row">
                    <th class="c-table__cell c-table__cell--head" style="text-align:center;">Students</th>
                    <th class="c-table__cell c-table__cell--head" style="text-align:center;" v-for="(cr, criteriaindex) in tour.criteria" :key="criteriaindex"> {{cr.jctitle}} </th>
                    <th class="c-table__cell c-table__cell--head" style="text-align:center;">Sum</th>
                    <th class="c-table__cell c-table__cell--head" style="text-align:center;">All juries avarage</th>
                    <th class="c-table__cell c-table__cell--head" style="text-align:center;">Actions</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="c-table__row" v-for="(student, index) in project.students" :key="index">
                    <td class="c-table__cell">{{ student.s_en_surname }} {{ student.s_en_name }}</td>
                    <td class="c-table__cell" style="text-align:center;" v-for="(cr, criteriaindex) in tour.criteria" :key="criteriaindex">
                      <span v-for="(point, pindex) in points" :key="pindex">
                        <span v-if="point.jpstudent_id == student.ssid">
                          <span v-if="jury.id == point.jpjury_id">
                            <span v-if="cr.sid == point.jpcriteria_id">{{ point.jppoint }}</span>
                          </span>
                        </span>
                      </span>
                    </td>
                    <td class="c-table__cell" style="text-align:center;">
                      {{ calculateAVGlocal(student, tourindex) }}
                    </td>
                    <td class="c-table__cell" style="text-align:center;">
                      {{ calculateAVG(student, tourindex) }}
                    </td>
                    <td class="c-table__cell">
                      <a class="c-dropdown__item dropdown-item" style="text-align:center;" href="javascript:void(0)" v-if="calculateAVGlocal(student, tourindex) == 0" @click="givepoints(student.s_student_id, tour.criteria, projectid)">Give points</a>
                      <a class="c-dropdown__item dropdown-item" style="text-align:center;" href="javascript:void(0)" v-else @click="editpoints(student.s_student_id, tour.criteria, projectid)">Edit points</a>
                    </td>
                  </tr>

                </tbody>
              </table>
              <br>
              <h4 style="float:right;">{{ tour.jttitle }}'s tour Average (for team): {{calculateteamAVG(tourindex).toFixed(3)}}</h4>
            </div>
        </div>
      </div>
      
      <div class="row">
        <div class="float-right col-sm-12 col-xl-12 u-mr-auto u-mb-medium u-ml-medium u-mt-medium">
          <button @click="$emit('close')" class="c-btn c-btn--info">Close</button>
          <h4 style="text-align: right; float:right;margin-right:4%;">Team Avarage (for all Tours): {{ calculetetotal().toFixed(3) }}</h4>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import GivePointsVue from './GivePoints.vue';
import EditPointsVue from './EditPoints.vue';

import swal from "sweetalert2"

export default {
  props: ["projectid", 'count'],
  data() {
    return {
      message: "",
      jury: {},
      showing: 0,
      tours: [],
      project: {},
      points: [],

      tavgs: {}
    };
  },
  methods: {
    setup: function() {
      this.$http.get("points/" + this.projectid).then(
        response => {
          this.jury = response.body.jury;
          this.tours = response.body.tours;
          this.project = response.body.project;
          this.points = response.body.points;
          if(response.body.tours.length == 0){
            swal(
                {
                    title: 'Warning!',
                    text: "Please import tours before!",
                    type: 'warning',
                    confirmButtonClass: 'btn btn-confirm mt-2'
                }
            )
            this.$emit('close')
          }
          this.showing = response.body.tours[0].id;
        },
        error => {
          console.log(error.body);
        }
      );
    },

    calculateAVGlocal(student, tour){
      var all = 0;
      var calc = 0;
      
      for (var point in this.points) {
        for (var criteria in this.tours[tour].criteria) {
          if (this.points[point].jpcriteria_id == this.tours[tour].criteria[criteria].sid && this.points[point].jpstudent_id == student.ssid && this.jury.id == this.points[point].jpjury_id) {
            calc += this.points[point].jppoint;
          }
        }
      }
      return calc;
    },

    calculateAVG(student, tour){
      var all = 0;
      var calc = 0;

      var pjuries = []

      for (var point in this.points) {
        for (var criteria in this.tours[tour].criteria) {
          pjuries.push(this.points[point].jpjury_id)
        }
      }

      for (var point in this.points) {
        for (var criteria in this.tours[tour].criteria) {
          if (this.points[point].jpcriteria_id == this.tours[tour].criteria[criteria].sid && this.points[point].jpstudent_id == student.ssid) {
            calc += this.points[point].jppoint;
          }
        }
      }
      return calc/this.uniq_fast(pjuries).length;
    },
    calculateteamAVG: function (tour) {
      var points = [];
      for (var student in this.project.students) {
        points.push( this.calculateAVG(this.project.students[student], tour) ); 
      }

      var sum = 0;
      for (let index = 0; index < points.length; index++) {
        sum += points[index];
      }

      var summing = sum/this.project.students.length;
      this.tavgs[tour] = summing

      return summing;
    },

    calculetetotal: function () {
      var total = 0;
      for (const tour in this.tours) {

        var points = [];
        for (var student in this.project.students) {
          points.push( this.calculateAVG(this.project.students[student], tour) ); 
        }

        var sum = 0;
        for (let index = 0; index < points.length; index++) {
          sum += points[index];
        }

        var summing = sum/this.project.students.length;
        this.tavgs[tour] = summing

        total += summing;

      }

      return total/this.tours.length;
    },

    uniq_fast(a) {
      var seen = {};
      var out = [];
      var len = a.length;
      var j = 0;
      for(var i = 0; i < len; i++) {
          var item = a[i];
          if(seen[item] !== 1) {
                seen[item] = 1;
                out[j++] = item;
          }
      }
      return out;
    },
    givepoints(id, criterias, project) {
      this.$modal.show(
        GivePointsVue,
        {
          studentid: id,
          criterias: criterias,
          projectid: project
        },
        {
          height: "auto",
          width: "40%",
          clickToClose: true,
          scrollable: true
        },
        {
          "before-close": event => {
            this.setup();
          }
        }
      );
    },
    editpoints(id, criterias, project) {
      this.$modal.show(
        EditPointsVue,
        {
          studentid: id,
          criterias: criterias,
          projectid: project
        },
        {
          height: "auto",
          width: "40%",
          clickToClose: true,
          scrollable: true
        },
        {
          "before-close": event => {
            this.setup();
          }
        }
      );
    }
  },
  created() {
    this.setup();
  }
};
</script>
<style>
.float-right {
  float: right;
}
</style>
