<template>
    <div id="app">
        <div class="container-fluid" style="background-color: #e8ecec;">
            <div class="row">
                <div class="col-md-12" style="margin-top:15px;">
                    <div class="c-card">
                        <span class="c-badge c-badge--small c-badge--info" style="float:right;margin-top:14px;" v-if="conversationDetails.conv_state">Closed</span>
                        <span class="c-badge c-badge--small c-badge--success" style="float:right;margin-top:14px;" v-if="!conversationDetails.conv_state">Open</span>
                        <small class="text-muted" style="float:right;padding-right:15px;margin-top:15px;">{{conversationDetails.newdate}}</small>
                        <div class="o-media" style="padding-bottom:15px;">
                            <div class="o-media__img u-mr-small">
                                <div class="c-avatar c-avatar--small">
                                <img class="c-avatar__img" :src="baseUrl + creator.image" :alt="creator.name + ' ' + creator.surname">
                                </div>
                            </div>
                            <div class="o-media__body">
                                <h5 class="c-pipeline__card-title">{{ creator.name + ' ' + creator.surname}}</h5>
                                <p class="c-pipeline__card-subtitle">Supervisor</p>
                            </div>
                        </div>
                        <h4 class="c-card__title">{{conversationDetails.conv_title}}</h4>
                        <p style="max-height:120px;height:110px;">{{ conversationDetails.conv_content }}</p>
                    </div>
                </div>
                <div class="col-md-12" v-if="conversationDetails.conv_state">
                    <div class="media m-b-20">
                        <button @click="StateChange(!conversationDetails.conv_state)" class="c-btn c-btn--info u-mb-xsmall"> Open Conversation </button>
                    </div>
                </div>
            </div>
            <div class="row">                
                <div class="col-md-12" v-if="answers.length != 0">
                    
                    <div class="card-box" style="margin-bottom:15px;padding-top:5px;">
                        <h4 class="header-title m-b-30" style="padding-bottom:15px;">Answers ({{answers.length}})</h4>

                        <div>
                            <div class="col-md-12" v-for="answer in answers">
                                <div class="c-alert c-alert--info alert u-mb-medium">
                                    <div class="o-media" style="padding-bottom:15px;">
                                        <div class="o-media__img u-mr-small">
                                            <div class="c-avatar c-avatar--small">
                                                <img class="c-avatar__img" :src="baseUrl + answer.creator.image" :alt="answer.creator.name + ' ' + answer.creator.surname">
                                            </div>
                                        </div>
                                        <div class="o-media__body">
                                            <h5 class="c-pipeline__card-title">{{ answer.creator.name + ' ' + answer.creator.surname }}</h5>
                                            <p class="c-pipeline__card-subtitle">{{answer.newdate}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <p>{{answer.conv_answer_content}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" v-if="!conversationDetails.conv_state">
                    <h4 class="header-title m-b-30" style="padding-bottom:15px;padding-top:15px;">Answer:</h4>

                    <div class="media m-b-20">
                        <div class="media-body">
                            <form v-on:submit="SubmitReply">
                                <div class="col-12">
                                    <textarea type="text" class="c-input" placeholder="Reply..." v-model="answer.reply" rows="5" />
                                </div>
                                <div class="col-12 ml-3 mt-1 custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" v-model="answer.openclose" id="openclose">
                                    <label class="custom-control-label" for="openclose">Close Conversation</label>
                                </div>
                                <div class="mt-4 text-left" style="padding-top:25px;padding-bottom:20px;">
                                    <button type="submit" class="c-btn c-btn--info u-mb-xsmall"> Reply </button>
                                    <button type="reset" id="reset" class="c-btn c-btn--secondary u-mb-xsmall"> Clear </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    export default {
        props: ['conversation'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                conversationDetails : {},
                answers : [],
                creator : {},

                answer: {
                    reply : "",
                    openclose : false
                }
            }
        },
        methods:{
            setup: function () {
                this.$http.get('conversations/' + this.conversation)
                    .then(response => {
                        this.$data.conversationDetails = response.body.conversationDetails
                        this.$data.answers = response.body.answers
                        this.$data.creator = response.body.creator
                    }, error => {
                        console.log(error.body)
                    });  
            },
            SubmitReply : function(e){
                e.preventDefault();
                
                this.$http.post('answers', {'conversation' : this.conversation, 'reply' : this.$data.answer.reply, 'openclose' : this.$data.answer.openclose})
                    .then(response => {
                        if (response.body.success) {
                            this.$data.answer.reply = ""
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$data.answers = response.body.answers
                        }
                        if (response.body.error) {
                            swal(
                                {
                                    title: 'Something went wrong!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: error.body.message,
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    });  
            },
            StateChange(state){
                this.$http.put('conversations/' + this.conversation, {'way' : 'state', 'state' : state})
                    .then(response => {
                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$data.conversationDetails = response.body.conversation
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to administrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .nobottom{
        margin-bottom : 0px !important;
    }
</style>
