<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">
                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">

                                    <ul class="nav nav-tabs tabs-bordered nav-justified">
                                        <li class="nav-item">
                                            <a href="#home-b2" data-toggle="tab" :aria-expanded="active == 1 ? true : false" :class="active == 1 ? 'nav-link active show' : 'nav-link'" @click="active = 1">
                                                <i class="fi-monitor mr-2"></i> Post Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#profile-b2" data-toggle="tab" :aria-expanded="active == 2 ? true : false" :class="active == 2 ? 'nav-link active show' : 'nav-link'" @click="active = 2">
                                                <i class="fi-head mr-2"></i> Log
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="home-b2">

                                            <dx-data-grid :data-source="users" :selection="{ mode: 'single' }" :show-borders="true" :hover-state-enabled="true" key-expr="code">
                                                <dx-column data-field="code" caption="UID" />
                                                <dx-column data-field="fullname" caption="Fullname" />
                                                <dx-column data-field="countryname" caption="Country" />
                                                <dx-column :width="150" data-field="role" caption="Role" />
                                                <dx-column data-field="participation" caption="Participation and Food" />
                                                <dx-column :width="150" data-field="transport" caption="Accomodation" />
                                                <dx-column data-field="gift" caption="Gift state"/>
                                                <dx-column data-field="gender" caption="Gender" />
                                                <dx-column data-field="volunteer_id" caption="QR code" alignment="center" cell-template="volView"/>
                                                <user-qr slot="volView" slot-scope="details" :details="details.data"/>
                                                <dx-column data-field="regtime" data-type="date" caption="Register Date"/>
                                                <dx-column :group-index="0" data-field="role" />

                                                <dx-group-panel :visible="true"/>
                                                <dx-filter-row :visible="true"/>
                                                <dx-grouping :auto-expand-all="autoExpandAll"/>
                                                <dx-paging :page-size="30"/>
                                                <dx-search-panel :visible="true"/>
                                                <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                                
                                                <dx-summary>
                                                    <dx-total-item :customize-text="customizeDateProjects" column="role" summary-type="count"/>
                                                    <dx-total-item :customize-text="customizeDateSupervisors" column="transport" summary-type="count"/>
                                                </dx-summary>
                                            </dx-data-grid>

                                        </div>
                                        <div class="tab-pane" id="profile-b2" >
                                            
                                            <dx-data-grid id="gridContainer" :data-source="logs" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="lid">
                                                <dx-selection mode="single"/>
                                                <dx-filter-row :visible="true"/>
                                                <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                                <dx-group-panel :visible="false"/>
                                                <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>
                                                
                                                <dx-column data-field="lid" caption="Action ID"/>
                                                <dx-column data-field="user" caption="Full name"/>
                                                <dx-column data-field="role" caption="Role"/>
                                                <dx-column data-field="action" caption="Action"/>
                                                <dx-column data-field="tracedby" caption="Controller"/>
                                                <dx-column data-field="dateof" date-type="datetime" caption="Tracked at"/>
                                                
                                                <dx-summary>
                                                    <dx-total-item column="action" summary-type="count"/>
                                                </dx-summary>
                                            </dx-data-grid>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import {DxDataGrid, DxGrouping, DxSelection,DxPaging, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

    import Viewq from './View.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
            'user-qr': Viewq,
            DxDataGrid, DxSelection,DxGrouping,DxPaging, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary
            
        },
        data(){
            return {
                admin : {},
                navconversations : [],
                notifications : [],
                activities : [],

                isError : false,
                isSuccess : false,
                message : "",


                active: 1,

                logs: [],
                users: [],
                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true,
            }
        },
        watch:{
            $route (to, from){
            }
        },
        methods:{
            setup : function () {
                this.$http.get('logs')
                    .then(response => {
                        this.admin = response.body.admin
                        this.logs = response.body.logs
                        this.users = response.body.users
                        //console.log(response.body);
                        
                    }, error => {
                        console.log(error.body);
                        
                    })
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                    if(options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if(options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                    }
                }
            },
            customizeDateProjects(data) {
                return 'Users:  ' + data.value 
            },
            customizeDateSupervisors(data){
                return 'Accomodation:  ' + data.value
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    @import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.common.css');
    @import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.light.css');

    #grid-container {
        height: 600px;
    }

    #grid-container .dx-datagrid-content tr.dx-data-row {
        cursor: pointer;
    }
</style>
