<template>
    <div class="centerit">
        <qr-code :text="details.code" :size="150"></qr-code>
    </div>
</template>

<script>
/* eslint-disable */
import VueQRCodeComponent from 'vue-qrcode-component'

export default {
    props: ['details'],
    components: {
        'qr-code': VueQRCodeComponent,
    },
    data () {
        return {
        }
    }
}
</script>

<style scoped>
    .centerit{
        text-align: center;
    }
</style>