<template>
    <div>{{calculatesum()}}</div>
</template>
<script>
export default {
    props: ['details'],
    methods: {
        calculatesum(){
            return ((parseFloat(this.details.tourone) + parseFloat(this.details.tourtwo) + parseFloat(this.details.firsttourappeal) + parseFloat(this.details.secondtourappeal))/2).toFixed(2)
        }
    },
}
</script>
<style scoped>

</style>


