<template>
    <div>{{calculatesum()}}</div>
</template>
<script>
export default {
    props: ['details'],
    methods: {
        calculatesum(){
            var sum = parseFloat(this.details.tourone) + parseFloat(this.details.tourtwo);
            return sum.toFixed(2);
        }
    },
}
</script>
<style scoped>

</style>


