<template>
  <nav class="c-tabs" style="margin-bottom:0px;">
    <div class="c-tabs__content tab-content" id="nav-tabContent">
      <div class="c-tabs__pane active show">
        <div class="row">
          <form id="seria" @submit="submitpoints">
            <div class="col-xl-12">
              <h4>Appael point for student: <span style="color: green;">{{student.student}}</span></h4>
              <br>
              <div class="c-field u-mb-xsmall">
                <div class="c-select">
                  <select class="c-select__input" v-model="point.tour">
                    <option value="0">Tour One</option>
                    <option value="1">Tour Two</option>
                  </select>
                </div>
              </div>
              <div class="c-field u-mb-small">
                <label class="c-field__label">Point point:</label>
                <input class="c-input" type="text" v-model="point.point" name="point" required>
              </div>
              <div class="c-field u-mb-small">
                <label class="c-field__label">Comment:</label>
                <textarea class="c-input" rows="3" name="comment" v-model="point.comment" type="text" required></textarea>
              </div>
              <div class="c-note u-mb-small">
                <span class="c-note__icon">
                  <i class="feather icon-info"></i>
                </span>
                <p>They are official points of the tour. Please import correctly. Points may appaer in Final documentations</p>
              </div>
              <button type="submit" class="c-btn c-btn--info" style="width:100%;" :disabled="isdisabled">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </nav>
</template>

<script>
import swal from "sweetalert2"

export default {
  props: ["student"],
  data() {
    return {
      isdisabled: false,
      message: "",
      point : {
        studentid: '',
        tour: 0,
        point: 0,
        comment: ''
      }
    };
  },
  methods: {
    setup: function() {
      /*this.$http.get("tours").then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            this.tours = response.body.tours;
            this.criterias = response.body.criteria;
          }
        },
        error => {
          console.log(error.body);
        }
      );*/
    },
    submitpoints(w){
      w.preventDefault();
      this.$http.post("setpoint", this.point ).then(
        response => {
          console.log(response.body);
          if (response.body.success) {
            swal(
              {
                  title: 'Success!',
                  text: response.body.message,
                  type: 'success',
                  confirmButtonClass: 'btn btn-confirm mt-2'
              }
            )
            this.$emit('close')
          }
        },
        error => {
          console.log(error.body);
        }
      );
    }
  },
  created() {
    this.setup();
    this.point.studentid = this.student.studentid
  }
};
</script>
<style>
</style>
