<template>
    <button class="c-btn c-btn--info u-mb-xsmal" @click="setappeal()">Set appeal</button>
</template>
<script>
import GivePointsVue from './GivePoints'
export default {
    components: {

    },
    props: ['details'],
    methods: {
        setappeal(){
            this.$modal.show(
                GivePointsVue,
                {
                    student: this.details
                },
                {
                    height: "auto",
                    width: "40%",
                    clickToClose: true,
                    scrollable: true
                },
                {
                    "before-close": event => {
                      document.location.reload()
                    }
                }
            );
        }
    },
}
</script>
<style scoped>

</style>


