<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <dx-vector-map id="vector-map" style="width:100%;" :bounds="bounds" @tooltip-shown="onTooltipShown">
                                    <dx-layer :data-source="mapsWorld" :color-groups="colorGroups" :customize="customizeLayer" name="areas" color-grouping-field="total">
                                    <dx-label :enabled="true" data-field="name"/></dx-layer>

                                    <dx-legend :customize-text="customizeLegendText">
                                        <dx-source layer="areas" grouping="color"/></dx-legend>
                                        <dx-title text="Infomatrix Online">
                                        <dx-subtitle text="Detailed View"/>
                                    </dx-title>

                                    <dx-tooltip :enabled="true" :customize-tooltip="customizeTooltip"/>
                                <dx-export :enabled="true"/></dx-vector-map>

                            </div>
                        </div>
                        <site-overview :supervisors="supervisors" :projects="projects" :students="students" :conversations="conversations"></site-overview>
                        <site-activities :activities="activities" :activitiesimportant="activitiesimportant"></site-activities>
                        <site-categories :pps="pps"></site-categories>
                    </div>

                </div> 

            </div>

        </div>

    </div>
</template>

<script>
    let countriesGDP = {};

    var url =  Infomatrix.main +'/api/admin/online-stats';
    fetch(url)
    .then(res => res.json())
    .then((out) => {
        countriesGDP = out
    })
    .catch(err => { throw err });
    

    import * as mapsData from 'devextreme/dist/js/vectormap-data/world.js';

    import {
    DxVectorMap,
    DxExport,
    DxLabel,
    DxLayer,
    DxLegend,
    DxSource,
    DxSubtitle,
    DxTitle,
    DxTooltip
    } from 'devextreme-vue/vector-map';

    import DxPieChart from 'devextreme/viz/pie_chart';

    
    const format = new Intl.NumberFormat('en-US', {
    minimumFractionDigits: 0
    }).format;

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'
    import Activities from './../../components/widgets/Activities.vue'
    import Overview from './../../components/dashboard/Overview.vue'
    import Categories from './../../components/dashboard/Categories.vue'
    
    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
            'site-overview' : Overview,
            'site-activities' : Activities,
            'site-categories' : Categories,

            DxVectorMap,
            DxExport,
            DxLabel,
            DxLayer,
            DxLegend,
            DxSource,
            DxSubtitle,
            DxTitle,
            DxTooltip
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                supervisors : [],
                students : [],
                juries : [],
                admins : [],
                moderators : [],

                projects : {},
                pps : [],

                activities : [],
                activitiesimportant : [],
                conversations : [],
                navconversations : [],
                notifications : [],


                colorGroups: [0, 5, 15, 20, 25, 30, 35, 40],

                customizeLayer: function(elements) {
                    elements.forEach(function(element) {
                    var countryGDPData = countriesGDP[element.attribute('name')];
                        element.attribute('total', countryGDPData && countryGDPData.total || 0);
                    });
                },
                mapsWorld: mapsData.world,
                customizeLegendText: function(arg) {
                    return `${format(arg.start)} to ${format(arg.end)}`;
                },
                customizeTooltip: function(arg) {
                    let countryGDPData = countriesGDP[arg.attribute('name')];
                    let total = countryGDPData && countryGDPData.total;
                    let totalMarkupString = total ? `<div id='nominal' style="font-size:16px;">Supervisors: ${total}</div>` : '';
                    let node = `<div #gdp><h4>${arg.attribute('name')}</h4>${
                    totalMarkupString
                    }<div id='gdp-sectors'></div></div>`;
                    return {
                    html: node
                    };
                },
                bounds: [-180, 85, 180, -60]

            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-main')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.supervisors = response.body.supervisors
                        this.$data.students = response.body.students
                        this.$data.juries = response.body.juries
                        this.$data.admins = response.body.admins
                        this.$data.moderators = response.body.moderators

                        this.$data.projects = response.body.projects
                        this.$data.pps = response.body.pps

                        this.$data.activities = response.body.activities
                        this.$data.activitiesimportant = response.body.important

                        this.$data.conversations = response.body.conversations
                        this.$data.navconversations = response.body.navconversations

                        this.$data.notifications = response.body.notifications
                    });
            },
            onTooltipShown(e) {
            let name = e.target.attribute('name'),
                gdpData = countriesGDP[name] ? [
                    { name: 'students', value: countriesGDP[name].students },
                    { name: 'projects', value: countriesGDP[name].projects }
                ] : null,
                container = document.getElementById('gdp-sectors');

                if (gdpData) {
                    new DxPieChart(container, this.getPieChartConfig(gdpData));
                } else {
                    container.textContent = 'No participants from this country';
                }
            },
            getPieChartConfig(chartData) {
                return {
                    dataSource: chartData,
                    series: [{
                    valueField: 'value',
                    argumentField: 'name',
                    label: {
                        visible: true,
                        connector: {
                        visible: true,
                        width: 1
                        },
                        customizeText: function(pointInfo) {
                        return `${pointInfo.argument[0].toUpperCase()}${
                            pointInfo.argument.slice(1)
                        }: ${pointInfo.value}`;
                        }
                    }
                    }],
                    legend: {
                    visible: false
                    }
                };
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }

    
#vector-map {
    height: 500px;
    width: 100%;
    display: r;
}
h4 {
    font-size: 14px;
    margin-bottom: 5px;
}
#gdp-sectors {
    width: 400px;
    height: 200px;
    display: block;
}
</style>
