<template>
    <div id="app">

        <div class="row">
            <div class="col-md-12">
                <h3>Categories</h3>
            </div>
            
            <div class="col-md-4 col-sm-12" v-for="pp in pps">
                <div class="card-box">
                    <h4 class="m-t-0 header-title">{{pp.category}}</h4>

                    <p class="text-muted font-13 m-b-30">
                        Total: <strong>{{pp.all <= 1 ? pp.all + ' project' : pp.all + ' projects'}}</strong>
                    </p>

                    <h6 class="text-right">Not Checked : <strong> {{pp.notchecked <= 1 ? pp.notchecked + ' project' : pp.notchecked + ' projects'}}</strong></h6>
                    <div class="progress m-b-20">
                        <div class="progress-bar bg-warning" role="progressbar" :style="'width:'+ (pp.notchecked/pp.all)*100 + '%;'" :aria-valuenow="(pp.notchecked/pp.all)*100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h6 class="text-right">Rejected : <strong> {{pp.rejected <= 1 ? pp.rejected + ' project' : pp.rejected + ' projects'}}</strong></h6>
                    <div class="progress m-b-20">
                        <div class="progress-bar bg-danger" role="progressbar" :style="'width:'+ (pp.rejected/pp.all)*100 + '%;'" :aria-valuenow="(pp.rejected/pp.all)*100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h6 class="text-right">50/50 : <strong> {{pp.half <= 1 ? pp.half + ' project' : pp.half + ' projects'}}</strong></h6>
                    <div class="progress m-b-20">
                        <div class="progress-bar bg-info" role="progressbar" :style="'width:'+ (pp.half/pp.all)*100 + '%;'" :aria-valuenow="(pp.half/pp.all)*100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <h6 class="text-right">Accepted : <strong> {{pp.accepted <= 1 ? pp.accepted + ' project' : pp.accepted + ' projects'}}</strong></h6>
                    <div class="progress m-b-20">
                        <div class="progress-bar bg-success" role="progressbar" :style="'width:'+ (pp.accepted/pp.all)*100 + '%;'" :aria-valuenow="(pp.accepted/pp.all)*100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                </div>
            </div>


        </div>
        
    </div>
</template>

<script>
    
    export default {
        props: ['pps'],
        data(){
            return {
                baseUrl : Infomatrix.main,
            }
        }
    }
</script>
<style>
    .font-big{
        font-size: 50px !important;
    }
    .card-box{
        margin-bottom: 0px;
    }
    .col-md-4, .col-sm-12{
        padding-top: 20px;
    }
    .text-right{
        text-align : right;
    }
</style>
