<template>
    <div id="app">

        <div class="row">
            <div class="col-12">
                <div class="card-box">
                    <h4 class="header-title mb-4">Web-site Overview</h4>

                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="icon-people float-right text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Supervisors</h6>
                                <h2 class="m-b-20" data-plugin="counterup">{{supervisors.length}}</h2>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="icon-graduation float-right text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Students</h6>
                                <h2 class="m-b-20" data-plugin="counterup">{{students.length}}</h2>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="icon-folder float-right text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Projects</h6>
                                <h2 class="m-b-20" data-plugin="counterup">{{projects.length}}</h2>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card-box tilebox-one">
                                <i class="icon-bubbles float-right text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Conversations</h6>
                                <h2 class="m-b-20" data-plugin="counterup">{{conversations.length}}</h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</template>

<script>
    
    export default {
        props: ['supervisors', 'conversations', 'students', 'projects'],
        data(){
            return {
                baseUrl : Infomatrix.main,
            }
        }
    }
</script>
<style>
    .font-big{
        font-size: 50px !important;
    }
    .card-box{
        margin-bottom: 0px;
    }
</style>
