<template>
    <div class="centerit">
        <button @click="editvol" class="btn btn-custom waves-effect waves-light" type="button">
            Edit
        </button>
        <button type="button" @click="deleteit" class="btn btn-light waves-effect m-l-15">
            Delete
        </button>
    </div>
</template>

<script>
/* eslint-disable */
import EditThis from './EditVolunteer'

export default {
    props: ['details'],
    data () {
        return {
        }
    },methods: {
        deleteit: function(){
            swal({
                title: "Deleting",
                text: "Are you sure?",
                icon: "warning",
                buttons: ["No", "Yes"],
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    this.$http.delete('volunteers/' + this.details.id).then(
                        response => {
                            if(response.body.success){
                                swal(
                                    {
                                        title: 'Success!',
                                        text: 'Please refresh page after it, actions happen!',
                                        icon: "success",
                                        button:'Close!'
                                    }
                                )
                            }
                            if(response.body.error){
                                swal(
                                    {
                                        title: 'Action canceled!',
                                        text: response.body.message,
                                        icon: "error",
                                        button:'Close!'
                                    }
                                )
                            }
                        }, error => {
                            swal(
                                {
                                    title: 'Action error server!',
                                    text: error.body,
                                    icon: "error",
                                    button:'Close!'
                                }
                            )
                        }
                    );   
                } else {
                    swal(
                        {
                            title: 'Action canceled!',
                            text: 'Action canceled!',
                            icon: "success",
                            button:'Close!'
                        }
                    )
                }
            });
        },
        editvol: function () {
            this.$modal.show( EditThis, {
                vid: this.details.id
            }, {
                height: 'auto',
                width: '40%',
                clickToClose : true,
                scrollable : true
            }, {
                'before-close': (event) => { 
                    this.setup()
                }
            })
        },
    },
}
</script>

<style scoped>
    .centerit{
        text-align: center;
    }
</style>