<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        
                        <div class="row" v-if="$route.params.role == 'supervisors'">
                            <div class="col-md-8 col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">New Supervisor</h4>
                                    <p class="text-muted m-b-30 font-14">
                                        Please, fill all blanks to register new Supervisor
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form class="form-horizontal" role="form" v-on:submit="submitSupervisor">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Name</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter name" v-model="supervisor.name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Surname</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter surname" v-model="supervisor.surname" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Bio</label>
                                                        <div class="col-10">
                                                            <textarea type="text" class="form-control" placeholder="Bio" rows="5"  v-model="supervisor.bio"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Country</label>
                                                        <div class="col-10">
                                                            <select class="form-control" v-model="supervisor.country">
                                                                <option v-for="country in countries" :value="country.id">{{country.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="form-group row mt-3">
                                                        <label class="col-2 col-form-label" for="example-email">Email</label>
                                                        <div class="col-10">
                                                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email"  v-model="supervisor.email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Password</label>
                                                        <div class="col-10">
                                                            <input type="password" class="form-control" placeholder="Password" v-model="supervisor.password" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" v-if="supervisor.country == 110">
                                                        <label class="col-2 col-form-label">Phone</label>
                                                        <div class="col-10">
                                                            <input type="text" placeholder="+7 (999) 999-9999" id="kzphone" data-mask="+9 (999) 999-9999" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row" v-if="supervisor.country != 110">
                                                        <label class="col-2 col-form-label">Phone</label>
                                                        <div class="col-10">
                                                            <input type="text" placeholder="" class="form-control" v-model="supervisor.phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activateemail" value="email" v-model="supervisor.emailact">
                                                            <label class="custom-control-label" for="activateemail">Activiate email</label>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activatephone" value="phone" v-model="supervisor.phoneact">
                                                            <label class="custom-control-label" for="activatephone">Activiate phone</label>
                                                        </div>
                                                    </div>

                                                    <div v-if="isError" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        {{message}}
                                                    </div>


                                                    <div class="form-group mt-3">
                                                        <div>
                                                            <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                                Submit
                                                            </button>
                                                            <button type="reset" id="resetSupervisor" class="btn btn-light waves-effect m-l-5">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="$route.params.role == 'students'">
                            {{$router.push('/users/students')}}
                        </div>

                        <div class="row" v-if="$route.params.role == 'admins'">
                            <div class="col-md-8 col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">New Administator</h4>
                                    <p class="text-muted m-b-30 font-14">
                                        Please, fill all blanks to register new Administator
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form class="form-horizontal" role="form" v-on:submit="submitAdmin">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Name</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter name" v-model="newadmin.name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Surname</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter surname" v-model="newadmin.surname" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Bio</label>
                                                        <div class="col-10">
                                                            <textarea type="text" class="form-control" placeholder="Bio" rows="5"  v-model="newadmin.bio"></textarea>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="form-group row mt-3">
                                                        <label class="col-2 col-form-label" for="example-email">Email</label>
                                                        <div class="col-10">
                                                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email"  v-model="newadmin.email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Password</label>
                                                        <div class="col-10">
                                                            <input type="password" class="form-control" placeholder="Password" v-model="newadmin.password" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Phone</label>
                                                        <div class="col-10">
                                                            <input type="text" placeholder="+7 (999) 999-9999" id="newadmin" data-mask="+9 (999) 999-9999" class="form-control" v-model="newadmin.phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="assistant" value="assistant" v-model="newadmin.assistant">
                                                            <label class="custom-control-label" for="assistant">Assistant</label>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activateemail" value="email" v-model="newadmin.emailact">
                                                            <label class="custom-control-label" for="activateemail">Activiate email</label>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activatephone" value="phone">
                                                            <label class="custom-control-label" for="activatephone">Activiate phone</label>
                                                        </div>
                                                    </div>

                                                    <div v-if="isError" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        {{message}}
                                                    </div>


                                                    <div class="form-group mt-3">
                                                        <div>
                                                            <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                                Submit
                                                            </button>
                                                            <button type="reset" id="resetAdmin" class="btn btn-light waves-effect m-l-5">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" v-if="$route.params.role == 'juries'">
                            <div class="col-md-8 col-sm-12">
                                <div class="card-box">
                                    <h4 class="m-t-0 header-title">New Jury</h4>
                                    <p class="text-muted m-b-30 font-14">
                                        Please, fill all blanks to register new Jury
                                    </p>

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="p-20">
                                                <form class="form-horizontal" role="form" v-on:submit="submitJury">
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Name</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter name" v-model="newjury.name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Surname</label>
                                                        <div class="col-10">
                                                            <input type="text" class="form-control" placeholder="Enter surname" v-model="newjury.surname" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Bio</label>
                                                        <div class="col-10">
                                                            <textarea type="text" class="form-control" placeholder="Bio" rows="5"  v-model="newjury.bio"></textarea>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Category</label>
                                                        <div class="col-10">
                                                            <select class="form-control" v-model="newjury.category">
                                                                <option v-for="category in categories" :value="category.id">{{category.category}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mt-3">
                                                        <label class="col-2 col-form-label" for="example-email">Email</label>
                                                        <div class="col-10">
                                                            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="Email"  v-model="newjury.email" required>
                                                            <span class="font-14 text-muted">Only emails with "@sdu.edu.kz" and "@stu.sdu.edu.kz" are accepted</span>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox" style="margin-left:19%;">
                                                            <input type="checkbox" class="custom-control-input" id="otherdomain" value="otherdomain" v-model="newjury.otherdomain">
                                                            <label class="custom-control-label" for="otherdomain">Use other domain</label>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Password</label>
                                                        <div class="col-10">
                                                            <input type="password" class="form-control" placeholder="Password" v-model="newjury.password" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Phone</label>
                                                        <div class="col-10">
                                                            <input type="text" placeholder="+7 (999) 999-9999" id="newjury" data-mask="+9 (999) 999-9999" class="form-control" v-model="newjury.phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="assistant" value="assistant" v-model="newjury.assistant">
                                                            <label class="custom-control-label" for="assistant">Assistant</label>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activateemail" value="email" v-model="newjury.emailact">
                                                            <label class="custom-control-label" for="activateemail">Activiate email</label>
                                                        </div>
                                                        <div class="col-12 custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="activatephone" value="phone" v-model="newjury.phoneact">
                                                            <label class="custom-control-label" for="activatephone">Activiate phone</label>
                                                        </div>
                                                    </div>

                                                    <div v-if="isError" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        {{message}}
                                                    </div>


                                                    <div class="form-group mt-3">
                                                        <div>
                                                            <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                                Submit
                                                            </button>
                                                            <button type="reset" id="resetJury" class="btn btn-light waves-effect m-l-5">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>

                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],
                activities : [],

                countries : [],
                categories : [],

                supervisor : {
                    name : "",
                    surname : "",
                    bio : "",
                    country: 1,
                    email : "",
                    password : "",
                    phone : "",
                    emailact : false,
                    phoneact : false
                },

                newadmin : {
                    name : "",
                    surname : "",
                    bio : "",
                    email : "",
                    password : "",
                    phone : "",
                    assistant : false,
                    emailact : false,
                    phoneact : false
                },

                newjury : {
                    name : "",
                    surname : "",
                    bio : "",
                    email : "",
                    password : "",
                    category : 1,
                    phone : "",
                    assistant : false,
                    emailact : false,
                    phoneact : false,
                    otherdomain : false
                },

                isError : false,
                isSuccess : false,
                message : "",

            }
        },
        watch:{
            $route (to, from){
                if ( 
                    this.$route.params.role == 'supervisors' || 
                    this.$route.params.role == 'students' || 
                    this.$route.params.role == 'admins' || 
                    this.$route.params.role == 'juries' || 
                    this.$route.params.role == 'moderators' ||
                    this.$route.params.role == 'volunteer') {
                    this.setup()
                }else{
                    this.$router.push('/');
                }
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-users-setup/' + this.$route.params.role)
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications
                        this.$data.activities = response.body.activities

                        this.$data.countries = response.body.countries
                        this.$data.categories = response.body.categories
                    });
            },
            submitSupervisor : function(e){
                e.preventDefault();

                this.$data.supervisor.country == 110 ? this.$data.supervisor.phone = document.getElementById("kzphone").value : this.$data.supervisor.phonee = "";

                this.$http.post('supervisors', { 'user' : this.$data.supervisor, 'way' : 'admin'})
                    .then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )

                            document.getElementById("resetSupervisor").click();
                        }
                        
                        if (response.body.error) {
                            swal(
                                {
                                    title: 'Something went wrong!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        
                    }, error => {

                        this.$data.isError = error.body.error
                        this.$data.isSuccess = error.body.success
                        this.$data.message = error.body.message

                        swal(
                            {
                                title: 'Server error!',
                                text: error.body.message,
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    });
            },
            submitAdmin : function(e){
                e.preventDefault();

                this.$data.newadmin.phone = document.getElementById("newadmin").value

                this.$http.post('admins', { 'user' : this.$data.newadmin, 'way' : 'admin'})
                    .then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )

                            document.getElementById("resetAdmin").click();
                        }
                        
                        if (response.body.error) {
                            swal(
                                {
                                    title: 'Something went wrong!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        
                    }, error => {

                        this.$data.isError = error.body.error
                        this.$data.isSuccess = error.body.success
                        this.$data.message = error.body.message

                        swal(
                            {
                                title: 'Server error!',
                                text: error.body.message,
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    });
            },
            submitJury : function(e){
                e.preventDefault();

                this.$data.newjury.phone = document.getElementById("newjury").value

                this.$http.post('juries', { 'user' : this.$data.newjury, 'way' : 'admin'})
                    .then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )

                            document.getElementById("resetJury").click();
                        }
                        
                        if (response.body.error) {
                            swal(
                                {
                                    title: 'Something went wrong!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                        
                    }, error => {
                        console.log(error.body)

                        this.$data.isError = error.body.error
                        this.$data.isSuccess = error.body.success
                        this.$data.message = error.body.message

                        swal(
                            {
                                title: 'Server error!',
                                text: error.body.message,
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    });
            }
        },
        created() {
            if (this.$route.params.role == 'supervisors' || 
                    this.$route.params.role == 'students' || 
                        this.$route.params.role == 'admins' || 
                            this.$route.params.role == 'juries' || 
                                this.$route.params.role == 'moderators') {
                this.setup()
            }else{
                this.$router.push('/');
            }

            $( document ).ready(function() {
                jQuery(function($) {
                    $('.autonumber').autoNumeric('init');
                });
                jQuery.browser = {};
                (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0;
                    if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                        jQuery.browser.msie = true;
                        jQuery.browser.version = RegExp.$1;
                    }
                })();
            });
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
    }
    .small{
        font-size: 15px;
    }
</style>
