<template>
  <div class="card-box mg-b-0" style="margin-bottom: 0px;">
    <h4 class="header-title m-t-0">Add volunteer</h4>

    <form @submit="submitVol">
        <div class="form-group">
            <label for="userName">Name<span class="text-danger">*</span></label>
            <input type="text" name="nick" v-model="vol.name" required="" placeholder="Enter name" class="form-control" >
        </div>
        <div class="form-group">
            <label for="userName">Surname<span class="text-danger">*</span></label>
            <input type="text" name="nick" v-model="vol.surname" required="" placeholder="Enter surname" class="form-control" >
        </div>
        <div class="form-group">
            <label for="emailAddress">Email address<span class="text-danger">*</span></label>
            <input type="email" name="email" v-model="vol.email" required="" placeholder="Enter email" class="form-control">
        </div>
        <div class="form-group">
            <label for="emailAddress">Phone<span class="text-danger">*</span></label>
            <input type="text" name="phone" v-model="vol.phone" required="" placeholder="Enter email" class="form-control">
        </div>
        <div class="form-group">
            <label for="pass1">Description<span class="text-danger">*</span></label>
            <textarea required="" v-model="vol.description" class="form-control" rows="4"></textarea>
        </div>

        <div class="form-group text-right m-b-0">
            <button class="btn btn-custom waves-effect waves-light" type="submit">
                Submit
            </button>
            <button type="reset" class="btn btn-light waves-effect m-l-15">
                Cancel
            </button>
            <button type="button" @click="$emit('close')" class="btn btn-light waves-effect m-l-15">
                Close
            </button>
        </div>

    </form>
</div>
</template>

<script>
import swal from "sweetalert2";

export default {
  components: {},
  data() {
    return {
      vol: {
        name: "",
        surname: "",
        description: "",
        email: "",
        phone: ""
      },

      isError: false,
      isSuccess: false,
      message: ""
    };
  },
  methods: {
    submitVol: function(e) {
      e.preventDefault();

      this.$http.post("volunteers", this.vol).then(
        response => {
          if (response.body.success) {
            swal({
              title: "Good job!",
              text: response.body.message,
              type: "success",
              confirmButtonClass: "btn btn-confirm mt-2"
            });
            this.$emit('close')
          }
          if (response.body.error) {
            swal({
              title: "Something went wrong!",
              text: response.body.message,
              type: "error",
              confirmButtonClass: "btn btn-confirm mt-2"
            });
          }
        },
        error => {
          console.log(error.body);
          swal({
            title: "Server error!",
            text: error.body.message,
            type: "error",
            confirmButtonClass: "btn btn-confirm mt-2"
          });
        }
      );
    }
  },
  created() {}
};
</script>
<style>
</style>
