<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" @click="addVolunteer" class="btn btn-custom btn-rounded w-md waves-effect waves-light mb-4"><i class="mdi mdi-plus-circle"></i> Add volunteer</button>
                            </div>
                            <div class="col-md-12 mg-t-30">
                                <div class="card-box">
                                    <h4 class="header-title m-t-0">Volunteers</h4><br>
                                    <dx-data-grid id="gridContainer" :data-source="users" :allow-column-resizing="true" :allow-column-reordering="true" :show-borders="true" key-expr="volunteer_id">
                                        <dx-selection mode="single"/>
                                        <dx-filter-row :visible="true"/>
                                        <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                        <dx-group-panel :visible="false"/>
                                        <dx-state-storing :enabled="true" type="localStorage" storage-key="volunteers"/>
                                        <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell"/>

                                        <dx-column data-field="name" caption="Name"/>
                                        <dx-column data-field="surname" caption="Surname"/>
                                        <dx-column data-field="email" caption="Email"/>
                                        <dx-column data-field="phone" caption="Phone"/>
                                        <dx-column data-field="description" caption="Role"/>
                                        <dx-column data-field="volunteer_id" caption="QR code" alignment="center" cell-template="volView"/>
                                        <dx-column data-field="volunteer_id" caption="QR code" alignment="center" cell-template="volAction"/>
                                        <dx-column data-field="created_at" caption="Register time"/>
                                        <user-qr slot="volView" slot-scope="details" :details="details.data"/>
                                        <user-action slot="volAction" slot-scope="details" :details="details.data"/>
                                        <dx-summary>
                                            <dx-total-item column="gender" summary-type="count"/>
                                        </dx-summary>
                                    </dx-data-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"
    
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import ViewDetails from './NewVolunteer.vue'
    import Viewq from './View.vue'
    import ACtionq from './ACtion.vue'
    import {DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
            'user-qr': Viewq,
            'user-action': ACtionq,

            DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary
            
        },
        data(){
            return {
                admin : {},

                navconversations : [],
                notifications : [],
                activities : [],

                users: []
            }
        },
        methods:{
            setup : function () {
                this.$http.get('volunteers')
                    .then(response => {
                        this.$data.admin = response.body.admin
                        this.$data.users = response.body.users
                    });
            },
            addVolunteer: function () {
                this.$modal.show( ViewDetails, {
                }, {
                    height: 'auto',
                    width: '40%',
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            contentReady(e) {
                if (!e.component.getSelectedRowKeys().length)
                { 
                    e.component.selectRowsByIndexes(0); 
                }
            },
            selectionChanged(e) {
                e.component.collapseAll(-1);
                e.component.expandRow(e.currentSelectedRowKeys[0]);
            },
            customizeExcelCell(options) {
                if(options.gridCell.rowType === 'data') {
                    if(options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                    }
                    if(options.gridCell.data.SaleAmount > 15000) {
                    if(options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if(options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                    }
                }
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
    @import url('https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css');
    @import url('https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css');
</style>
