<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">

                        <div class="row" v-if="$route.params.role == 'supervisors'">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <router-link :to="'/users/' + $route.params.role + '/new'" class="btn btn-custom mb-4" tag="a">
                                            <i class="mdi mdi-plus"></i> Add Supervisor
                                        </router-link>
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4 text-right">
                                        <div class="hide-phone app-search" style="padding-top: 0px;padding-right: 0px;">
                                            <form>
                                                <input type="text" placeholder="Search..." class="form-control" style="display: initial;width:80%">
                                                <button type="submit" style="right: 5px;left: inherit;top: 0px;"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-for="user in users">
                                <div class="text-center card-box ribbon-box">
                                    <div class="ribbon ribbon-dark"><strong> User ID: </strong> #{{user.user_id}}</div>
                                    <div class="member-card pt-2 pb-2">
                                        <div class="thumb-lg member-thumb m-b-10 mx-auto">
                                            <img :src="baseUrl + user.image" class="rounded-circle img-thumbnail" alt="profile-image">
                                        </div>
                                        <br><br>
                                        <div class="">
                                            <h4 class="m-b-5">{{user.name + ' ' + user.surname}}</h4>
                                            <p class="text-muted">
                                                <span> 
                                                    <a :href="'mailto:' + user.email" target="_blank" class="text-pink">
                                                        {{user.email}}
                                                    </a> 
                                                </span>
                                            </p>
                                        </div>

                                        <router-link :to="'/new-conversation/supervisor/' + user.user_id" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">
                                            New Conversation
                                        </router-link>

                                        <div>
                                            <div class="row">
                                                <div class="col-4">
                                                    <div class="mt-3">
                                                        <p class="mb-0 text-muted">{{user.projects > 1 ? 'Projects': 'Project'}}</p>
                                                        <h4 class="m-b-5">{{user.projects}}</h4>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mt-3">
                                                        <p class="mb-0 text-muted">{{user.students > 1 ? 'Students': 'Student'}} </p>
                                                        <h4 class="m-b-5">{{user.students}}</h4>
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="mt-3">
                                                        <p class="mb-0 text-muted">{{user.teams > 1 ? 'Teams': 'Team'}} </p>
                                                        <h4 class="m-b-5">{{user.teams}}</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 

                        </div>

                        <div class="row" v-if="$route.params.role == 'students'">
                            <div class="col-lg-12">
                                <div class="card-box">
                                    <div class="row" style="margin-bottom: 25px;">
                                        <div class="col-md-4">
                                            <label>Filter by Fullname:</label>
                                            <input class="form-control" v-model="filters.name.value"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Filter by Supervisor:</label>
                                            <input class="form-control" v-model="filters.supervisor.value"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Filter by Supervisor:</label>
                                            <input class="form-control" v-model="filters.country.value"/>
                                        </div>
                                    </div>
                                    
                                    <v-table :data="users" :filters="filters" class="table table-striped">
                                        <thead slot="head">
                                            <th>#</th>
                                            <th>Fullname</th>
                                            <th>Supervisor</th>
                                            <th>Passport</th>
                                            <th>Country</th>
                                            <th>Address</th>
                                            <th>School, Grade</th>
                                        </thead>
                                        <tbody slot="body" slot-scope="{displayData}">
                                            <tr v-for="(user,index) in displayData" :key="user.user_id">
                                                <td>{{index + 1}}</td>
                                                <td>{{ user.s_en_name + ' ' + user.s_en_surname + ' ' + user.s_en_lastname }}</td>
                                                <td>{{user.sname + ' ' + user.ssurname}}</td>
                                                <td>{{user.s_passport}}</td>
                                                <td>{{ user.country }}</td>
                                                
                                                <td>
                                                    {{ user.s_region }}, 
                                                    {{ user.s_city }}, 
                                                    
                                                </td>
                                                <td>
                                                    {{ user.s_school }}, 
                                                    {{ user.s_grade}} - grade
                                                </td>
                                            </tr>
                                        </tbody>
                                    </v-table>

                                </div>
                            </div>

                            <!--<div class="col-md-4" v-for="user in users">
                                <div class="text-center card-box ribbon-box">
                                    <div class="ribbon ribbon-info"><strong>Supervisor:</strong> {{user.sname + ' ' + user.ssurname}}</div>
                                    <div class="member-card pt-4 pb-2">
                                        <br>
                                        <div class="">
                                            <h3 class="m-b-5">{{user.s_en_name + ' ' + user.s_en_surname + ' ' + user.s_en_lastname}}</h3>
                                        </div>

                                        <div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="mt-3">
                                                        <span class="nomargin small"><strong>Country:</strong> {{user.country}}</span><br>
                                                        <span class="nomargin"><strong>Region:</strong> {{user.s_region}}</span><br>

                                                        <span class="nomargin"><strong>City:</strong> {{user.s_city}}</span><br>
                                                        <span class="nomargin"><strong>School:</strong> {{user.s_school}}</span><br>
                                                        <span class="nomargin"><strong>Grade:</strong> {{user.s_grade}}</span><br>
                                                    </div>
                                                    <div class="mt-3">
                                                        <span class="nomargin small"><strong>Birth:</strong> {{user.s_birthdate}}</span><br>
                                                        <span class="nomargin"><strong>Gender:</strong> {{user.s_gender ? "Male" : "Female"}}</span><br>

                                                        <span class="nomargin"><strong>Passport:</strong> {{user.s_passport}}</span><br>
                                                        <span class="nomargin"><strong>Phone:</strong> {{user.s_phone}}</span><br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> -->

                        </div>

                        <div class="row" v-if="$route.params.role == 'admins'">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <router-link :to="'/users/' + $route.params.role + '/new'" class="btn btn-custom mb-4" tag="a">
                                            <i class="mdi mdi-plus"></i> Add Administrator
                                        </router-link>
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4 text-right">
                                        <div class="hide-phone app-search" style="padding-top: 0px;padding-right: 0px;">
                                            <form>
                                                <input type="text" placeholder="Search..." class="form-control" style="display: initial;width:80%">
                                                <button type="submit" style="right: 5px;left: inherit;top: 0px;"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-for="user in users">
                                <div class="text-center card-box ribbon-box">
                                    <div class="ribbon ribbon-purple"><strong> Admin ID: </strong> #{{user.admin_id}}</div>
                                    <div class="member-card pt-5 pb-2">
                                        <div class="thumb-lg member-thumb m-b-10 mx-auto">
                                            <img :src="baseUrl + user.image" class="rounded-circle img-thumbnail" alt="profile-image">
                                        </div>
                                        <div class="">
                                            <h4 class="nomargin nopadding">{{user.name + ' ' + user.surname}}</h4>
                                            <p class="nomargin nopadding">{{user.is_assistant ? 'Assistant' : "Administrator"}}</p>
                                            
                                            <a href="javascript:void(0)" v-on:click="EditAdmin(user.admin_id)" class="text-primary mr-1">
                                                Edit
                                            </a> / 
                                            <a href="javascript:void(0)" v-on:click="DeleteAdmin(user.admin_id)" class="text-primary ml-1">
                                                Delete
                                            </a> <br><br>
                                            <p class="text-muted">
                                                <span> 
                                                    {{user.phone}}<br>
                                                    <a :href="'mailto:' + user.email" target="_blank" class="text-pink">
                                                        {{user.email}}
                                                    </a> 
                                                </span>
                                            </p>
                                        </div>

                                        <router-link :to="'/new-conversation/admin/' + user.admin_id" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">
                                            New Conversation
                                        </router-link>
                                        
                                    </div>
                                </div>
                            </div> 

                        </div>

                        <div class="row" v-if="$route.params.role == 'juries'">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <router-link :to="'/users/' + $route.params.role + '/new'" class="btn btn-custom mb-4" tag="a">
                                            <i class="mdi mdi-plus"></i> Add Jury
                                        </router-link>
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4 text-right">
                                        <div class="hide-phone app-search" style="padding-top: 0px;padding-right: 0px;">
                                            <form>
                                                <input type="text" placeholder="Search..." class="form-control" style="display: initial;width:80%">
                                                <button type="submit" style="right: 5px;left: inherit;top: 0px;"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-for="user in users">
                                <div class="text-center card-box ribbon-box">
                                    <div class="ribbon ribbon-pink"><strong> Jury ID: </strong> #{{user.jury_id}}</div>
                                    <div class="member-card pt-5 pb-2">
                                        <div class="thumb-lg member-thumb m-b-10 mx-auto">
                                            <img :src="baseUrl + user.image" class="rounded-circle img-thumbnail" alt="profile-image">
                                        </div>
                                        <div class="" style="padding-bottom:10px;" >
                                            <h4 class="nomargin nopadding">{{user.name + ' ' + user.surname}}</h4>
                                            <h5 class="nomargin nopadding">{{user.categoryname}} <br> {{user.is_assistant ? 'Assistant' : "Main Jury"}}</h5>
                                            
                                            <a href="javascript:void(0)" v-on:click="EditJury(user.jury_id)" class="text-primary mr-1">
                                                Edit
                                            </a> / 
                                            <a href="javascript:void(0)" style="padding-bottom:15px;" v-on:click="DeleteJury(user.jury_id)" class="text-primary ml-1">
                                                Delete
                                            </a><br>

                                            <p class="text-muted nomargin">
                                                <span>
                                                    <a :href="'mailto:' + user.email" target="_blank" class="text-pink">
                                                        {{user.email}}
                                                    </a> 
                                                </span>
                                            </p>
                                        </div>

                                        <router-link :to="'/new-conversation/jury/' + user.jury_id" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">
                                            New Conversation
                                        </router-link>

                                    </div>
                                </div>
                            </div> 

                        </div>

                        <div class="row" v-if="$route.params.role == 'moderators'">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <router-link :to="'/users/' + $route.params.role + '/new'" class="btn btn-custom mb-4" tag="a">
                                            <i class="mdi mdi-plus"></i> Add Moderator
                                        </router-link>
                                    </div>
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4 text-right">
                                        <div class="hide-phone app-search" style="padding-top: 0px;padding-right: 0px;">
                                            <form>
                                                <input type="text" placeholder="Search..." class="form-control" style="display: initial;width:80%">
                                                <button type="submit" style="right: 5px;left: inherit;top: 0px;"><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" v-for="user in users">
                                <div class="text-center card-box ribbon-box">
                                    <div class="ribbon ribbon-pink"><strong> Jury ID: </strong> #{{user.jury_id}}</div>
                                    <div class="member-card pt-5 pb-2">
                                        <div class="thumb-lg member-thumb m-b-10 mx-auto">
                                            <img :src="baseUrl + user.image" class="rounded-circle img-thumbnail" alt="profile-image">
                                        </div>
                                        <div class="">
                                            <h4 class="m-b-5">{{user.name + ' ' + user.surname}}</h4>
                                            <p style="margin-bottom : 0px;">{{user.bio}}</p>
                                            <p class="text-muted nomargin">
                                                <span> 
                                                    P: {{user.phone}} <br>
                                                    E: <a :href="'mailto:' + user.email" target="_blank" class="text-pink">
                                                        {{user.email}}
                                                    </a> 
                                                </span>
                                            </p>
                                        </div>

                                        <router-link :to="'/new-conversation/moderator/' + user.jury_id" class="btn btn-primary m-t-20 btn-rounded btn-bordered waves-effect w-md waves-light">
                                            New Conversation
                                        </router-link>

                                    </div>
                                </div>
                            </div> 

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"
    
    import Setting from './../../components/account/Setting.vue'
    import JurySetting from './../../components/account/JurySetting.vue'
    
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'


    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],
                activities : [],

                users : [],

                isError : false,
                isSuccess : false,
                message : "",

                filters: {
                    name: { value: '', keys: ['s_en_name', 's_en_surname', 's_en_lastname' ] },
                    supervisor: { value: '', keys: ['sname', 'ssurname' ] },
                    country: { value: '', keys: ['country'] }
                }
            }
        },
        watch:{
            $route (to, from){
                this.$data.users = []
                if (this.$route.params.role == 'supervisors' || this.$route.params.role == 'students' || this.$route.params.role == 'admins' || this.$route.params.role == 'juries' || this.$route.params.role == 'moderators') {
                    this.setup()
                }else{
                    this.$router.push('/');
                }
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-users/' + this.$route.params.role)
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications
                        this.$data.activities = response.body.activities

                        this.$data.users = response.body.users
                    });
            },
            DeleteAdmin : function(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success mt-2',
                    cancelButtonClass: 'btn btn-danger ml-2 mt-2',
                    buttonsStyling: false
                }).then(dismiss => {
                    if (dismiss.value === true) {
                        this.$http.delete('admins/' + id)
                            .then(response => {

                                this.$data.isError = response.body.error
                                this.$data.isSuccess = response.body.success
                                this.$data.message = response.body.message

                                if (response.body.success) {
                                    this.$data.users = response.body.users

                                    swal({
                                        title: 'Deleted!',
                                        text: response.body.message,
                                        type: 'success',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                                }
                                
                                if (response.body.error) {
                                    swal(
                                        {
                                            title: 'Error!',
                                            text: response.body.message,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                                
                            }, error => {
                                this.$data.isError = error.body.error
                                this.$data.isSuccess = error.body.success
                                this.$data.message = error.body.message

                                swal({
                                        title: 'Server error!', text: error.body.message,type: 'error', confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                            });                                
                    }
                    if (dismiss.dismiss === 'cancel') {
                        swal({
                            title: 'Cancelled',
                            text: "Your imaginary file is safe :)",
                            type: 'error',
                            confirmButtonClass: 'btn btn-confirm mt-2'
                        })
                    }
                })
            },
            DeleteJury : function(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success mt-2',
                    cancelButtonClass: 'btn btn-danger ml-2 mt-2',
                    buttonsStyling: false
                }).then(dismiss => {
                    if (dismiss.value === true) {
                        this.$http.delete('juries/' + id)
                            .then(response => {
                                this.$data.isError = response.body.error
                                this.$data.isSuccess = response.body.success
                                this.$data.message = response.body.message

                                if (response.body.success) {
                                    this.$data.users = response.body.users

                                    swal({
                                        title: 'Deleted!',
                                        text: response.body.message,
                                        type: 'success',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                                }
                                
                                if (response.body.error) {
                                    swal(
                                        {
                                            title: 'Error!',
                                            text: response.body.message,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                                
                            }, error => {
                                this.$data.isError = error.body.error
                                this.$data.isSuccess = error.body.success
                                this.$data.message = error.body.message

                                swal({
                                        title: 'Server error!', text: error.body.message,type: 'error', confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                            });                                
                    }
                    if (dismiss.dismiss === 'cancel') {
                        swal({
                            title: 'Cancelled',
                            text: "Your User is in safe :)",
                            type: 'error',
                            confirmButtonClass: 'btn btn-confirm mt-2'
                        })
                    }
                })
            },
            EditAdmin : function (id) {
                this.$modal.show(Setting, {
                    user_role : 'admin',
                    user_id: id
                }, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            EditJury : function (id) {
                this.$modal.show(JurySetting, {
                    user_role : 'jury',
                    user_id: id
                }, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            }
        },
        created() {
            if (this.$route.params.role == 'supervisors' || this.$route.params.role == 'students' || this.$route.params.role == 'admins' || this.$route.params.role == 'juries' || this.$route.params.role == 'moderators') {
                this.setup()
            }else{
                this.$router.push('/');
            }
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
</style>
