<template>
        <div id="app">
            
        <div class="main-container">
            <section class="height-100 text-center">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h2>Recover your account</h2>
                            <p class="lead">
                                Enter your email address to send a new password. Otherwise no mail will send from our server.
                            </p>
                            <form id="userforgot" v-on:submit="forgot">
                                <div class="col-xs-12">
                                    <input type="email" name="email" placeholder="Email Address" v-model="user.email" required="">
                                </div>
                                <div class="col-xs-12">
                                    <button class="btn btn--primary type--uppercase" type="submit">Recover my Account</button>
                                </div>
                                <div class="col-xs-12 text-center">
                                    <span class="type--fine-print-create">Don't have account?
                                        <a :href="baseUrl + '/user/register'">Create new</a>
                                        or 
                                        <a :href="baseUrl + '/user/login'">Back to Login page.</a>
                                    </span>
                                </div>                                
                            </form>
                            <div id="log">
                                <p class="alert text-center " 
                                     v-bind:class="{ 'form-error' : isError, 'form-success':  isSuccess}">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>    
</template>

<script>
    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main,

                user : {
                    email : ""
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            setup : function(){

            },
            forgot : function(e){
                e.preventDefault();

                this.$http.post('forgot', this.$data.user)
                    .then(response => {
                        //console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                        
                    }, response => {
                        //console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });
            }
        }
    }
</script>
<style type="text/css">
    .form-error{
        left: 50% !important;
        bottom: auto !important;
    }
    .form-success {
        left: 50% !important;
        bottom: auto !important; 
    }
</style>
