<template>
    <div id="app">
        <a id="start"></a>
        <div class="nav-container ">
            <nav class="bar bar-toggle bar--transparent bar--absolute bg--dark thisistransparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="bar__module" style="padding-top: 7px;">
                                <a :href="baseUrl" >
                                    <img class="logo logo-dark" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                    <img class="logo logo-light" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>     
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100">
                <div class="imageblock__content col-md-5 col-sm-4 pos-left hidden-xs">
                    <div class="background-image-holder">
                        <img alt="image" :src="page_image" />
                    </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <p class="lead">
                                <a :href="this.baseUrl">
                                    <i class="icon icon--sm icon-Arrow-OutLeft color--primary" style="font-size: 21px"></i> Back to Main page
                                </a>
                            </p>
                            <h2>Sign in to your InfoMatrix account</h2>
                            <p class="lead">By logging to your account, you can easily upload your projects and manage them &mdash; Infomatrix team.</p>
                            <form id="userlogin" v-on:submit="login">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="email" name="email" v-model="user.email" placeholder="Email Address" required="" />
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="password" name="password" v-model="user.password" placeholder="Password" required=""/>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn--primary type--uppercase">Sign in</button>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <span class="type--fine-print-create">Don't have account?
                                            <a :href="baseUrl + '/user/register'">
                                                Create account
                                            </a>  
                                            or 
                                            <a :href="baseUrl + '/user/forgot'">
                                                Forgot password
                                            </a>  
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div id="log">
                                <p class="alert text-center" v-bind:class="{ 'form-error' : isError, 'form-success':  isSuccess}">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>    
    </div>    
</template>

<script>
    import image from './../../images/login.jpg'

    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main,
                page_image : image,
                user : {
                    email : "",
                    password : ""
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        watch:{
            $route (to, from){
                this.setup()
            }
        },
        methods:{
            login : function(e){
                e.preventDefault();

                this.$http.post('login',this.$data.user)
                    .then(response => {
                        console.log(response.body)

                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now(), response.body.token_type) 
                            location.reload()
                        }
                        
                    }, response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });
            }
        },
    }
</script>
<style>

</style>
