<template>
    <div id="app">
        <a id="start"></a>
        <div class="nav-container ">
            <nav class="bar bar-toggle bar--transparent bar--absolute bg--dark thisistransparent">
                <div class="container">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-3">
                            <div class="bar__module" style="padding-top: 7px;">
                                <a :href="baseUrl" >
                                    <img class="logo logo-dark" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                    <img class="logo logo-light" alt="logo" v-bind:src="this.baseUrl+'/general/images/components/logo-light.png'" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>      
        <div class="main-container">
            <section class="imageblock switchable feature-large height-100">
                <div class="imageblock__content col-md-5 col-sm-4 pos-left hidden-xs">
                    <div class="background-image-holder">
                        <img alt="image" v-bind:src="page_image" />
                    </div>
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-6 col-sm-7">
                            <h2 v-show="config.user_register == 1" class="text-center">Create an InfoMatrix account</h2>
                            <p v-show="config.user_register == 1" class="lead text-center">Welcome new user &mdash; Infomatrix team.
                                <a :href="baseUrl + '/user/login'">
                                   Back to Login page.
                                </a> 
                            </p>
                            <div class="switchable__text" v-if="config.user_register == 0">
                                <h3 class="color--primary-1 text-center">Online registration is closed</h3>
                                <p class="lead">
                                    Thank you for your interest in registering our event. We are sorry that the online registration for this event is closed.. If you have questions you can ask on faqs section or write to our email: <a href="mailto:infomatrix@bil.edu.kz">infomatrix@bil.edu.kz</a>.
                                </p>
                                <hr class="short" />
                            </div>
                            <div v-else>
                                <form id="userRegister" v-on:submit="register($event)">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="name" v-model="user.name" placeholder="First name" required="" />
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <input type="text" name="surname" v-model="user.surname" placeholder="Last name" required="" />
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="input-select">
                                                <select id="country" name="country" v-model="user.country" required=""> 
                                                    <option v-for="country in countries" :value="country.id">
                                                        {{ country.name }}
                                                    </option>  
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 text-left">
                                            <input type="email" name="email" v-model="user.email" placeholder="Email Address" required="" />
                                        </div>
                                        <div class="col-xs-12">
                                            <input type="password" name="password" v-model="user.password" placeholder="Password" required="" />
                                        </div>
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn--primary type--uppercase">Create Account</button>
                                        </div>
                                        <div class="col-xs-12 text-center">
                                            <label><span class="color--primary-1 nomargin">Note:</span> Enter a valid email to send activation code!</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="log">
                                <p class="alert text-center" v-bind:class="{ 'form-error' : isError, 'form-success':  isSuccess}">{{ message }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>    
</template>

<script>
    export default {
        data(){
            return { 
                page_image : Infomatrix.main + '/general/images/register-cover.jpg',
                baseUrl: Infomatrix.main,

                countries : [],
                config : {},

                user : {
                    name : "",
                    surname : "",
                    country : 1,
                    email : "",
                    password : ""
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            setup :function(){
                this.$http.get('countries')
                    .then(response => {
                        this.$data.countries = response.body.countries
                        this.$data.config = response.body.config 
                    })
            },
            register(event) {
                // now we have access to the native event
                if (event) event.preventDefault();


                this.$http.post('register', {'user' : this.$data.user})
                    .then(response => {
                        //console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            //this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now(), response.body.token_type) 
                            window.setTimeout(location.replace(this.baseUrl + '/user/login') , 15000);
                            
                            
                        }
                    }, error => {
                        console.log(error.body);
                    });
            }
        },
        created() {
            this.setup()
        }
    }
</script>
