<template>
    <div id="app">
        <section class="bg--secondary space--sm conversation nomargin">
            <div class="row" :style="UserConfig.user_project_register == 0 ? 'padding-top: 7em;': 'padding-top: 5em;'">
                <div class="col-sm-12 text-center" v-if="UserConfig.user_project_register == 0">
                    <h1>Uploading projects closed now.</h1>
                </div>
                <div class="col-sm-12 text-center" v-else>
                    <h1>Upload you project</h1>
                    <p class="lead">
                        There some simple steps to upload your project. It is really cool and easy to upload, if you are ready, let's start!
                        <br>
                        <span class="color--primary-1 nomargin" style="font-weight: bold;">Note: </span>Please, carefully read all instructions on every step, it will help you correctly upload your project!
                    </p>
                    
                    <a class="btn btn--primary" @click="$emit('next')" :disabled="userIAM.is_email_activated == 0">
                        <span class="btn__text" >Let's start</span>
                    </a>
                    <a class="btn bg--facebook" :href="'https://infomatrix.asia/INFOMATRIX%202025%20Regulations.pdf'" target="_blank">
                        <span class="color--white">Infomatrix Asia 2025 (General Rule)</span>
                    </a>
                </div>
            </div>
        </section>
    </div>    
</template>

<script>
    import swal from "sweetalert2"

    export default {
        props: ['config','UserConfig', 'userIAM'],
        data(){
            return { 
                baseUrl : Infomatrix.main
            }
        },
        methods:{
            next : function() {
                this.$emit('nextStep');
            },
        },mounted() {
            if(window.innerWidth < 900){
                swal(
                    {
                        title: 'Warning!',
                        text: "Please, sign in with laptop or pc to upload your project!",
                        type: 'error',
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    }
                )
            }
        }
    }
</script>
<style>
</style>
