<template>
  <div id="app">
    <section class="bg--secondary space--sm conversation nomargin">
      <div class="row">
        <div class="col-sm-12">
          <div class="switchable switchable--switch">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div
                    class="height-40 imagebg border--round box-shadow-wide"
                    data-overlay="4"
                  >
                    <div class="background-image-holder">
                      <img alt="background" :src="image" />
                    </div>
                    <div
                      class="pos-vertical-center col-sm-12 boxed boxed--lg bg--none"
                    >
                      <h2 style="margin-bottom: 0px; margin-top: 10px">
                        Step 3
                      </h2>
                      <p class="lead">
                        It is last step. Fill in all the blanks about your
                        project, then submit.<br />
                        <strong class="color--primary-1">Note:</strong> It will
                        take some time to fully upload you project(it depends on
                        you internet speed!). Project upload allowed file types
                        ZIP, PDF, DOC, DOCX and maximum file size is 3M.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12" style="padding-top: 50px">
            <form id="projectinfo" ref="form">
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <label for="projectname" style="cursor: pointer"
                      >Project name
                      <strong class="color--primary-1">(Required)</strong
                      >:</label
                    >
                    <input
                      type="text"
                      maxlength="255"
                      name="projectname"
                      placeholder="Enter Project Name"
                      class="validate-required"
                      required=""
                      v-model="project.name"
                    />
                  </div>
                  <div class="col-sm-12" style="padding-top: 10px">
                    <label
                      >Project category
                      <strong class="color--primary-1">(Required)</strong
                      >:</label
                    >
                    <div class="input-select">
                      <select
                        id="projectcategory"
                        name="projectcategory"
                        v-model="project.category"
                        required=""
                        v-on:change="categoryChanged(project.category)"
                      >
                        <option
                          v-for="cat in categories"
                          :value="cat.id"
                          v-if="cat.category != 'Drone Racing'"
                        >
                          {{ cat.category }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 text-left" style="padding-top: 10px">
                    <label
                      >Project Description
                      <strong class="color--primary-1">(Required)</strong>:
                      <strong class="color--primary-1" v-if="!showok"
                        ><br />Description must be minimum 100 characters!
                        Currently: {{ desclength }}</strong
                      ></label
                    >
                    <textarea
                      class="validate-required"
                      id="projectdescription"
                      name="projectdescription"
                      rows="5"
                      placeholder="Text"
                      required=""
                      v-model="project.description"
                      v-on:change="lengthcount"
                    ></textarea>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-sm-12 text-left" style="padding-top: 10px">
                    <label
                      >Upload Project File(allowed file types ZIP, RAR, PDF,
                      DOC, DOCX)
                      <strong class="color--primary-1">(Required)</strong
                      >:</label
                    >
                    <input
                      type="file"
                      id="file"
                      name="file"
                      class="validate-required"
                      accept=".doc, .docx, .pdf, .png, .jpeg, .gif, .rar, .zip"
                      required=""
                      @change="imageuploader"
                    />
                    <input
                      type="file"
                      id="files"
                      name="file"
                      class="validate-required hidden"
                      accept=".doc, .docx, .pdf, .png, .jpeg, .gif, .rar, .zip"
                      required=""
                      @change="fileChanged"
                    />
                    <label class="block" for="files" v-show="false">
                      <div
                        class="feature feature-7 boxed text-center imagebg"
                        data-overlay="6"
                      >
                        <div class="background-image-holder">
                          <img
                            alt="background"
                            src="https://www.ppihotline.co.uk/wp-content/uploads/2017/02/placeholder-image.jpg"
                          />
                        </div>
                        <h4 class="pos-vertical-center">
                          {{
                            !isSelected
                              ? "Upload your project here (click here)"
                              : project.filename
                          }}
                        </h4>
                        <h4
                          class="pos-vertical-center nomargin"
                          style="padding-bottom: 30px"
                        >
                          {{
                            !isSelected
                              ? ""
                              : "CLICK HERE to choose another file"
                          }}
                        </h4>
                      </div>
                    </label>
                  </div>
                  <div
                    class="col-sm-12 text-left"
                    v-if="project.category == 5"
                    v-for="robotic in shortmovienotype"
                    style="padding-top: 10px"
                  >
                    <label class="h4"
                      >{{ robotic.label
                      }}<strong class="color--primary-1">{{
                        robotic.isRequired ? " (Required) " : ""
                      }}</strong
                      >:
                    </label>
                  </div>
                  <div
                    class="col-sm-12 text-left"
                    v-for="robotic in categoryconfigs"
                    style="padding-top: 10px"
                  >
                    <label v-if="robotic.type != 'none'"
                      >{{ robotic.label
                      }}<strong class="color--primary-1">{{
                        robotic.isRequired ? " (Required) " : ""
                      }}</strong
                      >:
                    </label>
                    <input
                      v-if="robotic.type == 'input'"
                      type="text"
                      :name="robotic.id"
                      :id="robotic.id"
                      :placeholder="robotic.placeholder"
                      class="validate-required"
                    />

                    <input
                      v-if="robotic.type == 'date'"
                      type="date"
                      :name="robotic.id"
                      :id="robotic.id"
                      class="validate-required"
                    />

                    <input
                      v-if="robotic.type == 'number'"
                      type="number"
                      :name="robotic.id"
                      :id="robotic.id"
                      class="validate-required"
                    />

                    <textarea
                      v-if="robotic.type == 'textarea'"
                      :name="robotic.id"
                      :id="robotic.id"
                      :placeholder="robotic.placeholder"
                      class="validate-required"
                      rows="5"
                    ></textarea>

                    <div class="input-select" v-if="robotic.type == 'select'">
                      <select :id="robotic.id" :name="robotic.id">
                        <option v-for="vals in robotic.values" :value="vals">
                          {{ vals }}
                        </option>
                      </select>
                    </div>

                    <div v-if="robotic.type == 'radio'" class="text-center">
                      <div
                        :class="
                          robotic.values.length == 3 ? 'col-sm-4' : 'col-sm-3'
                        "
                        v-for="radios in robotic.values"
                      >
                        <div class="input-radio">
                          <label>{{ radios }}</label>
                          <div class="inner"></div>
                          <input
                            type="radio"
                            :id="robotic.id"
                            :name="robotic.id"
                            :value="radios"
                            v-on:change="changeRadio(robotic.id, radios)"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <span class="h4 nomargin text-center" style="color: red">{{
                projecterror
              }}</span>
              <span class="h4 nomargin text-center" style="color: green">{{
                projectsuccess
              }}</span>
            </form>
          </div>
        </div>

        <div class="row" style="padding-top: 25px">
          <div class="col-sm-6 text-left">
            <button
              class="btn btn--primary"
              @click="$emit('previous')"
              href="javascript:void(0)"
              style="width: 100%"
            >
              <span class="btn__text" style="font-size: 14px">Back</span>
            </button>
          </div>
          <div class="col-sm-6 text-right">
            <button
              class="btn btn--primary"
              type="submit"
              v-on:click="finish()"
              href="javascript:void(0)"
              style="width: 100%"
            >
              <span class="btn__text" style="font-size: 14px">Submit</span>
            </button>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import image from "./../../images/uploader.jpg";

import rob from "./../../../config/categories/robotics.json";
import cprogramming from "./../../../config/categories/programming.json";
import cgraphicsart from "./../../../config/categories/graphicsart.json";
import hardcontrol from "./../../../config/categories/hardcontrol.json";
import shortmovie from "./../../../config/categories/shortmovie.json";
import droneracing from "./../../../config/categories/droneracing.json";
import mathproject from "./../../../config/categories/math.json";

export default {
  props: ["config", "categories"],
  data() {
    return {
      image: image,

      isSelected: false,

      project: {
        name: "",
        category: null,
        description: "",
        file: "",
        ext: "",
        filename: "",
        additionals: [],
      },

      checked: false,
      projecterror: "",
      projectsuccess: "",

      projectsubmited: {
        name: "",
        code: "",
        description: "",
      },

      desclength: 0,
      showok: false,

      robotics: [
        {
          id: "youtubelink",
          label:
            "Upload video that shows robot in action on youtube and send link (title consists of team name and subcategory)",
          type: "input",
          placeholder: "Enter Youtube link",
          isRequired: true,
        },
        {
          id: "subcategory",
          label: "Select your Sub category in Robotics",
          type: "select",
          isRequired: true,
          values: ["FLL Challenge", "Arduino Hackathon"],
        },
      ],
      cprogramming: cprogramming,
      cgraphicsart: cgraphicsart,
      hardcontrol: hardcontrol,
      shortmovie: [
        {
          id: "youtubelink",
          label:
            "Video link uploaded on youtube with following title structure: Infomatrix 2025 - {Name of the Film} (“Name of team”)",
          type: "input",
          isRequired: true,
        },
        {
          id: "backstagelink",
          label:
            "Backstage footages during the filming, scripting, editing (have to be downloaded on “dropbox” cloud server. After that link have to be attached to the mail)",
          type: "input",
          isRequired: true,
        },
        {
          id: "subtopic",
          label: "Select your Sub-category",
          type: "select",
          isRequired: true,
          values: [
            "Mental health",
            "Bullying and harassment",
            "Internet safety",
            "Eating disorders",
            "Ecological problems",
            "Others",
          ],
        },
      ],
      droneracing: droneracing,
      mathproject: mathproject,

      categoryconfigs: [],

      shortmovienotype: [
        {
          id: "nolink",
          label:
            "Topics: “Short movie can be based on one of the following provided topics, or on the topic participants choose by themselves. It is preferable to use one of these topics since it will give more advantages. Note that these are not names of the movie. Participants have to choose specific name related to the topic they choose. \n\n Topics:\n Mental health, Bullying and harassment, Internet safety, Eating disorders, Ecological problems",
          type: "none",
          placeholder: "",
          isRequired: false,
        },
        {
          id: "nolinktwo",
          label: "Duration: from 3 minutes up to 5 minutes",
          type: "none",
          placeholder: "",
          isRequired: false,
        },
        {
          id: "nolinkfour",
          label: "Brief abstract about the film in description box",
          type: "none",
          placeholder: "",
          isRequired: false,
        },
      ],
      defaultCategoryConfigs: [
        {
          id: "youtubelink",
          label:
            "Provide video link related to your project, where it is shown in action (ex: short presentation or demo of your project)",
          type: "input",
          placeholder: "Enter Youtube link",
          isRequired: true,
        },
        {
          id: "sourcelink",
          label:
            "Provide any project source link to your work (ex: github, google drive, bitbucket, etc., link should be public)",
          type: "input",
          placeholder: "Enter Project Source link",
          isRequired: true,
        },
      ],
    };
  },
  methods: {
    imageuploader: function (e) {
      var fileTypes = ["pdf", "doc", "docx", "rar", "zip"];

      if (e.target.files[0].size > 6097152) {
        alert("File is too big!");
        (this.isSelected = false),
          (this.project.filename = ""),
          (this.project.file = ""),
          (this.project.ext = "");
      } else {
        if (e.target.files && e.target.files[0]) {
          var extension = e.target.files[0].name.split(".").pop().toLowerCase(),
            isSuccess = fileTypes.indexOf(extension) > -1;

          if (isSuccess) {
            this.isSelected = true;
            this.$data.project.filename = e.target.files[0].name;
            this.$data.project.ext = extension;

            var fileUploader = new FileReader();
            fileUploader.readAsDataURL(e.target.files[0]);
            fileUploader.onload = (e) => {
              this.$data.project.file = e.target.result;
            };
          }
        }
      }
    },
    fileChanged: function (e) {

      var fileTypes = ["pdf", "doc", "docx", "rar", "zip"];
      if (e.target.files[0].size > 6097152) {
        alert("File is too big!");
      } else {
        if (e.target.files && e.target.files[0]) {
          var extension = e.target.files[0].name.split(".").pop().toLowerCase(), //file extension from input file
            isSuccess = fileTypes.indexOf(extension) > -1; //is extension in acceptable types

          this.$data.isSelected = true;
          this.$data.project.filename = "File name: " + e.target.files[0].name;
          this.$data.project.ext = extension;

          if (isSuccess) {
            var fileUploader = new FileReader();
            fileUploader.readAsDataURL(e.target.files[0]);
            fileUploader.onload = (e) => {
              this.$data.project.file = e.target.result;
            };
          } else {
            alert("Select another file!");
            this.$data.isSelected = false;
            this.$data.project.file = "";
            this.$data.project.ext = "";
          }
        }
      }
    },
    finish: function () {
      if (this.$data.project.category === null) {
        alert("Please, select category!");
        return;
      }
      this.$data.project.additionals = [];

      for (var k in this.$data.defaultCategoryConfigs) {
        this.$data.project.additionals.push({
          label: this.$data.defaultCategoryConfigs[k]["label"],
          id: this.$data.defaultCategoryConfigs[k]["id"],
          value: document.getElementById(
            this.$data.defaultCategoryConfigs[k]["id"]
          ).value,
        });
      }
      /** 
                switch(this.$data.project.category) {
                    case 1:
                        for(var k in this.$data.robotics){
                            this.$data.project.additionals.push({
                                "label" : this.$data.robotics[k]['label'],
                                "id" : this.$data.robotics[k]['id'],
                                "value" : document.getElementById(this.$data.robotics[k]['id']).value
                            })
                        }
                        break;
                    case 2:
                        for(var k in this.$data.cprogramming){
                            this.$data.project.additionals.push({
                                "label" : this.$data.cprogramming[k]['label'],
                                "id" : this.$data.cprogramming[k]['id'],
                                "value" : document.getElementById(this.$data.cprogramming[k]['id']).value
                            })
                        }
                        break;
                    case 3:
                        for(var k in this.$data.cgraphicsart){
                            this.$data.project.additionals.push({
                                "label" : this.$data.cgraphicsart[k]['label'],
                                "id" : this.$data.cgraphicsart[k]['id'],
                                "value" : document.getElementById(this.$data.cgraphicsart[k]['id']).value
                            })
                        }
                        break;
                    case 4:
                        for(var k in this.$data.hardcontrol){
                            this.$data.project.additionals.push({
                                "label" : this.$data.hardcontrol[k]['label'],
                                "id" : this.$data.hardcontrol[k]['id'],
                                "value" : document.getElementById(this.$data.hardcontrol[k]['id']).value
                            })
                        }
                        break;
                    case 5:
                        for(var k in this.$data.shortmovie){
                            this.$data.project.additionals.push({
                                "label" : this.$data.shortmovie[k]['label'],
                                "id" : this.$data.shortmovie[k]['id'],
                                "value" : document.getElementById(this.$data.shortmovie[k]['id']).value
                            })
                        }
                        break;
                    case 6:
                        for(var k in this.$data.droneracing){
                            this.$data.project.additionals.push({
                                "label" : this.$data.droneracing[k]['label'],
                                "id" : this.$data.droneracing[k]['id'],
                                "value" : document.getElementById(this.$data.droneracing[k]['id']).value
                            })
                        }
                        break;
                    case 7:
                        for(var k in this.$data.mathproject){
                            this.$data.project.additionals.push({
                                "label" : this.$data.mathproject[k]['label'],
                                "id" : this.$data.mathproject[k]['id'],
                                "value" : document.getElementById(this.$data.mathproject[k]['id']).value
                            })
                        }
                        break;
                }
                */

      /*for (var key in this.$data.project) {
                    this.$data.project[key] != "" ? this.$data.checked = true : this.$data.checked = false;
                }*/

      if (this.$data.checked) {
        alert('Please, fill all blanks where "Required"!');
      } else {
        this.$http.post("set-project", this.$data.project).then((response) => {
          this.$data.projecterror = response.body.error;
          this.$data.projectsuccess = response.body.success;

          this.tonext(response.body, response.body.success);
        });
      }
    },
    tonext: function (project, success) {
      if (this.$data.projecterror != "" && success != null) {
        this.$emit("projectSubmission", project);
      }
    },
    lengthcount: function () {
      this.$data.desclength =
        document.getElementById("projectdescription").value.length;

      if (this.$data.desclength > 100) {
        this.$data.showok = true;
      }
    },
    changeRadio: function (id, value) {
      document.getElementById(id).value = value;
    },
    categoryChanged: function (id) {
      this.$data.categoryconfigs = this.$data.defaultCategoryConfigs;
      return;

      switch (id) {
        case 1:
          this.$data.categoryconfigs = this.$data.robotics;
          break;
        case 2:
          this.$data.categoryconfigs = this.$data.cprogramming;
          break;
        case 3:
          this.$data.categoryconfigs = this.$data.cgraphicsart;
          break;
        case 4:
          this.$data.categoryconfigs = this.$data.hardcontrol;
          break;
        case 5:
          this.$data.categoryconfigs = this.$data.shortmovie;
          break;
        case 6:
          this.$data.categoryconfigs = this.$data.droneracing;
          break;
        case 7:
          this.$data.categoryconfigs = this.$data.mathproject;
          break;
      }
    },
  },
  created() {
    // this.$data.categoryconfigs = this.$data.robotics;
  },
};
</script>
<style>
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
