<template>
    <div id="app">
        <section class="bg--secondary space--sm conversation nomargin">
            <div class="row">
                <div class="col-sm-12">
                    <div class="switchable switchable--switch">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="height-40 imagebg border--round box-shadow-wide" data-overlay="4">
                                        <div class="background-image-holder">
                                            <img alt="background" :src="image">
                                        </div>
                                        <div class="pos-vertical-center col-sm-12 boxed boxed--lg bg--none" style="margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;">
                                            <h2 style="margin-bottom: 0px;margin-top: 10px;">Step 2</h2>
                                            <p class="lead">
                                                <strong class="color--white">Important: </strong>You can have at least one and maximum three students in your team.
                                                <br> In order to add your student click "Add New Student" button (more read <a v-bind:href="baseUrl+'/terms'" traget="_blank">terms</a>), if you have already registered your student you can click "Select Student" and add to your <strong data-tooltip="It is your team name!" style="color:white;">{{teamname}}</strong> team.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="padding-top:35px;">
                                </div>
                                
                                
                                <div class="col-sm-3">
                                    <a class="btn modal-trigger" id="myBtn" href="javascript:void(0)" style="width:100%">
                                        <span class="btn__text">
                                            Add New Student
                                        </span>
                                    </a>
                                    <div id="myModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <section class="unpad ">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-sm-12 col-xs-12">
                                                            <div class="boxed boxed--lg bg--white text-center feature">
                                                                <h2 class="nomargin">Register new Student</h2>
                                                                <br>
                                                                <form v-on:submit="submitStudent">
                                                                    <div class="col-md-6 col-sm-12" style="border-left: 1px solid black;">
                                                                        <h4 class="color--primary-1">2. Student Personal Inforation:</h4>
                                                                        <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                                                        <div class="col-sm-12 text-left">
                                                                            <label for="senname" style="cursor: pointer;">
                                                                                In Latin alphabets as in the passport:
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="senname" style="cursor: pointer;">
                                                                                <strong class="color--primary-1">*</strong> First name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="senname"  
                                                                                class="validate-required" 
                                                                                required=""
                                                                                v-model="newstudent.ensurname"
                                                                                    />
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="senmname" style="cursor: pointer;">
                                                                                <strong class="color--primary-1">*</strong> Last name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="senmname" 
                                                                                class="validate-required" 
                                                                                required=""
                                                                                v-model="newstudent.enname"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="senlname" style="cursor: pointer;">
                                                                                Middle name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="senlname"  
                                                                                class="validate-required" 
                                                                                v-model="newstudent.enlastname"
                                                                                />
                                                                        </div>
                                                                        <div v-if="newstudent.country === 110">
                                                                        <div class="col-sm-12 text-left">
                                                                            <label for="senname" style="cursor: pointer;">
                                                                                In Cyrillic alphabets as in the passport:
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="sruname" style="cursor: pointer;">
                                                                                <strong class="color--primary-1">*</strong> First name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="sruname"  
                                                                                class="validate-required" 
                                                                                pattern="[\u0400-\u04ff]{2,}"
                                                                                required=""
                                                                                v-model="newstudent.rusurname"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="srumname" style="cursor: pointer;">
                                                                                <strong class="color--primary-1">*</strong> Last name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="srumname" 
                                                                                class="validate-required" 
                                                                                pattern="[\u0400-\u04ff]{2,}"
                                                                                required=""
                                                                                v-model="newstudent.runame"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-4 text-left">
                                                                            <label for="srulname" style="cursor: pointer;">
                                                                                Middle name:
                                                                            </label>
                                                                            <input type="text" 
                                                                                name="srulname"  
                                                                                class="validate-required" 
                                                                                pattern="[\u0400-\u04ff]{2,}"
                                                                                v-model="newstudent.rulastname"
                                                                                />
                                                                        </div>
                                                                        </div>
                                                                        <div class="col-sm-6 text-left" style="padding-top:5px;">
                                                                            <label for="sbirth" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Birth date:</label>
                                                                            <input type="date" 
                                                                                name="sbirth" 
                                                                                placeholder="Choose a date" 
                                                                                min="1995-01-01" 
                                                                                max="2017-12-31" 
                                                                                v-model="newstudent.birthdate"
                                                                                required />
                                                                        </div>
                                                                        <div class="col-sm-6 text-left" style="padding-top:5px;">
                                                                            <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Gender:</label>
                                                                            <div class="input-select">
                                                                                <select name="sgender" v-model="newstudent.gender">
                                                                                    <option value="1"> Male </option>
                                                                                    <option value="2">Female</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12 text-left" style="padding-top:5px;">
                                                                            <label for="sinn" style="cursor: pointer;"><strong class="color--primary-1">*</strong> {{newstudent.country === 110 ? "Individual identification number (INN)/(ИИН)/(ЖСН): ": "Student Passport number: "}}</label>
                                                                            <input type="number" 
                                                                                name="sinn" 
                                                                                placeholder="Individual identification number" class="validate-required" 
                                                                                required=""
                                                                                v-model="newstudent.passport"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-12 text-left" style="padding-top: 10px;">
                                                                            <label>Upload Passport File(allowed file types ZIP,RAR, PDF, PNG, JPG) <strong class="color--primary-1">(Required)</strong>:</label>
                                                                            <input 
                                                                                type="file"
                                                                                id="files"
                                                                                name="file" 
                                                                                class="validate-required"
                                                                                accept=".pdf, .png, .jpeg, .gif, .rar, .zip"
                                                                                required=""
                                                                                @change="fileChanged" />
                                                                        </div>
                                                                        <div class="col-sm-12 col-md-12 text-left">
                                                                            <label for="stelephone" style="cursor: pointer;">
                                                                                <strong class="color--primary-1">*</strong> Telephone:
                                                                            </label>
                                                                            <input type="text" v-model="newstudent.phone" name="phone" placeholder="Enter students's phone" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12">
                                                                        <h4 class="color--primary-1">1. Student Address Inforation:</h4>
                                                                        <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                                                        <div class="col-sm-12 text-left">
                                                                            <label for="scountry" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Country: </label>
                                                                            <div class="input-select">
                                                                                <select id="scountry" name="scountry" v-model="newstudent.country" required=""> 
                                                                                    <option v-for="country in countries" :value="country.id">
                                                                                        {{ country.name }}
                                                                                    </option>  
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div v-if="newstudent.country === 110" class="col-sm-12 text-left">
                                                                            <label><strong class="color--primary-1">*</strong> Region:</label>
                                                                            <div class="input-select">
                                                                                <select id="region" name="region" v-model="newstudent.region" required=""> 
                                                                                    <option v-for="region in regions" :value="region.en">
                                                                                        {{ region.en }}
                                                                                    </option>  
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div v-else class="col-sm-12 col-md-12 text-left">
                                                                            <label><strong class="color--primary-1">*</strong> Region:</label>
                                                                            <input type="text" name="location" v-model="newstudent.region" placeholder="Enter your region name..."/>
                                                                        </div>

                                                                        <div class="col-sm-6 text-left">
                                                                            <label for="stonecity" style="cursor: pointer;"><strong class="color--primary-1">*</strong> City:</label>
                                                                            <input type="text" 
                                                                                name="stonecity" 
                                                                                placeholder="City" 
                                                                                class="validate-required" 
                                                                                required="" 
                                                                                v-model="newstudent.city"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-6 text-left">
                                                                            <label for="szip" style="cursor: pointer;"><strong class="color--primary-1">*</strong> ZIP code (<a href="https://www.mapdevelopers.com/what-is-my-zip-code.php" target="_blank">Find my Zip code</a>):</label>
                                                                            <input type="text" 
                                                                                name="szip" 
                                                                                placeholder="ZIP code" 
                                                                                class="validate-required"
                                                                                v-model="newstudent.zip"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-12 text-left" >
                                                                            <label for="stoneschool" style="cursor: pointer;"><strong class="color--primary-1">*</strong> School:</label>
                                                                            <input type="text" 
                                                                                name="stoneschool" 
                                                                                placeholder="School" 
                                                                                class="validate-required" 
                                                                                required=""  
                                                                                v-model="newstudent.school"
                                                                                />
                                                                        </div>
                                                                        <div class="col-sm-12 text-left" style="padding-right: 15px !important;" >
                                                                            <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Grade:</label>
                                                                            <div class="input-select">
                                                                                <select name="sgender" v-model="newstudent.grade">
                                                                                    <option value="5"> 5 </option>
                                                                                    <option value="6"> 6 </option>
                                                                                    <option value="7"> 7 </option>
                                                                                    <option value="8"> 8 </option>
                                                                                    <option value="9"> 9 </option>
                                                                                    <option value="10"> 10 </option>
                                                                                    <option value="11"> 11 </option>
                                                                                    <option value="12"> 12 </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12 text-center">
                                                                        <span class="h4 nomargin" style="color:green;">{{stusuccess}}</span>
                                                                        <span class="h4 nomargin" style="color:red;">{{stuerror}}</span>
                                                                    </div>
                                                                    <div class="col-sm-12 text-left">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <button type="submit" class="btn btn--primary-3" style="color: black;">Save</button>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <button class="btn btn--primary-3" v-on:click="Closemodal" href="javascript:void(0)" style="width: 100%;">
                                                                                    <span class="btn__text">Cancel</span>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-3">
                                    <div class="modal-instance block">
                                        <a class="btn modal-trigger" href="javascript:void(0)">
                                            <span class="btn__text">
                                                Add from list
                                            </span>
                                        </a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <section class="unpad ">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-10 col-sm-offset-1 col-xs-12">
                                                                <div class="boxed boxed--lg bg--white text-center feature">
                                                                    <div class="modal-close modal-close-cross"></div>
                                                                    <h3 class="nomargin">Select Student</h3>
                                                                    <span class="nomargin">Here are your students you have registered. You can choose one of them by clicking “Add to team”, which means that the student you selected will be in your project and the team you have created!</span><br>
                                                                    <br>
                                                                    <span class="h3 nomargin text-center" style="color:red;">{{existsinlist}}</span>
                                                                    <span class="h3 nomargin text-center" style="color:green;">{{fromlist}}</span>
                                                                    <br>
                                                                    <p class="lead text-left">
                                                                        <table class="border--round">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Name and Surname</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr v-for="(reg, index) in regedStudents">
                                                                                    <td>{{index + 1}}</td>
                                                                                    <td>{{reg.s_en_name + " " + reg.s_en_surname }}</td>
                                                                                    <td>
                                                                                        <a href="javascript:void(0);" v-on:click="addToTeam(reg.s_en_name + ' ' + reg.s_en_surname, reg.s_student_id)">
                                                                                            Add to team
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <span class="text-center h5 color--primary-1" v-show="regedStudents.length == 0">No students registered yet!</span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="margin-left:15px;padding-top:25px;">
                                    <span class="h3 nomargin" v-if="students.length != 0">Students in the team:</span>
                                    <span class="h3 nomargin" v-else>No student is imported!</span>
                                    <ul>
                                        <li v-for="(item, index) in students" style="margin-left:25px;">
                                            <span class="h4 nomargin">{{index+1}}. {{item.fullname}} <a href="javascript:void(0);" v-on:click="removest(index)">Remove</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row" style="padding-top:50px;">
                                <div class="col-sm-6">
                                    <button class="btn btn--primary" @click.prevent="tonext()" href="javascript:void(0)" style="width: 100%;">
                                        <span class="btn__text" style="font-size: 14px;">Next Step</span>
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn--primary" @click="$emit('previous')" href="javascript:void(0)" style="width: 100%;">
                                        <span class="btn__text" style="font-size: 14px;">Back</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>    
</template>

<script>
    import image from './../../images/uploader.jpg'
    const Swal = require('sweetalert2')

    export default {
        props: ['teamname'],
        data(){
            return { 
                baseUrl: Infomatrix.main,
                image: image,
                isSelected: false,

                user:{},

                scount : 1,
                regedStudents : [], 
                students : [],


                newstudent:{
                    isSelected: false,
                    enname : "",
                    ensurname : "",
                    enlastname : "",
                    
                    runame : "",
                    rusurname : "",
                    rulastname : "",

                    birthdate : "",
                    gender : 1,
                    passport : "",
                    phone : "",
                    country : 1,
                    region : "",
                    city : "",
                    zip : "",
                    school : "",
                    grade : 11 ,
                    passfile: {
                        isSelected: false,
                        file : "",
                        ext : "" ,
                        filename : "",
                    }
                },

                countries:[],
                regions:[],

                stuerror : "",
                stusuccess : "",
                fromlist : "",
                existsinlist : ""

            }
        },
        methods : {
            fileChanged : function(e){
                var fileTypes = ['pdf', 'png','jpeg','gif','rar','zip'];
                if(e.target.files[0].size > 2097152){
                    alert("File is too big!");
                }else{
                    if (e.target.files && e.target.files[0]) {
                        var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                        this.newstudent.passfile.isSelected = true
                        this.newstudent.passfile.filename = e.target.files[0].name
                        this.newstudent.passfile.ext = extension

                        if (isSuccess) { 
                            var fileUploader = new FileReader()
                            fileUploader.readAsDataURL(e.target.files[0])
                            fileUploader.onload = (e) => {
                                this.newstudent.passfile.file = e.target.result
                            }
                        }
                        else { 
                            alert('Select another file!')
                            this.newstudent.passfile.isSelected = false
                            this.newstudent.passfile.file = ""
                            this.newstudent.passfile.ext = ""
                        }
                    }
                }                
            },
            setup(){
                this.$http.get('get-upload-students')
                    .then(response => {
                        this.$data.user = response.body.user
                        this.$data.countries = response.body.countries
                        this.$data.regions = response.body.regions

                        this.$data.regedStudents = response.body.students
                        this.$data.newstudent.country = response.body.user.country
                    });
            },
            onInput({ number, isValid, country }) {
                //console.log(number, isValid, country);
            },
            getstudents : function(){
                this.$http.get('get-students')
                    .then(response => {
                        this.$data.regedStudents = response.body.students
                    })
            },

            resetter : function(){
                this.$data.stuerror = "";
                this.$data.stusuccess = "";
                this.$data.existsinlist = "";
                this.$data.fromlist = "";
            },
            formResetter : function(){
                this.$data.newstudent = {
                    enname : "",
                    ensurname : "",
                    enlastname : "",
                    
                    runame : "",
                    rusurname : "",
                    rulastname : "",

                    birthdate : "",
                    gender : 1,
                    passport : "",
                    phone : "",
                    country : this.$data.user.country,
                    region : "",
                    city : "",
                    zip : "",
                    school : "",
                    grade : 11 
                };
                return;
            },

            checkifadded(code){
                for (var i = 0; i < this.$data.students.length; i++) {
                    if(this.$data.students[i].code == code){
                        return true;
                    }
                }
                return false;
            },

            removeemptyarrays(){
                for( var i = 0; i < this.$data.students.length.length-1; i++){ 
                    if(this.$data.students[i] === undefined || this.$data.students[i].length == 0){
                        this.$data.students.splice(i, 1);
                    }
                }
            },

            submitStudent : function(e) {
                e.preventDefault();

                this.resetter();
                this.removeemptyarrays();

                this.$http.post('set-students', this.$data.newstudent)
                    .then(response => {
                        this.$data.stuerror = response.body.error
                        this.$data.stusuccess = response.body.success
                        
                        if(this.$data.students.length == 3){
                            this.$data.stusuccess = this.$data.stusuccess + "You can search from your list of students!";
                            this.$data.stuerror = "Can not add to your team! Every project can have maximum 3 students!";
                            return;
                        }else{
                            if(response.body.fullname != undefined){
                                Swal.fire({
                                    type: 'success',
                                    title: 'Success!',
                                    text: response.body.fullname + ' is successfully added!'
                                })
                                this.students.push(
                                    {
                                        'fullname' : response.body.fullname,
                                        'code' : response.body.code
                                    }
                                );
                                this.formResetter();
                            }
                        }
                        return;
                    });

                this.getstudents();
            },
            addToTeam : function(fullname, code){
                this.resetter();
                this.removeemptyarrays();

                if(this.$data.students.length == 3){
                    this.$data.existsinlist = "Every project can have maximum 3 students!";
                    return;
                }else{
                    if(this.checkifadded(code)){
                        this.$data.existsinlist = "You have already added to your team!";
                    }else{
                        this.$data.students.push(
                            {
                                'fullname' : fullname,
                                'code' : code
                            }
                        );
                        this.setup()
                        this.$data.fromlist = "Successfully added to your team!";
                    }
                }
            },
            tonext : function(){
                if(this.$data.students.length < 1){
                    alert("A team must have at least one student (member)!");
                    return;
                }
                else{
                    this.$emit('studentSubmission', this.$data.students);
                }
            },
            removest : function(index){
                this.$data.students.splice(index, 1);
            },
            Closemodal : function(){
                modal.style.display = "none";
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    input:invalid+span:after {
        position: absolute; content: '✖';
        padding-left: 5px;
        font-size: 25px;
        color: #8b0000;
        padding-top: 15px;
    }

    input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
        font-size: 25px;
        color: #009000;
        padding-top: 15px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    font-size: 50px;
    font-weight: bold;

    cursor: pointer;
    position: absolute;
    opacity: .5;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    top: 1em;
    right: 1em;
    z-index: 99;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>
