<template>
    <div id="app">
        <section class="bg--secondary space--sm conversation nomargin">
            <div class="row">
                <div class="col-sm-12">
                    <div class="switchable switchable--switch">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="height-50 imagebg border--round box-shadow-wide" data-overlay="4">
                                        <div class="background-image-holder">
                                            <img alt="background" :src="image">
                                        </div>
                                        <div class="pos-vertical-center col-sm-12 boxed boxed--lg bg--none">
                                            <h2 style="margin-bottom: 0px;margin-top: 15px;">Step 1</h2>
                                            <p class="lead">
                                                Create your team:
                                            </p>
                                            <div class="boxed boxed--lg bg--white">
                                            <form v-on:submit="UploaderSubmit">
                                                <div class="col-sm-4" style="margin-bottom: 0px;padding-left:10px;">
                                                    <button style="width: 95%;"  type="submit" class="btn btn--primary type--uppercase">Next step</button>
                                                </div>

                                                <div class="col-sm-8" style="margin-bottom: 0px;">
                                                    <input type="text" name="teamname" v-model="uploadername"  placeholder="Enter Team Name" class="validate-required" required>
                                                </div>
                                            </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>     
</template>

<script>
    import image from './../../images/uploader.jpg'

    export default {
        data(){
            return { 
                uploadername : "",
                image : image
            }
        },
        methods:{
            UploaderSubmit : function(event){
                event.preventDefault();

                if (this.$data.uploaderName != "") {
                    this.$emit('teamSubmission', this.$data.uploadername);
                }
            },
        },
    }
</script>
<style>
</style>
