<template>
    <div id="app">
        <div class="row nopadding">
            <div class="col-md-12 col-sm-12">
                <div class="card-box" style="margin-bottom: 0px;">
                    <h2 class="nomargin header-title text-center">New notification</h2><br>

                    <div class="row">
                        <div class="col-12">
                            <div class="p-20">
                                <form class="form-horizontal" v-on:submit="SubmitNotification">
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Title</label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" placeholder="Enter name" v-model="newnote.title" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">Content</label>
                                        <div class="col-10">
                                            <textarea type="text" class="form-control" v-model="newnote.content" rows="5" placeholder="Enter content" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-2 col-form-label">File</label>
                                        <div class="col-10">
                                            <input type="file" class="form-control" @change="imageuploader" placeholder="Enter file">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-6">
                                            <h4>Importance:</h4>
                                            <div class="col-12 custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="assistant" value="assistant" v-model="newnote.isImportant" checked>
                                                <label class="custom-control-label" for="assistant">{{ newnote.isImportant.length > 0 ? 'Marked as important' : 'Not important'}}</label>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <h4>Who will get this notification?</h4>
                                            <div class="col-12 custom-control custom-radio">
                                                <input type="radio" v-model="newnote.isTo" id="supervisors" value="1" name="supervisors" class="custom-control-input">
                                                <label class="custom-control-label" for="supervisors">Supervisors</label>
                                            </div>
                                            <div class="col-12 custom-control custom-radio">
                                                <input type="radio" v-model="newnote.isTo" id="moderator" value="2" name="moderator" class="custom-control-input">
                                                <label class="custom-control-label" for="moderator">Juries</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <div>
                                            <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                Submit
                                            </button>
                                            <a @click="$emit('close')" class="btn btn-light waves-effect m-l-5">
                                                Cancel
                                            </a>
                                            <button type="reset" id="clearall" class="btn btn-light waves-effect m-l-5">
                                                Clear
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['newnote'],
        data(){
            return {
                baseUrl : Infomatrix.main
            }
        },
        methods:{
            imageuploader : function(e){
                var fileTypes = ['png','jpeg','jpg','doc', 'docx', 'pdf', 'ppt', 'pptx'];
                if(e.target.files[0].size > 2097152){
                    alert("File is too big!");
                }else{
                    if (e.target.files && e.target.files[0]) {
                        var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                            isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                        this.newnote.file.isSelected = true
                        this.newnote.file.filename = e.target.files[0].name
                        this.newnote.file.ext = extension

                        if (isSuccess) { 
                            var fileUploader = new FileReader()
                            fileUploader.readAsDataURL(e.target.files[0])
                            fileUploader.onload = (e) => {
                                this.newnote.file.file = e.target.result
                            }
                        }
                        else { 
                            alert('Select another file!')
                            this.newnote.file.isSelected = false
                            this.newnote.file.file = ""
                            this.newnote.file.filename = ""
                            this.newnote.file.ext = ""
                        }
                    }
                }                
            },
            SubmitNotification: function (e) {
                e.preventDefault();
                this.$http.post('notifications', this.newnote).then(response => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if(response.body.success == true){
                            document.getElementById('clearall').click()
                            this.$emit('close')
                        }
                    }, error => {
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });  
                
            }
        }
    }
</script>
<style>
    
</style>
