<template>
    <div id="app">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-box ribbon-box nobottom">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ribbon ribbon-primary ml-1 float-right nomargin" style="padding-left:10px;">Date : {{notification.newdate}}</div>
                        </div>
                        <div class="col-sm-12">
                            <h3 class="mt-0 nopadding nomargin">{{notification.n_title}}</h3>
                            
                            <p class="font-13" style="white-space: pre-line;">
                                {{notification.n_content}}
                            </p>
                            
                            <p class="font-12 text-left nomargin nopadding">
                                <ul class="list-inline nopadding nomargin">
                                    <ol class="list-inline nopadding nomargin" v-for="file in notification.files"> 
                                        Download: <a target="_blank" :href="baseUrl + file.link">{{file.file}}</a>
                                    </ol>
                                </ul>
                            </p>

                            <ul class="list-inline nopadding nomargin">
                                <li class="list-inline-item">
                                    <h3 class="mb-0 font-12">{{notification.is_important ? 'Yes' : 'No' }}</h3>
                                    <p class="text-muted">Important</p>
                                </li>
                                <li class="list-inline-item">
                                    <h3 class="mb-0">{{notification.filescount}}</h3>
                                    <p class="text-muted">Files</p>
                                </li>
                                <li class="list-inline-item">
                                    <h3 class="mb-0">{{notification.status}}</h3>
                                    <p class="text-muted">Seen by {{notification.n_to == 1 ? 'Supervisors ' : 'Juries' }}</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['note_id'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                notification : {}
            }
        },
        methods:{
            setup: function () {
                this.$http.get('notifications/' + this.note_id)
                    .then(response => {
                        this.$data.notification = response.body.notification
                    }, error => {
                        this.$data.notification = response.body.notification
                    });  
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .nobottom{
        margin-bottom : 0px !important;
    }
</style>
