<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container">
            <section style="padding-top:8em;">
                <div class="container">
                    <div class="row" style="padding-bottom:40px;">
                        <div class="col-sm-12 col-md-12">
                            <br>
                            <div class="text-block">
                                <span class="h2">{{project.p_title}}</span>
                                <ol class="breadcrumbs">
                                    <li>
                                        <a :href="baseUrl">Main page</a>
                                    </li>
                                    <li>
                                        <a :href="baseUrl + '/user'">User panel</a>
                                    </li>
                                    <li>
                                        <a :href="baseUrl + '/user/manage'">Projects</a>
                                    </li>
                                    <li>
                                        {{project.p_title}}
                                    </li>
                                </ol>
                                <hr>
                                <div class="col-sm-12 col-md-3">
                                    <div class="text-block nomargin">
                                        <span class="h4">Team name:</span>
                                        <span class="h5 nomargin" style="padding-left:20px;">
                                            {{team.t_name}}
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="text-block nomargin">
                                        <span class="h4">Students:</span>
                                        <ul class="bullets">
                                            <li v-for="(student, index) in students">
                                                <strong>{{student.s_en_surname}} {{student.s_en_name}} </strong>
                                            </li>
                                        </ul>
                                    </div>  
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <span class="h4  nomargin">Project Description:</span><br>
                                    <p style="white-space: pre-line;font-size:14px;word-wrap: break-word;" class="lead">{{project.p_description}}</p>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <div class="text-block nomargin">
                                        <span class="h4  nomargin">Project Document:</span>
                                        <span style="padding-left:20px;">
                                            <a target="_blank" :href="project.p_file">Download</a>
                                        </span>
                                    </div>
                                    <hr>
                                    <div class="text-block nomargin">
                                        <span class="h4 nomargin">Project Additional Information:</span>
                                        <span v-for="index in adds">
                                            <span style="padding-left:20px;"><strong>{{index.label}}</strong>: <a v-if="checkifurl(index.value)" :href="index.value">Go to link</a><span v-else>{{ index.value }}</span></span><br>
                                        </span>
                                    </div> 
                                </div>

                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <div class="comments">
                                <h3>{{messages.length}} Comment(s)</h3>
                                <ul class="comments__list">
                                    <li v-for="com in messages">
                                        <div class="comment">
                                            <div class="comment__avatar">
                                                <img alt="Image" :src="com.role == 2 ? user.image : baseUrl + '/general/images/user.png'" />
                                            </div>
                                            <div class="comment__body ">
                                                <h5 class="type--fine-print">{{ com.role == 2 ? 'You' : 'Infomatrix Jury'}}</h5>
                                                <div class="comment__meta nomargin">
                                                    <span>{{com.created_at}}</span>
                                                </div>
                                                <p style="white-space: pre-line; font-size:19px;" class="nomargin">
                                                    {{com.message}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="comments-form">
                                <h4>Leave a Message</h4>
                                <div class="row">
                                    <form @submit="submitMessage">
                                        <div class="col-sm-12">
                                            <label>Message:</label>
                                            <textarea rows="4" name="Message" v-model="message" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn btn--primary" type="submit">Submit Message</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>    
</template>

<script>
    import Header from './../../view/menu/Header.vue'
    import Footer from './../../view/menu/Footer.vue'

    
    export default {
        components:{
            'this-header' : Header,
            'this-footer' : Footer
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,

                user:{},
                team:{},
                project : {},
                students : [],
                categories : [],
                adds : [],

                messages: [],
                message: '',
                notes : 0
            }
        },
        methods:{
            setup : function(){
                this.$http.get('get-project/' + this.$route.params.projectsID)
                    .then(response => {
                        if(response.body.notefound){
                             window.location.replace( this.baseUrl + '/user/manage'); 
                        }
                        this.$data.user =  response.body.user
                        this.$data.team = response.body.team
                        this.$data.students = response.body.students
                        this.$data.project = response.body.project
                        this.$data.adds = response.body.additional
                        
                        this.$data.categories = response.body.categories

                        this.$data.notes = response.body.status
                    })

                this.$http.get('messages/' + this.$route.params.projectsID)
                    .then(response => {
                        this.messages = response.body.messages
                        this.message = ''
                        console.log(response.body)
                    },
                    error =>{
                        console.log(error.body)
                    })
            },
            checkifurl : function(str) {
                var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
                if(!regex.test(str)) {
                    return false;
                } else {
                    return true;
                }
            },
            submitMessage: function(e) {
                e.preventDefault();
                this.$http.post('messages', {'message': this.message, 'id': this.$route.params.projectsID, 'role': 2})
                    .then(response => {
                        this.messages = response.body.messages
                        console.log(response.body)
                    },
                    error =>{
                        console.log(error.body)
                    })
            }
        },
        created() {
            this.setup()
        },
        mounted() {
        },
    }
</script>
<style>
    .nomargin{
        margin: 0px !important;
    }
</style>