<template>
  <section class="nomargin nopadding">
    <div class="row">
        <div class="col-sm-12">
          <div class="boxed boxed--lg bg--white text-center feature">
            <h2 class="nomargin">Register new Guest</h2>
            <br>
            <form v-on:submit="submitGuest">
                <div class="col-md-12 col-sm-12">
                  <h4 class="color--primary-1">Guest Personal Inforation:</h4>
                  <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                  
                  <div class="col-sm-6 pdt10 text-left">
                    <label for="senname" style="cursor: pointer;">
                        <strong class="color--primary-1">*</strong> First name:
                    </label>
                    <input type="text" name="senname" class="validate-required" required="" v-model="guest.name" />
                  </div>
                  <div class="col-sm-6 pdt10 text-left">
                    <label for="senname" style="cursor: pointer;">
                        <strong class="color--primary-1">*</strong> Last name:
                    </label>
                    <input type="text" name="senname" class="validate-required" required="" v-model="guest.surname" />
                  </div>

                  <div class="col-sm-12 pdt10 text-left">
                    <label for="senname" style="cursor: pointer;">
                        <strong class="color--primary-1">*</strong> Email:
                    </label>
                    <input type="email" name="senname" class="validate-required" required="" v-model="guest.email" />
                  </div>
                  <div class="col-sm-12 pdt10 col-md-6 text-left">
                      <label for="sinn" style="cursor: pointer;"><strong class="color--primary-1">*</strong> {{guest.country === 110 ? "Individual identification number (INN)/(ИИН)/(ЖСН): ": "Student Passport number: "}}</label>
                      <input type="number" 
                          name="sinn" 
                          placeholder="Individual identification number" class="validate-required" 
                          required=""
                          v-model="guest.passport"
                          />
                  </div>
                  <div class="col-sm-12 pdt10 col-md-6 text-left">
                    <label for="stelephone" style="cursor: pointer;">
                        <strong class="color--primary-1">*</strong> Telephone:
                    </label>
                    <vue-tel-input v-model="guest.phone" @onInput="onInput" :preferredCountries="['kz']"></vue-tel-input>
                  </div>
                  
                  <div class="col-sm-12" style="margin-top:20px;">
                    <h4 class="color--primary-1">Guest Address Inforation:</h4>
                  </div>

                  <div class="col-sm-12 text-left">
                    <label for="scountry" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Country: </label>
                    <div class="input-select">
                        <select id="scountry" name="scountry" v-model="guest.country" required=""> 
                            <option v-for="country in countries" :value="country.id">
                                {{ country.name }}
                            </option>  
                        </select>
                    </div>
                  </div>

                  <div v-if="guest.country === 110" class="col-sm-12 col-md-12 pdt10 text-left">
                    <label><strong class="color--primary-1">*</strong> Region:</label>
                    <div class="input-select">
                        <select id="region" name="region" v-model="guest.region" required=""> 
                            <option v-for="region in regions" :value="region.en">
                                {{ region.en }}
                            </option>  
                        </select>
                    </div>
                  </div>
                  <div v-else class="col-sm-12 col-md-12 pdt10 text-left">
                    <label><strong class="color--primary-1">*</strong> Region:</label>
                    <input type="text" name="location" v-model="guest.region" placeholder="Enter your region name..."/>
                  </div>

                  <div class="col-sm-12 col-md-6 pdt10 text-left">
                    <label for="stonecity" style="cursor: pointer;"><strong class="color--primary-1">*</strong> City:</label>
                    <input type="text" 
                        name="stonecity" 
                        placeholder="City" 
                        class="validate-required" 
                        required="" 
                        v-model="guest.city"
                        />
                  </div>
                  <div class="col-sm-12 col-md-6 pdt10 text-left">
                    <label for="address" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Address:</label>
                    <input type="text" name="address" placeholder="Address"  class="validate-required" required=""  v-model="guest.address" />
                  </div>
                  
                  <div class="col-sm-12 pdt25 text-left">
                    <div class="row">
                      <div class="col-sm-3">
                          <button type="submit" class="btn btn--primary-3" style="color: black;">Add Guest</button>
                      </div>
                      <div class="col-sm-3">
                          <button class="btn btn--primary-3" @click="$emit('close')" href="javascript:void(0)" style="width:100%;">
                              <span class="btn__text">Cancel</span>
                          </button>
                      </div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>

    export default {
        components: {
        },
        props:[
          'country'
        ],
        data(){
            return { 
              guest:{
                name: '',
                surname: '',

                passport: '',
                phone: '',
                email:'',
                country: '',
                region: '',
                city: '' ,
                address: ''               
              },
              countries:[],
              regions:[],
            }
        },
        methods: {
          setup(){
              this.$http.get('get-upload-students')
                  .then(response => {
                      this.$data.countries = response.body.countries
                      this.$data.regions = response.body.regions
                  });
          },
          submitGuest: function(e){
            e.preventDefault();
            
            this.$http.post('guests', this.$data.guest)
              .then(response => {
                if (response.body.success) {
                  alert(response.body.message)
                  this.$emit('close')
                }else{
                  alert(response.body.message)
                }
              },
              error =>{
                console.log(error.body)
              });
          },
          onInput({ number, isValid, country }) {
            console.log(number, isValid, country);
          },
        },
        mounted: function () {
        },
        created() {
          this.setup()
          this.guest.country = this.country
        },
    }
</script>
<style >
  .nopadding{
    padding:0px !important;
  }
  input:invalid+span:after {
        position: absolute; content: '✖';
        padding-left: 5px;
        font-size: 25px;
        color: #8b0000;
        padding-top: 15px;
    }

    input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
        font-size: 25px;
        color: #009000;
        padding-top: 15px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    .pdt10{
      padding-top: 10px;
    }
    .pdt25{
      padding-top: 25px;
    }
</style>