<template>
   <div id="app">
    <form ref="form" class="card-form">
      <header>
        <h1 class="card-form__title">Your card data</h1>
      </header>
      <div class="card-form-field">
        <label for="cardNumberInput" class="card-form-field__label">Number</label>
        <input  type="text"
                name="card[number]"
                v-model="card.number"
                maxlength="16"
                class="card-form-field__input"
                ref="card.number"
                required
                id="cardNumberInput" />
      </div>
      <div class="card-form-field">
        <label for="cardOwnerInput" class="card-form-field__label">Owner name</label>
        <input  type="text"
                required
                name="card[owner]"
                v-model="card.owner"
                class="card-form-field__input"
                maxlength="24"
                ref="card.owner"
                id="cardOwnerInput" />
      </div>
      <div class="card-form-field">
        <label for="" class="card-form-field__label card-form-field__label_inline">Expiration</label>
        <select v-model="card.expiration.month"
                name="card[expiration][month]"
                class="card-form-field__select"
                required
                ref="card.expiration.month">
          <option v-for="month in months">{{month}}</option>
        </select>
        /
        <select v-model="card.expiration.year"
                name="card[expiration][year]"
                class="card-form-field__select"
                required
                ref="card.expiration.year">
          <option v-for="year in years">{{year}}</option>
        </select>
      </div>
      <div class="card-form-field">
        <label for="cardCvcInput" class="card-form-field__label card-form-field__label_inline">CVC</label>
        <input  type="text"
                name="card[cvc]"
                v-model="card.cvc"
                maxlength="3"
                required
                class="card-form-field__input card-form-field__input_cvc"
                id="cardCvcInput"
                ref="card.cvc" />
      </div>
      <button type="submit" class="card-form__submit">Checkout</button>
    </form>

    <div class="card-preview">
      <div class="card-preview__side card-preview__side_front">
        <div class="card-preview__number">
          <div class="card-preview__label card-preview__label_white">Number</div>
          <div class="card-preview__etched-text">{{cardNumberFormatted}}</div>
        </div>

        <div class="card-preview__owner">
          <span class="card-preview__label card-preview__label_white">Owner</span>
          <span class="card-preview__etched-text">{{card.owner}}</span>
        </div>

        <div class="card-preview__expiration">
          <span class="card-preview__label card-preview__label_white">Valid thru</span>
          <span class="card-preview__etched-text">{{cardExpiration}}</span>
        </div>
      </div>
      <div class="card-preview__side card-preview__side_back">
        <div class="card-preview__cvc">
          <span class="card-preview__label">CVC</span>
          {{card.cvc}}
        </div>
      </div>
    </div>

    
  </div>
</template>

<script>

    export default {
        components: {
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                user:{},
                card: {
                    number: '',
                    owner: '',
                    expiration: {
                        month: '',
                        year: ''
                    },
                    cvc: '000'
                }
            }
        },
        methods: {
            formatCardNumber: function () {
              var formattedNumber = '';
            }
        },

        computed: {
            cardNumberFormatted: function () {
            var numberChunks = this.card.number.match(/.{1,4}/g);

            if (numberChunks)
                return numberChunks.join(' ');
            else
                return '';
            },
            cardExpiration: function () {
            if (!this.card.expiration.month || !this.card.expiration.year)
                return '';

            return this.card.expiration.month + '/' + this.card.expiration.year;
            },

            months: function () {
            return [
                '01', '02', '03', '04',
                '05', '06', '07', '08',
                '09', '10', '11', '12'
            ];
            },
            years: function () {
            var years= [];
            var currentYear = (new Date()).getFullYear() % 2000;

            for (var i = 0; i < 18; i++)
                years.push(currentYear + i);

            return years;
            }
        },

        watch: {
            'card.number': function (newNumber) {
            this.card.number = newNumber.replace(/[^0-9]/gim,'');
            },
            'card.owner': function (newOwner) {
            this.card.owner = newOwner.toUpperCase().replace(/[^A-Z\s]/gim,'')
            },
            'card.cvc': function (newCvc) {
            this.card.cvc = newCvc.replace(/[^0-9]/gim,'');
            }
        },

        mounted: function () {
            var instance = this;

            console.log(this);

            this.$refs.form.addEventListener('submit', function (e) {
            e.stopPropagation();
            e.preventDefault();
            });
        }
    }
</script>
<style >
@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');


.card{
width: 320px;
height: 190px;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective:600px;
  
}

.card__part{
  box-shadow: 1px 1px #aaa3a3;
    top: 0;
  position: absolute;
z-index: 1000;
  left: 0;
  display: inline-block;
    width: 320px;
    height: 190px;
    background-image: url('https://image.ibb.co/bVnMrc/g3095.png'), linear-gradient(to right bottom, #fd696b, #fa616e, #f65871, #f15075, #ec4879); /*linear-gradient(to right bottom, #fd8369, #fc7870, #f96e78, #f56581, #ee5d8a)*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
   
    -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.card__front{
  padding: 18px;
-webkit-transform: rotateY(0);
-moz-transform: rotateY(0);
}

.card__back {
  padding: 18px 0;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
}

.card__black-line {
    margin-top: 5px;
    height: 38px;
    background-color: #303030;
}

.card__logo {
    height: 16px;
}

.card__front-logo{
      position: absolute;
    top: 18px;
    right: 18px;
}
.card__square {
    border-radius: 5px;
    height: 30px;
}

.card_numer {
    display: block;
    width: 100%;
    word-spacing: 4px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card__space-75 {
    width: 75%;
    float: left;
}

.card__space-25 {
    width: 25%;
    float: left;
}

.card__label {
    font-size: 10px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.8);
    letter-spacing: 1px;
}

.card__info {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card__back-content {
    padding: 15px 15px 0;
}
.card__secret--last {
    color: #303030;
    text-align: right;
    margin: 0;
    font-size: 14px;
}

.card__secret {
    padding: 5px 12px;
    background-color: #fff;
    position:relative;
}

.card__secret:before{
  content:'';
  position: absolute;
top: -3px;
left: -3px;
height: calc(100% + 6px);
width: calc(100% - 42px);
border-radius: 4px;
  background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
}

.card__back-logo {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card__back-square {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.card:hover .card__front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);

}

.card:hover .card__back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
</style>