<template>
    <div id="app">
        <div class="accountbg" :style="'background: url(\'' + baseUrl + '/general/images/steppe.jpg\');background-size: cover;'"></div>

        <div class="wrapper-page account-page-full">

            <div class="card">
                <div class="card-block">

                    <div class="account-box">

                        <div class="card-box p-5 pdt70">
                            <h2 class="text-uppercase text-center pb-4">
                                <a :href="baseUrl" class="text-success">
                                    <span><img :src="baseUrl + '/2025/logo.png'" alt="" height="50"></span>
                                </a>
                            </h2>

                            <form class="" @submit="login">

                                <div class="form-group m-b-20 row">
                                    <div class="col-12">
                                        <label for="emailaddress">Email address</label>
                                        <input class="form-control" type="email" id="emailaddress"  v-model="user.email" required="" placeholder="Enter your email">
                                    </div>
                                </div>

                                <div class="form-group row m-b-20">
                                    <div class="col-12">
                                        <a href="#" class="text-muted pull-right"><small>Forgot your password?</small></a>
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" required="" v-model="user.password" id="password" placeholder="Enter your password">
                                    </div>
                                </div>

                                <div class="form-group row text-center m-t-10">
                                    <div class="col-12">
                                        <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign In</button>
                                    </div>
                                </div>

                            </form>
                            <div>
                                <div v-show="message != '' && isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{message}}
                                </div>
                                <div v-show="message != '' && isError" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{message}}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>    
</template>

<script>
    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main,

                user : {
                    email : "",
                    password : ""
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            login : function(e){
                e.preventDefault();

                this.$http.post('login',this.$data.user)
                    .then(response => {
                        console.log(response.body)
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message

                        if (response.body.success) {
                            this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now(), response.body.token_type) 
                            location.reload()
                            //this.$router.push("/")
                        }
                        
                    }, response => {
                        // error callback
                        console.log(response.body)
                        
                        this.$data.isError = response.body.error
                        this.$data.isSuccess = response.body.success
                        this.$data.message = response.body.message
                    });
            }
        }
    }
</script>
<style>
    .pdt70{
        padding-top: 150px !important;
    }
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
</style>
