<template>
    <div id="app">
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <h3 class="">Frequently Asked Questions</h3>

                                    <a class="btn btn-success waves-effect waves-light m-t-10" v-on:click="AddNewFaqs()">Add FAQs</a>

                                </div>
                            </div>
                        </div>

                        <div class="row m-t-50 pt-3" v-if="faqs.length > 0">
                            <div class="col-md-6" v-for="faqe in faqs">
                                <div>
                                    <div class="question-q-box">Q.</div>
                                    <h4 class="question" data-wow-delay=".1s">{{faqe.question}}</h4>
                                    <p class="answer">{{faqe.answer}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-50 pt-3" v-else>
                            <h4 class="text-center"> Faqs not Found!</h4>
                        </div>

                    </div>
                </div> 
            </div>
        </div>
    </div>
</template>

<script>
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import Setting from './../../view/faqs/NewFaqs.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [], 

                faqs : []
            }
        },
        watch:{
            $route (to, from){
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('faqs')
                    .then(response => {
                        this.$data.admin = response.body.admin
                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.faqs = response.body.faqs
                    });
            },
            AddNewFaqs: function () {
                this.$modal.show(Setting, {}, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }
</style>
