<template>
    <div id="app">
        <div class="container-fluid" style="background-color: #e8ecec;">

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box" style="margin-top:15px; margin-bottom:15px;">
                        <h4 class="mb-3 mt-2 header-title text-center">New Faqs</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="p-20">
                                    <form class="form-horizontal" v-on:submit="SubmitFaqs">
                                        <div class="form-group row">
                                            <label class="col-2 col-form-label">Faqs for</label>
                                            <div class="col-10">
                                                <select class="form-control" v-model="faqs.level" required>
                                                    <option value="1">Supervisors</option>
                                                    <option value="2">Juries</option>
                                                    <option value="3">Admins</option>
                                                    <option value="4">Moderators</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-2 col-form-label">Question</label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" placeholder="Enter name" v-model="faqs.question" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-2 col-form-label">Answer</label>
                                            <div class="col-10">
                                                <textarea type="text" class="form-control" placeholder="Bio" rows="5"  v-model="faqs.answer" required></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group mt-3">
                                            <div>
                                                <button type="submit" class="btn btn-custom waves-effect waves-light">
                                                    Submit
                                                </button>
                                                <a @click="$emit('close')" class="btn btn-light waves-effect m-l-5">
                                                    Cancel
                                                </a>
                                                <button type="reset" id="clearall" class="btn btn-light waves-effect m-l-5">
                                                    Clear
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    export default {
        props: [],
        data(){
            return {
                baseUrl : Infomatrix.main,

                faqs:{
                    level : 1,
                    answer : "",
                    question : "" 
                },
            }
        },
        methods:{
            SubmitFaqs : function(e){
                e.preventDefault();

                this.$http.post('faqs', {'faqs' : this.$data.faqs})
                    .then(response => {
                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$emit('close');
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to Administrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            }
        }
    }
</script>
<style>
    
</style>
