<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="profile-user-box card-box bg-custom">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="pull-left mr-3"><img :src="baseUrl + admin.image" alt="" class="thumb-lg rounded-circle"></span>
                                            <div class="media-body text-white">
                                                <h4 class="mt-1 mb-1 font-18" style="margin-top: 1.5rem!important;">{{admin.name + ' ' + admin.surname}}</h4>
                                                <p class="font-13 text-light"> Administrator</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="text-right">
                                                <a href="javascript:void(0)" class="btn btn-light waves-effect w-md mr-2 mb-2" v-on:click="OpenSetting('admin', admin.admin_id)">
                                                    <i class="mdi mdi-account-settings-variant mr-1"></i> Edit Profile
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <div class="card-box">
                                    <h4 class="header-title mt-0 m-b-20">Personal Information</h4>
                                    <div class="panel-body" >
                                        <p class="text-muted font-13">
                                            {{admin.bio}}
                                        </p>

                                        <hr/>

                                        <div class="text-left">
                                            <p class="text-muted font-13"><strong>Full Name :</strong> <span class="m-l-15">{{admin.name + ' ' + admin.surname}}</span></p>

                                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15"> {{admin.phone}}</span></p>

                                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15"> {{admin.email}}</span></p>

                                            <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15"> Kazakhstan</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-12">
                                <div class="card-box">
                                    <h4 class="header-title mb-4 nobottom">Latest Activities:</h4>
                                    <hr>
                                    <div class="comment-list slimscroll" :style="activities.length > 0 ? 'min-height: 350px;':'max-height: 40px;'">
                                        <h4>{{activities.length > 0 ? '':'No activities found!'}}</h4>
                                        <span v-for="act in activities">
                                            <router-link to="/activities" tag="a">
                                                <div class="comment-box-item">
                                                    <div class="badge badge-pill badge-primary">{{ act.rank }}</div>
                                                    <p class="commnet-item-date">{{act.newdate}}</p>
                                                    <h6 class="commnet-item-msg nobottom">{{act.actioner}}</h6>
                                                    <p class="commnet-item-user">{{act.activity.length > 150 ? act.activity.slice(0,150) + ' ...': act.activity}}</p>
                                                </div>
                                                <hr>
                                            </router-link>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>
        </div>

    </div>
</template>

<script>

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import Setting from './../../components/account/Setting.vue'

    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],
                activities : []

            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-account')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications
                        this.$data.activities = response.body.activities
                    });
            },
            OpenSetting :function (role, id) {
                this.$modal.show(Setting, {
                    user_role : role,
                    user_id: id
                }, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
</style>
