<template>
    <div id="app">
        <div class="o-page__sidebar js-page-sidebar">
            <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <a href="#"><img :src="baseUrl + '/2025/logo.png'" width="80%" style="padding-top: 20px;" alt="Neat"></a>
            </div>

            <div class="c-sidebar__body">
                <span class="c-sidebar__title">Dashboard</span>
                <ul class="c-sidebar__list">
                    <li>
                        <router-link to="/">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-home"></i>Main Dashboard
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/daryn">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-book"></i>Daryn
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/post">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-feather"></i>Post register
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/payments">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-percent"></i>Payment
                            </span>
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/logs">
                            <span class="c-sidebar__link">
                                <i class="c-sidebar__icon feather icon-user-check"></i>Logs
                            </span>
                        </router-link>
                    </li>
                </ul>
            </div>
            
            <router-link to="/logout" class="c-sidebar__footer">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </router-link>
            </aside>
        </div>
    </div>    
</template>

<script>
    export default {
        props: ['user'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>

</style>
