<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-sm-12" v-for="conv in allconversationsopened">
                                <div class="card-box project-box ribbon-box"> 
                                    <div class="media mt-0 m-b-30">
                                        <img class="d-flex mr-3 rounded-circle" alt="64x64" :src="baseUrl + conv.creator.image" style="width: 48px; height: 48px;">
                                        <div class="media-body">
                                            <h5 class="media-heading mb-0 mt-3">
                                                {{conv.creator.name + ' ' + conv.creator.surname}} &nbsp;&nbsp;<small class="text-muted">{{conv.newdate}}</small>
                                            </h5>
                                        </div>
                                        <div class="ribbon ribbon-success float-right" v-if="!conv.conv_state">Open</div>
                                        <div class="ribbon ribbon-dark float-right" v-if="conv.conv_state">Closed</div>
                                    </div>
                                    
                                    <h4 class="mt-0 mb-0 text-dark">{{conv.conv_title}}</h4>          
                                    <p class="text-muted text-uppercase mb-1 mt-0 font-8">
                                        {{conv.category}}
                                    </p>

                                    <p class="text-muted font-13">
                                        {{conv.conv_content.length > 250 ? conv.conv_content.slice(0, 250) + '...': conv.conv_content}}
                                    </p>
                                    <a href="javascript:void(0)" v-on:click="ViewConv(conv.conv_code)" class="text-primary mr-1">
                                        View
                                    </a>
                                    </a> {{conv.conv_state ? '/' : ''}} 
                                    <a href="javascript:void(0)" style="padding-bottom:15px;" v-on:click="DeleteConv(conv.conv_code)" class="text-primary ml-1" v-if="conv.conv_state">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12" v-for="conv in allconversationsclosed">
                                <div class="card-box project-box ribbon-box"> 
                                    <div class="media mt-0 m-b-30">
                                        <img class="d-flex mr-3 rounded-circle" alt="64x64" :src="baseUrl + conv.creator.image" style="width: 48px; height: 48px;">
                                        <div class="media-body">
                                            <h5 class="media-heading mb-0 mt-3">
                                                {{conv.creator.name + ' ' + conv.creator.surname}} &nbsp;&nbsp;<small class="text-muted">{{conv.newdate}}</small>
                                            </h5>
                                        </div>
                                        <div class="ribbon ribbon-success float-right" v-if="!conv.conv_state">Open</div>
                                        <div class="ribbon ribbon-dark float-right" v-if="conv.conv_state">Closed</div>
                                    </div>
                                    
                                    <h4 class="mt-0 mb-0 text-dark">{{conv.conv_title}}</h4>          
                                    <p class="text-muted text-uppercase mb-1 mt-0 font-8">
                                        {{conv.category}}
                                    </p>

                                    <p class="text-muted font-13">
                                        {{conv.conv_content.length > 250 ? conv.conv_content.slice(0, 250) + '...': conv.conv_content}}
                                    </p>
                                    <a href="javascript:void(0)" v-on:click="ViewConv(conv.conv_code)" class="text-primary mr-1">
                                        View
                                    </a>
                                    </a> {{conv.conv_state ? '/' : ''}} 
                                    <a href="javascript:void(0)" style="padding-bottom:15px;" v-on:click="DeleteConv(conv.conv_code)" class="text-primary ml-1" v-if="conv.conv_state">
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div> 

            </div>

        </div>

    </div>
</template>

<script>
    import swal from "sweetalert2"

    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'
    
    import ViewConversation from './../../components/conversations/ViewConversation.vue'
    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left,
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                notifications : [],

                allconversationsclosed : [],
                allconversationsopened : []
            }
        },
        watch:{
            $route (to, from){
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('conversations')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.notifications = response.body.notifications

                        this.$data.allconversationsclosed = response.body.allconversationsclosed
                        this.$data.allconversationsopened = response.body.allconversationsopened
                    });
            },
            ViewConv : function (code) {
                this.$modal.show(ViewConversation, {
                    conversation : code
                }, {
                    height: 'auto',
                    pivotY : 0.2,
                    clickToClose : true,
                    scrollable : true
                }, {
                    'before-close': (event) => { 
                        this.setup()
                    }
                })
            },
            DeleteConv : function (code) {
                swal(
                    {
                        title: 'Server error!',
                        text: "Delete function does not work!",
                        type: 'error',
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    }
                )
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .font-8{
        font-size: 12px !important;
    }
    .font-10{
        font-size: 12px !important;
    }
</style>
