<template>
    <div id="app">
        <div class="container-fluid" style="background-color: #e8ecec;">

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box nomargin task-detail ribbon-box" style="margin-top:15px;padding-bottom:5px;">
                        <a v-on:click="StateChange(1)" class="btn btn-sm btn-dark waves-effect waves-light float-right" style="color:white;" v-if="conversationDetails.conv_state == 0"> Close Conversation </a>
                        <a v-on:click="StateChange(0)" class="btn btn-sm btn-success waves-effect waves-light float-right" v-if="conversationDetails.conv_state == 1"> Open Conversation </a>
                        <div class="media mt-0 m-b-20 m-t-20">
                            <img class="d-flex mr-3 rounded-circle" alt="64x64" :src="baseUrl + creator.image" style="width: 48px; height: 48px;">
                            <div class="media-body">
                                <h5 class="media-heading mb-0 mt-3">{{ creator.name + ' ' + creator.surname}}</h5>
                            </div>
                        </div>

                        <h4 class="m-b-20">{{conversationDetails.conv_title }}</h4>
                        <p class="text-muted text-uppercase mb-1 mt-0 font-8">
                           <span class="text-dark">Subject: </span> {{conversationDetails.category}}
                        </p>

                        <p class="text-muted">
                            {{conversationDetails.conv_content}}
                        </p>
                    </div>
                </div>
                
                <div class="col-md-12">
                    
                    <div class="card-box" style="margin-bottom:15px;padding-top:5px;">
                        <hr>
                        <h4 class="header-title m-b-30">Answers ({{answers.length}})</h4>

                        <div>
                            <div class="media m-b-20" v-for="answer in answers">
                                <div class="d-flex mr-3">
                                    <img class="media-object rounded-circle thumb-sm" :src="baseUrl + answer.creator.image"> 
                                </div>
                                <div class="media-body">
                                    <h5 class="mt-0">{{answer.creator.name + ' ' + answer.creator.surname}} &nbsp;&nbsp;<small class="text-muted">{{answer.newdate}}</small> </h5>
                                    <p class="font-13 text-muted mb-0">
                                        {{answer.conv_answer_content}}
                                    </p>
                                </div>
                            </div>

                            <div class="media m-b-20" v-if="!conversationDetails.conv_state">
                                <div class="media-body">
                                    <form v-on:submit="SubmitReply">
                                        
                                        <div class="col-12">
                                            <textarea type="text" class="form-control input-sm" placeholder="Reply..." v-model="answer.reply" rows="5" />
                                        </div>
                                        <div class="col-12 ml-3 mt-1 custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" v-model="answer.openclose" id="openclose">
                                            <label class="custom-control-label" for="openclose">Close Conversation</label>
                                        </div>
                                        <div class="mt-4 text-left">
                                            <button type="submit" id="disablewhensubmit" class="btn btn-sm btn-custom waves-effect waves-light"> Reply </button>
                                            <button type="reset" id="reset" class="btn btn-sm "> Clear </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import swal from "sweetalert2"

    export default {
        props: ['conversation'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                conversationDetails : {},
                answers : [],
                creator : {},

                answer: {
                    reply : "",
                    openclose : false
                }
            }
        },
        methods:{
            setup: function () {
                this.$http.get('conversations/' + this.conversation)
                    .then(response => {
                        this.$data.conversationDetails = response.body.conversationDetails
                        this.$data.answers = response.body.answers
                        this.$data.creator = response.body.creator
                    }, error => {
                        console.log(error.body)
                    });  
            },
            SubmitReply : function(e){
                e.preventDefault();
                document.getElementById('disablewhensubmit').disabled = true;

                this.$http.post('answers', {'conversation' : this.conversation, 'reply' : this.$data.answer.reply, 'openclose' : this.$data.answer.openclose})
                    .then(response => {
                        if (response.body.success) {
                            this.$data.answer.reply = ""
                            swal(
                                {
                                    title: 'Good job!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$data.answers = response.body.answers
                            document.getElementById('disablewhensubmit').disabled = false;
                        }
                        if (response.body.error) {
                            swal(
                                {
                                    title: 'Something went wrong!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: error.body.message,
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    });  
            },
            StateChange(state){
                this.$http.put('conversations/' + this.conversation, {'way' : 'state', 'state' : state})
                    .then(response => {
                        if(response.body.success){
                            swal(
                                {
                                    title: 'Success!',
                                    text: response.body.message,
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$data.conversationDetails = response.body.conversation
                        }
                        if(response.body.error){
                            swal(
                                {
                                    title: 'Error!',
                                    text: response.body.message,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    }, error => {
                        swal(
                            {
                                title: 'Server error!',
                                text: 'Contact to administrator',
                                type: 'error',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }); 
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .nobottom{
        margin-bottom : 0px !important;
    }
</style>
