<template>
    <div id="app">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12 u-text-left">
                    <h4 class="u-mb-small">General:</h4>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="c-card">
                        <span class="c-icon c-icon--info u-mb-small">
                            <i class="feather icon-user-plus"></i>
                        </span>

                        <h3 class="c-text--subtitle">Supervisors</h3>
                        <h1> 1 </h1>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="c-card">
                        <span class="c-icon c-icon--info u-mb-small">
                            <i class="feather icon-users"></i>
                        </span>

                        <h3 class="c-text--subtitle">Students</h3>
                        <h1> 1 </h1>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="c-card">
                        <span class="c-icon c-icon--info u-mb-small">
                            <i class="feather icon-star"></i>
                        </span>

                        <h3 class="c-text--subtitle">Projects</h3>
                        <h1> 1 </h1>
                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="c-card">
                        <span class="c-icon c-icon--danger u-mb-small">
                            <i class="feather icon-bookmark"></i>
                        </span>

                        <h3 class="c-text--subtitle">Conversations</h3>
                        <h1> 1 </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 u-text-left">
                    <h4 class="u-mb-small">Activites:</h4>
                </div>
                <div class="col-md-12 col-xl-5">

                    <div class="c-card" data-mh="overview-cards">
                        <h4>Last Users: </h4>
                        <p class="u-mb-medium">Users activites (who registed, also activated account to the system).</p>

                        <div class="o-line u-pb-small u-mb-small u-border-bottom">
                            <div class="o-media">
                                <div class="o-media__img u-mr-small">
                                    <div class="c-avatar c-avatar--xsmall">
                                        <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Name">
                                    </div>
                                </div>

                                <div class="o-media__body">
                                    <h6>Name Surname</h6>
                                    <p>Country</p>
                                </div>
                            </div>

                            <h6>
                                <span class="u-color-success u-block">
                                    verified
                                    <i class="feather icon-check-circle"></i>
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-7">
                    <div class="c-card">
                        <h4>Latests Activites</h4>
                        <p class="u-mb-medium">Activity for last 7 days</p>

                        <div class="c-feed">
                            <div class="c-feed__item c-feed__item--danger">
                                <p>User(Name Surname) registed! <a>click for details</a></p>
                                <p class="u-text-xsmall">5 hours ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-lg-12 u-text-left">
                    <h4 class="u-mb-small">Categories:</h4>
                </div>

                
                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Robotics</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="robotics-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/rob">
                                        <span>View "Robotics"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Computer Programming</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="cprog-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/rob">
                                        <span>View "Computer Programming"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Computer Graphics and Art</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="cgart-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/cgart">
                                        <span>View "Computer Graphics and Art"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Hardware Control Systems</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="hcsystems-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/hcsystems">
                                        <span>View "Hardware Control Systems"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Short Movie</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="smovie-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/smovie">
                                        <span>View "Short Movie"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Drone Racing</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="dracing-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/dracing">
                                        <span>View "Drone Racing"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4">
                    <div class="c-card" data-mh="overview-cards">
                        <h4>Mathematics Project</h4>

                        <div class="c-chart">
                            <div class="c-chart__body"></div>
                            <div class="math-pie-chart"></div>
                        </div>
                  
                        <div class="c-chart__legends">

                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="All projects: ">All : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Rejected projects: ">Rejected : 1 </span>
                                    </span>
                                </div>
                            </div>
                  
                            <div class="row">
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="50/50 projects: ">50/50 : 1 </span>
                                    </span>
                                </div>
                                <div class="col-6">
                                    <span class="c-chart__legend">
                                        <span class="c-tooltip c-tooltip--top" aria-label="Accepted projects: ">Accepted : 1 </span>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <router-link to="/p/view/math">
                                        <span>View "Mathematics Project"</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 u-text-left">
                    <h4 class="u-mb-small">Show: &nbsp;&nbsp;&nbsp;
                        <div class="c-dropdown dropdown">
                            <a href="javascript:void(0)" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuToggleModal" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                Select <i class="c-btn__icon feather icon-chevron-down"></i>
                            </a>

                            <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuToggleModal">
                                <a class="c-dropdown__item dropdown-item" href="#">Supervisors</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Students</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Admin</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Juries</a>
                                <a class="c-dropdown__item dropdown-item" href="#">Modirators</a>
                            </div>
                        </div>
                    </h4>
                </div>
                <div class="col-md-12 col-xl-12">
                    <div class="c-table-responsive@wide">
                        <table class="c-table">
                            <thead class="c-table__head">
                                <tr class="c-table__row">
                                <th class="c-table__cell c-table__cell--head">Name Surname</th>
                                <th class="c-table__cell c-table__cell--head">Email</th>
                                <th class="c-table__cell c-table__cell--head">Country</th>
                                <th class="c-table__cell c-table__cell--head">Phone</th>
                                <th class="c-table__cell c-table__cell--head">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr class="c-table__row">
                                    <td class="c-table__cell">
                                        <div class="o-media">
                                            <div class="o-media__img u-mr-xsmall">
                                                <div class="c-avatar c-avatar--small">
                                                    <img class="c-avatar__img" src="http://via.placeholder.com/72" alt="Jessica Alba">
                                                </div>
                                            </div>
                                            <div class="o-media__body">
                                                <h6>Adam Sandler</h6>
                                                <p>bio</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="c-table__cell">asd@asd.asd</td>
                                    <th class="c-table__cell">Kazakhstan</th>
                                    <td class="c-table__cell">8 707 219 8331</td>
                                
                                    <td class="c-table__cell">
                                        <div class="c-dropdown dropdown">
                                            <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                More <i class="feather icon-chevron-down"></i>
                                            </a>

                                            <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1">
                                                <a class="c-dropdown__item dropdown-item" href="#">View</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    
    export default {
        
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {
                    'name' : "Kurmangazy",
                    'surname' : "Kongratbayev",
                    'image' : "http://via.placeholder.com/72"
                }
            }
        },
        methods:{
            setup : function () {

            }
        },
        created() {
            this.setup()
            $( document ).ready(function() {
                if ($('.robotics-pie-chart').length){
                    new Chartist.Pie('.robotics-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.cgart-pie-chart').length){
                    new Chartist.Pie('.cgart-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.cprog-pie-chart').length){
                    new Chartist.Pie('.cprog-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.cart-pie-chart').length){
                    new Chartist.Pie('.cart-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.hcsystems-pie-chart').length){
                    new Chartist.Pie('.hcsystems-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.smovie-pie-chart').length){
                    new Chartist.Pie('.smovie-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.dracing-pie-chart').length){
                    new Chartist.Pie('.dracing-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
                if ($('.math-pie-chart').length){
                    new Chartist.Pie('.math-pie-chart', {
                        series: [/*rejected*/ 1,/*50/50*/ 2,/*accepted*/ 3]
                    }, {
                        donut: true,
                        donutWidth: 20,
                        donutSolid: true,
                        startAngle: 0,
                        showLabel: true
                    });
                }
            });
        }
    }
</script>
<style>

</style>
