<template>
    <div id="app">
        <div class="masonry">
            <div class="masonry-filter-container">
                <h4>My Invoices:</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="h5">Online payment invoices</span>
                    <dx-data-grid id="grid-container" :show-borders="true" :data-source="payments"  key-expr="payment_id">
                        <dx-column :width="270" data-field="payment_id" caption="Payment ID" />
                        <dx-column data-field="supervisor" caption="Supervisor"/>
                        <dx-column :width="170" data-field="amount"/>
                        <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                        <dx-master-detail :enabled="true" template="masterDetailTemplate" />
                        <div slot="masterDetailTemplate" slot-scope="employee" >
                            <detail-template :details="employee.data.payment_details" />
                        </div>
                        <dx-column :group-index="0" data-field="supervisor" />
                        <dx-group-panel :visible="true"/>
                        <dx-grouping :auto-expand-all="true"/>
                        <dx-paging :page-size="30"/>
                        <dx-search-panel :visible="true"/>

                        <dx-summary>
                            <dx-total-item column="amount" summary-type="sum"/>
                        </dx-summary>
                    </dx-data-grid>
                    <br>
                    <span class="h5">Off-line(payments from bank) </span>
                    <dx-data-grid id="grid-container" :show-borders="true" :data-source="offline"  key-expr="i_code">
                        <dx-column :width="150" data-field="i_code" caption="Payment ID" />
                        <dx-column data-field="supervisor" caption="Supervisor"/>
                        <dx-column :width="100" data-field="i_amount" caption="Amount"/>
                        <dx-column :width="125" data-type="date" data-field="created_at" caption="Paid AT"/>

                        <dx-master-detail :enabled="true" template="masterDetailTemplate2" />
                        <div slot="masterDetailTemplate2" slot-scope="employee">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <p style="white-space:pre">
                                        Fullname: {{employee.data.i_fullname}}
                                        Partisipant as a: {{employee.data.i_role}}
                                        Project: {{employee.data.i_project}}
                                    </p>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <p style="white-space:pre">
                                        Method: {{employee.data.i_method}}
                                        Amoumt: {{employee.data.i_amount}}
                                        Receipt: <a target="_blank" :href="employee.data.i_file">download</a>
                                        Comment: {{employee.data.i_comment}}
                                    </p>
                                </div>
                                <div class="col-md-12 col-sm-12 text-center">
                                    <a target="_blank" href="javascript:void(0)" @click="deletethis(employee.data.i_code)">Delete</a>
                                </div>
                            </div>
                        </div>
                        <dx-column :group-index="0" data-field="supervisor" />
                        <dx-group-panel :visible="true"/>
                        <dx-grouping :auto-expand-all="true"/>
                        <dx-paging :page-size="30"/>
                        <dx-search-panel :visible="true"/>

                        <dx-summary>
                            <dx-total-item column="amount" summary-type="sum"/>
                        </dx-summary>
                    </dx-data-grid>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    import { DxDataGrid, DxColumn, DxGrouping, DxGroupPanel, DxSearchPanel, DxPaging, DxSummary, DxTotalItem, DxMasterDetail } from 'devextreme-vue/data-grid';
    import DetailTemplate from './DetailTemplate.vue';
    import swal from "sweetalert2"

    export default {
        components:{
            DxDataGrid,
            DxColumn,
            DxGroupPanel,
            DxGrouping,
            DxPaging,
            DxSearchPanel,
            DxDataGrid,
            DxSummary,
            DxTotalItem,
            DxMasterDetail,
            
            DetailTemplate,
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                payments: [],
                offline: [],

                UserConfig : {},

                showEmployeeInfo: false,
                selectedRowNotes: '',
                selectedRowPicture: '',
                autoExpandAll: true
            }
        },
        watch:{
            $route (to, from){
                this.getpayments()
            }
        },
        methods:{
            deletethis: function(id){
                swal(
                    {
                        title: 'Warning!',
                        text: 'Do you realy want to delete?',
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true,
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    }
                ).then((result) => {
                    if (result.value) {
                        this.$http.delete('invoice/' + id)
                            .then(
                                response => {
                                    console.log(response.body)
                                    if(response.body.error){
                                        swal(
                                            {
                                                title: 'Warning!',
                                                text: response.body.msg,
                                                type: 'error',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                    }
                                    if(response.body.success){
                                        swal(
                                            {
                                                title: 'Success!',
                                                text: response.body.msg,
                                                type: 'success',
                                                confirmButtonClass: 'btn btn-confirm mt-2'
                                            }
                                        )
                                        this.offline = response.body.offline
                                    }
                                }, error =>{
                                    console.log(error.body);
                                    
                                    swal(
                                        {
                                            title: 'Warning!',
                                            text: error.body,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                        )
                    } else {
                        swal(
                            {
                                title: 'Back!',
                                text: "You action canceled",
                                type: 'success',
                                confirmButtonClass: 'btn btn-confirm mt-2'
                            }
                        )
                    }
                })
            },
            getpayments : function() {
                this.$http.get('invoice')
                    .then(response => {
                        console.log(response.body);
                        
                        this.payments = response.body.payments
                        this.offline = response.body.offline
                    })
            }
        },
        created() {
            this.getpayments();
        },
    }
</script>
<style>
    @import url('https://cdn3.devexpress.com/jslib/18.2.7/css/dx.common.css');
    @import url('https://cdn3.devexpress.com/jslib/18.2.7/css/dx.light.css');

    .masonry-filter-container{
        margin-top: 2em;
    }
    .hereaddoneem{
        padding-top: 1em;
    }
</style>
