<template>
    <div id="app">
        <div class="masonry">
            <div class="masonry-filter-container">
                <h4>My Projects:</h4>
            </div>
            <div class="row">
                <div class="masonry__container">
                    <div v-for="project in projects">
                        <div :class="$route.path == '/manage' ? 'masonry__item col-md-4 col-sm-12': 'masonry__item col-md-6 col-sm-12'" :data-masonry-filter="project.p_category_title">
                            <article class="feature feature-1">
                                <a href="#" class="block">
                                    <img alt="Image" :src="baseUrl + '/' + project.p_category_image" />
                                </a>
                                <div class="feature__body boxed boxed--border">
                                    <span>{{project.created_at.split(" ")[0]}}</span>
                                    <span class="label" v-if="project.marks == 0 || project.marks == 2" style="background:#f39c12;">pending</span>
                                    <span class="label" v-if="project.marks == 1">Rejected</span>
                                    <span class="label" v-if="project.marks == 3" style="background:#2ecc71;">accepted</span>
                                    <!--<span class="label" v-if="project.marks == 3" style="background:green;">Accepted</span>-->
                                    <h4>{{project.p_title}}</h4>
                                    <div v-if="$route.path == '/manage'">
                                        <a :href="baseUrl + '/user/view/' + project.t_team_id">
                                            View
                                        </a> {{UserConfig.user_project_edit == 1 ? ' / ' : ''}}  
                                        <a :href="baseUrl + '/user/projects/' + project.t_team_id" v-if='UserConfig.user_project_edit == 1'>
                                            Edit
                                        </a> {{UserConfig.user_project_delete == 1 ? ' / ' : ''}} 
                                        <a :href="baseUrl + '/user/projects/' + project.t_team_id" v-if='UserConfig.user_project_delete == 1'>Delete</a>
                                    </div>
                                    <div v-else>
                                        <a :href="baseUrl + '/user/view/' + project.t_team_id">
                                            Learn more
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div v-show="false" class="masonry__item col-md-6 col-sm-12 text-center">
                        <article class="feature feature-3 boxed boxed--lg boxed--border">
                            <a :href="this.baseUrl + '/user/upload'" class="block hereaddoneem">
                                <i class="icon icon--lg icon-Add"></i>
                                <h4 class="nomargin">Upload New Project</h4>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</template>

<script>
    export default {
        data(){
            return {
                baseUrl : Infomatrix.main,
                projects: [],

                UserConfig : {}
            }
        },
        watch:{
            $route (to, from){
                this.getprojects()
            }
        },
        methods:{
            getprojects : function() {
                this.$http.get('projects')
                    .then(response => {
                        this.$data.projects = response.body.projects;
                        this.$data.UserConfig = response.body.config;
                    })
            }
        },
        created() {
            this.getprojects();
        },
    }
</script>
<style>
    .masonry-filter-container{
        margin-top: 2em;
    }
    .hereaddoneem{
        padding-top: 1em;
    }
</style>
