<template>
    <section class=" ">
        <div class="container">
            <div class="row"> 
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <span class="label" style="min-width:0px; cursor:pointer;" @click="$emit('close')">X</span>
                        <div class="boxed boxed--border">
                            <form class="text-left form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly." novalidate="true">
                                <div class="col-sm-12 text-center">
                                    <h2>Fill out this form to provide off-line (who paid by the Bank) payment approval!</h2>
                                </div>
                                <div class="col-sm-12">
                                    <label>FULL NAME <strong class="color--primary-1">(Required)</strong>:</label>
                                    <input v-model="invoice.fullname" type="text" name="name" class="validate-required">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label>Participating as a <strong class="color--primary-1">(Required)</strong>:</label>
                                    <div class="input-select">
                                        <select v-model="invoice.role">
                                            <option value="supervisor">as a Supervisor</option>
                                            <option value="student">as a Maker (Project student)</option>
                                            <option value="guest">as a Guest</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label>Project Title <strong class="color--primary-1">(Required)</strong>:</label>
                                    <div class="input-select">
                                        <select v-model="invoice.project">
                                            <option v-if="project.marks == 3" :value="project.p_title" v-for="project in projects">{{project.p_title}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-9">
                                    <label>Payment Method <strong class="color--primary-1">(Required)</strong>:</label>
                                    <div class="input-select">
                                        <select v-model="invoice.paymethod">
                                            <option value="Participation">only for Participation fee</option>
                                            <option value="Participation fee and accompdation">Participation fee and accompdation</option>
                                            <option value="Accompdation">only for Accompdation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label>Amout <strong class="color--primary-1">(Required)</strong>:</label>
                                    <input type="number" v-model="invoice.amount" name="Amout" class="validate-required">
                                </div>
                                <div class="col-sm-12 text-left" style="padding-top: 10px;">
                                    <label>Upload BANK INVOICE (КВИТАНЦИЯ) here (allowed file types ZIP,RAR, PDF, PNG, JPG) <strong class="color--primary-1">(Required)</strong>:</label>
                                    <input 
                                        type="file"
                                        id="files"
                                        name="file" 
                                        class="validate-required hidden"
                                        accept=".doc, .docx, .pdf, .png, .jpeg, .gif, .rar, .zip"
                                        required=""
                                        @change="fileChanged" />
                                    <label class="block" for="files">
                                        <div class="feature feature-7 boxed text-center imagebg" data-overlay="6">
                                            <div class="background-image-holder">
                                            </div>
                                            <h4 class="pos-vertical-center">{{ !isSelected ? "Upload BANK INVOICE (КВИТАНЦИЯ) here (click here)" : invoice.filename}}</h4>
                                            <h4 class="pos-vertical-center nomargin" style="padding-bottom: 30px;">{{ !isSelected ? "" : "CLICK HERE to choose another file"}}</h4>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-sm-12">
                                    <label>Additional Comment:</label> 
                                    <textarea rows="5" v-model="invoice.comments" name="description" class="validate-required"></textarea>
                                </div>
                                <div class="col-sm-12 boxed">
                                    <button type="submit" @click="submitInvoice" class="btn btn--primary type--uppercase" :disabled="isdisabled">Submit Invoice</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
</template>

<script>
    import swal from "sweetalert2"

    export default {
        data(){
            return {
                isSelected : false,
                isdisabled: false,
                invoice : {
                    fullname: '',
                    role: null,
                    project: null,
                    paymethod: null,
                    amount: 0,
                    file : "",
                    ext : "" ,
                    filename : "",
                    comments: ''
                },

                projects: []
            }
        },
        watch:{
            $route (to, from){

            }
        },
        methods:{
            setup(){
                this.$http.get('projects')
                    .then(response => {
                        this.projects = response.body.projects
                    })
            },
            fileChanged : function(e){
                var fileTypes = ['pdf','doc','docx','png','jpeg','gif','rar','zip'];
                if (e.target.files && e.target.files[0]) {
                    var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                        isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                    this.isSelected = true
                    this.invoice.filename = "File name: " + e.target.files[0].name
                    this.invoice.ext = extension

                    if (isSuccess) { 
                        var fileUploader = new FileReader()
                        fileUploader.readAsDataURL(e.target.files[0])
                        fileUploader.onload = (e) => {
                            this.invoice.file = e.target.result
                        }
                    }
                    else { 
                        alert('Select another file!')
                        this.isSelected = false
                        this.invoice.file = ""
                        this.invoice.ext = ""
                    }
                }             
            },
            submitInvoice: function(w){
                w.preventDefault();
                this.isdisabled = true

                this.$http.post('invoice', this.invoice)
                    .then(
                        response => {
                            if(response.body.error){
                                swal(
                                    {
                                        title: 'Warning!',
                                        text: response.body.msg,
                                        type: 'error',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    }
                                )
                            }
                            if(response.body.success){
                                swal(
                                    {
                                        title: 'Success!',
                                        text: response.body.msg,
                                        type: 'success',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    }
                                )
                                this.isdisabled = false
                                this.$emit('close')
                            }
                        }, error =>{
                            swal(
                                {
                                    title: 'Error!',
                                    text: error.body,
                                    type: 'error',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                        }
                    )
            }
        },
        created() {
            this.setup()
        },
    }
</script>
<style>

</style>
