<template>
    <div id="app">
        
        <div id="wrapper">
            <left-menu :user="admin"></left-menu>
            
            
            <div class="content-page">
                <top-menu :user="admin" :notifications="navnotifications" :conversations="navconversations"></top-menu>
                <div class="content">

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="javascript:void(0)" class="btn btn-custom mb-4" v-on:click="show"><i class="mdi mdi-plus"></i> New Notification</a>
                                <a href="javascript:void(0)" class="btn btn-custom mb-4" v-on:click="emailnote"><i class="mdi mdi-plus"></i> New Email Notification</a>
                            </div>
                        </div>
                        <div class="row">
                            <div v-if="notifications.length == 0">
                                <h4 class="mt-0 mb-0 ml-3">Nothing found</h4>
                            </div>
                            <div class="col-md-6 col-sm-12" v-else v-for="note in notifications">
                                <div class="card-box project-box">
                                    <h4 class="mt-0 mb-2 mt-3 ml-2 mr-2">
                                        {{note.n_title}}
                                    </h4>
                                    <p class="text-muted ml-2 mr-2 mb-1 font-13">
                                        {{note.n_content.length > 250 ? note.n_content.slice(0, 250) + '...': note.n_content}}
                                    </p>
                                    <a href="javascript:void(0)" class="ml-1 mr-1 font-800" v-on:click="ViewNote(note.id)">View more</a>
                                    / <a href="javascript:void(0)" class="ml-1 mr-1 font-800" v-on:click="DeleteNote(note.id)">Delete</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> 
            </div>

        </div>

    </div>
</template>

<script>
    import swal from "sweetalert2"
    
    import Top from './../menu/Top.vue'
    import Left from './../menu/Left.vue'

    import NewNotification from './../../components/notifications/NewNotification.vue'
    import ViewNotification from './../../components/notifications/ViewNotification.vue'
    import NewEmailNotification from './../../components/notifications/NewEmailNotification.vue'
    export default {
        components:{
            'top-menu' : Top ,
            'left-menu' : Left
        },
        data(){
            return {
                baseUrl : Infomatrix.main,
                admin : {},

                navconversations : [],
                navnotifications : [],

                notifications : [],

                isError : false,
                isSuccess : false,
                message : "",

                newnote : {
                    'title' : "",
                    "content" : "",
                    "isImportant" : [],
                    "isTo" : 1,

                    file:{
                        isSelected : false,
                        file : "",
                        ext : "" ,
                        filename : ""
                    }
                },

                old : 0
            }
        },
        watch:{
            $route (to, from){
                this.$data.projects = []
                this.setup()
            }
        },
        methods:{
            setup : function () {
                this.$http.get('get-notifications')
                    .then(response => {
                        this.$data.admin = response.body.admin

                        this.$data.navconversations = response.body.navconversations
                        this.$data.navnotifications = response.body.notifications

                        this.$data.notifications = response.body.notes

                        this.$data.old = response.body.notes.length
                    });
            },
            OpenModal : function(params) {
                this.$refs.theModal.open()
                document.getElementById('custom-modal').click()
            },
            show () {
                this.$modal.show(NewNotification, {
                    newnote: this.$data.newnote
                }, {
                    height: 'auto',
                    pivotY : 0.2,
                    clickToClose :true
                }, {
                    'before-close': (event) => { 
                        this.checkForNew();                    
                    }
                })
            },
            checkForNew : function () {
                this.$http.get('get-notifications')
                    .then(response => {
                        this.$data.navnotifications = response.body.notifications
                        this.$data.notifications = response.body.notes
                        
                        if(this.$data.old < response.body.notes.length){
                            swal(
                                {
                                    title: 'Good job!',
                                    text: "Notification successfully send!",
                                    type: 'success',
                                    confirmButtonClass: 'btn btn-confirm mt-2'
                                }
                            )
                            this.$data.old = response.body.notes.length
                        }
                    });
            },
            ViewNote : function (id) {
                this.$modal.show(ViewNotification, {
                    note_id: id
                }, {
                    height: 'auto',
                    scrollable: true,
                    clickToClose :true,
                    pivotY : 0.2
                }, {
                    'before-close': (event) => { 

                    }
                })
            },
            emailnote: function(){
                this.$modal.show(NewEmailNotification, {
                    newnote: this.$data.newnote
                }, {
                    height: 'auto',
                    pivotY : 0.2,
                    clickToClose :true
                }, {
                    'before-close': (event) => { 
                        this.checkForNew();                    
                    }
                })
            },
            DeleteNote: function (id) {
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    confirmButtonClass: 'btn btn-success mt-2',
                    cancelButtonClass: 'btn btn-danger ml-2 mt-2',
                    buttonsStyling: false
                }).then(dismiss => {
                    if (dismiss.value === true) {
                        this.$http.delete('notifications/' + id)
                            .then(response => {
                                console.log(response.body)
                                this.$data.isError = response.body.error
                                this.$data.isSuccess = response.body.success
                                this.$data.message = response.body.message

                                if (response.body.success) {
                                    this.$data.navnotifications = response.body.notifications
                                    this.$data.notifications = response.body.notes
                                    this.$data.old = response.body.notes.length

                                    swal({
                                        title: 'Deleted!',
                                        text: response.body.message,
                                        type: 'success',
                                        confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                                }
                                
                                if (response.body.error) {
                                    swal(
                                        {
                                            title: 'Error!',
                                            text: response.body.message,
                                            type: 'error',
                                            confirmButtonClass: 'btn btn-confirm mt-2'
                                        }
                                    )
                                }
                                
                            }, error => {
                                console.log(error.body)
                                this.$data.isError = error.body.error
                                this.$data.isSuccess = error.body.success
                                this.$data.message = error.body.message

                                swal({
                                        title: 'Server error!', text: error.body.message,type: 'error', confirmButtonClass: 'btn btn-confirm mt-2'
                                    })
                            });                                
                    }
                    if (dismiss.dismiss === 'cancel') {
                        swal({
                            title: 'Cancelled',
                            text: "Your Notification is in safe :)",
                            type: 'error',
                            confirmButtonClass: 'btn btn-confirm mt-2'
                        })
                    }
                })
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>

    .account-page-full {
        left: 0 !important;
        width: 450px !important;
    }
    .nomargin{
        margin : 0px !important!;
        margin-bottom : 0px !important;
    }
    .nopadding{
        padding : 0px !important;
    }
    .small{
        font-size: 15px;
    }

</style>
