<template>
    <div id="app">

        <div class="row">
            <div class="col-md-12">
                <h3 style="padding-bottom: 20px;">Activities</h3>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card-box">
                    <h4 class="header-title mb-4 nobottom">Users activites (Registrations, Activactions):</h4>
                    <hr>
                    <div class="inbox-widget slimscroll" style="min-height: 360px;">
                        <span v-for="act in activitiesimportant">
                            <div class="inbox-item">
                                <div class="inbox-item-img"><img :src="act.image" :alt="act.actioner" class="rounded-circle bx-shadow-lg" ></div>
                                <p class="inbox-item-author">{{act.actioner}}</p>
                                <p class="inbox-item-text">{{act.activity}}</p>
                                <p class="inbox-item-date">{{act.newdate}}</p>
                            </div>
                        </span>
                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card-box">
                    <h4 class="header-title mb-4 nobottom">Latest Activities:</h4>
                    <hr>
                    <div class="comment-list slimscroll" style="min-height: 360px;">
                        <span v-for="act in activities">
                            <router-link to="/activities" tag="a">
                                <div class="comment-box-item">
                                    <div class="badge badge-pill badge-primary">{{ act.rank }}</div>
                                    <p class="commnet-item-date">{{act.newdate}}</p>
                                    <h6 class="commnet-item-msg nobottom">{{act.actioner}}</h6>
                                    <p class="commnet-item-user">{{act.activity.length > 150 ? act.activity.slice(0,150) + ' ...': act.activity}}</p>
                                </div>
                                <hr>
                            </router-link>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        
    </div>
</template>

<script>
    
    export default {
        props: ['activities', 'activitiesimportant'],
        data(){
            return {
                baseUrl : Infomatrix.main,
            }
        }
    }
</script>
<style>
    .row{
        padding-top: 20px;
    }
    .commnet-item-user{
        margin-left: 15px !important;
    }
    .nobottom{
        margin-bottom: 0px !important;
    }
</style>
