<template>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                     <div class="result">
                        <div class="c-alert c-alert--danger" v-show="message != '' && isError">
                            <span class="c-alert__icon">
                                <i class="feather icon-slash"></i>
                            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">Error!</h4>
                                <p>{{message}}</p>
                            </div>
                        </div>
                        <div class="c-alert c-alert--success" v-show="message != '' && isSuccess">
                            <span class="c-alert__icon">
                                <i class="feather icon-check"></i>
                            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">Success!</h4>
                                <p>{{message}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        props: ['admin'],
        data(){
            return {
                baseUrl : Infomatrix.main,
                
                image:{
                    isSelected : false,
                    file : "",
                    ext : "" ,
                    filename : ""
                },

                newpassword:{
                    oldpass : "",
                    newpass : "",
                    repass : "",
                    yesno: []
                },

                isError : false,
                isSuccess : false,
                message : ""
            }
        },
        methods:{
            setup : function () {
                
            },
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    .c-alert{
        margin-bottom:15px;
    }
    .c-alert__title{
        margin-bottom : 0px;
    }
</style>
