<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container">
            <section>
                <div class="container">
                    <div class="row  text-center pdb-50">
                        <div class="col-sm-11 col-md-12">
                            <h2 class="nomargin">Edit Project:</h2>
                            <a class="btn" :href="baseUrl + '/user/manage'">
                                Back to Manage Page
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="tabs-container tabs--vertical">
                                <ul class="tabs">
                                    <li class="">
                                        <div class="tab__title">
                                            <span class="h5">Edit Team:</span>
                                        </div>

                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Add/Drop Students:</span>
                                        </div>

                                    </li>
                                    <li class="active">
                                        <div class="tab__title">
                                            <span class="h5">Manage Project:</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Project File:</span>
                                        </div>
                                    </li>
                                    <li class="bg--primary-1" style="opacity: 1;"
                                        v-show="UserConfig.user_project_delete == 1">
                                        <div class="tab__title">
                                            <span class="h5">Delete Project</span>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="tabs-content">
                                    <li class="">
                                        <div class="tab__content">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h3>Edit your team name:</h3>
                                                </div>
                                                <div class="col-sm-12">
                                                    <form class="form" v-on:submit="TeamSubmit">
                                                        <div class="col-sm-12">
                                                            <input type="text" name="teamname" v-model="team.t_name"
                                                                class="validate-required" required="">
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit"
                                                                class="btn btn--primary type--uppercase">Submit</button>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div style="padding-top:5px;">
                                                                <span v-if="teammIsError" style="color:red;">{{
                                                                    teammessage }}</span>
                                                                <span v-if="teammIsSuccess" style="color:green;">{{
                                                                    teammessage }}</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tab__content">
                                            <div class="row">
                                                <div class="col-sm-4" style="float:right">
                                                    <div class="modal-instance block">
                                                        <a class="btn modal-trigger" href="javascript:void(0)">
                                                            <span class="btn__text">
                                                                Add from list
                                                            </span>
                                                        </a>
                                                        <div class="modal-container">
                                                            <div class="modal-content">
                                                                <section class="unpad ">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div
                                                                                class="col-sm-10 col-sm-offset-1 col-xs-12">
                                                                                <div
                                                                                    class="boxed boxed--lg bg--white text-center feature">
                                                                                    <div class="modal-close modal-close-cross"
                                                                                        id="closeit"></div>
                                                                                    <h3 class="nomargin">Select Student
                                                                                    </h3>
                                                                                    <span class="nomargin">Here are your
                                                                                        students you have registered.
                                                                                        You can choose one of them by
                                                                                        clicking “Add to team”, which
                                                                                        means that the student you
                                                                                        selected will be in your project
                                                                                        and the team you have
                                                                                        created!</span><br>
                                                                                    <br>
                                                                                    <p class="lead text-left">
                                                                                    <table class="border--round">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>#</th>
                                                                                                <th>Name and Surname
                                                                                                </th>
                                                                                                <th>Action</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr
                                                                                                v-for="(reg, index) in allstudents">
                                                                                                <td>{{ index + 1 }}</td>
                                                                                                <td>{{ reg.s_en_surname
                                                                                                    +
                                                                                                    " " +
                                                                                                    reg.s_en_name}}</td>
                                                                                                <td>
                                                                                                    <a href="javascript:void(0);"
                                                                                                        v-on:click="addToTeam(reg.s_student_id)">
                                                                                                        Add to team
                                                                                                    </a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <span
                                                                                        class="text-center h5 color--primary-1"
                                                                                        v-show="allstudents.length == 0">No
                                                                                        students registered yet!</span>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p>
                                                <span class="h3 nomargin" v-if="students.length != 0">Students in the
                                                    team:</span>
                                                <span class="h3 nomargin" v-else>No student is imported!</span>
                                            <ul style="padding-top:10px;">
                                                <li v-for="(item, index) in students" style="margin-left:25px;">
                                                    <span class="h4 nomargin">{{ index + 1 }}. {{ item.s_en_surname }}
                                                        {{ item.s_en_name }} <a href="javascript:void(0);"
                                                            v-on:click="removest(item.s_student_id)">Remove</a></span>
                                                </li>
                                                <div style="padding-top:5px;">
                                                    <span v-if="studentIsError" class="h5" style="color:red;">{{
                                                        studentmessage }}</span>
                                                    <span v-if="studentIsSuccess" class="h5" style="color:green;">{{
                                                        studentmessage }}</span>
                                                </div>
                                            </ul>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__content">
                                            <form v-on:submit="ProjectSubmit">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <label for="projectname" style="cursor: pointer;">Project name
                                                            <strong
                                                                class="color--primary-1">(Required)</strong>:</label>
                                                        <input type="text" maxlength="255" name="projectname"
                                                            placeholder="Enter Project Name" class="validate-required"
                                                            required="" v-model="project.p_title">
                                                    </div>
                                                    <div class="col-sm-12" style="padding-top: 10px;">
                                                        <label>Project category <strong
                                                                class="color--primary-1">(Required)</strong>:</label>
                                                        <div class="input-select">
                                                            <select id="projectcategory" name="projectcategory"
                                                                v-model="project.p_category" required=""
                                                                disabled
                                                                v-on:change="categoryChanged(project.p_category)">
                                                                <option v-for="cat in categories" :value="cat.id">
                                                                    {{ cat.category }}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-left" style="padding-top: 10px;">
                                                        <label>Project Description <strong
                                                                class="color--primary-1">(Required)</strong>:</label>
                                                        <textarea class="validate-required" id="projectdescription"
                                                            name="projectdescription" rows="10" placeholder="Text"
                                                            required="" v-model="project.p_description"></textarea>
                                                    </div>
                                                    <div class="col-sm-12" style="padding-top:5px;">

                                                    </div>
                                                    <div class="col-sm-6 text-left">
                                                        <button class="btn btn--primary" type="submit"
                                                            style="width: 100%;">
                                                            <span class="btn__text"
                                                                style="font-size: 14px;">Submit</span>
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div style="padding-top:5px;">
                                                            <span v-if="projectIsError" style="color:red;">{{
                                                                projectmessage }}</span>
                                                            <span v-if="projectIsSuccess" style="color:green;">{{
                                                                projectmessage }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="tab__content">
                                            <div class="row">
                                                <div class="col-sm-12 text-left" style="padding-top: 10px;">
                                                    <strong>Uploaded Project Document: </strong> <a
                                                        :href="baseUrl + project.p_file" target="_blank"> Download </a>

                                                </div>
                                                <div class="col-sm-12">
                                                    <form v-on:submit="FileSubmit" novalidate>
                                                        <div class="col-sm-12 text-left" style="padding-top: 10px;">
                                                            <br><label>Upload Project File(allowed file types ZIP,RAR,
                                                                PDF, DOC, DOCX, PNG, JPG) <strong
                                                                    class="color--primary-1">(Required)</strong>:</label>
                                                            <input type="file" id="files" name="file"
                                                                class="validate-required hidden"
                                                                accept=".doc, .docx, .pdf, .png, .jpeg, .gif, .rar, .zip"
                                                                required="" @change="fileChanged" />
                                                            <label class="block" for="files">
                                                                <div class="feature feature-7 boxed text-center imagebg"
                                                                    data-overlay="6">
                                                                    <div class="background-image-holder">
                                                                        <img alt="background"
                                                                            src="https://www.ppihotline.co.uk/wp-content/uploads/2017/02/placeholder-image.jpg" />
                                                                    </div>
                                                                    <h4 class="pos-vertical-center">{{ !isSelected ?
                                                                        "Upload your project here (click here)" :
                                                                        filee.filename }}</h4>
                                                                    <h4 class="pos-vertical-center nomargin"
                                                                        style="padding-bottom: 30px;">{{ !isSelected ?
                                                                            "" : "CLICK HERE to choose another file" }}</h4>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col-sm-12 text-left"
                                                            v-for="robotic in categoryconfigs"
                                                            style="padding-top: 10px;padding-bottm: 15px;">
                                                            <label>{{ robotic.label }}<strong
                                                                    class="color--primary-1">{{
                                                                        robotic.isRequired ? " (Required) " : "" }}</strong>:
                                                            </label>

                                                            <div v-for="a in adds">
                                                                <input
                                                                    v-if="robotic.type == 'input' && robotic.id == a.id"
                                                                    type="text" :name="robotic.id" :id="robotic.id"
                                                                    :value="robotic.id == a.id ? a.value : ''"
                                                                    :placeholder="robotic.placeholder"
                                                                    class="validate-required" />
                                                            </div>

                                                            <div v-for="a in adds">
                                                                <input
                                                                    v-if="robotic.type == 'date' && robotic.id == a.id"
                                                                    type="date" :name="robotic.id" :id="robotic.id"
                                                                    :value="robotic.id == a.id ? a.value : ''"
                                                                    class="validate-required" />
                                                            </div>

                                                            <div v-for="a in adds">
                                                                <input
                                                                    v-if="robotic.type == 'number' && robotic.id == a.id"
                                                                    type="number" :name="robotic.id" :id="robotic.id"
                                                                    :value="robotic.id == a.id ? a.value : ''"
                                                                    class="validate-required" />
                                                            </div>

                                                            <div v-for="a in adds">
                                                                <textarea
                                                                    v-if="robotic.type == 'textarea' && robotic.id == a.id"
                                                                    :name="robotic.id" :id="robotic.id"
                                                                    :placeholder="robotic.placeholder"
                                                                    :value="robotic.id == a.id ? a.value : ''"
                                                                    class="validate-required" rows="5"></textarea>
                                                            </div>

                                                            <div v-for="a in adds">
                                                                <div class="input-select"
                                                                    v-if="robotic.type == 'select' && robotic.id == a.id">
                                                                    <select :id="robotic.id" :name="robotic.id">
                                                                        <option v-for="vals in robotic.values"
                                                                            :value="vals"
                                                                            :selected="vals == a.value ? true : false">
                                                                            {{ vals }}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div v-if="robotic.type == 'radio'" class="text-center">
                                                                <div :class="robotic.values.length == 3 ? 'col-sm-4' : 'col-sm-3'"
                                                                    v-for="radios in robotic.values">
                                                                    <div class="input-radio">
                                                                        <label>{{ radios }}</label>
                                                                        <div class="inner"></div>
                                                                        <input type="radio" :id="robotic.id"
                                                                            :name="robotic.id" :value="radios"
                                                                            v-on:change="changeRadio(robotic.id, radios)" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <button type="submit"
                                                                class="btn btn--primary type--uppercase">Submit</button>
                                                        </div>
                                                        <div class="col-sm-9">
                                                            <div style="padding-top:5px;">
                                                                <span v-if="fileIsError" style="color:red;">{{
                                                                    filemessage }}</span>
                                                                <span v-if="fileIsSuccess" style="color:green;">{{
                                                                    filemessage }}</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="tab__content">
                                            <div class="row">
                                                <div class="col-sm-12 text-center" style="padding-top: 10px;">
                                                    <span class="h2 nomargin">Delete Project</span>
                                                    <span class="h5 nomargin color--primary-1">Make sure you really want
                                                        to delete your project?</span>
                                                    <br><br>
                                                </div>

                                                <div class="col-sm-12 text-center">
                                                    <div class="modal-instance block text-center">
                                                        <a class="btn btn--primary-1 modal-trigger"
                                                            href="javascript:void(0)"
                                                            style="width: 50%;display: inline-block;">
                                                            <span class="btn__text">Delete</span>
                                                        </a>
                                                        <div class="modal-container">
                                                            <div class="modal-content">
                                                                <section class="unpad ">
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div
                                                                                class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                                <div class="feature feature-1">
                                                                                    <div
                                                                                        class="feature__body boxed boxed--lg boxed--border text-center">
                                                                                        <div
                                                                                            class="modal-close modal-close-cross">
                                                                                        </div>
                                                                                        <div class="text-block">
                                                                                            <h2>Delete Student:</h2>
                                                                                            <p class="lead"
                                                                                                style="min-height:0px;">
                                                                                                If you really want to
                                                                                                delete, please, Click
                                                                                                submit!
                                                                                            </p>
                                                                                        </div>
                                                                                        <form
                                                                                            v-on:submit="deleteProject">
                                                                                            <div class="row">
                                                                                                <div
                                                                                                    class="col-sm-12 text-center">
                                                                                                    <span
                                                                                                        class="h4 nomargin"
                                                                                                        style="color:green;">{{
                                                                                                        streport
                                                                                                        }}</span>
                                                                                                    <span
                                                                                                        class="h4 nomargin"
                                                                                                        style="color:red;">{{
                                                                                                        streporterror
                                                                                                        }}</span>
                                                                                                </div>
                                                                                                <div class="col-sm-12">
                                                                                                    <button
                                                                                                        class="btn btn--primary type--uppercase"
                                                                                                        type="submit">Submit</button>
                                                                                                </div>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>
</template>

<script>
import Header from './../../view/menu/Header.vue'
import Footer from './../../view/menu/Footer.vue'

import rob from './../../../config/categories/robotics.json'
import cprogramming from './../../../config/categories/programming.json'
import cgraphicsart from './../../../config/categories/graphicsart.json'
import hardcontrol from './../../../config/categories/hardcontrol.json'
import shortmovie from './../../../config/categories/shortmovie.json'
import droneracing from './../../../config/categories/droneracing.json'
import mathproject from './../../../config/categories/math.json'

export default {
    components: {
        'this-header': Header,
        'this-footer': Footer
    },
    data() {
        return {
            baseUrl: Infomatrix.main,

            user: {},
            team: {},
            project: {},
            students: [],
            allstudents: [],
            categories: [],
            adds: [],

            teammIsError: false,
            teammIsSuccess: false,
            teammessage: "",

            studentIsError: false,
            studentIsSuccess: false,
            studentmessage: "",

            projectIsError: false,
            projectIsSuccess: false,
            projectmessage: "",

            fileIsError: false,
            fileIsSuccess: false,
            filemessage: "",

            isSelected: false,
            showok: false,

            streport: "",
            streporterror: "",

            filee: {
                file: "",
                ext: "",
                filename: "",
                additionals: []
            },

            robotics: rob,
            cprogramming: cprogramming,
            cgraphicsart: cgraphicsart,
            hardcontrol: hardcontrol,
            shortmovie: shortmovie,
            droneracing: droneracing,
            mathproject: mathproject,

            categoryconfigs: [
                {
                    id: "youtubelink",
                    label:
                        "Provide video link related to your project, where it is shown in action (ex: short presentation or demo of your project)",
                    type: "input",
                    placeholder: "Enter Youtube link",
                    isRequired: true,
                },
                {
                    id: "sourcelink",
                    label:
                        "Provide any project source link to your work (ex: github, google drive, bitbucket, etc., link should be public)",
                    type: "input",
                    placeholder: "Enter Project Source link",
                    isRequired: true,
                },
            ],
            UserConfig: {},

            notes: 0
        }
    },
    methods: {
        setup: function () {
            this.$http.get('get-project/' + this.$route.params.projectsID)
                .then(response => {
                    if (response.body.notefound) {
                        window.location.replace(this.baseUrl + '/user/manage');
                    }

                    this.$data.UserConfig = response.body.config

                    if (response.body.config.user_project_edit == 0) {
                        window.location.replace(this.baseUrl + '/user/manage');
                    }

                    this.$data.user = response.body.user
                    this.$data.team = response.body.team
                    this.$data.students = response.body.students

                    this.$data.project = response.body.project
                    this.$data.adds = response.body.additional

                    this.$data.allstudents = response.body.allstudents
                    this.$data.categories = response.body.categories

                    this.categoryChanged(response.body.project.p_category)

                    this.$data.notes = response.body.status
                })


        },
        fileChanged: function (e) {
            var fileTypes = ['pdf', 'doc', 'docx', 'rar', 'zip'];
            if (e.target.files[0].size > 6097152) {
                alert("File is too big!");
            } else {
                if (e.target.files && e.target.files[0]) {
                    var extension = e.target.files[0].name.split('.').pop().toLowerCase(),  //file extension from input file
                        isSuccess = fileTypes.indexOf(extension) > -1;  //is extension in acceptable types

                    this.$data.isSelected = true
                    this.$data.filee.filename = "File name: " + e.target.files[0].name
                    this.$data.filee.ext = extension

                    if (isSuccess) {
                        var fileUploader = new FileReader()
                        fileUploader.readAsDataURL(e.target.files[0])
                        fileUploader.onload = (e) => {
                            this.$data.filee.file = e.target.result
                        }
                    }
                    else {
                        alert('Select another file!')
                        this.$data.isSelected = false
                        this.$data.filee.file = ""
                        this.$data.filee.ext = ""
                    }
                }
            }
        },
        TeamSubmit: function (params) {
            params.preventDefault();

            this.$http.put('teams/' + this.$route.params.projectsID, {
                team: this.$data.team,
                action: 'name'
            })
                .then(response => {
                    this.$data.teammIsError = response.body.error
                    this.$data.teammIsSuccess = response.body.success
                    this.$data.teammessage = response.body.message
                }, error => {
                    this.$http.post('sos', { 'url': this.baseUrl + '/teams/' + this.$route.params.projectsID + '/name', 'body': error.body })
                        .then(response => {
                            this.$data.teammIsError = response.body.error
                            this.$data.teammIsSuccess = response.body.message
                        });
                });
        },
        removest: function (student) {
            this.$http.put('teams/' + this.$route.params.projectsID, {
                student: student,
                action: 'removestudent'
            })
                .then(response => {
                    console.log(response.body)
                    this.$data.studentIsError = response.body.error
                    this.$data.studentIsSuccess = response.body.success
                    this.$data.studentmessage = response.body.message

                    if (response.body.success == true) {
                        this.$data.students = response.body.students
                    }
                }, error => {
                    this.$http.post('sos', { 'url': this.baseUrl + '/teams/' + this.$route.params.projectsID + '/removestudent', 'body': error.body })
                        .then(response => {
                            this.$data.teammIsError = response.body.error
                            this.$data.teammIsSuccess = response.body.message
                        });
                });
        },
        addToTeam: function (student) {

            document.getElementById('closeit').click();

            this.$http.put('teams/' + this.$route.params.projectsID, {
                student: student,
                action: 'addstudent'
            })
                .then(response => {
                    console.log(response.body)
                    this.$data.studentIsError = response.body.error
                    this.$data.studentIsSuccess = response.body.success
                    this.$data.studentmessage = response.body.message

                    if (response.body.success == true) {
                        this.$data.students = response.body.students
                    }
                }, error => {
                    this.$http.post('sos', { 'url': this.baseUrl + '/teams/' + this.$route.params.projectsID + '/addstudent', 'body': error.body })
                        .then(response => {
                            this.$data.teammIsError = response.body.error
                            this.$data.teammIsSuccess = response.body.message
                        });
                });
        },
        categoryChanged: function (id) {
            return
        },
        ProjectSubmit: function (params) {
            params.preventDefault();

            this.$http.put('projects/' + this.$data.project.p_project_id, {
                project: this.$data.project,
                action: 'edit'
            })
                .then(response => {
                    console.log(response.body)
                    this.$data.projectIsError = response.body.error
                    this.$data.projectIsSuccess = response.body.success
                    this.$data.projectmessage = response.body.message
                }, error => {
                    this.$http.post('sos', { 'url': this.baseUrl + '/projects/' + this.$data.project.p_project_id, 'body': error.body })
                        .then(response => {
                            this.$data.projectIsError = response.body.message
                            this.$data.projectIsSuccess = response.body.message
                        });
                });
        },
        FileSubmit: function (params) {
            params.preventDefault();
            this.$data.filee.additionals = [];

            const formData = new FormData(params.target); // Get form data
            const values = Object.fromEntries(formData.entries()); // Convert to object
            const keys = Object.keys(values);
            
            this.adds.forEach((item) => {
                if (keys.includes(item.id)) {
                    item.value = values[item.id];
                }
            })
            
            console.log('formdata', values, keys, this.adds);

            this.$http.put('projects/' + this.$data.project.p_project_id, {
                file: this.$data.filee,
                additionals: this.adds,
                action: 'file'
            })
                .then(response => {
                    console.log(response.body)
                    this.$data.fileIsError = response.body.error
                    this.$data.fileIsSuccess = response.body.success
                    this.$data.filemessage = response.body.message
                }, error => {
                    console.log(error.body)
                    this.$data.fileIsError = response.body.error
                    this.$data.fileIsSuccess = response.body.success
                    this.$data.filemessage = response.body.message
                });
        },
        deleteProject: function (params) {
            params.preventDefault();

            this.$http.delete('projects/' + this.$route.params.projectsID)
                .then(response => {
                    console.log(response.body)

                    this.$data.streporterror = response.body.error
                    this.$data.streport = response.body.success

                    if (response.body.success == "Project successfully deleted!") {
                        location.reload();
                    }
                }, error => {
                    this.$http.post('sos', { 'url': this.baseUrl + '/projects/delete', 'body': error.body })
                        .then(response => {
                            this.$data.isError = response.body.error
                            this.$data.message = response.body.message
                        });
                })
        }
    },
    created() {
        this.setup()
    }
}
</script>
<style>
@media all and (min-width: 1200px) {
    .thatcontainer {
        width: 1300px !important;
    }
}

.image--sm {
    max-height: 9em;
}

input:invalid+span:after {
    position: absolute;
    content: '✖';
    padding-left: 5px;
    font-size: 25px;
    color: #8b0000;
    padding-top: 15px;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    font-size: 25px;
    color: #009000;
    padding-top: 15px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pdt-20 {
    padding-top: 15px;
}

.pdb-50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
</style>