<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container">
            <section class="cover" style="padding-top: 10em;">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-11 col-md-12">
                            <h2>Edit Student:</h2>
                            <form v-on:submit="submitStudent">
                                <div class="col-sm-6">
                                    <h4 class="color--primary-1">1. Student Address Inforation:</h4>
                                    <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                    <div class="col-sm-12 text-left pdt-20">
                                        <label for="scountry" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Country: </label>
                                        <div class="input-select">
                                            <select id="scountry" name="scountry" v-model="student.s_country" required=""> 
                                                <option v-for="country in countries" :value="country.id">
                                                    {{ country.name }}
                                                </option>  
                                            </select>
                                        </div>
                                    </div>
                                    <div v-if="student.s_country === 110" class="col-sm-12 text-left pdt-20">
                                        <label><strong class="color--primary-1">*</strong> Region:</label>
                                        <div class="input-select">
                                            <select id="region" name="region" v-model="student.s_region" required=""> 
                                                <option v-for="region in regions" :value="region.id">
                                                    {{ region.en }}
                                                </option>  
                                            </select>
                                        </div>
                                    </div>
                                    <div v-else class="col-sm-12 col-md-12 text-left pdt-20">
                                        <label><strong class="color--primary-1">*</strong> Region:</label>
                                        <input type="text" name="location" v-model="student.s_region" placeholder="Enter your region name..."/>
                                    </div>

                                    <div class="col-sm-6 text-left pdt-20">
                                        <label for="stonecity" style="cursor: pointer;"><strong class="color--primary-1">*</strong> City:</label>
                                        <input type="text" 
                                            name="stonecity" 
                                            placeholder="City" 
                                            class="validate-required" 
                                            required="" 
                                            v-model="student.s_city"
                                            />
                                    </div>
                                    <div class="col-sm-6 text-left pdt-20">
                                        <label for="szip" style="cursor: pointer;"><strong class="color--primary-1">*</strong> ZIP code (<a href="https://www.mapdevelopers.com/what-is-my-zip-code.php" target="_blank">Find my Zip code</a>):</label>
                                        <input type="text" 
                                            name="szip" 
                                            placeholder="ZIP code" 
                                            class="validate-required"
                                            v-model="student.s_zip"
                                            />
                                    </div>
                                    <div class="col-sm-6 text-left pdt-20" >
                                        <label for="stoneschool" style="cursor: pointer;"><strong class="color--primary-1">*</strong> School:</label>
                                        <input type="text" 
                                            name="stoneschool" 
                                            placeholder="School" 
                                            class="validate-required" 
                                            required=""  
                                            v-model="student.s_school"
                                            />
                                    </div>
                                    <div class="col-sm-6 text-left pdt-20" style="padding-right: 15px !important;" >
                                        <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Grade:</label>
                                        <div class="input-select">
                                            <select name="sgender" v-model="student.s_grade">
                                                <option value="5"> 5 </option>
                                                <option value="6"> 6 </option>
                                                <option value="7"> 7 </option>
                                                <option value="8"> 8 </option>
                                                <option value="9"> 9 </option>
                                                <option value="10"> 10 </option>
                                                <option value="11"> 11 </option>
                                                <option value="12"> 12 </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <h4 class="color--primary-1">2. Student Personal Inforation:</h4>
                                    <h6 class="text-right nomargin">Required fields - <strong class="color--primary-1">*</strong></h6>
                                    <div class="col-sm-12 text-left pdt-20">
                                        <label for="senname" style="cursor: pointer;">
                                            In Latin alphabets as in the passport:
                                        </label>
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="senname" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> First name:
                                        </label>
                                        <input type="text" 
                                            name="senname"  
                                            class="validate-required" 
                                            required=""
                                            v-model="student.s_en_surname"
                                                />
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="senmname" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> Last name:
                                        </label>
                                        <input type="text" 
                                            name="senmname" 
                                            class="validate-required" 
                                            required=""
                                            v-model="student.s_en_name"
                                            />
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="senlname" style="cursor: pointer;">
                                            Middle name:
                                        </label>
                                        <input type="text" 
                                            name="senlname"  
                                            class="validate-required" 
                                            v-model="student.s_en_lastname"
                                            />
                                    </div>
                                    <div v-if="student.s_country === 110">
                                    <div class="col-sm-12 text-left pdt-20">
                                        <label for="senname" style="cursor: pointer;">
                                            In Cyrillic alphabets as in the passport:
                                        </label>
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="sruname" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> First name:
                                        </label>
                                        <input type="text" 
                                            name="sruname"  
                                            class="validate-required" 
                                            pattern="[\u0400-\u04ff]{2,}"
                                            required=""
                                            v-model="student.s_ru_surname"
                                            />
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="srumname" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> Last name:
                                        </label>
                                        <input type="text" 
                                            name="srumname" 
                                            class="validate-required" 
                                            pattern="[\u0400-\u04ff]{2,}"
                                            required=""
                                            v-model="student.s_ru_name"
                                            />
                                    </div>
                                    <div class="col-sm-4 text-left pdt-20">
                                        <label for="srulname" style="cursor: pointer;">
                                            Middle name:
                                        </label>
                                        <input type="text" 
                                            name="srulname"  
                                            class="validate-required" 
                                            pattern="[\u0400-\u04ff]{2,}"
                                            v-model="student.s_ru_lastname"
                                            />
                                    </div>
                                    </div>
                                    <div class="col-sm-6 text-left pdt-20">
                                        <label for="sbirth" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Birth date:</label>
                                        <input type="date" 
                                            name="sbirth" 
                                            placeholder="Choose a date" 
                                            min="1995-01-01" 
                                            max="2017-12-31" 
                                            v-model="student.s_birthdate"
                                            required />
                                    </div>
                                    <div class="col-sm-6 text-left pdt-20">
                                        <label for="sgender" style="cursor: pointer;"><strong class="color--primary-1">*</strong> Gender:</label>
                                        <div class="input-select">
                                            <select name="sgender" v-model="student.s_gender">
                                                <option value="1"> Male </option>
                                                <option value="2">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-left pdt-20">
                                        <label for="sinn" style="cursor: pointer;"><strong class="color--primary-1">*</strong> {{student.country === 110 ? "Individual identification number (INN)/(ИИН)/(ЖСН): ": "Student Passport number: "}}</label>
                                        <input type="number" 
                                            name="sinn" 
                                            placeholder="Individual identification number" class="validate-required" 
                                            required=""
                                            v-model="student.s_passport"
                                            />
                                    </div>
                                    <div v-if="student.country === 110"  class="col-sm-11 text-left pdt-20">
                                        <label for="stelephone" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> Telephone (in the form 7 xxx xxx xxxx):
                                        </label>
                                        <input type="tel" 
                                                pattern="[0-9]{1}\s[0-9]{3}\s[0-9]{3}\s[0-9]{4}" 
                                                id="stelephone" 
                                                name="stelephone" 
                                                placeholder="Ex: 7 700 700 7070" 
                                                class="validate-required" 
                                                required=""
                                                style="width:100%;"
                                                v-model="student.s_phone"
                                                /><span class="validity"></span>
                                    </div>
                                    <div v-else class="col-sm-12 col-md-12 text-left pdt-20">
                                        <label for="stelephone" style="cursor: pointer;">
                                            <strong class="color--primary-1">*</strong> Telephone:
                                        </label>
                                        <input type="tel"  
                                                name="stelephone" 
                                                placeholder="Student Phone-number" 
                                                class="validate-required" 
                                                required=""
                                                v-model="student.s_phone"
                                                />
                                    </div>
                                </div>
                                
                                <div class="col-sm-12 text-center">
                                    <span class="h4 nomargin" style="color:green;">{{stusuccess}}</span>
                                    <span class="h4 nomargin" style="color:red;">{{stuerror}}</span>
                                </div>
                                <div class="col-sm-12 text-left">
                                    <div class="row" style="margin: 20px !important;">
                                        <div class="col-sm-6">
                                            <a class="btn btn--primary-3" :href="baseUrl + '/user/manage'" style="width: 100%;">
                                                <span class="btn__text">Cancel</span>
                                            </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn--primary-3" style="color: black;">Save</button>
                                        </div><br>
                                    </div>
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="modal-instance block text-center">
                                        <a class="btn btn--primary-1 modal-trigger" href="javascript:void(0)" style="width: 50%;display: inline-block;">
                                            <span class="btn__text">Delete</span>
                                        </a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <section class="unpad ">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                                <div class="feature feature-1">
                                                                    <div class="feature__body boxed boxed--lg boxed--border text-center">
                                                                        <div class="modal-close modal-close-cross"></div>
                                                                        <div class="text-block">
                                                                            <h2>Delete Student:</h2>
                                                                            <p class="lead" style="min-height:0px;">
                                                                                If you really want to delete, please, Click submit!
                                                                            </p>
                                                                        </div>
                                                                        <form v-on:submit="deleteStudent">
                                                                            <div class="row">
                                                                                <div class="col-sm-12 text-center">
                                                                                    <span class="h4 nomargin" style="color:green;">{{streport}}</span>
                                                                                    <span class="h4 nomargin" style="color:red;">{{streporterror}}</span>
                                                                                </div>
                                                                                <div class="col-sm-12">
                                                                                    <button class="btn btn--primary type--uppercase" type="submit">Submit</button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>    
</template>

<script>
    import Header from './../../view/menu/Header.vue'
    import Footer from './../../view/menu/Footer.vue'

    export default {
        components:{
            'this-header' : Header,
            'this-footer' : Footer
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                countries: [],
                regions: [],

                user:{},
                student:{},

                stuerror : "",
                stusuccess : "",
                streport : "",
                streporterror : "",
                fromlist : "",
                existsinlist : "",

                notes : 0
            }
        },
        methods:{
            setup : function(){
                this.$http.get('students/' + this.$route.params.studentID)
                    .then(response => {

                        if(response.body.notfound){
                             window.location.replace( this.baseUrl + '/user/manage'); 
                        }

                        this.$data.user =  response.body.user
                        this.$data.student = response.body.student
                        this.$data.countries = response.body.countries
                        this.$data.regions = response.body.regions

                        this.$data.notes = response.body.status
                    })
            },
            submitStudent : function (params) {
                params.preventDefault();
                
                this.$http.put('students/' + this.$route.params.studentID, {'student' : this.$data.student})
                    .then(response => {
                        this.$data.stuerror = response.body.error
                        this.$data.stusuccess = response.body.success
                        
                        console.log(response.body)
                    }, error =>{
                        console.log(error.body)
                    })
            },
            resetter : function(){
                this.$data.stuerror = "";
                this.$data.stusuccess = "";
                this.$data.existsinlist = "";
                this.$data.fromlist = "";
            },
            deleteStudent : function (params) {
                params.preventDefault();
                
                this.$http.delete('students/' + this.$route.params.studentID)
                    .then(response => {
                        this.$data.streporterror = response.body.error
                        this.$data.streport = response.body.success
                        
                        if ( response.body.success != null ) {
                            window.location.replace( this.baseUrl + '/user/manage'); 
                        }
                    }, error =>{
                        this.$http.post('sos', {'url' : this.baseUrl + '/projects/delete', 'body' : error.body})
                            .then(response => {
                                this.$data.isError = response.body.error
                                this.$data.message = response.body.message
                            });
                    })
            }
        },
        created() {
            this.setup()
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }

    input:invalid+span:after {
        position: absolute; content: '✖';
        padding-left: 5px;
        font-size: 25px;
        color: #8b0000;
        padding-top: 15px;
    }

    input:valid+span:after {
        position: absolute;
        content: '✓';
        padding-left: 5px;
        font-size: 25px;
        color: #009000;
        padding-top: 15px;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }

    .pdt-20{
        padding-top : 15px;
    }
</style>