<template>
    <div id="app">

        <div id="wrapper">
            <left-menu :user="admin"></left-menu>


            <div class="content-page">
                <top-menu :user="admin" :notifications="notifications" :conversations="navconversations"></top-menu>
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-box">

                                    <ul class="nav nav-tabs tabs-bordered nav-justified">
                                        <li class="nav-item">
                                            <a href="#home-b2" data-toggle="tab" :aria-expanded="active == 1 ? true : false"
                                                :class="active == 1 ? 'nav-link active show' : 'nav-link'"
                                                @click="active = 1">
                                                <i class="fi-monitor mr-2"></i> Supervisors
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#profile-b2" data-toggle="tab"
                                                :aria-expanded="active == 2 ? true : false"
                                                :class="active == 2 ? 'nav-link active show' : 'nav-link'"
                                                @click="active = 2">
                                                <i class="fi-head mr-2"></i> Students
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#projects-b2" data-toggle="tab"
                                                :aria-expanded="active == 3 ? true : false"
                                                :class="active == 3 ? 'nav-link active show' : 'nav-link'"
                                                @click="active = 3">
                                                <i class="fi-head mr-2"></i> Projects
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active show" id="home-b2">
                                            <dx-data-grid id="gridContainer" :data-source="superfinalists"
                                                :allow-column-resizing="true" :allow-column-reordering="true"
                                                :show-borders="true" key-expr="user_id">
                                                <dx-selection mode="single" />
                                                <dx-filter-row :visible="true" />
                                                <dx-group-panel :visible="false" />
                                                <dx-state-storing :enabled="true" type="localStorage"
                                                    storage-key="supervisorlocale" />
                                                <dx-column data-field="name" caption="Name" />
                                                <dx-column data-field="surname" caption="Surname" />
                                                <dx-column data-field="email" caption="Email" />
                                                <dx-column data-field="enco" caption="Password" />
                                                <dx-column data-field="phone" caption="Phone" />
                                                <dx-column :group-index="0" data-field="cname" caption="Country" />
                                                <dx-column data-field="accepted" caption="Accepted Projects count!" />
                                                <dx-column :width="150" data-field="user_id" caption="QR code"
                                                    alignment="center" cell-template="questionView" />
                                                <user-qr slot="questionView" slot-scope="details" :details="details.data" />
                                                <dx-column data-field="created_at" data-type="date"
                                                    caption="Registed date" />

                                                <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell" />
                                            </dx-data-grid>
                                        </div>


                                        <div class="tab-pane" id="projects-b2">
                                            <dx-data-grid 
                                                id="gridContainer" 
                                                :data-source="e_projects"
                                                :allow-column-resizing="true" 
                                                :allow-column-reordering="true"
                                                :show-borders="true" 
                                                key-expr="project_id"
                                            >
                                                <dx-selection mode="single" />
                                                <dx-filter-row :visible="true" />
                                                <dx-group-panel :visible="false" />
                                                <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                                <dx-state-storing :enabled="true" type="localStorage" storage-key="storage" />
                                                <dx-pager :show-page-size-selector="true" :allowed-page-sizes="[40, 50, 60]" />
                                                <dx-column :group-index="0" data-field="category" caption="Category" />
                                                <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell" />

                                                <dx-column data-field="project_id" caption="Project ID" />
                                                <dx-column data-field="country" caption="Country" />
                                                <dx-column data-field="full_name" caption="Full name" />
                                                <dx-column data-field="email" caption="Email" />
                                                <dx-column data-field="phone" caption="Phone" />
                                                <dx-column data-field="category" caption="Category" />
                                                <dx-column data-field="project_title" caption="Project title" />
                                                <dx-column data-field="project_description" caption="Project description" />
                                                <dx-column data-field="students" caption="Project students" />
                                                <dx-column data-field="team_name" caption="Project team name" />
                                                <dx-column data-field="status" caption="Project status" />
                                                <dx-column data-field="project_upload" data-type="date" caption="Project Uploaded" />
                                            </dx-data-grid>
                                        </div>



                                        <div class="tab-pane" id="profile-b2">

                                            <div id="descContainer"><strong>Kazakhstan & International students</strong>
                                            </div>
                                            <dx-data-grid id="gridContainer" :data-source="finallist"
                                                :allow-column-resizing="true" :allow-column-reordering="true"
                                                :show-borders="true" key-expr="iin">
                                                <dx-selection mode="single" />
                                                <dx-filter-row :visible="true" />
                                                <dx-group-panel :visible="false" />
                                                <dx-search-panel :visible="true" :highlight-case-sensitive="true" />
                                                <dx-state-storing :enabled="true" type="localStorage"
                                                    storage-key="storage" />
                                                <dx-pager :show-page-size-selector="true"
                                                    :allowed-page-sizes="[40, 50, 60]" />
                                                <dx-column data-field="iin" caption="ИИН участника / Participant's ID " />
                                                <dx-column data-field="fullname" caption="Full name of the participant" />
                                                <dx-column data-field="supervisor" caption="Supervisor" />
                                                <dx-column data-field="email" caption="Supervisor's email" />
                                                <dx-column data-field="project"
                                                    caption="Название проекта / Project Title" />
                                                <dx-column data-field="category" caption="Секция/Section" />
                                                <dx-column data-field="mark" caption="Project State" />
                                                <dx-column data-field="country" caption="Country" />
                                                <dx-column data-field="region" caption="Region" />
                                                <dx-column data-field="city" caption="City" />
                                                <dx-column data-field="school" caption="School" />
                                                <dx-column data-field="grade" caption="Класс / Grade" />
                                                <dx-column data-field="phone" caption="Phone" />
                                                <dx-column data-field="gender" caption="Gender" />
                                                <dx-column :width="150" data-field="code" caption="QR code"
                                                    alignment="center" cell-template="questionView" />
                                                <super-qr slot="questionView" slot-scope="details"
                                                    :details="details.data" />
                                                <dx-column :group-index="0" data-field="country" caption="Country" />
                                                <dx-export :enabled="true" :customize-excel-cell="customizeExcelCell" />
                                                <dx-master-detail :enabled="true" template="masterDetailTemplate" />
                                                <div slot="masterDetailTemplate" slot-scope="employee">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="employee-info">
                                                                <p class="employee-notes">
                                                                    Personal Info: <br>
                                                                    <strong>Fullname: </strong>{{ employee.data.fullname
                                                                    }}<br>
                                                                    <strong>ИИН участника / Participant's ID: </strong>{{
                                                                        employee.data.iin }}<br>
                                                                    <strong>Название проекта: </strong>{{
                                                                        employee.data.project }}<br>
                                                                    <strong>Секция/Section: </strong>{{
                                                                        employee.data.category }}<br>
                                                                    <strong>Country: </strong> {{ employee.data.country }}
                                                                    <br>
                                                                    <strong>Region(Ru/Kz): </strong>{{ employee.data.region
                                                                    }}<br>
                                                                    <strong>City: </strong>{{ employee.data.city }}<br>
                                                                    <strong>School: </strong>{{ employee.data.school }}<br>
                                                                    <strong>Grade: </strong>{{ employee.data.grade }}<br>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="employee-info">
                                                                <p class="employee-notes">
                                                                    QR - code: <br>
                                                                </p>
                                                                <qr-code :text="employee.data.code" size="200"></qr-code>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <dx-summary>
                                                    <dx-total-item column="gender" summary-type="count" />
                                                </dx-summary>
                                            </dx-data-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div></template>

<script>
import swal from "sweetalert2"
import VueQRCodeComponent from 'vue-qrcode-component'
import Viewq from './View.vue'
import Sview from './Sview.vue'

import Top from './../menu/Top.vue'
import Left from './../menu/Left.vue'

import { DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxTotalItem, DxSummary } from 'devextreme-vue/data-grid';

export default {
    components: {
        'top-menu': Top,
        'left-menu': Left,
        'qr-code': VueQRCodeComponent,
        'user-qr': Viewq,
        'super-qr': Sview,

        DxDataGrid, DxSelection, DxFilterRow, DxGroupPanel, DxStateStoring, DxPager, DxColumn, DxExport, DxMasterDetail, DxSearchPanel, DxSummary, DxTotalItem
    },
    data() {
        return {
            baseUrl: Infomatrix.main,
            admin: {},

            navconversations: [],
            notifications: [],
            activities: [],

            projects: [],
            stats: {},
            finallist: [],
            superfinalists: [],

            isError: false,
            isSuccess: false,
            message: "",


            active: 1,

            e_projects: [],
            e_categories: []
        }
    },
    methods: {
        setup: function () {
            this.$http.get('get-projects/all')
                .then(response => {
                    this.$data.e_projects = (response.body.projects || []).map((item) => {
                        return {
                            ...item,
                            project_id: item.t_project_code,
                            full_name: item.supervisor.name + ' ' + item.supervisor.surname,
                            email: item.supervisor.email,
                            phone: item.supervisor.phone,
                            category: item.category.category,
                            project_title: item.project.p_title,
                            project_description: item.project.p_description,
                            country: item.supervisor.country,
                            students: (
                                (item.t_f_student_code ? 1 : 0) +
                                (item.t_s_student_code ? 1 : 0) +
                                (item.t_t_student_code ? 1 : 0)
                            ),
                            project_upload: item.created_at,
                            status: item.state,
                            team_name: item.t_name
                        }
                    })

                    this.$data.e_categories = response.body.categories
                });

            this.$http.get('export')
                .then(response => {
                    this.$data.admin = response.body.admin
                    this.$data.projects = response.body.projects

                    this.$data.finallist = response.body.finallist
                    this.$data.superfinalists = response.body.supers
                },
                    error => {
                        console.log(error.body)
                    });
        },
        customizeExcelCell(options) {
            if (options.gridCell.rowType === 'data') {
                if (options.gridCell.data.OrderDate < new Date(2014, 2, 3)) {
                    options.font.color = '#AAAAAA';
                }
                if (options.gridCell.data.SaleAmount > 15000) {
                    if (options.gridCell.column.dataField === 'Employee') {
                        options.font.bold = true;
                    }
                    if (options.gridCell.column.dataField === 'SaleAmount') {
                        options.backgroundColor = '#FFBB00';
                        options.font.color = '#000000';
                    }
                }
            }
        }
    },
    created() {
        this.setup()
    },
}
</script>
<style>@import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.common.css');
@import url('https://cdn3.devexpress.com/jslib/18.2.6/css/dx.light.css');

#grid-container {
    height: 600px;
}

#grid-container .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}</style>
