<template>
    <div id="app">
        <footer class="footer-3 text-center-xs space--xs ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img alt="Image" class="logo" :src="this.baseUrl+'/general/images/components/main.png'">
                        <ul class="list-inline list--hover">
                            <li>
                                <a :href="this.baseUrl">
                                    <span>Home page</span>
                                </a>
                            </li>
                            <li>
                                <a :href="this.baseUrl+'/kazakhstan'">
                                    <span>About Kazakhstan</span>
                                </a>
                            </li>
                            <li>
                                <a :href="this.baseUrl+'/venue'">
                                    <span>Venue</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">
                        <ul class="social-list list-inline list--hover">
                            <li>
                                <a href="https://www.youtube.com/channel/UCkG_He9sxMsnNWYSkWVsw5Q" target="_blank">
                                    <i class="socicon socicon-youtube icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://vk.com/infomatrixasia" target="_blank">
                                    <i class="socicon socicon-vkontakte icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/infomatix2017/" target="_blank">
                                    <i class="socicon socicon-facebook icon icon--xs"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/infomatrixasia/" target="_blank">
                                    <i class="socicon socicon-instagram icon icon--xs"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="type--fine-print">
                            Suleyman Demirel University
                        </p>
                    </div>
                    <div class="col-sm-6 text-right text-center-xs">        
                        <a class="type--fine-print" href="mailto:infomatrix@bil.edu.kz" target="_blank">
                            <span class="type--fine-print">infomatrix@bil.edu.kz</span>
                        </a>
                        <span class="type--fine-print">
                            Infomatrix - Asia <span class="update-year">2019-2025</span>.
                        </span>
                    </div>
                </div>
            </div>
        </footer> 
    </div>    
</template>

<script>
    export default {
        data(){
            return { 
                baseUrl: Infomatrix.main,
            }
        }
    }
</script>
