<template>
    <div id="app">
        <a id="start"></a>
        <div class="nav-container">
            <div class="bar bg--transparent bar--md visible-md visible-xs bar--absolute pos-fixed" data-scroll-class='1vh:pos-fixed'>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-md-2">
                            <a href="index.html">
                                <img class="logo logo-dark" alt="logo" :src="baseUrl + '/2025/logo.png'" />
                                <img class="logo logo-light" alt="logo" :src="baseUrl + '/2025/logo.png'" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-md-10 text-right">
                            <a href="javascript:void(0);" class="hamburger-toggle" data-toggle-class="#menu5;hidden-xs hidden-md">
                                <i class="icon icon--md stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="menu5" class="bar bar-2 hidden-xs bar--transparent bar--absolute" style="box-shadow: 0px 2px 1px #edf0f1;"><!--  data-scroll-class='1vh:pos-fixed'-->
                <div class="container">
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col-md-1 hidden-xs hidden-md">
                            <div class="bar__module">
                                <a :href="baseUrl">
                                    <img class="logo logo-dark" alt="logo" :src="baseUrl + '/2025/logo.png'" />
                                    <img class="logo logo-light" alt="logo" :src="baseUrl + '/2025/logo.png'" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-push-1">
                            <div class="bar__module">
                                <ul class="menu-horizontal">
                                    <li v-if="this.$route.path != '/'">
                                        <a :href="this.baseUrl + '/user'">
                                            <span class="h4 nomargin color--primary-1">
                                                <i class="stack-interface stack-left-open color--primary-1"></i> 
                                                Userpanel
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a :href="this.baseUrl + '/user/upload'">
                                            <i class="stack-interface stack-plus-circled"></i> Upload Project
                                        </a>
                                    </li>
                                    <li>
                                        <a :href="this.baseUrl + '/user/manage'">
                                            <i class="stack-interface stack-cog"></i> Manage Projects
                                        </a>
                                    </li>
                                    <li>
                                        <a :href="this.baseUrl + '/user/inbox'">
                                            <i class="icon icon-Mail-Inbox" style="font-size: 15px;font-weight: 900;margin-right: 3px;"></i> Inbox <strong class="color--primary-1" v-if="notes != 0">({{notes}} new notification{{ notes == 1 ? '' : 's'}})</strong>*
                                        </a>
                                    </li>
                                    <li v-if="user.country == 110 && paynemt">
                                        <a :href="this.baseUrl + '/user/payments'">
                                            <i class="stack-interface stack-dot-3"></i> Payments
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 text-right text-left-xs">
                            <div class="bar__module">
                                <ul class="menu-horizontal">
                                    <li class="dropdown">
                                    <span class="dropdown__trigger">
                                        <img alt="avatar" class="avatar image--xxs img-circle" :src="user.image" /> 
                                        {{user.name + ' ' +user.surname}}
                                    </span>
                                    <div class="dropdown__container">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-sm-3 dropdown__content dropdown__content--md">
                                                    <!--<div class="pos-absolute col-md-4 imagebg hidden-sm hidden-xs" data-overlay="4">
                                                        <div class="background-image-holder">
                                                            <img alt="background" :src="baseUrl  + user.image" />
                                                        </div>col-md-offset-4
                                                    </div>-->
                                                    <div class="text-center col-md-12">
                                                        <h5>{{user.name + ' ' +user.surname}}</h5>
                                                            <div class="text-center" style="padding-bottom: 21px;">
                                                                <a :href="this.baseUrl">Home page</a><br>
                                                                <a :href="this.baseUrl + '/user/setting'">
                                                                    Settings
                                                                </a>
                                                            </div>
                                                        <router-link tag="a" to="/logout" class="btn btn--sm btn--primary type--uppercase">
                                                            <span class="btn__text">Log out</span>
                                                        </router-link>                                                            
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div> 
    </div>    
</template>

<script>
    export default {
        props: ['user', 'notes', 'paynemt'],
        data(){
            return { 
                baseUrl: Infomatrix.main,                
            }
        }
    }
</script>
<style>

</style>
