<template>
    <div id="app">
        <table class="border--round">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Student</th>
                    <th>Project</th>
                    <th>I</th>
                    <th>II</th>
                    <th>Team Average</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(s, index) in students" :key="index">
                    <td>{{ index + 1 }}</td>
                    <td>{{ s.student }}</td>
                    <td>{{ s.project }}</td>
                    <td>{{ s.tourone }}</td>
                    <td>{{ s.tourtwo }}</td>
                    <td>{{ s.avg }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data(){
            return { 
                students: [],
                user:{}
            }
        },
        methods: {
            setup: function() {
                this.$http.get("get-point").then(
                    response => {
                        this.students = response.body.students
                        console.log(response.body);
                    },
                    error => {
                        console.log(error.body);
                    }
                );
            },
        },
        created() {
            this.setup()
        },
    }
</script>
<style>

</style>
