<template>
    <div id="app">
        
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data(){
            return { 
                
            }
        },
    }
</script>
