<template>
    <div id="app">
        <this-header :user="user" :notes="notes"></this-header>
        <div class="main-container" style="padding-top: 4em;">
            <section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    <br>
                                    <img alt="avatar" class="avatar image--sm img-circle" :src="baseUrl + user.image" />
                                    <span class="h5">{{ user.name + ' '+ user.surname}}</span>
                                    <span>{{user.email}}</span>
                                    <span class="label">#{{user.user_id}}</span>
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <router-link tag="a" to="/inbox" class="h4">
                                                Notifications
                                            </router-link>
                                        </li>
                                        <li>
                                            <router-link tag="a" to="/inbox" class="h4">
                                                All conversation
                                            </router-link>
                                        </li>
                                        <li>
                                            <router-link tag="a" to="/inbox" class="h4">
                                                New conversation
                                            </router-link>
                                        </li>
                                        <li>
                                            <router-link tag="a" to="/setting" class="h4">
                                                Account settings
                                            </router-link>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-8">
                            <div class="conversation__head boxed boxed--lg bg--primary">
                                <h4>{{conversation.conv_title}}</h4>
                                <span>{{conversation.created_at}}</span>
                                <span class="label bg--primary-2">{{conversation.conv_category}}</span>
                            </div>
                            <div class="conversation__reply boxed boxed--border">
                                <form v-on:submit="reply">
                                    <div class="row">
                                        <div class="col-xs-12" v-if="conversation.conv_state">
                                           <span class="h4 nomargin">Conversation is closed!</span>
                                        </div>
                                        <div class="col-xs-12">
                                            <textarea rows="4" name="reply" v-model="newreply.reply" placeholder="Type reply message here" required :disabled="conversation.conv_state  == 1"></textarea>
                                        </div>
                                        <div class="col-sm-4">
                                            <button type="submit" class="btn":disabled="conversation.conv_state == 1">Reply</button>
                                        </div>
                                        <div class="col-md-8 col-sm-8" style="padding-top:7px;">
                                            <span style="color:green;" class="h6">{{answer}}</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="comments conversation__comments">
                                <ul class="comments__list">
                                    <li>
                                        <div class="comment">
                                            <div class="comment__avatar">
                                                <img class="image--md img-circle" alt="Image" :src="baseUrl + user.image" />
                                            </div>
                                            <div class="comment__body">
                                                <h5 class="type--fine-print">You</h5>
                                                <div class="comment__meta">
                                                    <span>{{conversation.created_at}}</span>
                                                </div>
                                                <p>
                                                  {{conversation.conv_content}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li v-for="ans in answers">
                                        <div class="comment" v-on:mousemove="ReadenReply(ans.conv_answer_code, ans.is_readn)">
                                            <div class="comment__avatar">
                                                <img :class="ans.conv_answer_user_level == 1 ? 'image--md img-circle' : ''" alt="Image" :src="ans.conv_answer_user_level == 1 ? user.image : baseUrl + '/general/images/components/logo.jpg'" />
                                            </div>
                                            <div class="comment__body">
                                                <h5 class="type--fine-print">{{ ans.conv_answer_user_level == 1 ? 'You' : 'Adminstrator'}}</h5>
                                                <div class="comment__meta">
                                                    <span>{{ans.created_at}}</span>
                                                </div>
                                                <p>
                                                    {{ans.conv_answer_content}}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <this-footer :user="user"></this-footer>
        </div>
    </div>   
</template>

<script>
    import Header from './../../view/menu/Header.vue'
    import Footer from './../../view/menu/Footer.vue'

    export default {
        components: {
            'this-header' : Header,
            'this-footer' : Footer
        },
        data(){
            return { 
                baseUrl: Infomatrix.main,
                user:{},
                conversation : {},
                answers : [],
                newreply : {
                    reply : ""
                },

                answer: "",
                notes : 0
            }
        },
        methods:{
            setup(){
                this.$http.get('conversations/' + this.$route.params.convid)
                    .then(response => {
                        console.log(response.body)
                        this.$data.user = response.body.user
                        this.$data.conversation = response.body.conversations
                        this.$data.answers = response.body.answers
                        this.$data.notes = response.body.status
                    }, error => {
                        console.log(error.body)
                    });  
            },
            reply : function (e) {
                e.preventDefault();
                this.$http.post('answers', {'reply' : this.$data.newreply.reply, 'code' : this.$route.params.convid})
                    .then(response => {
                        this.$data.answer = response.body.answer
                        if(response.body.answer == 'Your message successfully sent!'){
                            this.$data.answers = response.body.answers
                            this.$data.newreply.reply = ""
                        }
                    })
            },
            ReadenReply: function (code, is_readn) {
                if(is_readn != 1){
                    this.$http.post('readn-answer', {'code' : code })
                    .then(response => {
                        console.log(response.body.answer)
                        this.$data.answers = response.body.answers
                    })
                }
                
            }
        },
        created() {
             this.setup()
        }
    }
</script>
<style>
    @media all and (min-width: 1200px) {
        .thatcontainer{
             width: 1300px !important;
        }
    }
    .image--sm {
        max-height: 9em;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }

    .thisgreen{
        background-color : green !important;
    }
    .conv-content{
        overflow: hidden;
        height: 5.5em;
        margin-bottom: 15px !important;
    }
    .   boxed--lg{
        padding-top:30px;
    }
</style>